<!--MapReunion5G.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Cartographie des sites Mobiles 5G</h2>
      <p>Recensement et Localisation de la dernière version des antennes mobiles 5G</p>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <p>Source : ARCEP (Autorité de Régulation des Communications Electroniques, des Postes et de la distribution de la presse) - 2023</p>
    </div>
  </div>
</template>

<script>
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import CircleStyle from 'ol/style/Circle'

export default {
  name: 'MapReunion5G',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null,
      vectorSource: null,
      epciId: null,
      epciName: null
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Appeler la fonction d'initialisation de la carte ici
    this.initializeMap()
  },
  methods: {
    loadGeoJSONData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=100', { timeout: 20000 })
        .then(response => {
          console.log('Voici les données reçues de l\'API 5G : ', response.data.results)

          // Transformez les données en GeoJSON
          const geojsonFeatures = response.data.results.map(result => {
            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [
                  result.geo_shape.geometry.coordinates[0]
                ]
              },
              properties: {
                op_name: result.op_name,
                op_site: result.op_site
              }
            }
          })

          console.log('Features GeoJSON : ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          this.vectorSource.addFeatures(new GeoJSON().readFeatures({
            type: 'FeatureCollection',
            features: geojsonFeatures
          }))
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle pour charger des données GeoJSON
      this.vectorSource = new VectorSource()

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const mobile = new VectorLayer({
        source: this.vectorSource
      })

      // Fonction de style pour les points
      const styleFunction = (feature) => {
        // Créer un style de cercle
        const circleStyle = new CircleStyle({
          radius: 5, // Rayon du cercle
          fill: new Fill({
            color: 'rgba(0, 0, 255, 0.4)'
          }),
          stroke: new Stroke({
            color: 'rgba(0, 0, 255, 1.0)',
            width: 3
          })
        })

        const opName = feature.get('op_name')
        // Créer un style de texte pour les étiquettes
        const textStyle = opName
          ? new Text({
            text: opName, // Afficher le nom de l'opérateur
            offsetY: -10, // Ajuster la position du texte par rapport au point
            textAlign: 'center',
            font: '12px Arial',
            fill: new Fill({
              color: 'rgba(0, 0, 0, 1.0)'
            })
          })
          : null

        // Retournez à la fois le syle du cercle
        return new Style({
          image: circleStyle,
          text: textStyle
        })
      }

      // Affecter le style à la couche vectorielle
      mobile.setStyle(styleFunction)

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          mobile
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadGeoJSONData()
    }
  }
}

</script>

<style>

.pageContainer {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

#map {
  width: 100%;
  height: 500px;
  margin: 0;
}
</style>
