<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les lieux remarquables</h2>
      <div id="map2">
        <!--La carte s'affiche ici-->
      </div>
    </div>
  </div>
</template>

<script>
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic, fromLonLat } from 'ol/proj'
import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
// import { Point, Polygon } from 'ol/geom'
// import Feature from 'ol/Feature'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
// import Text from 'ol/style/Text'
// import Overlay from 'ol/Overlay'
import CircleStyle from 'ol/style/Circle'
import Feature from 'ol/Feature'
import { Point } from 'ol/geom'
// import proj4 from 'proj4'

export default {
  name: 'MapReunionPlaces',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null,
      epciId: null,
      epciName: null,
      features: [] // Tableau vide pour créer les features
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Appeler la fonction d'initialisation de la carte ici
    this.initializeMap()
  },
  methods: {
    loadGeoJSONData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/lieux-remarquables-lareunion-wssoubik/records?limit=100', { timeout: 20000 })
        .then(response => {
          const vectorSource = this.vectorSource
          vectorSource.clear() // Effacer les données précédentes si nécessaires

          if (response.data && response.data.results) {
            console.log('Voici les données reçues : ', response.data.results)
            this.features = response.data.results.map(result => {
              if (result.coordonnees_geographiques) {
                const lon = result.coordonnees_geographiques.lon
                const lat = result.coordonnees_geographiques.lat
                console.log('Longitude : ', lon)
                console.log('Latitude : ', lat)
                if (lon && lat) {
                  this.feature = new Feature({
                    geometry: new Point(fromLonLat([lon, lat]))
                    // geometry: {
                    //   type: 'Point',
                    //   coordinates: [lon, lat]
                    // }
                  })
                }

                this.feature.setProperties({
                  nom_du_lieu_remarquables: result.nom_du_lieu_remarquable
                })
                return this.feature
              } else {
              // Gérer le cas où le type est incorrect
                console.warn('Coordonnées géographiques manquantes pour le lieu remarquable :', result.nom_du_lieu_remarquable)
                return null // Ou créer une fonction vide
              }
            })
            // Ajouter les features à la source vectorielle après avoir parcouru toutes les données
            vectorSource.addFeatures(this.features)
          }
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données GeoJSON', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle pour charger des données GeoJSON
      this.vectorSource = new VectorSource({
        format: new GeoJSON(),
        url: function (extent) {
          return 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/lieux-remarquables-lareunion-wssoubik/records?limit=100'
        }
      })

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const places = new VectorLayer({
        source: this.vectorSource,
        style: new Style({
          image: new CircleStyle({
            radius: 5, // Rayon du cercle
            fill: new Fill({
              color: 'rgba(0, 0, 255, 0.4)'
            }),
            stroke: new Stroke({
              color: 'rgba(0, 0, 255, 1.0)',
              width: 3
            })
          })
        })
      })

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [baseLayer, places],
        target: 'map2', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadGeoJSONData()
    }
  }
}

</script>

<style>

.pageContainer {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  width: 70%;
  height: 100%;
  margin: 0;
}

.dataContainer {
  width: 100%;
  max-width: 1200px;
  height: max-content;
  margin: 0 auto; /*Centrer le contenu */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
}

#map {
  width: 100%;
  height: 500px;
  margin: 0;
}
</style>
