<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les établissements touristiques</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <div class="legend">
        <h3>Légende</h3>
        <ul>
          <li>
            <span
              class="legendItem"
              style="background-color: yellow"
            />Plein Air
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: blue"
            />Restauration
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: green"
            />Hébergement
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: red"
            />Découverte
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: orange"
            />Loisirs
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: white"
            />Non renseigné
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
// import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import CircleStyle from 'ol/style/Circle'
import Text from 'ol/style/Text'
import GeoJSON from 'ol/format/GeoJSON'
import Style from 'ol/style/Style'

export default {
  name: 'MapReunionEtabTourisme',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Les établissements touristiques à La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null,
      epciId: null,
      epciName: null
    }
  },
  mounted () {
    // Méthode pour initialiser la carte
    this.initializeMap()
  },
  methods: {
    async getAllData () {
      const limit = 100
      let offset = 0
      const allData = []

      while (true) {
        const response = await axios.get(`https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-touristiques-lareunion-wssoubik/records?limit=${limit}&offset=${offset}`)
        if (response.data.results.length === 0) {
          console.log('Données de l\'API des 3888 établissements touristiques : ', response.data)

          // Transformez les données en GeoJSON
          const geojsonFeatures = allData.map(result => {
            console.log('type', result.type ? result.type[0] : 'Non renseigné')
            console.log('nom_commercial:', result.nom_commercial)
            console.log('commune:', result.commune)
            // console.log('code_insee__de_la_commune:', result.code_insee__de_la_commune)
            // console.log('office_de_tourisme', result.office_de_tourisme)
            // console.log('modes_de_paiement', result.modes_de_paiement)

            const defaultType = result.type ? result.type[0] : 'Non renseigné'
            const defaultNomCommercial = result.nom_commercial ? result.nom_commercial : 'Non renseigné'
            const coordinates = result.coordonnees ? [result.coordonnees.lon, result.coordonnees.lat] : [0, 0] // Coordonnées par défaut si elles sont manquantes

            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates
              },
              properties: {
                type: defaultType, // Pour traiter les valeurs null
                nom_commercial: defaultNomCommercial,
                commune: result.commune ? result.commune : 'Non renseigné'
                // code_insee_de_la_commune: result.code_insee_de_la_commune ? result.code_insee_de_la_commune : 'Non rensigné',
                // office_de_tourisme: result.office_de_tourisme ? result.office_de_tourisme : 'Non renseigné',
                // modes_de_paiement: result.modes_de_paiement ? result.modes_de_paiement[0] : 'Non renseigné'
              }
            }
          })

          console.log('Features GeoJSON allData : ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          this.vectorSource.addFeatures(new GeoJSON().readFeatures({
            type: 'FeatureCollection',
            features: geojsonFeatures
          }))
          break
        }
        // Rassembler toutes les données
        allData.push(...response.data.results)
        offset += limit
        console.log('allData', allData)
      }
    },
    loadMapData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-touristiques-lareunion-wssoubik/records?limit=100', { timeout: 20000 })
        .then(response => {
          console.log('Données de l\'API des établissements touristiques : ', response.data)
          // Transformez les données en GeoJSON
          const geojsonFeatures = response.data.results.map(result => {
            const defaultType = result.type ? result.type[0] : 'Non renseigné'
            const defaultNomCommercial = result.nom_commercial ? result.nom_commercial : 'Non renseigné'
            const coordinates = result.coordonnees ? [result.coordonnees.lon, result.coordonnees.lat] : [0, 0] // Coordonnées par défaut si elles sont manquantes

            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates
              },
              properties: {
                type: defaultType,
                nom_commercial: defaultNomCommercial
                // commune: result.commune
                // code_insee_de_la_commune: result.code_insee_de_la_commune,
                // office_de_tourisme: result.office_de_tourisme,
                // modes_de_paiement: result.modes_de_paiement[0]
              }
            }
          })

          console.log('Features GeoJSON loadMapData: ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          this.vectorSource.addFeatures(new GeoJSON().readFeatures({
            type: 'FeatureCollection',
            features: geojsonFeatures
          }))
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données : ', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle vide pour charger des données GeoJSON
      this.vectorSource = new VectorSource()

      // Créer un objet pour mapper les valeurs de type
      const typeColors = {
        PleinAir: 'yellow',
        Restauration: 'blue',
        Hébergement: 'green',
        Découverte: 'red',
        Loisir: 'orange',
        'Non renseigné': 'white'
      }

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const etablissements = new VectorLayer({
        source: this.vectorSource
      })

      // Créer une fonction de style conditionnelle pour les points
      const styleFunction = (feature) => {
        const type = feature.get('type') || 'Non renseigné'
        const nomCommercial = feature.get('nom_commercial') || 'Non renseigné'

        // Utiliser ces valeurs par défaut pour la représentation visuelle
        const color = typeColors[type] || 'gray'

        // Créer un style de cercle
        const circleStyle = new CircleStyle({
          radius: 5, // Rayon du cercle
          fill: new Fill({
            color
          }),
          stroke: new Stroke({
            color: 'black',
            width: 1
          }),
          minResolution: 10 // Niveau de zoom minimum à partir duquel le cercle sera visible
        })

        // Créer un style de texte pour les éqtiquettes
        const textStyle = new Text({
          text: nomCommercial,
          fill: new Fill({
            color: 'black'
          }),
          backgroundFill: new Fill({
            color: 'white'
          }),
          offsetY: -10, // Position verticale de l'étiquette
          textAlign: 'center',
          font: '12px Arial',
          minResolution: 12 // Niveau de zoom minimam à partir duquel l'étiquette sera visible
        })

        // Retournez à la fois le style du cercle et le style du texte
        return new Style({
          image: circleStyle,
          text: textStyle
        })
      }

      // Affecter le style à la couche vectorielle
      etablissements.setStyle(styleFunction)

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          etablissements
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadMapData()
      // this.getAllData()
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) and (max-width: 2560px) {

  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
    width: 100%;
    height: 750px;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0.5em;
  }

  .legend {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .legendItem {
    width: 5em;
    height: 1em;
    border: 0.25em solid black;
  }
}
/**Affichage pour mocile et tablette */
@media screen and (min-width: 320px) and (max-width: 768px) {

}
</style>
