<!--DataReunionEquipementsSport.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h3>{{ subjectLabel }}</h3>
      <!--Le tableau de données s'affiche ici-->
      <DataTable
        :value="data"
        striped-rows
        :paginator="true"
        :row="paginationOptions.rowsPerPage"
        :total-records="paginationOptions.rowsNumber"
        :rows-per-page-options="[10, 20, 50]"
        :current-page="paginationOptions.currentPage"
        :loading="loading"
        @onPage="handlePageChange"
        @onSort="handleSortChange"
      >
        <!--Filtre commune-->
        <Column
          field="commune"
          header="Commune"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('commune')"
              placeholder="SelectCommune"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
        <Column
          field="nom_de_l_installation_sportive"
          header="Nom de l'installation"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('nom_de_l_installation_sportive')"
              placeholder="SelectNom"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
        <Column
          field="type_d_equipement_sportif"
          header="Type d'équipement sportif"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('type_d_equipement_sportif')"
              placeholder="SelectType"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
        <Column
          field="famille_d_equipement_sportif"
          header="Famille d'équipement sportif"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('famille_d_equipement_sportif')"
              placeholder="SelectFamille"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
        <Column
          field="nombre_de_places_de_parking_reservees_a_l_installation"
          header="Places de parking"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('nombre_de_places_de_parking_reservees_a_l_installation')"
              placeholder="SelectParking"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
        <Column
          field="accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap"
          header="Accessibilité"
        >
          <template #filter="{ filterModel, filterCallback }">
            <Dropdown
              v-model="filterModel.value"
              :options="getuniqueValues('accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap')"
              placeholder="SelectAccessibilite"
              class="p-column-filter"
              @change="filterCallback()"
            />
          </template>
        </Column>
      </DataTable>

      <Paginator
        :rows="10"
        :total-records="120"
        :rows-per-page-options="[10, 20, 30]"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import { Paginator } from 'primevue/paginator'
import { Dropdown } from 'primevue/dropdown'

export default {
  name: 'DataReunionEquipementsSportPrimeVue',
  components: {
    DataTable,
    Column,
    Paginator,
    Dropdown
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // columns: [
      //   { label: 'Commune', field: 'commune' },
      //   { label: 'Nom de l\'installation sportive', field: 'nom_de_installation_sportive' },
      //   { label: 'Type d\'équipement sporti', field: 'type_d_equipement_sportif' },
      //   { label: 'Famille d\'équipement sportif', field: 'famille_d_equipement_sportif' },
      //   { label: 'Nombre de places de parking', field: 'nombre_de_places_de_parking_reservees_a_l_installation' },
      //   { label: 'Accessibilité aux personnes handicapées', field: 'accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap' }
      // ],
      sortOptions: {
        commune: 'commune',
        nom: 'nom_de_installation_sportive',
        type: 'type_d_equipement_sportif',
        famille: 'famille_d_equipement_sportif',
        parking: 'nombre_de_places_de_parking_reservees_a_l_installation',
        accessibilite: 'results.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap'
      },
      paginationOptions: {
        currentPage: 1,
        rowsPerPage: 20,
        rowsNumber: 0
      },
      loading: false,
      epciId: null,
      epciName: null,
      data: [],
      limit: 20,
      offset: 0,
      totalRecords: 0,
      totalPages: 0,
      subjectLabel: 'Liste des équipements sportifs à La Réunion'
    }
  },
  async mounted () {
    console.log('Component mounted')
    await this.loadData()
  },
  methods: {
    async loadData () {
      this.loading = true
      // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/equipements-sportifs/records?limit=${this.paginationOptions.rowsPerPage}&offset=${(this.paginationOptions.currentPage - 1) * this.paginationOptions.rowsPerPage} `
      try {
        const response = await axios.get(url, { timeout: 20000 })
        // Mise à jour des données
        this.data = response.data.results
        // Mise à jour du nombre total des enregistrements
        this.paginationOptions.rowsNumber = response.data.total_count

        // Afficher les dix premières lignes des données dans la console
        console.log('Dix premières lignes des données : ', this.data.slice(0, 10))
      } catch (error) {
        console.error('Erreur lors du chargement des données', error)
      } finally {
        this.loading = false
      }
    },
    handlePageChange (event) {
      // Mettre à jour la page actuelle et charger les données
      this.paginationOptions.currentPage = event.page + 1
      this.loadData()
    },
    // handleFilterChange (newFilter) {
    //   // Mettre à jour les options de filtres et recharger les données
    //   this.filterOptions = newFilter
    //   this.loadData()
    // },
    handleSortChange (event) {
      // Mettre à jour les options de tri et recharger les données
      this.sortOptions = event
      // Recharger les données avec les nouvelles options de tri
      this.loadData()
    },
    getUniqueValues (fieldName) {
      // Méthode pour retourner les valeurs uniques d'un champs spécifique dans le données pour être utilisées dans le filtre dropdown
      const uniqueValues = new Set(this.data.map(item => item[fieldName]))
      return Array.from(uniqueValues)
    }
  }
}

</script>

  <style scoped>
  /**Affichage pour TV et ordinateurs */
  @media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  .sortContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      gap: 1em;
      flex-wrap: wrap;
      width: 100%;
      padding: 1em;
      margin: 1em;
    }

    select {
      border-radius: 1em;
      padding: 1em;
      width: 10%;
    }

    option {
      padding: 1em;
    }

    table {
      border: 0.25em solid rgb(127, 52, 64);
      width: 90%;
      height: max-content;
      margin: 0 auto;
    }

    thead {
      background: var(--accent-color);
    }

    th {
      color: white;
      padding: 0.5em;

    }

    tbody {
      color: black;
    }

    /**Couleur pour les lignes paires */
    tbody tr:nth-child(even) {
      background-color: #FAF0F6;
    }

    /**Couleur pour les lignes impaires */
    tbody tr:nth-child(odd) {
      background-color: #FFFFFF;
    }

    td {
      color: black;
      border: 0.10em solid rgb(127, 52, 64);
      padding: 1em;
      font-size: 1rem;
    }

    a {
      color: rgb(127, 52, 64);
    }

    button {
      padding: 1em;
      margin: 1em;
      border: none;
      border-radius: 1em;
      color: white;
      background-color: black;
    }

    button:hover {
      color: black;
      background-color: red;
    }
  }

   /**Affichage pour mobile et tablette */
   @media screen and (max-width: 768px) {
    nav {
      top: 0;
      left: 0;
      width: 100%;
      height: max-content;
      color: white;
      background-color: black;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: static;
    }

    .selectContainer {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      gap: 1em;
    }

    select {
      width: 100%;
    }

    /**Cacher l'en-tête du tableau */
    thead {
      display: none;
    }

    /**Afficher chaque ligne du tableau comme un block */
    tr {
      display: block;
      margin-bottom: 1em;
    }

    /**Afficher chaque cellule du tableau comme un bloc */
    td {
      display: block;
      text-align: right;
    }

    /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }

  }
   </style>
