<!--DataReunionEquipementsSport.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h3>{{ subjectLabel }}</h3>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>

      <pre>{{ filteredAndPaginatedData }}</pre>
      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Le tableau de données s'affiche ici-->
      <!--Tableau contenant les données-->
      <table v-if="data.length && !isLoading">
        <thead>
          <tr>
            <th @click="sortData('commune')">
              Communes
            </th>
            <th @click="sortData('nom_de_l_installation_sportive')">
              Nom de l'installation sportive
            </th>
            <th @click="sortData('type_d_equipement_sportif')">
              Type d'équipement sportif
            </th>
            <th @click="sortData('famille_d_equipement_sportif')">
              Famille d'équipement sportif
            </th>
            <th @click="sortData('nombre_de_places_de_parking_reservees_a_l_installation')">
              Nombre de places de parking
            </th>
            <th @click="sortData('accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap')">
              Accessibilité
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in filteredAndPaginatedData"
            :key="item.nofinesset"
          >
            <td data-label="Communes">
              {{ item.commune }}
            </td>
            <td data-label="Nom de l'installation sportive">
              {{ item.nom_de_l_installation_sportive }}
            </td>
            <td data-label="Type d'équipement sportif">
              {{ item.type_d_equipement_sportif }}
            </td>
            <td data-label="Famille d'équipement sportif">
              {{ item.famille_d_equipement_sportif }}
            </td>
            <td data-label="Nombre de places de parking">
              {{ item.nombre_de_places_de_parking_reservees_a_l_installation }}
            </td>
            <td data-label="Accessibilité">
              {{ item.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: 'DataReunionEquipementsSport',
  components: {
    PulseLoader
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      sortOptions: {
        commune: 'commune',
        nom: 'nom_de_l_installation_sportive',
        type: 'type_d_equipement_sportif',
        famille: 'famille_d_equipement_sportif',
        parking: 'nombre_de_places_de_parking_reservees_a_l_installation',
        accessibilite: 'accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap'
      },
      loading: false,
      epciId: null,
      epciName: null,
      data: [],
      limit: 20,
      offset: 0,
      totalRecords: 0,
      totalPages: 0,
      currentPage: 1,
      subjectLabel: 'Liste des équipements sportifs à La Réunion',
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    },
    // Pour trier les données
    filteredData () {
      return this.data
        .filter(item => {
          return (
            (!this.sortOptions.commune || item.commune === this.sortOptions.commune) &&
            (!this.sortOptions.nom || item.nom_de_l_installation_sportive === this.sortOptions.nom) &&
            (!this.sortOptions.type || item.type_d_equipement_sportif === this.sortOptions.type) &&
            (!this.sortOptions.famille || item.famille_d_equipement_sportif === this.sortOptions.famille) &&
            (!this.sortOptions.type || item.nombre_de_places_de_parking_reservees_a_l_installation === this.sortOptions.type) &&
            (!this.sortOptions.famille || item.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap === this.sortOptions.famille)
          )
        })
        .sort((a, b) => {
          // Tri par colonne
          if (this.sortOptions.commune) {
            return a.commune.localeCompare(b.commune)
          } else if (this.sortOptions.nom) {
            return a.nom_de_l_installation_sportive.localeCompare(b.nom_de_l_installation_sportive)
          } else if (this.sortOptions.type) {
            return a.type_d_equipement_sportif.localeCompare(b.type_d_equipement_sportif)
          } else if (this.sortOptions.famille) {
            return a.famille_d_equipement_sportif.localeCompare(b.famille_d_equipement_sportif)
          } else if (this.sortOptions.parking) {
            return a.nombre_de_places_de_parking_reservees_a_l_installation.localeCompare(b.nombre_de_places_de_parking_reservees_a_l_installation)
          } else if (this.sortOptions.accessibilite) {
            return a.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap.localeCompare(b.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap)
          }
          // Aucun tri
          return 0
        })
    },
    filteredAndPaginatedData () {
      const filteredData = this.filteredData
      const start = (this.currentPage - 1) * this.limit
      return filteredData.slice(start, start + this.limit)
    }
  },
  mounted () {
    console.log('DataReunionEquipementsSport mounted')
    this.loadAllData()
  },
  methods: {
    async loadAllData () {
      // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/equipements-sportifs/records?limit=${this.limit}&offset=${this.offset} `
      try {
        this.isLoading = true // Début du chargement des données

        const response = await axios.get(url, { timeout: 20000 })

        // Mise à jour des données
        this.data = response.data.results
        console.log('Data loaded', this.data)

        // Mise à jour du nombre total des enregistrements
        this.totalRecords = response.data.total_count

        // Calcul du nombre total de page
        this.totalPages = Math.ceil(this.totalRecords / this.limit)

        // Données
        // this.data = this.data.concat(response.data.results)
        // if (this.offset + this.limit < this.totalRecords) {
        //   this.offset = this.offset + this.limit
        // } else {
        //   this.offset = 0
        //   this.currentPage = 1
        // }

        this.isLoading = false // Fin du chargement des données

        // Afficher les dix premières lignes des données dans la console
        console.log('Dix premières lignes des données : ', this.data.slice(0, 10))
      } catch (error) {
        console.error('Erreur lors du chargement des données', error)
        this.isLoading = false
      }
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        // this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Next page clicked')
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        // this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Previous page clicked')
      }
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.data.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData () {
      this.data.sort((a, b) => {
        console.log('sortOptions.commune', this.sortOptions.commune)
        console.log('sortOptions.nom', this.sortOptions.nom)
        console.log('sortOptions.type', this.sortOptions.type)
        console.log('sortOptions.famille', this.sortOptions.famille)
        console.log('sortOptions.parking', this.sortOptions.parking)
        console.log('sortOptions.accessibilite', this.sortOptions.accessibilite)

        // Tri par commune
        if (this.sortOptions.commune) {
          if (a.commune < b.commune) return -1
          if (a.commune > b.commune) return 1
        }
        // Tri par nom
        if (this.sortOptions.nom) {
          if (a.nom_de_l_installation_sportive < b.nom_de_l_installation_sportive) return -1
          if (a.nom_de_l_installation_sportive > b.nom_de_l_installation_sportive) return 1
        }
        // Tri par type
        if (this.sortOptions.type) {
          if (a.type_d_equipement_sportif < b.type_d_equipement_sportif) return -1
          if (a.type_d_equipement_sportif > b.type_d_equipement_sportif) return 1
        }
        // Tri par famille
        if (this.sortOptions.famille) {
          if (a.famille_d_equipement_sportif < b.famille_d_equipement_sportif) return -1
          if (a.famille_d_equipement_sportif > b.famille_d_equipement_sportif) return 1
        }

        // Tri par parking
        if (this.sortOptions.parking) {
          if (a.nombre_de_places_de_parking_reservees_a_l_installation < b.nombre_de_places_de_parking_reservees_a_l_installation) return -1
          if (a.nombre_de_places_de_parking_reservees_a_l_installation > b.nombre_de_places_de_parking_reservees_a_l_installation) return 1
        }

        // Tri par accessibilite
        if (this.sortOptions.accessibilite) {
          if (a.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap < b.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap) return -1
          if (a.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap > b.accessibilite_de_l_installation_en_faveur_des_personnes_en_situation_de_handicap) return 1
        }
        // Aucun tri
        return 0
      })
    }
  }
}

</script>

  <style scoped>
  /**Affichage pour TV et ordinateurs */
  @media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  .sortContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      gap: 1em;
      flex-wrap: wrap;
      width: 100%;
      padding: 1em;
      margin: 1em;
    }

    select {
      border-radius: 1em;
      padding: 1em;
      width: 10%;
    }

    option {
      padding: 1em;
    }

    table {
      border: 0.25em solid rgb(127, 52, 64);
      width: 90%;
      height: max-content;
      margin: 0 auto;
    }

    thead {
      background: var(--accent-color);
    }

    th {
      color: vra(--gray);
      padding: 0.5em;

    }

    tbody {
      color: black;
    }

    /**Couleur pour les lignes paires */
    tbody tr:nth-child(even) {
      background-color: #FAF0F6;
    }

    /**Couleur pour les lignes impaires */
    tbody tr:nth-child(odd) {
      background-color: #FFFFFF;
    }

    td {
      color: black;
      border: 0.10em solid rgb(127, 52, 64);
      padding: 1em;
      font-size: 1rem;
    }

    a {
      color: rgb(127, 52, 64);
    }

    button {
      padding: 1em;
      margin: 1em;
      border: none;
      border-radius: 1em;
      color: white;
      background-color: black;
    }

    button:hover {
      color: black;
      background-color: red;
    }
  }

   /**Affichage pour mobile et tablette */
   @media screen and (max-width: 768px) {
    nav {
      top: 0;
      left: 0;
      width: 100%;
      height: max-content;
      color: white;
      background-color: black;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: static;
    }

    .selectContainer {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      gap: 1em;
    }

    select {
      width: 100%;
    }

    /**Cacher l'en-tête du tableau */
    thead {
      display: none;
    }

    /**Afficher chaque ligne du tableau comme un block */
    tr {
      display: block;
      margin-bottom: 1em;
    }

    /**Afficher chaque cellule du tableau comme un bloc */
    td {
      display: block;
      text-align: right;
    }

    /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }

  }
   </style>
