<template>
  <div id="app">
    <HeaderSection />
    <div class="pageContainer">
      <div class="dataContainer">
        <div id="map">
          <h1>Découpage en IRIS 2000 de La Réunion</h1>
          <iframe
            width="1000"
            height="800"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            sandbox="allow-forms allow-scripts allow-same-origin"
            src="https://www.geoportail.gouv.fr/embed/visu.html?c=55.45376712459637,-21.14068346151913&z=10&l0=ORTHOIMAGERY.ORTHOPHOTOS::GEOPORTAIL:OGC:WMTS(1;h)&l1=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2::GEOPORTAIL:OGC:WMTS(1)&l2=STATISTICALUNITS.IRISGE::GEOPORTAIL:OGC:WMS(1)&l3=CADASTRALPARCELS.PARCELLAIRE_EXPRESS::GEOPORTAIL:OGC:WMTS(1;h)&permalink=yes"
            allowfullscreen
          />
        </div>
      </div>
    </div>
    <FooterSection />
  </div>
</template>

<script>
import HeaderSection from '../../elements/HeaderSection.vue'
import FooterSection from '../../elements/FooterSection.vue'

export default {
  name: 'MapReunionIGNv2',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion IGN' } // Titre de la page
    ]
  },
  components: {
    HeaderSection,
    FooterSection
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null
    }
  }
}

</script>

<style>

  .pageContainer {
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: 1000px;
  }

  #map {
    width: 100%;
    height: 500px;
    margin: 0;
  }

  iframe {
    margin: 1em;
  }
</style>
