<template>
  <div id="app">
    <!-- <HeaderTop></HeaderTop>
    <InfoBand></InfoBand>
    <SideBar></SideBar> -->
    <div class="pageContainer">
      <div class="dataContainer">
        <div id="map">
          <!--La carte s'affiche ici-->
        </div>
        <div v-if="cartoData">
          <h3>{{ cartoData.properties.name }}</h3>
          <p> Insee : {{ cartoData.properties.insee }}</p>
        </div>
      </div>
    </div>
    <!-- <FooterBottom></FooterBottom> -->
  </div>
</template>

<script>
// import HeaderTop from '../elements/HeaderTop.vue'
// import InfoBand from '../elements/InfoBand.vue'
// import SideBar from '../elements/SideBar.vue'
// import FooterBottom from '../elements/FooterBottom.vue'
// import config from '../../../../../config.json'
// Importation Axios
import axios from 'axios'
// Importations Open Layers
import { Map, View } from 'ol'
import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer'
import { Vector as VectorSource } from 'ol/source'
import { useGeographic } from 'ol/proj'
// import GeoJSON from 'ol/format/GeoJSON'
// import { DOMParser } from 'xmldom'
import Polygon from 'ol/geom/Polygon.js'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import Feature from 'ol/Feature'
import ImageWMS from 'ol/source/ImageWMS'
import OSM from 'ol/source/OSM.js'

export default {
  name: 'MapReunionIgnAPICarto',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion IGN' } // Titre de la page
    ]
  },
  components: {
    // HeaderTop,
    // InfoBand,
    // SideBar,
    // FooterBottom
  },
  created () {
    this.fetchAPICartoData()
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()
    // Création de la carte map
    // this.getCapabilities()
    this.initMap()
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424'
    ]
    console.log(communeCodes)
  },
  methods: {
    async fetchAPICartoData () {
      try {
        const response = await axios.get('https://apicarto.ign.fr/api/gpu/municipality?insee=97411')
        this.cartoData = response.data.features[0] // Prend le premier élément des features
      } catch (error) {
        console.error('Erreur lors de la récupération des données API Carto', error)
      }
    },
    // getCapabilities () { // Fonction pour récupérer les typenames de l'API REST de l'IGN
    //   // URL du service WMS
    //   // const apiKey = config.TOKEN_IGN
    //   // const url = 'https://wxs.ign.fr/' + apiKey + '/geoportail/wfs?SERVICE=WFS&REQUEST=GetCapabilities'

    //   // Faire la requête
    //   axios
    //     .get(url)
    //     .then(response => {
    //       // Créer un parser XML
    //       const parser = new DOMParser()

    //       // Passer la réponse en un document XML
    //       const xmlDoc = parser.parseFromString(response.data, 'text/xml')

    //       // Trouver tous les éléments <Layer>
    //       const layers = xmlDoc.getElementsByTagName('Layer')

    //       // Extraire les TYPENAME de chaque couche
    //       const typenames = Array.from(layers).map(layer => {
    //         const nameElement = layer.getElementsByTagName('Name')[0]
    //         return nameElement.textContent
    //       })

    //       // Afficher les TYPENAME
    //       console.log('typenames', typenames)
    //     })
    //     .catch(error => {
    //       // Gérer l'erreur
    //       console.error('Une erreur est survenue lors de la requête GetCapabilities : ', error)
    //     })
    // },
    async initMap () {
      // Définir la vue
      useGeographic()

      const view = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Crer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une couche IGN pour charger les données WMS
      const ignLayer = new TileLayer({
        source: new ImageWMS({
          url: 'https://wxs.ign.fr/pratique/geoportail/wms',
          params: {
            LAYER: 'BDCARTO-OCCUPATION_DU_SOL_WLD_WGS84G',
            VERSION: '1.0.0',
            FORMAT: 'image/jpeg'
          },
          ratio: 1

        })
      })

      // Créer la carte OpenLayers en utilisant les couches, la vue et la cible
      const map = new Map({
        target: 'map',
        layers: [baseLayer, ignLayer],
        view
      })

      // Charger les données IGN
      try {
        const response = await axios.get('https://apicarto.ign.fr/api/gpu/municipality?insee=97411')
        const municipality = response.data.features[0]

        // Récupérer les coordonnées de la commune
        const coordinates = municipality.geometry.coordinates[0][0]
        const geometry = new Polygon([coordinates])

        // Créer une couche vecteur pour les limites de la commune
        const municipalitySource = new VectorSource({
          features: [new Feature({ geometry })]
        })

        const municipalityLayer = new VectorLayer({
          source: municipalitySource,
          style: new Style({
            stroke: new Stroke({
              color: 'blue',
              width: 2
            }),
            fill: new Fill({
              color: 'rgba(0, 0, 255, 0.1)'
            })
          })
        })
        // Ajouter la couche de données à la carte
        map.addLayer(municipalityLayer)

        // Zommer sur l'étendue des limites de la commune
        map.getView().fit(geometry, {
          padding: [10, 10, 10, 10]
        })
      } catch (error) {
        console.log('Erreur lors du chargement des données API Carto', error)
      }
    }
  }
}

</script>

<style>

  .pageContainer {
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: 1000px;
  }

  #map {
    width: 100%;
    height: 500px;
    margin: 0;
  }
</style>
