<!--MapReunionIGNandSDK.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <div id="map" />
      <div id="info" />
    </div>
  </div>
</template>

<script>

import { useGeographic } from 'ol/proj'
import * as Gp from '@ignf-geoportal/sdk-2d'

export default {
  name: 'MapReunionIGNandSDK',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()
    // Création de la carte map
    // this.getCapabilities()
    this.initializeGeoportailMap()
  },
  methods: {
    initializeGeoportailMap () {
      const mapOptions = {
        apiKey: 'essentiels,cartes',
        zoom: 9,
        center: {
          x: 55.537507,
          y: -21.131124,
          projection: 'CRS:84'
        },
        layersOptions: {
          'ORTHOIMAGERY.ORTHOPHOTOS': {},
          'GEOGRAPHICALGRIDSYSTEMS.PLANIGN2': {
            opacity: 0.3
          }
        },
        controlsOptions: {
          layersSwitcher: {}
        }
      }

      // Charger la carte
      Gp.Map.load('map', mapOptions, (e) => {
        if (e) {
          console.error(e)
        } else {
          // La carte est chargée avec succès
          const infoDiv = document.getElementById('info')
          infoDiv.innerHTML = '<p> SDK Version ' + Gp.sdkVersion + '(' + Gp.sdkData + ')</p>'

          // Accéder à la vue de la carte
          const mapView = Gp.Map.get('map').getMapOptions().getView

          // Mettre à jour le zoom
          mapView.setZoom(8)
        }
      })
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: 1000px;
  }

  #map {
    padding: 1em;
    width: 1200px;
    height: 600px;
    box-shadow: 0 0 10px #999;
  }

  #info {
    padding: 1em;
    width: 100%;
    height: 1.75em;
    font-family: "monospace";
    font-size: 1em;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 20em;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .dataContainer {
    position: relative;
    top: 20em;
    width: 100%;
    height: 1000px;
    position: relative;
  }

  #map {
    padding: 1em;
    width: 100%;
    height: 600px;
    box-shadow: 0 0 10px #999;
  }

  #info {
    padding: 1em;
    width: 100%;
    height: 1.75em;
    font-family: "monospace";
    font-size: 1em;
  }
}
</style>
