<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les sites Mobiles 5G</h2>
      <p>Recensement et Localisation de la dernière version des antennes mobiles 5G</p>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <p>Source : ARCEP (Autorité de Régulation des Communications Electroniques, des Postes et de la distribution de la presse) - 2023</p>
    </div>
  </div>
</template>

<script>
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import CircleStyle from 'ol/style/Circle'

export default {
  name: 'MapCommune5G',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null,
      epciId: null,
      epciName: null
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Appeler la fonction d'initialisation de la carte ici
    this.initializeMap()
  },
  methods: {
    loadGeoJSONData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=100', { timeout: 20000 })
        .then(response => {
          const vectorSource = this.vectorSource
          vectorSource.clear() // Effacer les données précédentes si nécessaires

          if (response.data && response.data.results) {
            console.log('Voici les données reçues : ', response.data.results)

            const features = response.data.results.map(result => {
              // Vérifiez si le geo_shape et geometry est correctement défini
              if (result.geo_shape && result.geo_shape.geometry && result.geo_shape.geometry.type) {
                // Créer un objet JSON complet
                const geojsonObject = {
                  type: 'Feature',
                  geometry: result.geo_shape.geometry
                }
                // Lire les caractéristiques du résultat
                return new GeoJSON().readFeature(geojsonObject)
              } else {
                // Gérer le cas où le type est incorrect
                console.warn('geo_shape ou geometry non définis : ', result)
                return null // Ou créer une fonction vide
              }
            })

            // Supprimer les fonctionnalités nulles, le cas échéant
            const validFeatures = features.filter(feature => feature !== null)
            vectorSource.addFeatures(validFeatures)

            // featureProjection: 'EPSG:4326', // Ajuster la projection
            // geometryName: 'geometry' // Indique où se trouvent les géométries
            console.log('Fonctionnalités ajoutées à la couche', vectorSource.getFeatures())
          } else {
            console.error('Données GeoJSON manquantes dans la réponse de l\'API')
          }
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données GeoJSON', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle pour charger des données GeoJSON
      this.vectorSource = new VectorSource({
        format: new GeoJSON({
          dataProjection: 'EPSG:4326', // Projection des données GeoJSON
          featureProjection: 'EPSG:3857' // Projection de la carte
        }),
        url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=100'
      })

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const mobile = new VectorLayer({
        source: this.vectorSource,
        style: new Style({
          image: new CircleStyle({
            radius: 5, // Rayon du cercle
            fill: new Fill({
              color: 'rgba(0, 0, 255, 0.4)'
            }),
            stroke: new Stroke({
              color: 'rgba(0, 0, 255, 1.0)',
              width: 3
            })
          })
        })
      })

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [baseLayer, mobile],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadGeoJSONData()
    }
  }
}

</script>

<style>

.pageContainer {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  width: 70%;
  height: 100%;
  margin: 0;
}

.dataContainer {
    width: 100%;
    margin-left: 1.5em;
    height: 1000px;
  }

#map {
  width: 100%;
  height: 500px;
  margin: 0;
}
</style>
