<!--MapCommune.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Carte des communes</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
    </div>
  </div>
</template>

<script>
import * as ol from 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
// import { Point, Polygon } from 'ol/geom'
// import Feature from 'ol/Feature'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
// import Text from 'ol/style/Text'
// import Overlay from 'ol/Overlay'
// import CircleStyle from 'ol/style/Circle'
// import proj4 from 'proj4'

export default {
  name: 'MapCommune',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  props: {
    epciId: Number,
    epciName: String,
    latitude: Number,
    longitude: Number,
    epciTheme: String
  },
  data () {
    return {
    // Déclaration de la variable map
      map: null,
      vectorLayer: null
    // epciId: null,
    // epciName: null
    }
  },
  mounted () {
  // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Appeler la fonction d'initialisation de la carte ici
    this.initializeMap()
  },
  methods: {
    loadGeoJSONData () {
      axios
        .get('http://localhost:3000/communeGeojsonData', { timeout: 20000 })
        .then(response => {
          const vectorSource = this.vectorSource
          const labelLayer = this.labelLayer

          vectorSource.clear() // Effacer les données précédentes si nécessaires
          labelLayer.getSource().clear()

          if (response.data && response.data.features) {
            console.log('Voici les données reçues : ', response.data.results)

            const geojsonFeatures = response.data.features.map(feature => {
              // Vérifier si la géométrie est définie
              if (feature.geometry && feature.geometry.type && feature.geometry.coordinates) {
                const geometry = new GeoJSON().readGeometry(feature.geometry)
                feature.geometry = geometry
                return feature
              } else {
                console.warn('Géométrie manquante ou incorrecte pour la fonctionnalité: ', feature)
                return null
              }
            })
            // Supprimer les fonctionnalités nulles
            const validGeojsonFeatures = geojsonFeatures.filter(feature => feature !== null)

            vectorSource.addFeatures(new GeoJSON().readFeatures({
              type: 'FeatureCollection',
              features: validGeojsonFeatures
            }))

            // Ajouter des étiquettes à la couche des étiquettes
            validGeojsonFeatures.forEach(feature => {
              const labelFeature = new ol.Feature({
                geometry: feature.geometry,
                NOM: feature.properties.NOM
              })

              labelLayer.getSource().addFeature(labelFeature)
            })
          } else {
            // Supprimer les fonctionnalités nulles, le cas échéant
            // const validFeatures = features.filter(feature => feature !== null)
            // vectorSource.addFeatures(validFeatures)

            // featureProjection: 'EPSG:4326', // Ajuster la projection
            // geometryName: 'geometry' // Indique où se trouvent les géométries
            console.error('Données GeoJSON manquantes dans la réponse de l\'API')
          }
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données GeoJSON', error)
        })
    },
    initializeMap () {
    // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle pour charger des données GeoJSON
      this.vectorSource = new VectorSource({
        format: new GeoJSON(),
        url: function (extent) {
          return 'http://localhost:3000/communeGeojsonData'
        }
      })
      this.labelLayer = new VectorLayer({
        source: new VectorSource()
      })

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const communes = new VectorLayer({
        source: this.vectorSource,
        style: (feature) => {
          const fillColor = 'rgba(0, 0, 255, 0.4)'
          const strokeColor = 'rgba(0, 0, 255, 1.0)'
          const strokeWidth = 3

          // Style de remplissage et de contour pour les communes
          const communes = new Style({
            stroke: new Stroke({
              color: strokeColor,
              width: strokeWidth
            }),
            fill: new Fill({
              color: fillColor
            })
          })
          return communes
        }
      })

      // Style pour les étiquettes
      const labelStyle = new Style({
        text: new Text({
          font: '12px Calibri,sans-serif',
          fill: new Fill({
            color: '#000'
          }),
          stroke: new Stroke({
            color: '#fff',
            width: 3
          }),
          offsetX: 0,
          offsetY: -15,
          textAlign: 'center',
          textBaseline: 'bottom'
        })
      })

      this.labelLayer.setStyle(labelStyle)

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          communes,
          this.labelLayer // Ajout de la couche des étiquettes à la carte
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadGeoJSONData()
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
    width: 100%;
    height: 500px;
    margin: 0;
  }
}
/**Affichage pour mocile et tablette */
@media screen and (max-width: 768px) {

}

</style>
