<template>
  <div id="app">
    <div class="dataContainer">
      <h1 id="fiscalite">
        Zones FILOSOFI, d'au moins 50 ménages fiscaux ou plus de 100 personnes y compris bassins de vie 2022
      </h1>
      <table v-if="apiData.length">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Nombre de ménages fiscaux</th>
            <th>Nombre de personnes fiscales</th>
            <th>Médiane</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td>{{ commune.communeName || '' }}</td>
            <td>{{ commune.nbMenagesFisc || '' }}</td>
            <td>{{ commune.nbPersoFisc || '' }}</td>
            <td>{{ commune.mediane || '' }}</td>
          </tr>
        </tbody>
      </table>
      <p>Source : API INSEE - Fichier localisé social et fiscal (FiLoSoFi) </p>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import config from '../../../../../../config.json'

export default {
  name: 'DataFilosofiReunion',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      // Tableau pour stocker les données pour plusieurs communes
      apiData: []
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        // const token = process.env.TOKEN_INSEE || 'token'
        const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-INDICS_FILO_DISP@GEO2023FILO2020_BV/${communeCode}.1`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const nbMenagesFisc = parsedData.Donnees.Cellule[0].Valeur
          const nbPersoFisc = parsedData.Donnees.Cellule[1].Valeur
          const mediane = parsedData.Donnees.Cellule[2].Valeur
          const communesData = [communeName, nbMenagesFisc, nbPersoFisc, mediane]
          // Créer un tableau d'objet
          const communesArray = Array.isArray(communesData) ? communesData : [communesData]
          console.log(communesArray)
          return communesArray
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

  a {
    text-decoration: none;
    color: gray;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
  }

  h1 {
    color: var(--primary-color);
  }

  table {
      border: 0.25em solid rgb(127, 52, 64);
      width: 90%;
      height: max-content;
      margin: 0 auto;
  }

  thead {
      background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
      color: rgb(127, 52, 64);
  }
</style>
