<template>
  <div id="app">
    <div class="dataContainer">
      <h1>Existence d'au moins une pièce climatisée (Dom) à La Réunion</h1>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Avec pièce climatisée</th>
            <th>Sans pièce climatisée</th>
            <th>Ensemble</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td>{{ commune ? commune.commune || '' : '' }}</td>
            <td>{{ commune ? commune.formattedAvecClim || '' : '' }}</td>
            <td>{{ commune ? commune.formattedSansClim || '' : '' }}</td>
            <td>{{ commune ? commune.formattedEnsemble || '' : '' }}</td>
          </tr>
        </tbody>
      </table>
      <p>Source : API INSEE - Données Locales - Recensement de la population 2020 - Existence d'au moins une pièce climatisée (Dom) (CLIM)</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import config from '../../../../../../config.json'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: 'DataClimReunion',
  components: {
    PulseLoader
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        // const token = process.env.TOKEN_INSEE || 'token'
        const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-CLIM@GEO2023RP2020/COM-${communeCode}.1%2B2%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const avecClim = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const sansClim = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const ensemble = parseInt(parsedData.Donnees.Cellule[0].Valeur)

          // Formatter les nombres avec séparateurs de milliers
          const formattedAvecClim = new Intl.NumberFormat('fr-FR').format(avecClim)
          const formattedSansClim = new Intl.NumberFormat('fr-FR').format(sansClim)
          const formattedEnsemble = new Intl.NumberFormat('fr-FR').format(ensemble)

          const communesData = [
            communeName,
            formattedAvecClim,
            formattedSansClim,
            formattedEnsemble]
          // Créer un tableau d'objet
          const communesArray = Array.isArray(communesData) ? communesData : [communesData]
          console.log('Voici le tableau des communes')
          console.log(communesArray)
          return {
            commune: communeName,
            formattedAvecClim,
            formattedSansClim,
            formattedEnsemble
          }
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }

  }
}
</script>

<style scoped>
  .pageContainer {
    position: absolute;
    top: 12em;
    left: 25em;
    right: 0;
    width: 70%;
    height: 100em;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
  }

  .loadingSpinner {
    width: 70%;
    height: 500px;
    padding: 5em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }
</style>
