<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Existence d'au moins une pièce climatisée (Dom) à La Réunion</h2>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Avec pièce climatisée</th>
            <th>Sans pièce climatisée</th>
            <th>Ensemble</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td>{{ commune ? commune.communeName || '' : '' }}</td>
            <td>{{ commune ? commune.formattedAvecClim || '' : '' }}</td>
            <td>{{ commune ? commune.formattedSansClim || '' : '' }}</td>
            <td>{{ commune ? commune.formattedEnsemble || '' : '' }}</td>
          </tr>
        </tbody>
      </table>
      <p>Source : API INSEE - Données Locales - Recensement de la population 2020 - Existence d'au moins une pièce climatisée (Dom) (CLIM)</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import config from '../../../../../../config.json'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: 'DataClimCommune',
  components: {
    PulseLoader
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epciId: 4, codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epciId: 3, codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epciId: 1, codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epciId: 4, codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epciId: 4, codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epciId: 3, codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epciId: 5, codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epciId: 5, codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epciId: 3, codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epciId: 3, codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epciId: 2, codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epciId: 1, codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epciId: 5, codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epciId: 4, codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epciId: 5, codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epciId: 4, codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epciId: 1, codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epciId: 2, codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epciId: 3, codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epciId: 2, codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epciId: 3, codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epciId: 1, codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epciId: 5, codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epciId: 4, codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      apiData: [],
      // Objet pour lier les communeId au codeInsee
      communeIdToCodeInsee: {
        1: '97401',
        2: '97402',
        3: '97403',
        4: '97404',
        5: '97405',
        6: '97406',
        7: '97407',
        8: '97408',
        9: '97409',
        10: '97410',
        11: '97411',
        12: '97412',
        13: '97413',
        14: '97414',
        15: '97415',
        16: '97416',
        17: '97417',
        18: '97418',
        19: '97419',
        20: '97420',
        21: '97421',
        22: '97422',
        23: '97423',
        24: '97424'
      },
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeId = this.$route.params.communeId
    this.getPopulationsForCommunes(communeId)
  },
  methods: {
    async fetchDataForCommune (communeId) {
      try {
        // const token = process.env.TOKEN_INSEE || 'token'
        const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-CLIM@GEO2023RP2020/COM-${communeId}.1%2B2%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const avecClim = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const sansClim = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const ensemble = parseInt(parsedData.Donnees.Cellule[0].Valeur)

          // Formatter les nombres avec séparateurs de milliers
          const formattedAvecClim = new Intl.NumberFormat('fr-FR').format(avecClim)
          const formattedSansClim = new Intl.NumberFormat('fr-FR').format(sansClim)
          const formattedEnsemble = new Intl.NumberFormat('fr-FR').format(ensemble)

          const communesData = {
            communeName,
            formattedAvecClim,
            formattedSansClim,
            formattedEnsemble
          }

          console.log('communesData : ', communesData)

          return communesData
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeId) {
      this.isLoading = true // Indique que le chargement commence
      const codeInsee = this.communeIdToCodeInsee[communeId]
      const data = await this.fetchDataForCommune(codeInsee)
      if (data) {
        this.apiData.push(data)
      }
      console.log('data:', data)
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }

  }
}
</script>

<style scoped>
  .pageContainer {
    position: absolute;
    top: 12em;
    left: 0;
    right: 0;
    width: 100%;
    height: 100em;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
  }

  .loadingSpinner {
    width: 70%;
    height: 500px;
    padding: 5em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }
</style>
