<template>
  <div id="app">
    <HeaderTop />
    <div class="pageContainer">
      <div class="dataContainer">
        <div id="map">
          <!--La carte s'affiche ici-->
        </div>
      </div>
    </div>
    <FooterBottom />
  </div>
</template>

<script>
import HeaderTop from '../elements/HeaderTop.vue'
import FooterBottom from '../elements/FooterBottom.vue'
// import * as ol from 'ol'
import 'ol/ol.css'
import TileLayer from 'ol/layer/Tile'
import WMTS from 'ol/source/WMTS'
import WMTSTileGrid from 'ol/tilegrid/WMTS'
import { getTopLeft, getWidth } from 'ol'
// import { createXYZ } from 'ol/tilegrid'
// import GeoportalWMTS from 'geoportal-extensions-openlayers/ol3/GeoportalWMTS'
// import LayerWMTS from 'src/OpenLayers/Layers/LayerWMTS'
import { useGeographic, get as getProjection, transform } from 'ol/proj'
// import { GeoportalWMTS } from 'geoportal-extensions-openlayers'
// import Gp from 'geoportal-extensions-openlayers'

import config from '../../../../config.json'
import View from 'ol/View'

export default {
  name: 'MapReunionIGN',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion IGN' } // Titre de la page
    ]
  },
  components: {
    HeaderTop,
    FooterBottom
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()
    // Création de la carte map
    // this.go()
    this.initMap()
    this.addGeoportailLayer()
  },
  // watch: { // Hoook pour surveiller les changements de paramètres de route
  //   '$route' (to, from) {
  //     if (to.params.epcis && to.params.route && to.params.latitude && to.params.longitude) {
  //       // Utiliser les paramètres de route pour mettre à jour le centre de la carte
  //       this.map.getView().setCenter([parseFloat(to.params.longitude), parseFloat(to.params.latitude)])
  //       this.map.getView().setZoom(15)
  //     }
  //   }
  // },
  methods: {
    initMap () {
      const sourceCoords = [55.543361, -21.128306]
      let transformedCoords
      if (sourceCoords.every(coord => !isNaN(coord))) {
        transformedCoords = transform(sourceCoords, 'EPSG:4326', 'EPSG:3857')

        this.map = new Map({
          target: 'map',
          view: new View({
            // Recentrer la carte sur les coordonnées de La Réunion en EPSG:3857 (utilisé par Open Layers)
            center: transformedCoords,
            // Niveau de zoom
            zoom: 10
          })
        })
      } else {
        console.error('Coordonnées sources incorrectes')
      }
    },
    addGeoportailLayer () {
      const apiKey = config.TOKEN_IGN
      const projection = getProjection('EPSG:3857')
      const tileSize = getWidth(projection.getExtent() / 256)
      const matrixIds = new Array(22)
      const resolutions = new Array(22)
      for (let z = 0; z < 22; ++z) {
        matrixIds[z] = z
        resolutions[z] = tileSize / Math.pow(2, z)
      }

      const tileGrid = new WMTSTileGrid({
        origin: getTopLeft(projection.getExtent()),
        resolutions,
        matrixIds
      })

      // Exemple de la couche Orthophotos du Géoportail IGN
      const geoportailLayer = new TileLayer({
        source: new WMTS({
          url: 'https://wxs.ign.fr/' + apiKey + '/geoportail/wmts',
          layer: 'ORTHOIMAGERY.OTHOPHOTOS',
          format: 'image/jpeg',
          projection,
          tileGrid,
          style: 'normal',
          wrapX: true
        })
      })
      this.map.addLayer(geoportailLayer)
    }
    // go () {
    //   const CLEF = config.TOKEN_IGN
    //   this.map = new ol.Map({
    //     target: 'map',
    //     layers: [
    //       new GeoportalWMTS({
    //         layer: 'ORTHOIMAGERY.ORTHOPHOTOS',
    //         apiKey: CLEF,
    //         matrixSet: 'PM',
    //         format: 'image/jpeg',
    //         projection: 'EPSG:2975' // UTM 40S
    //       })
    //     ],
    //     view: new ol.View({
    //     // Recentrer la carte sur les coordonnées de La Réunion en EPSG:3857 (utilisé par Open Layers)
    //       center: [55.5705, -21.1256],
    //       // Niveau de zoom
    //       zoom: 10
    //     })
    //   })
    // }
  }
}

</script>

<style>

  .pageContainer {
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: 1000px;
  }

  #map {
    width: 100%;
    height: 500px;
    margin: 0;
  }
</style>
