<template>
  <div id="app">
    <HeaderSection />
    <div class="pageContainer">
      <div class="dataContainer">
        <div id="map">
          <iframe
            width="1000"
            height="800"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            sandbox="allow-forms allow-scripts allow-same-origin"
            src="https://www.geoportail.gouv.fr/embed/visu.html?c=55.59514016457947,-21.13159654280129&z=10&l0=ORTHOIMAGERY.ORTHOPHOTOS::GEOPORTAIL:OGC:WMTS(1)&l1=STATISTICALUNITS.IRISGE::GEOPORTAIL:OGC:WMS(1;h)&permalink=yes"
            allowfullscreen
          />
        </div>
      </div>
    </div>
    <FooterSection />
  </div>
</template>

<script>
import HeaderSection from '../elements/HeaderSection.vue'
import FooterSection from '../elements/FooterSection.vue'
// import config from '../../../../config.json'
// // Importation Axios
// import axios from 'axios'
// // Importations Open Layers
// import { Map, View } from 'ol'
// import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer'
// import { WMTS, Vector as VectorSource } from 'ol/source'
// import { useGeographic, get as getProjection } from 'ol/proj'
// import GeoJSON from 'ol/format/GeoJSON'
// import { DOMParser } from 'xmldom'
// import WMTSTileGrid from 'ol/tilegrid/WMTS'

export default {
  name: 'MapReunionIGNv2',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion IGN' } // Titre de la page
    ]
  },
  components: {
    HeaderSection,
    FooterSection
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null
    }
  }
  // methods: {
  //   async initMap () {
  //     // Coordonnées de l'île de La Réunion
  //     const coordinates = [55.54673, -21.128306]

  //     // Définition des résolutions pour le WMTS
  //     const resolutions = Array.from({ length: 18 }, (_, i) => 0.28E-6 * Math.pow(2, 17 - i))

  //     // Création de la source WMTS
  //     // const apiKey = config.TOKEN_IGN
  //     const ignSource = new WMTS({
  //       url: 'https://wxs.ign.fr/essentiels/geoportail/v/wms?VERSION=1.3.0',
  //       // url: 'https://wxs.ign.fr/' + apiKey + '/geoportail/wmts',
  //       // layer: 'GEOGRAPHICALGRIDSYSTEMS.MAPS',
  //       layer: 'CADASTRALPARCELS.PARCELLAIRE_EXPRESS:parcelle',
  //       matrixSet: 'PM',
  //       format: 'image/jpeg',
  //       projection: getProjection('EPSG:3857'),
  //       tileGrid: new WMTSTileGrid({
  //         origin: [-20037508, 20037508],
  //         resolutions,
  //         matrixIds: Array.from({ length: 18 }, (_, i) => `${i}`)
  //       }),
  //       style: 'normal'
  //     })

  //     // Créer une carte avec la vue
  //     this.map = new Map({
  //       target: 'map',
  //       layers: [
  //         new TileLayer({
  //           source: ignSource
  //         })
  //       ],
  //       view: new View({
  //         center: coordinates,
  //         zoom: 10
  //       })
  //     })
  //     await this.loadDataFromIGN()
  //   },
  //   getCapabilities () { // Fonction pour récupérer les typenames de l'API REST de l'IGN
  //     // URL du service WMS
  //     const apiKey = config.TOKEN_IGN
  //     const url = 'https://wxs.ign.fr/' + apiKey + '/geoportail/r/wms?SERVICE=WMS&REQUEST=GetCapabilities'

  //     // Faire la requête
  //     axios
  //       .get(url)
  //       .then(response => {
  //         // Créer un parser XML
  //         const parser = new DOMParser()

  //         // Passer la réponse en un document XML
  //         const xmlDoc = parser.parseFromString(response.data, 'text/xml')

  //         // Trouver tous les éléments <Layer>
  //         const layers = xmlDoc.getElementsByTagName('Layer')

  //         // Extraire les TYPENAME de chaque couche
  //         const typenames = Array.from(layers).map(layer => {
  //           const nameElement = layer.getElementsByTagName('Name')[0]
  //           return nameElement.textContent
  //         })

  //         // Afficher les TYPENAME
  //         console.log(typenames)
  //       })
  //       .catch(error => {
  //         // Gérer l'erreur
  //         console.error('Une erreur est survenue lors de la requête GetCapabilities : ', error)
  //       })
  //   },
  //   loadDataFromIGN () {
  //     // const apiKey = config.TOKEN_IGN
  //     axios
  //       .get('https://wxs.ign.fr/parcellaire/geoportail/wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=DescribeFeatureType&TYPENAME=CADASTRALPARCELS.PARCELLAIRE_EXPRESS:parcelle&outputFormat=application/json')
  //     // axios.get('https://wxs.ign.fr/' + apiKey + '/geoportail/wfs', {
  //     //   params: {
  //     //     SERVICE: 'WFS',
  //     //     VERSION: '2.0.0',
  //     //     REQUEST: 'GetFeature',
  //     //     // TYPENAME: 'GEOGRAPHICALGRIDSYSTEMS.MAPS'
  //     //     TYPENAME: 'SCAN25TOPO_PYR-JPEG_WLD_WM'
  //     //   }
  //       .then(response => {
  //       // Créer une nouvelle couche vectorielle avec les données de l'API
  //         const vectorLayer = new VectorLayer({
  //           source: new VectorSource({
  //             features: new GeoJSON().readFeatures(response.data)
  //           })
  //         })
  //         // Ajouter la couche à la carte
  //         this.map.addLayer(vectorLayer)
  //       }).catch(error => {
  //         console.error('Une erreur est survenue lors de la requête à l\'API du Géoportail : ', error)
  //       })
  //   }

  // },
  // mounted () {
  //   // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
  //   useGeographic()
  //   // Création de la carte map
  //   this.getCapabilities()
  //   this.initMap()
  // }
}

</script>

<style>

  .pageContainer {
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: 1000px;
  }

  #map {
    width: 100%;
    height: 500px;
    margin: 0;
  }

  iframe {
    margin: 1em;
  }
</style>
