<template>
  <div id="app">
    <!-- <HeaderTop></HeaderTop>
        <InfoBand></InfoBand>
        <SideBar></SideBar> -->
    <div class="mainContainer">
      <h1>Carte de La Réunion</h1>
      <div
        id="viewerDiv"
        class="mapContainer"
      >
        <!--Afficher les informations ici-->
      </div>
      <div
        id="viewerDiv"
        class="tableContainer"
      >
        <table>
          <thead>
            <tr>
              <th>Code INSEE</th>
              <th>Nom</th>
              <th>Département</th>
              <th>Codes Postaux</th>
              <th>Population</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(commune, index) in apiData"
              :key="index"
            >
              <td>{{ commune ? commune.code || '' : '' }}</td>
              <td>{{ commune ? commune.nom || '' : '' }}</td>
              <td>{{ commune ? commune.departement || '' : '' }}</td>
              <td>{{ commune ? commune.codesPostaux || '' : '' }}</td>
              <td>{{ commune ? commune.population || '' : '' }}</td>
              <!-- <td>{{ getPopulationValue(commune, 'POPMUN') }}</td>
                  <td>{{ getPopulationValue(commune, 'POPCAP') }}</td>
                  <td>{{ getPopulationValue(commune, 'POPTOT') }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <FooterBottom></FooterBottom> -->
  </div>
</template>

<script setup>
// Afficher une carte avec openLayers
</script>

<script>
// import FooterBottom from '../elements/FooterBottom.vue'
// import HeaderTop from '../elements/HeaderTop.vue'
// import InfoBand from '../elements/InfoBand.vue'
// import SideBar from '../elements/SideBar.vue'
import axios from 'axios'
import xml2js from 'xml2js'
import Map from 'ol/Map'
import View from 'ol/View'
import XYZSource from 'ol/source/XYZ'
import TileLayer from 'ol/layer/Tile'

export default {
  name: 'ReunionIGN',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion IGN' } // Titre de la page
      // { script: 'text/javascript', src: 'https://openlayers.org/en/v3.20.1/build/ol.js' }
    ]
  },
  data () {
    return {
      apiData: []
    }
  },
  mounted () {
    this.fetchDataForCommunes()
    this.fetchDataMapForCommunes()
  },
  methods: {
    // Récupérer les données administratives
    // Au format JSON
    async fetchDataForCommunes () {
      try {
        const response = await axios.get('https://unpkg.com/@etalab/decoupage-administratif@3.1.1/data/communes.json')
        if (response.status === 200) {
          const allCommunesData = response.data
          console.log('Voici les datas brutes : ', allCommunesData)

          // Sélectionne que la partie qui nous intéresse dans JSON
          this.apiData = allCommunesData.filter((commune) => {
            // S'assurer que id est bien un nombre en utilisant parseInt()
            const id = parseInt(commune.id, 10)
            return id >= 37522 && id <= 37545
          })
          console.log('Données filtrées: ', this.apiData)

          // const codeInsee = this.apiData.code
          // const nom = this.apiData.nom
          // const departement = this.apiData.departement
          // const codesPostaux = this.apiData.codesPostaux
          // const population = this.apiData.population
          // const communesData = [codeInsee, nom, departement, codesPostaux, population]
          // // Créer un tableau d'objet
          // const communesArray = Array.isArray(communesData) ? communesData : [communesData]
          // console.log(communesArray)
          // return communesArray
        }
      } catch (error) {
        console.error('Une erreur s\'est produite lors de la récupération des données ETALAB')
      }
    },

    // Au format XML
    async fetchDataMapForCommunes () {
      try {
        const token = ''
        const response = await axios.get('https://wxs.ign.fr/administratif/geoportail/wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities', {
          headers: {
            Authorization: `Bearer ${token}`,
            // Authorization: 'Bearer ',
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log('Voici les données au format XML', xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log('Voici le parsedData', parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          // const featureTypeList = parsedData['wfs:WFS_Capabilities']

          // Stocker les noms de chaque feature type dans un tableau
          // const featureTypeNames = featureTypeList.map((featureType) => featureType['Name'])
          // console.log('Noms des features types: ', featureTypeNames)

          // Créer une source de tuiles Open Layers à partir des données IGN
          const ignTileSource = new XYZSource({
            url: 'https://wxs.ign.fr/administratif/geoportail/wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities' // URL DES TUILES IGN

          })

          // Créer une couche de tuiles OpenLayers à partir de la source
          const ignTileLayer = new TileLayer({
            source: ignTileSource
          })

          // Créer une vue OpenLayers pour afficher la carte
          this.map = new Map({
            target: 'viewverDiv',
            layers: [ignTileLayer],
            view: new View({
              center: [0, 0], // Coordonnées du centre de la carte
              zoom: 12 // Niveau de zoom initial
            })
          })
        }
      } catch (error) {
        console.error('Une erreur s\'est produite lors de la récupération des données')
      }
    }
  }
}

</script>

<style scoped>
  .pageContainer {
      position: absolute;
      top: 20em;
      left: 30em;
      right: 0;
      width: 70%;
      height: 100em;
  }

  h1 {
    margin: 1em;
  }

  .mapContainer {
    width: 50em;
    height: 50em;
    border: 0.5em solid black;
    margin: 1em auto;
  }

  #viewerDiv {
    width: 100%;
    height: 500px;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }
</style>
