<!--ReunionOSM.vue-->
<template>
  <div id="app">
    <!-- <HeaderSection />
    <div class="pageContainer"> -->
    <div class="dataContainer">
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
    </div>
  </div>
  <!-- <FooterSection /> -->
  <!-- </div> -->
</template>

<script>
// import HeaderSection from '../elements/HeaderSection.vue'
// import FooterSection from '../elements/FooterSection.vue'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import { useGeographic } from 'ol/proj'

export default {
  name: 'ReunionOSM',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  components: {
    // HeaderSection,
    // FooterSection
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null
    }
  },
  watch: { // Hoook pour surveiller les changements de paramètres de route
    '$route' (to, from) {
      if (to.params.epcis && to.params.route && to.params.latitude && to.params.longitude) {
        // Utiliser les paramètres de route pour mettre à jour le centre de la carte
        this.map.getView().setCenter([parseFloat(to.params.longitude), parseFloat(to.params.latitude)])
        this.map.getView().setZoom(15)
      }
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Création de la carte map dans le hook mounted
    this.map = new Map({
      layers: [
        new TileLayer({ source: new OSM() })
      ],
      view: new View({
        // Recentrer la carte sur les coordonnées de La Réunion en EPSG:3857
        center: [55.5705, -21.1256],
        // Niveau de zoom
        zoom: 10
      }),
      target: 'map'
    })
  }
}

</script>

<style>
.pageContainer {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.dataContainer {
  top: 100px;
  width: 1200px;
  height: 1000px;
  padding: 10px;
  margin: 0 auto;
}

#map {
  width: 1200px;
  height: 500px;
  margin: 0;
}
</style>
