<!--DataEpciEtabSante.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les établissements de santé</h2>
      <h2>{{ subjectName }}</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>

      <!--Table des données-->
      <table>
        <thead>
          <tr>
            <th>Commune</th>
            <th>Etablissement</th>
            <th>Catégorie</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Télécopie</th>
            <th>EPCI</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in paginatedData"
            :key="item.nofinesset"
          >
            <td data-label="Commune">
              {{ item.com_name }}
            </td>
            <td data-label="Etablissement">
              {{ item.rslongue }}
            </td>
            <td data-label="Catégorie">
              {{ item.libcategagretab }}
            </td>
            <td data-label="Adresse">
              {{ item.lieuditbp }} {{ item.ligneacheminement }}
            </td>
            <td data-label="Téléphone">
              {{ item.telephone }}
            </td>
            <td data-label="Télécopie">
              {{ item.telecopie }}
            </td>
            <td data-label="EPCI">
              {{ item.epci_name }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DataEpciEtabSante',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0,
      currentEpci: '' // Affiche EPCI en cours

    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    }
  },
  watch: {
    // La méthode watch sert à détecter les changements dans le nom de l'EPCI
    currentEpci: 'filterDataByEpci'
  },
  mounted () {
    // Récupérer le nom de l'EPCI à partir de la route ou des paramètres
    this.currentEpci = this.$route.params.epciName

    // Charger les données initiales
    this.loadAllData()
  },
  methods: {
    matchEpci (name1, name2) {
      // Fonction de correspondance souple pour les noms d'EPCI
      const normalized1 = name1.toLowerCase().replace(/\s/g, '')
      const normalized2 = name2.toLowerCase().replace(/\s/g, '')
      return normalized1.includes(normalized2)
    },
    loadAllData () {
      // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-du-domaine-sanitaire-et-social-a-la-reunion/records?limit=${this.limit}&offset=${this.offset}&epci_name=${this.currentEpci}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count
          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)
          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
      }
    },
    filterDataByEpci () {
      // Mettre à jour le filtre par nom de l'EPCI
      // Réinitialiser la pagination et charger les données
      this.currentPage = 1
      this.offset = 0
      this.data = []
      this.loadAllData()
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    height: max-content;
  }

  h1 {
    color: var(--primary-color);
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
tbody tr:nth-child(even) {
  background-color: #FAF0F6;
}

/**Couleur pour les lignes impaires */
tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }

  button {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: black;
  }

  button:hover {
    color: black;
    background-color: red;
  }
}

 /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: right;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

}
 </style>
