<!-- views/404.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
     <!--Path du style.css: -->
     <link rel="stylesheet" href="/css/404.css">
     <!--Fontawesome Icons-->
     <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <div class="imageContainer">
                <img src="/assets/logo.webp" alt="logo"/>
            </div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/view-countries">Pays</a></li>
                <li><a href="/view-epcis">EPCIs</a></li>
                <li><a href="/view-communes">Communes</a></li>
                <li><a href="/view-subjects">Sujets</a></li>
                <li class="dropdown">
                    <button class="btn" id="btn" onclick="dropdownToggle()">
                        Geojson
                        <i class="bx bx-chevron-down" id="arrow"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown">
                        <a href="/epciGeojsonView">Geojson pour EPCIs</a>
                        <a href="/communeGeojsonView">Geojson pour communes</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="number404">
            <span>4</span>
            <i class="fa-solid fa-earth-africa"></i>
            <span>4</span>
        </div>
        <div class="text404">
            <p>La page que vous recherchez n'existe pas.</p>
            <button><a href="/">Retour à la page d'accueil</a></button>
        </div>
    </main>

    <footer>
        Open Atlas 2023
    </footer>
   
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>