<!--communes.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

     <!--Navbar-->
     <nav>
        <div class="imageContainer">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
            <!-- <li><a href="/login">Login</a></li> -->
        </ul>
        <div class="login-section">
            <% if (user) { %>
                <span>Bienvenue, <%= user.username %> !</span>
                <a href="/logout">Déconnexion</a>
            <% } else {  %>
                <button>
                    <a href="/login">Se connecter</a>
                </button>
                <a href="/register">Inscription</a>
            <% } %>
        </div>
    </nav>

    <main>
        <h1>Communes</h1>

        <!--Formulaire d'ajout/édition-->
        <form action="/communes" method="POST">
            <label for="id">ID de la commune</label>
            <input type="number" id="id" name="id" required>
            <label for="name">Nom de la commune : </label>
            <input type="text" id="name" name="name" required>
            <label for="codeInsee">Code INSEE de la commune : </label>
            <input type="number" id="codeInsee" name="codeInsee" required>
            <label for="country">Pays </label>
            <select id="country" name="country">
                <option value="">Sélectionner un pays</option>
                <option value="reunion">La Réunion</option>
            </select>
            <label for="epci">EPCI : </label>
            <select id="epci" name="epci">
                <option value="">Sélectionner une EPCI</option>
                <option value="CASUD">CASUD</option>
                <option value="CINOR">CINOR</option>
                <option value="CIREST">CIREST</option>
                <option value="CIVIS">CIVIS</option>
                <option value="TCO">TCO</option>
            </select>
            <button type="submit">Ajouter / Editer</button>
        </form>
        <h2>Liste des codes INSEE des communes de La Réunion</h2>
        <aside>
            <ul>
                <li></li>
            </ul>
        </aside>
        <h2>Liste des communes</h2>
        <ul>
            <!--Affiche la liste des communes-->
            <% communes.forEach (commune => { %>
                <li id="liste">
                    <!--Affiche l'id auto-incrémenté-->
                    <strong>ID: <%= commune.id %></strong> - <%= commune.name %>
                    <a href="/communes/<%= commune._id %>/edit" id="editLink">Editer</a>
                    <!--Utilisation de la méthode DELETE pour la suppression-->
                    <form action="/communes/<%= commune._id%>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" id="deleteButton">Supprimer</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </main>

    <footer>
        <p>Open Atlas 2023</p>
    </footer>
    
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>