<!--View : communeGeojsonView.html-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commune GeoJSON View</title>
</head>
<body>
    <!--Navbar-->
    <nav>
        <div class="imageContainer">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
        </ul>
    </nav>

    <main>
        <h1>Commune GeoJSON Data</h1>
        <pre id="geojsonData"></pre>
    </main>
 
    <script>
        // Charger les données GeoJSON depuis le fichier
        async function loadGeoJSONData (){
            try {
                const response = await fetch('/communeGeojsonData')
                const geoJSONData = await response.json()
                return geoJSONData
            } catch (error) {
                console.error('Erreur lors du chargement des données GeoJSON')
                return null
            }
         
        }

        // Fonction pour afficher les données GeoJSON
        async function displayGeoJSONData () {
            const geoJSONData = await loadGeoJSONData()
            if (geoJSONData) {
                document.getElementById('geojsonData').textContent = JSON.stringify(geoJSONData, null, 2)
            } else {
                document.getElementById('geojsonData').textContent = "Erreur lors du chargement des données GeoJSON"
            }
        }

        // Appeler la fonction pour afficher les données GeoJSON
        displayGeoJSONData()
        
    </script>
</body>
</html>