<!--countries.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editer le pays</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

   <!--Navbar-->
   <nav>
        <div class="imageContainer">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
        </ul>
    </nav>

    <main>
        <h1>Editer le pays</h1>

        <!--Formulaire d'ajout/édition-->
        <form action="/countries" method="POST">
            <label for="id">ID du pays</label>
            <input type="number" id="id" name="id" required>
            <label for="name">Nom du pays : </label>
            <input type="text" id="name" name="name" required>
            <label for="codeInsee">Code INSEE du pays : </label>
            <input type="number" id="codeInsee" name="codeInsee" required>
            <a href="https://www.insee.fr/fr/information/2028273" target="_blank">Comment choisir son code pays INSEE ?</a>
            <button type="submit">Ajouter / Editer</button>
        </form>
    </main>

    <footer>
        <p>Open Atlas 2023</p>
    </footer>
   
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>