<!-- views/home.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
     <!--Path du style.css: -->
     <link rel="stylesheet" href="/css/style.css">
     <!--Box Icons-->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>

    <nav>
        <div class="nav-logo">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
        </ul>
        <div class="login-section">
            <% if (user) { %>
                <span>Bienvenue, <%= user.username %> !</span>
                <a href="/logout">Déconnexion</a>
            <% } else {  %>
                <button>
                    <a href="/login">Se connecter</a>
                </button>
                <a href="/register">Inscription</a>
            <% } %>
        </div>
    </nav>

    <main id="mainHome">
        <h1>Bienvenue sur la page d'accueil de notre interface de backoffice</h1>
        <p>Cette interface vous permet de gérer facilement les données de votre site web ou de votre application. Vous pouvez afficher, mettre à jour, modifier et supprimer des données en quelques clics.</p>
        <p>Notre interface est simple et intuitive. Vous pouvez y accéder à tout moment et depuis n'importe quel appareil.</p>
        <p>Nous espérons que vous apprécierez notre interface de backoffice.</p>
    </main>

    <footer>
        <p>Open Atlas 2023</p>
    </footer>
   
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>