<!--navbar.ejs-->
 <!--Navbar-->
 <nav>
    <ul>
        <div class="imageContainer">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <li><a href="/">Accueil</a></li>
        <li><a href="/view-countries">Pays</a></li>
        <li><a href="/view-epcis">EPCIs</a></li>
        <li><a href="/view-communes">Communes</a></li>
        <li><a href="/view-subjects">Sujets</a></li>
        <li class="dropdown">
            <button class="btn" id="btn" onclick="dropdownToggle()">
                Geojson
                <i class="bx bx-chevron-down" id="arrow"></i>
            </button>
            <div class="dropdown-content" id="dropdown">
                <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
            </div>
        </li>
    </ul>
</nav>