<!--login.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--form.css: -->
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form action="/register" method="POST">
        <div class="nav-logo">
            <img src="/assets/logo.webp" alt="logo"/>
        </div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe : </label>
        <input type="password" id="password" name="password" required>

        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>