<!--subjects_edit.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editer le sujet</title>
     <!--Path du style.css: -->
     <link rel="stylesheet" href="/css/style.css">
     <!--Box Icons-->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
     <!--Navbar-->

     <nav>
        <ul>
            <div class="imageContainer">
                <img src="/assets/logo.webp" alt="logo"/>
            </div>
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
        </ul>
    </nav>


    <main>
        <h1>Editer le sujet</h1>

        <!--Formulaire d'ajout/édition-->
        <form action="/subjects" method="POST">
            <!--Utiliser un champ invisible pour l'ID du sujet-->
            <label for="id">ID du sujet</label>
            <input type="hidden" id="id" name="_id" value="<%= subject && subject._id %>">

            <label for="name">Nom du sujet : </label>
            <input type="text" id="name" name="name" value="<%= subject && subject.name %>">
            <label for="theme">Nom du thème : </label>
            <input type="text" id="theme" name="theme" value="<%= subject && subject.theme %>">
            <label for="scale">Territoire</label>
            <select name= "scale">
                <option value="">Sélectionner un territoire</option>
                <option value="country" <%= subject && subject.scale === 'country' ? 'selected' : '' %>>Pays</option>
                <option value="epci" <%= subject && subject.scale === 'epci' ? 'selected' : '' %>>Epci</option>
                <option value="commune" <%= subject && subject.scale === 'commune' ? 'selected' : '' %>>Commune</option>
            </select>
            <button type="submit">Enregistrer les modifications</button>
        </form>
    </main>

    <footer>
        <p>Open Atlas 2023</p>
    </footer>
    
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>