<!--subjects.ejs-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sujets</title>
    <!--Path du style.css: -->
    <link rel="stylesheet" href="/css/style.css">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <!--Navbar-->

    <nav>
        <ul>
            <div class="imageContainer">
                <img src="/assets/logo.webp" alt="logo"/>
            </div>
            <li><a href="/">Accueil</a></li>
            <li><a href="/view-countries">Pays</a></li>
            <li><a href="/view-epcis">EPCIs</a></li>
            <li><a href="/view-communes">Communes</a></li>
            <li><a href="/view-subjects">Sujets</a></li>
            <li class="dropdown">
                <button class="btn" id="btn" onclick="dropdownToggle()">
                    Geojson
                    <i class="bx bx-chevron-down" id="arrow"></i>
                </button>
                <div class="dropdown-content" id="dropdown">
                    <a href="/epciGeojsonView" target="_blank">Geojson pour EPCIs</a>
                    <a href="/communeGeojsonView" target="_blank">Geojson pour communes</a>
                </div>
            </li>
        </ul>
        <div class="login-section">
            <% if (user) { %>
                <span>Bienvenue, <%= user.username %> !</span>
                <a href="/logout">Déconnexion</a>
            <% } else {  %>
                <button>
                    <a href="/login">Se connecter</a>
                </button>
                <a href="/register">Inscription</a>
            <% } %>
        </div>
    </nav>


    <main>
        <h1>Sujets</h1>

        <!--Formulaire d'ajout/édition-->
        <form action="/subjects" method="POST">
            <label for="id">ID du sujet</label>
            <input type="number" id="id" name="id" required>
            <label for="name">Nom du sujet : </label>
            <input type="text" id="name" name="name" required>
            <label for="theme">Nom du thème : </label>
            <input type="text" id="theme" name="theme" required>
            <label for="scale">Territoire</label>
            <select name= "scale">
                <option value="">Sélectionner un territoire</option>
                <option value="country">Pays</option>
                <option value="epci">Epci</option>
                <option value="commune">Commune</option>
            </select>
            <button type="submit">Ajouter / Editer</button>
        </form>
        <h2>Liste des sujets</h2>
        <ul>
            <!--Affiche la liste des sujets-->
            <% subjects.forEach (subject => { %>
                <li id="liste">
                    <!--Affiche l'id auto-incrémenté-->
                    <strong>ID: <%= subject.id %></strong> - <%= subject.name %>
                    <a href="/subjects/<%= subject._id %>/edit" id="editLink">Editer</a>
                    <!--Utilisation de la méthode DELETE pour la suppression-->
                    <form action="/subjects/<%= subject._id%>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" id="deleteButton">Supprimer</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </main>

    <footer>
        <p>Open Atlas 2023</p>
    </footer>
    
    <script>
        function dropdownToggle () {
            document.getElementById('dropdown').classList.toggle("show")
        }
        window.addEventListener("click", function (event) {
            if (!event.target.matches("#btn")) {
                var dropdown = document.getElementById("dropdown")
            }
            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show")
            }
        })
    </script>
</body>
</html>