<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedSocialSubject"
          class="boxSelect"
          @change="navigateToTheme"
        > -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">
            Sélectionnez un sujet d'étude
          </option>
          <option value="reunionFamille">
            Les types de familles
          </option> -->
      <!-- <option value="reunionActivites">Les types d'activité</option> -->
      <!-- </select>
      </div> -->

      <!--Nom du thème ou du pays-->
      <h1> {{ $route.params.paysName }} - Thème : {{ $route.params.themeName }} - Sujet : {{ $route.params.subjectName }}</h1>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Les types de familles-->
      <DataReunionFamille />
      <!-- <data-type-act-reunion></data-type-act-reunion> -->
    </div>
  </div>
</template>

<script>
import DataReunionFamille from '../../datas/reunion/social/region/DataReunionFamille.vue'
import DataReunionTypeAct from '../../datas/insee/reunion/DataTypeActReunion.vue'

export default {
  name: 'ReunionSocial',
  components: {
    DataReunionFamille,
    DataReunionTypeAct
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Social' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedSocialSubject: 'reunionFamille' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunionFamille':
          return 'DataFamilleReunion'
        default:
          return 'reunionFamille'
      }
    }
  },
  methods: {
    navigateToSubject () {
      if (this.selectedSocialSubject) {
        this.$router.push({
          name: this.selectedSocialSubject,
          params: {
            paysName: this.paysName,
            themeName: 'social',
            subjectName: this.selectedSocialSubject
          }
        })
      }
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }

      /**Affichage pour mobile et tablette */
      @media screen and (max-width: 768px) {
        .pageContainer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: max-content;
        background-color: white;
      }

      .dataContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
