<!--ReunionAmenagement.vue-->

<template>
  <div id="app">
    <div class="themeContainer">
      <h1>{{ $route.params.paysName }}</h1>
      <h2>Thème : {{ $route.params.themeName }}</h2>
      <h3>Sujet : {{ $route.params.subjectName }}</h3>

      <ReunionSubjectSelector
        :pays-name="$route.params.paysName"
        :theme-name="$route.params.themeName"
        :subject-name="$route.params.subjectName"
      />

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Sujets-->
      <!-- <GraphReunionBati></GraphReunionBati>
          <DataReunionBati></DataReunionBati>
          <DataReunionStationnement></DataReunionStationnement> -->
    </div>
  </div>
</template>

<script>
import DataReunionStationnement from '../../datas/reunion/amenagement/region/DataReunionStationnement.vue'
import DataReunionBati from '../../datas/reunion/amenagement/region/DataReunionBati.vue'
import GraphReunionBati from '../../graphs/GraphReunionBati.vue'
import ReunionSubjectSelector from '@/components/elements/ReunionSubjectSelector.vue'

export default {
  name: 'ReunionAmenagement',
  components: {
    DataReunionStationnement,
    DataReunionBati,
    GraphReunionBati,
    ReunionSubjectSelector
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Amenagement' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedAmenagementSubject: 'reunionBati' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunionBati':
          return 'DataReunionBati'
        case 'reunionStationnement':
          return 'DataReunionStationnement'
        default:
          return 'DataReunionBati'
      }
    }
  },
  created () {
    const paysName = this.$route.params.paysName
    const epciId = this.$route.params.epciId
    const epciName = this.$route.params.epciName
    const communeId = this.$route.params.communeId
    const communeName = this.$route.params.communeName
    const themeName = this.$route.params.themeName

    console.log('ReunionAmenagement, paysName', paysName)
    console.log('ReunionAmenagement, epciId', epciId)
    console.log('ReunionAmenagement, epciName', epciName)
    console.log('ReunionAmenagement, communeId', communeId)
    console.log('ReunionAmenagement, communeName', communeName)
    console.log('ReunionAmenagement, themeName', themeName)
  },
  mounted () {
    console.log('ReunionAmenagement - mounted')
  },
  methods: {
    navigateToSubject () {
      console.log('Navigate to subject called')
      console.log('Selected Subject:', this.selectedAmenagementSubject)
      if (this.$data.selectedAmenagementSubject) {
        let subjectName

        switch (this.selectedAmenagementSubject) {
          case 'reunionBati':
            subjectName = 'reunionBati'
            break
          case 'reunionStationnement':
            subjectName = 'reunionStationnement'
            break
          default:
            subjectName = 'reunionBati' // Thème par défaut
        }

        this.$router.push({
          name: this.selectedAmenagementSubject,
          params: {
            paysName: this.paysName,
            themeName: 'amenagement',
            subjectName
          }
        })
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

  /* select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 1px solid white;
  }

  select:hover {
    background-color: var(--light-gray);
    border: 0.15em solid var(--dark-gray);
  }

  select::-ms-expand {
    display: none;
  }

  select::-webkit-appearance {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em 1em;
  }

  option {
    padding: 1em;
    background-color: var(--light-gray);
  } */
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .themeContainer,
  .subjectContainer {
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    );
  }

  select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 0.1px solid white;
    transition: all 0.3s ease;
  }

  option {
    color: white;
  }
}
</style>
