<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedEconomieSubject"
          class="boxSelect"
          @change="navigateToSubject"
        > -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option
            disabled
            value=""
          >
            Sélectionnez un sujet d'étude
          </option>
          <option value="reunion5G">
            Les sites mobiles 5G
          </option>
          <option value="reunionVoiture">
            Nombre de voitures par ménage
          </option>
          <option value="reunionFloresNA17">
            Activités économiques en 17 postes
          </option>
          <option value="reunionSirene">
            Liste des entreprises à La Réunion
          </option>
        </select>
      </div> -->

      <!--Nom du thème ou du pays-->
      <h1> {{ $route.params.paysName }} - Thème : {{ $route.params.themeName }} - Sujet : {{ $route.params.subjectName }}</h1>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Cartographie des sites mobiles 5G à La Réunion-->
      <!-- <map-reunion-5-g></map-reunion-5-g> -->
      <!-- <DataReunion5G></DataReunion5G> -->
      <!--Nombre de voitures par ménage à La Réunion - INSEE - Données Locales-->
      <!-- <DataVoitureReunion></DataVoitureReunion> -->
      <!--Activités économiques en 17 postes - FLORES-->
      <!-- <DataFloresNA17Reunion></DataFloresNA17Reunion> -->
      <!--API SIRENE-->
      <!-- <DataSireneReunion></DataSireneReunion> -->
    </div>
  </div>
</template>

<script>
import DataReunion5G from '../../datas/reunion/economie/region/DataReunion5G.vue'
// import MapReunion5G from '../../maps/reunion/region/MapReunion5G.vue'
import DataReunionVoiture from '../../datas/reunion/economie/region/DataReunionVoiture.vue'
import DataReunionFloresNA17 from '../../datas/reunion/economie/region/DataReunionFloresNA17.vue'
import DataReunionSirene from '../../datas/reunion/economie/region/DataReunionSirene.vue'

export default {
  name: 'ReunionEconomie',
  components: {
    DataReunion5G,
    // MapReunion5G
    DataReunionVoiture,
    DataReunionFloresNA17,
    DataReunionSirene
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Economie' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedEconomieSubject: 'reunion5G' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunion5G':
          return 'DataReunion5G'
        case 'reunionVoiture':
          return 'DataReunionVoiture'
        case 'reunionFloresNA17':
          return 'DataReunionFloresNA17'
        case 'reunionSirene':
          return 'DataReunionSirene'
        default:
          return 'reunion5G'
      }
    }
  },
  methods: {
    navigateToSubject () {
      console.log('Navigate to subject called')
      console.log('Selected Subject:', this.selectedEconomieSubject)
      if (this.$data.selectedEconomieSubject) {
        let subjectName

        switch (this.selectedEconomieSubject) {
          case 'reunion5G':
            subjectName = 'reunion5G'
            break
          case 'reunionVoiture':
            subjectName = 'reunionVoitures'
            break
          case 'reunionFloresNA17':
            subjectName = 'reunionActivites'
            break
          case 'reunionSirene':
            subjectName = 'reunionSirene'
            break
          default:
            subjectName = 'reunion5G' // Thème par défaut
        }

        this.$router.push({
          name: this.selectedEconomieSubject,
          params: {
            paysName: this.paysName,
            themeName: 'economie',
            subjectName
          }
        })
      }
    }
  }
}
</script>

<style scoped>
    /**Affichage pour TV et desktop */
    @media screen and (min-width: 769px) {
      .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }
      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }

        /**Affichage pour mobile et tablette */
        @media screen and (min-width: 320px) and (max-width: 768px) {
          .pageContainer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: max-content;
        background-color: white;
      }

      .dataContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
