<!--ReunionTourisme.vue-->

<template>
  <div id="app">
    <div class="themeContainer">
      <div class="navbarContainer">
        <h3>Sujets</h3>
        <select
          v-model="selectedTourismeSubject"
          class="boxSelect"
          @change="navigateToSubject"
        >
          <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
          <option value="">
            Sélectionnez un sujet d'étude
          </option>
          <option value="reunionEtabTourisme">
            Les établissements touristiques à La Réunion
          </option>
          <option value="reunionHebTourisme">
            Les hébergements touristiques à La Réunion
          </option>
        </select>
      </div>

      <!--Nom du thème ou du pays-->
      <h1> Lieu : {{ $route.params.paysName }} - Thème : {{ $route.params.themeName }} - Sujet : {{ $route.params.subjectName }}</h1>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Les hébergements touristiques à La Réunion-->
      <!-- <DataTourismeReunion></DataTourismeReunion> -->
      <!--Carte des établissements touristiques à La Réunion-->
      <!-- <DataReunionEtabTourisme></DataReunionEtabTourisme> -->
    </div>
  </div>
  <!-- </div> -->
</template>

<script>

import DataReunionHebTourisme from '../../datas/reunion/tourisme/region/DataReunionHebTourisme.vue'
import DataReunionEtabTourisme from '../../datas/reunion/tourisme/region/DataReunionEtabTourisme.vue'

export default {
  name: 'ReunionTourisme',
  components: {
    DataReunionHebTourisme,
    DataReunionEtabTourisme
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Tourisme' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedTourismeSubject: 'reunionHebTourisme' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunionHebTourisme':
          return 'DataReunionHebTourisme'
        case 'reunionEtabTourisme':
          return 'DataReunionEtabTourisme'
        default:
          return 'DataReunionHebTourisme'
      }
    }
  },
  created () {
    const paysName = this.$route.params.paysName
    const epciId = this.$route.params.epciId
    const epciName = this.$route.params.epciName
    const communeId = this.$route.params.communeId
    const communeName = this.$route.params.communeName
    const themeName = this.$route.params.themeName

    console.log('ReunionTourisme, paysName', paysName)
    console.log('ReunionTourisme, epciId', epciId)
    console.log('ReunionTourisme, epciName', epciName)
    console.log('ReunionTourisme, communeId', communeId)
    console.log('ReunionTourisme, communeName', communeName)
    console.log('ReunionTourisme, themeName', themeName)
  },
  mounted () {
    console.log('ReunionTourisme - mounted')
  },
  methods: {
    navigateToSubject () {
      console.log('Navigate to subject called')
      console.log('Selected Subject:', this.selectedTourismeSubject)
      if (this.$data.selectedTourismeSubject) {
        let subjectName

        switch (this.selectedTourismeSubject) {
          case 'reunionHebTourisme':
            subjectName = 'reunionHebTourisme'
            break
          case 'reunionEtabTourisme':
            subjectName = 'reunionEtabTourisme'
            break
          default:
            subjectName = 'reunionHebTourisme' // Thème par défaut
        }
        this.$router.push({
          name: this.selectedTourismeSubject,
          params: {
            paysName: this.paysName,
            themeName: 'tourisme',
            subjectName
          }
        })
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

  /* select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 0.10px solid white;
    padding: 0.5em;
    border: 1em;
  }

  select:hover {
    background-color: var(--light-gray);
    border: 0.15em solid var(--dark-gray);
  }

  select::-ms-expand {
    display: none;
  }

  select::-webkit-appearance {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em 1em;
  }

  option {
    padding: 1em;
    background-color: var(--light-gray);
  } */
  }

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: max-content;
        background-color: white;
      }

      .dataContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
