<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedReunionTheme"
          class="boxSelect"
          @change="navigateToTheme"
        > -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">
            Sélectionnez un sujet d'étude
          </option>
          <option value="reunionBassinNat">
            Les bassins de natation
          </option>
          <option value="autres">
            Autre thème
          </option>
        </select>
      </div> -->

      <!--Nom du thème ou du pays-->
      <h1> {{ $route.params.paysName }} </h1>
      <h2>Thème : {{ $route.params.themeName }}</h2>
      <h3>Sujet : {{ $route.params.subjectName }}</h3>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Les bassins de natation-->
      <MapReunionBassinNat />
      <!-- <MapReunionPlaces></MapReunionPlaces> -->
    </div>
  </div>
</template>

<script>
import MapReunionBassinNat from '../../../components/maps/reunion/region/MapReunionBassinNat.vue'
// import MapReunionPlaces from '../maps/MapReunionPlaces.vue'

export default {
  name: 'ReunionSport',
  components: {
    // MapReunionPlaces,
    MapReunionBassinNat
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Sport' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedSportSubject: 'reunionBati' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunionBassinNat':
          return 'MapReunionBassinNat'
        default:
          return 'reunionBassinNat'
      }
    }
  },
  methods: {
    navigateToSubject () {
      if (this.selectedSportSubject) {
        this.$router.push({
          name: this.selectedSportSubject,
          params: {
            paysName: this.paysName,
            paysTheme: 'sport',
            paysSubject: this.selectedSportSubject
          }
        })
      }
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

  h1 {
    text-transform: uppercase;
  }

  /* select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 0.10px solid white;
  }

  select:hover {
    background-color: var(--light-gray);
    border: 0.15em solid var(--dark-gray);
  }

  select::-ms-expand {
    display: none;
  }

  select::-webkit-appearance {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em 1em;
  }

  option {
    padding: 1em;
    background-color: var(--light-gray);
  } */

}

      /**Affichage pour mobile et tablette */
      @media screen and (max-width: 768px) {
        .pageContainer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: max-content;
        background-color: white;
      }

      .dataContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
