<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les bassins de natation</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <div class="legend">
        <h3>Légende</h3>
        <ul>
          <li>
            <span
              class="legendItem"
              style="background-color: yellow"
            />Bassin mixte de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: blue"
            />Bassin ludique de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: green"
            />Bassin sportif de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: red"
            />Bassin de réception de toboggan
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import 'ol/ol.css'

export default {
  name: 'DataCommuneBassinNat',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Bassins de natation à La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null
    }
  },
  mounted () {
    // Méthode pour initialiser la carte
    this.loadMapData()
  },
  methods: {
    loadMapData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/data-bassin-de-natation/records?limit=100', { timeout: 20000 })
        .then(response => {
          console.log('Données de l\'API des bassins de natations: ', response.data)
          // Transformez les données en GeoJSON
          const geojsonFeatures = response.data.results.map(result => {
            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [
                  result.coordonnees.lon,
                  result.coordonnees.lat
                ]
              },
              properties: {
                nom_de_l_installation_sportive: result.nom_de_l_installation_sportive,
                numero_type_et_nom_de_la_voie: result.numero_type_et_nom_de_la_voie,
                commune: result.commune,
                code_insee_de_la_commune: result.code_insee_de_la_commune,
                type_d_equipement_sportif: result.type_d_equipement_sportif,
                famille_d_equipement_sportif: result.famille_d_equipement_sportif
              }
            }
          })

          console.log('Features GeoJSON : ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          // this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          // this.vectorSource.addFeatures(new GeoJSON().readFeatures({
          //   type: 'FeatureCollection',
          //   features: geojsonFeatures
          // }))
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données : ', error)
        })
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
