<!--CommuneAmenagement.vue-->
<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedCommuneAmenagementSubject"
          class="boxSelect"
          @change="navigateToSubject"
        > -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">
            Sélectionnez un sujet d'étude
          </option>
          <option value="communeBati">
            Aspect du bâti
          </option>
          <option value="communeStationnement">
            Emplacements de stationnement
          </option>
        </select>
      </div> -->

      <!--Titre de la page-->
      <h1>{{ $route.params.epciName }} - {{ $route.params.communeName }}</h1>
      <h2>Thème : {{ $route.params.themeName }}</h2>
      <h2>Sujet : {{ $route.params.subjectName }}</h2>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Sujets-->
      <!-- <DataCommuneBati></DataCommuneBati>
          <DataCommuneStationnement></DataCommuneStationnement> -->

      <!--Composant dynamique : Le composant affiché dépendra du thème sélectionné-->
      <!-- <div v-if="communeSubject">
            <div>
              <component :is="currentComponent"></component>
            </div>
          </div> -->
      <!--Ceci apparaît quand il n'y a pas de thème sélectionné-->
      <!-- <div v-else class="noTheme">
            <p>Sélectionnez un sujet</p>
          </div> -->
    </div>
  </div>
</template>

<script>
import DataCommuneBati from '../../datas/reunion/amenagement/communes/DataCommuneBati.vue'
import DataCommuneStationnement from '../../datas/reunion/amenagement/communes/DataCommuneStationnement.vue'

export default {
  name: 'CommuneAmenagement',
  components: {
    DataCommuneBati,
    DataCommuneStationnement
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Amenagement' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedCommuneAmenagementSubject: 'communeBati' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'communeBati':
          return 'DataCommuneBati'
        case 'communeStationnement':
          return 'DataCommuneStationnement'
        default:
          return 'communeBati'
      }
    }
  },
  methods: {
    navigateToSubject () {
      console.log('Navigate to subject called')
      console.log('Selected Subject:', this.selectedCommuneAmenagementSubject)
      if (this.$data.selectedCommuneAmenagementSubject) {
        let subjectName

        switch (this.selectedCommuneAmenagementSubject) {
          case 'communeBati':
            subjectName = 'communeBati'
            break
          case 'communeStationnement':
            subjectName = 'communeStationnement'
            break
          default:
            subjectName = 'communeBati' // Thème par défaut
        }

        this.$router.push({
          name: this.selectedCommuneAmenagementSubject,
          params: {
            paysName: this.paysName,
            epciId: this.epciId,
            epciName: this.epciName,
            communeId: this.communeId,
            communeName: this.communeName,
            themeName: 'amenagement',
            subjectName
          }
        })
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

  /* select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 0.1px solid white;
  }

  select:hover {
    background-color: var(--light-gray);
    border: 0.15em solid var(--dark-gray);
  }

  select::-ms-expand {
    display: none;
  }

  select::-webkit-appearance {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em 1em;
  }

  option {
    padding: 1em;
    background-color: var(--light-gray);
  } */
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .themeContainer,
  .subjectContainer {
    width: 100%;
    height: max-content;
    margin: 0;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    );
  }

  select {
    width: 80%;
    color: white;
    background-color: var(--light-gray);
    border: 0.1px solid white;
    transition: all 0.3s ease;
  }

  option {
    color: white;
  }
}
</style>
