<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3> -->
      <!-- <select v-model="selectedCommuneEconomieSubject"  @change="navigateToSubject"> -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">Sélectionnez un sujet d'étude</option>
                <option value="mobiles">Les sites mobiles 5G</option>
                <option value="voitures">Nombre de voitures par ménage</option>
                <option value="activites">Activités économiques en 17 postes</option>
                <option value="entreprises">Liste des entreprises à La Réunion</option>
              </select> -->
      <!-- </div> -->

      <!--Titre de la page-->
      <h1> {{ $route.params.epciName }} - {{ $route.params.communeName }}  - Thème : {{ $route.params.themeName }} </h1>
      <h2> {{ $route.params.subjectName }}</h2>

      <!--Carte des communes-->
      <div class="subjectContainer">
        <MapCommune />
      </div>

      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
    </div>
  </div>
</template>

<script>
import MapCommune from '../../maps/reunion/communes/MapCommune.vue'

export default {
  name: 'CommuneCarte',
  components: {
    MapCommune
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 },
        { id: 2, name: 'CINOR', latitude: -20.9429, longitude: 55.4638 },
        { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 },
        { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 },
        { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }
      ],
      // Déclaration de la variable map
      map: null
    }
  },
  watch: { // Hook pour surveiller les changements de paramètres de route
    '$route' (to, from) {
      if (to.params.epcis && to.params.route && to.params.latitude && to.params.longitude) {
      // Utiliser les paramètres de route pour mettre à jour le centre de la carte
        this.map.getView().setCenter([parseFloat(to.params.longitude), parseFloat(to.params.latitude)])
        this.map.getView().setZoom(20)
      }
    }
  }
}
</script>

<style scoped>

  /**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }
      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }

    /**Affichage pour mobile et tablette */
    @media screen and (max-width: 768px) {
      .themeContainer, .subjectContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
