<template>
  <div id="app">
    <div class="themeContainer">
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3> -->
      <!-- <select v-model="selectedCommuneEconomieSubject"  @change="navigateToSubject"> -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">Sélectionnez un sujet d'étude</option>
                <option value="mobiles">Les sites mobiles 5G</option>
                <option value="voitures">Nombre de voitures par ménage</option>
                <option value="activites">Activités économiques en 17 postes</option>
                <option value="entreprises">Liste des entreprises à La Réunion</option>
              </select> -->
      <!-- </div> -->

      <!--Titre de la page-->
      <h1> {{ $route.params.epciName }} - {{ $route.params.communeName }}  - Thème : {{ $route.params.themeName }} </h1>
      <h2> {{ $route.params.subjectName }}</h2>

      <!--Composant dynamique-->
      <!-- <component :is="currentSubject"></component> -->
      <!--Le composant affiché dépendra du sujet sélectionné-->

      <!--Sujets-->
      <!-- <MapReunion5G></MapReunion5G> -->
      <!--Composant dynamique-->
      <div class="subjectContainer">
        <DataFloresNA17Commune />
      </div>
    </div>
  </div>
</template>

<script>
import DataFloresNA17Commune from '../../datas/reunion/economie/communes/DataCommuneFloresNA17.vue'
// import MapReunion5G from '../../maps/reunion/region/MapReunion5G.vue'

export default {
  name: 'CommuneEconomie',
  components: {
    // MapReunion5G,
    DataFloresNA17Commune
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Economie' } // Titre de la page
    ]
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'mobiles':
          return 'MapReunion5G'
        case 'voitures':
          return 'DataVoitureReunion'
        case 'activites':
          return 'DataFloresNA17Reunion'
        case 'entreprises':
          return 'DataSireneReunion'
        default:
          return null
      }
    }
  },
  methods: {
    navigateToSubject () {
      if (this.selectedCommuneEconomieSubject) {
        this.$router.push({
          name: this.selectedCommuneEconomieSubject,
          params: {
            paysName: this.paysName,
            epciId: this.epciId,
            epciName: this.epciName,
            communeId: this.communeId,
            communeName: this.communeName,
            themeName: 'economie',
            subjectName: this.selectedCommuneEconomieSubject
          }
        })
      }
    }
  }
}
</script>

<style scoped>

  /**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {

  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }

      /**Affichage pour mobile et tablette */
      @media screen and (min-width: 320px) and (max-width: 768px) {
        .themeContainer, .subjectContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
