<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les bassins de natation</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <div class="legend">
        <h3>Légende</h3>
        <ul>
          <li>
            <span
              class="legendItem"
              style="background-color: yellow"
            />Bassin mixte de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: blue"
            />Bassin ludique de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: green"
            />Bassin sportif de natation
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: red"
            />Bassin de réception de toboggan
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
// import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import CircleStyle from 'ol/style/Circle'
import Text from 'ol/style/Text'
import GeoJSON from 'ol/format/GeoJSON'
import Style from 'ol/style/Style'

export default {
  name: 'DataEpciBassinNat',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Bassins de natation à La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null
    }
  },
  mounted () {
    // Méthode pour initialiser la carte
    this.initializeMap()
  },
  methods: {
    loadMapData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/data-bassin-de-natation/records?limit=100', { timeout: 20000 })
        .then(response => {
          console.log('Données de l\'API des bassins de natations: ', response.data)
          // Transformez les données en GeoJSON
          const geojsonFeatures = response.data.results.map(result => {
            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [
                  result.coordonnees.lon,
                  result.coordonnees.lat
                ]
              },
              properties: {
                nom_de_l_installation_sportive: result.nom_de_l_installation_sportive,
                numero_type_et_nom_de_la_voie: result.numero_type_et_nom_de_la_voie,
                commune: result.commune,
                code_insee_de_la_commune: result.code_insee_de_la_commune,
                type_d_equipement_sportif: result.type_d_equipement_sportif,
                famille_d_equipement_sportif: result.famille_d_equipement_sportif
              }
            }
          })

          console.log('Features GeoJSON : ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          this.vectorSource.addFeatures(new GeoJSON().readFeatures({
            type: 'FeatureCollection',
            features: geojsonFeatures
          }))
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données : ', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 15
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle vide pour charger des données GeoJSON
      this.vectorSource = new VectorSource()

      // Créer un objet pour mapper les valeurs de type_d_equipement_sportif
      const typeColors = {
        'Bassin mixte de natation': 'yellow',
        'Bassin ludique de natation': 'blue',
        'Bassin sportif de natation': 'green',
        'Bassin de réception de toboggan': 'red'
      }

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const bassins = new VectorLayer({
        source: this.vectorSource
      })

      // Créer une fonction de style conditionnelle pour les points
      const styleFunction = (feature) => {
        const type = feature.get('type_d_equipement_sportif')
        const color = typeColors[type] || 'gray'

        // Créer un style de cercle
        const circleStyle = new CircleStyle({
          radius: 5, // Rayon du cercle
          fill: new Fill({
            color
          }),
          stroke: new Stroke({
            color: 'black',
            width: 1
          })
        })

        // Créer un style de texte pour les éqtiquettes
        const textStyle = new Text({
          text: feature.get('nom_de_l_installation_sportive'),
          fill: new Fill({
            color: 'black'
          }),
          backgroundFill: new Fill({
            color: 'white'
          }),
          offsetY: -10, // Position verticale de l'étiquette
          textAlign: 'center',
          font: '12px Arial',
          minResolution: 10 // Niveau de zoom minimam à partir duquel l'étiquerre sera visible
        })

        // Retournez à la fois le style du cercle et le style du texte
        return new Style({
          image: circleStyle,
          text: textStyle
        })
      }

      // Affecter le style à la couche vectorielle
      bassins.setStyle(styleFunction)

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          bassins
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadMapData()
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
