<!--HomePage.vue-->

<template>
  <div>
    <!-- <HeaderSection /> -->
    <div class="container-fluid mt-4">
      <!--Fil d'Ariane-->
      <!-- <Breadcrumb /> -->
      <!--Barre de navigation-->
      <!-- <div class="navigationBar row mb-4"> -->
        <!--Pour sélectionner une échelle-->
        <!-- <div class="col-md-6 mb-2 mb-md-0">
          <ScaleSelector
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />
        </div> -->

        <!--Pour sélectionner un sujet-->
        <!-- <div class="col-md-6">
          <SubjectSelectorReunion
            :pays-name="paysName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />
        </div>
      </div> -->

      <!--Contenu principal-->
      <div class="row mt-4">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Bienvenue</h1>
              <p class="card-text">Votre base de connaissances open source et gratuite.</p>
              <p class="card-text">
                Cette application vous permet d'explorer La Réunion sous différentes thématiques : aménagement, économie,
                environnement, sport, population, tourisme.
              </p>
              <p class="card-text">Commencez votre voyage !</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <MapReunionClicMap />
          </div>
        </div>
      </div>
    </div>
    <!-- <FooterSection /> -->
  </div>
</template>

<script>
// import FooterSection from '../elements/FooterSection.vue'
// import HeaderSection from '../elements/HeaderSection.vue'
// import Breadcrumb from '../navigation/Breadcrumb.vue'
import MapReunionClicMap from '../maps/reunion/region/MapReunionClicMap.vue'
// import ScaleSelector from '../navigation/ScaleSelector.vue'
// import SubjectSelectorReunion from '../navigation/SubjectSelectorReunion.vue'

export default {
  name: 'HomePage',
  components: {
    // FooterSection,
    // HeaderSection,
    // Breadcrumb,
    MapReunionClicMap
    // ScaleSelector,
    // SubjectSelectorReunion
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    communeId: { type: Number, default: 22 },
    communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' }// Récupère le sujet depuis la route
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Accueil' } // Titre de la page
    ]
  },
  data () {
    return {
      showMainScaleSelector: true,
      localPaysName: this.paysName
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('Route changed', to.params)
      if (to.params.paysName) {
        this.localPaysName = to.params.paysName
      }
    }
  },
  mounted () {
    console.log('HomePage.vue - mounted')
    console.log('HomePage mounted, paysName', this.localPaysName)
    console.log('HomePage mounted, epciId', this.epciId)
    console.log('HomePage mounted, epciName', this.epciName)
    console.log('HomePage mounted, communeId', this.communeId)
    console.log('HomePage mounted, communeName', this.communeName)
    console.log('HomePage mounted, themeName', this.themeName)
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    gap: 0.5em;
  }

  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 1em;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
    border: 0.10em solid var(--dark-gray);
    border-radius: 1em;
  }

  h1 {
    margin: 1em;
  }

  p {
    margin: 1em;
  }

  img {
    width: 250px;
    height: auto;
    margin: 1em;
  }

  .card {
    border: none;
    /* background-color: var(--light-gray); */
  }

  .card-body {
    padding: 2rem;
  }

  .card-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }

  img {
    width: 5em;
    height: auto;
    margin: 0;
  }
}
</style>
