<!--PageSourcesApis.vue-->
<template>
  <div>
    <HeaderSection />
    <!-- <SearchBar></SearchBar> -->
    <div class="pageContainer">
      <simple-breadcrumb />
      <div class="dataContainer">
        <!--Navbar-->
        <nav>
          <div class="sortContainer">
            <h2>Rechercher</h2>
            <div class="selectContainer">
              <!--Tri par nom-->
              <label for="sortByName">Nom </label>
              <select
                id="sortByName"
                v-model="selectedSortName"
                @change="sortData"
              >
                <option value="">
                  Tous
                </option>
                <option
                  v-for="nom in getColumnValues('nom')"
                  :key="nom"
                  :value="nom"
                >
                  {{ nom }}
                </option>
              </select>
              <!--        Tri par catégorie-->
              <label for="sortByCategory">Catégorie </label>
              <select
                id="sortByCategory"
                v-model="selectedSortCategorie"
                @change="sortData"
              >
                <option value="">
                  Tous
                </option>
                <option
                  v-for="categorie in getColumnValues('categorie')"
                  :key="categorie"
                  :value="categorie"
                >
                  {{ categorie }}
                </option>
              </select>
              <!--Format-->
              <label for="sortByFormat">Format </label>
              <select
                id="sortByFormat"
                v-model="selectedSortFormat"
                @change="sortData"
              >
                <option value="">
                  Tous
                </option>
                <option
                  v-for="format in getColumnValues('format')"
                  :key="format"
                  :value="format"
                >
                  {{ format }}
                </option>
              </select>
              <!--Licence-->
              <label for="sortByLicence">Licence </label>
              <select
                id="sortByLicence"
                v-model="selectedSortLicence"
                @change="sortData"
              >
                <option value="">
                  Tous
                </option>
                <option
                  v-for="licence in getColumnValues('licence')"
                  :key="licence"
                  :value="licence"
                >
                  {{ licence }}
                </option>
              </select>
              <!--Fournisseur-->
              <label for="sortByFournisseur">Fournisseur </label>
              <select
                id="sortByFournisseur"
                v-model="selectedSortFournisseur"
                @change="sortData"
              >
                <option value="">
                  Tous
                </option>
                <option
                  v-for="fournisseur in getColumnValues('fournisseur')"
                  :key="fournisseur"
                  :value="fournisseur"
                >
                  {{ fournisseur }}
                </option>
              </select>
            </div>
          </div>
        </nav>
        <h1>Source des APIs</h1>
        <p>Voici les APIs que nous avons utilisées pour produire cette application</p>
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Catégorie</th>
              <th>Types de données</th>
              <th>Licence</th>
              <th>Fournisseur(s) de données</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="source in filteredSources"
              :key="source.id"
            >
              <td data-label="Nom">
                {{ source.nom }}
              </td>
              <td data-label="Catégorie">
                {{ source.categorie }}
              </td>
              <td data-label="Format">
                {{ source.format }}
              </td>
              <td data-label="Licence">
                {{ source.licence }}
              </td>
              <td data-label="Fournisseur">
                {{ source.fournisseur }}
              </td>
              <td data-label="URL">
                {{ source.url }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <FooterSection />
    </div>
  </div>
</template>

<script>
// import BreadCrumb from '../elements/BreadCrumb.vue'
import FooterSection from '../elements/FooterSection.vue'
import HeaderSection from '../elements/HeaderSection.vue'
import SimpleBreadcrumb from '../elements/SimpleBreadcrumb.vue'
// import SearchBar from '../elements/SearchBar.vue'

export default {
  name: 'PageSourcesApis',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Sources' } // Titre de la page
    ]
  },
  components: {
    HeaderSection,
    FooterSection,
    // SearchBar,
    // BreadCrumb
    SimpleBreadcrumb
  },
  data () {
    return {
      sources: [
        {
          id: 1,
          nom: 'Recensement de la population - Familles',
          categorie: 'social',
          format: 'numerique',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-TF4@GEO2023RP2020/COM-97411.1%2B2%2B3%2B4%2BENS'
        },
        {
          id: 2,
          nom: 'Les lieux remarquables de La Réunion',
          format: 'geographique',
          categorie: 'tourisme',
          licence: 'Licence Ouverte ETALAB',
          fournisseur: 'Système d\'Information Touristique (SIT) de l\'île de La Réunion)',
          url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/lieux-remarquables-lareunion-wssoubik/records?limit=100'
        },
        {
          id: 3,
          nom: 'Sites mobiles 5G à La Réunion',
          format: 'geographique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'ARCEP',
          url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=100'
        },
        {
          id: 4,
          nom: 'Les aires pour hélicoptères à La Réunion',
          format: 'geographique',
          categorie: 'aménagement',
          licence: 'Licence Ouverte ETALAB',
          fournisseur: 'Préfecture de La Réunion / AGORAH',
          url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/aires-helicopteres-lareunion/records?limit=100'
        },
        {
          id: 5,
          nom: 'Tourisme',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-ETOILE@GEO2022TOUR2023/COM-97411.ENS'
        },
        {
          id: 6,
          nom: 'Nombre de voitures par ménage',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-VOIT@GEO2023RP2020/COM-97411.0%2B1%2B2%2B3%2BENS'
        },
        {
          id: 7,
          nom: 'Etablissements du domaine sanitaire et social à La Réunion',
          format: 'numerique',
          categorie: 'sante',
          licence: 'Open License v2.0',
          fournisseur: 'Ministère des Solidarités et de la Santé, Etalab',
          url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-du-domaine-sanitaire-et-social-a-la-reunion/records?limit=100&offset=0'
        },
        {
          id: 8,
          nom: 'Liste des bassins de natation à La Réunion',
          format: 'numerique',
          categorie: 'sport',
          licence: 'Licence Ouverte (Etalab)',
          fournisseur: 'Direction des Sports',
          url: 'https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/data-bassin-de-natation/records?limit=100'
        },
        {
          id: 9,
          nom: 'Zones FILOSOFI, d\'au moins 50 ménages fiscaux ou plus de 100 personnes yc bassins de vie 2022',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-INDICS_FILO_DISP@GEO2023FILO2020_BV/COM-97411.1'
        },
        {
          id: 10,
          nom: 'Fichier localisé des rémunérations et de l\'emploi salarié (FLORES) 2020 - Activité économique en 17 postes',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-NA17@GEO2022FLORES2020/COM-97411.AZ%2BC1%2BC2%2BC3%2BC4%2BC5%2BDE%2BFZ%2BGZ%2BHZ%2BIZ%2BJZ%2BKZ%2BLZ%2BMN%2BOQ%2BRU%2BENSENS'
        },
        {
          id: 11,
          nom: 'Statut d\'occupation du logement (STOCD)',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-STOCD@GEO2023RP2020/COM-97411.10%2B21%2B22%2B23%2B30%2BENS'
        },
        {
          id: 12,
          nom: 'Emplacement réservé de stationnement (GARL)',
          format: 'numerique',
          categorie: 'economie',
          licence: 'Open License v2.0',
          fournisseur: 'INSEE',
          url: 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-GARL@GEO2023RP2020/COM-97411.1%2B2%2BENS'
        }

      ],
      selectedSortName: '', // Colonne Nom
      selectedSortCategorie: '', // Colonne Catégorie
      selectedSortFormat: '', // Colonne Format
      selectedSortLicence: '', // Colonne Licence
      selectedSortFournisseur: '' // Colonne Fournisseur
    }
  },
  computed: {
    filteredSources () {
      return this.sources.filter(source => this.filterData(source))
    }
  },
  methods: {
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.sources.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData () {
      this.sources.sort((a, b) => {
        // Tri par nom
        if (this.selectedSortName) {
          if (a.nom < b.nom) return -1
          if (a.nom > b.nom) return 1
        }
        // Tri par catégorie
        if (this.selectedSortCategorie) {
          if (a.categorie < b.categorie) return -1
          if (a.categorie > b.categorie) return 1
        }
        // Tri par format
        if (this.selectedSortFormat) {
          if (a.format < b.format) return -1
          if (a.format > b.format) return 1
        }
        // Tri par licence
        if (this.selectedSortLicence) {
          if (a.licence < b.licence) return -1
          if (a.licence > b.licence) return 1
        }
        // Tri par fournisseur
        if (this.selectedSortFournisseur) {
          if (a.fournisseur < b.fournisseur) return -1
          if (a.fournisseur > b.fournisseur) return 1
        }
        // Aucun tri
        return 0
      })
    },
    filterData (source) {
      return (
        (!this.selectedSortName || source.nom === this.selectedSortName) &&
        (!this.selectedSortCategorie || source.categorie === this.selectedSortCategorie) &&
        (!this.selectedSortFormat || source.format === this.selectedSortFormat) &&
        (!this.selectedSortLicence || source.licence === this.selectedSortLicence) &&
        (!this.selectedSortFournisseur || source.fournisseur === this.selectedSortFournisseur)
      )
    }
  }
}

</script>

  <style scoped>
  /**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .pageContainer {
    position: absolute;
    top: 12%;
    left: 0;
    margin: 0;
    width: 100%;
    height: max-content;
    overflow: scroll;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
  }

  h1 {
    margin: 1em;
  }

  p {
    margin: 1em;
  }

  .sortContainer {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    margin: 0;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    border-radius: 1em;
    padding: 1em;
    width: 15%;
  }

  option {
    padding: 1em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
    overflow-x: auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: var(--dark-gray);
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }
}

 /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: right;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

}

</style>
