<!--Page Not Found 404-->

<template>
  <div>
    <HeaderSection />
    <div class="pageContainer">
      <div class="notFoundContainer">
        <div class="number404">
          <span>4</span>
          <font-awesome-icon icon="fa-solid fa-earth-africa" />
          <span>4</span>
        </div>
        <div class="text404">
          <p>La page que vous recherchez n'existe pas.</p>
          <button><a href="/home">Retour à la page d'accueil</a></button>
        </div>
      </div>
      <FooterSection />
    </div>
  </div>
</template>

<script>
import FooterSection from '../elements/FooterSection.vue'
import HeaderSection from '../elements/HeaderSection.vue'

export default {
  name: 'PageNotFound',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: '404' } // Titre de la page
    ]
  },
  components: {
    HeaderSection,
    FooterSection
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .notFoundContainer {
    top: 0;
    margin: 1em auto;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
  }

/* main {
  top: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-family: 'Roboto', sans-serif;
} */

.notFoundContainer .number404 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}

.notFoundContainer .number404 span {
  font-weight: bold;
  margin: 0.10em;
}

.notFoundContainer .number404 i {
  font-size: 10rem;
  color: var(--primary-color);
}

.notFoundContainer .text404 {
  margin-top: 20px;
  font-size: 2.5rem;
}

.notFoundContainer .text404 p {
  font-size: 1.5rem;
  color: white;
}

.notFoundContainer .text404 button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.notFoundContainer .text404 button:hover {
  color: var(--primary-color);
  background-color: white;
}

.notFoundContainer .text404 button a {
  color: white;
  text-decoration: none;
}

.notFoundContainer .text404 button a:hover {
  color: var(--primary-color);
}

}
/**Affichage pour mocile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .notFoundContainer {
    top: 25%;
    margin: 1em auto;
    position: relative;
    width: 45em;
    height: 45em;
  }

  .notFoundContainer .number404 {
    font-size: 5rem;
  }

  .notFoundContainer .number404 i {
    font-size: 4rem;
  }

  .notFoundContainer .number404 p {
    font-size: 1rem;
  }
}
</style>
