<!--MapEpci.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Carte des Epcis</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
    </div>
  </div>
</template>

<script>
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
import axios from 'axios'
import GeoJSON from 'ol/format/GeoJSON'
// import { Point, Polygon } from 'ol/geom'
// import Feature from 'ol/Feature'
import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import Text from 'ol/style/Text'
// import Overlay from 'ol/Overlay'
// import CircleStyle from 'ol/style/Circle'
// import proj4 from 'proj4'

export default {
  name: 'MapEpci',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  props: {
    epciId: Number,
    epciName: String,
    latitude: Number,
    longitude: Number,
    epciTheme: String
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null
      // epciId: null,
      // epciName: null
    }
  },
  mounted () {
    // useGeographic sert à travailler avec les coordonnées [longitude, latitude]
    useGeographic()

    // Appeler la fonction d'initialisation de la carte ici
    this.initializeMap()
  },
  methods: {
    loadGeoJSONData () {
      axios
        .get('http://localhost:3000/epciGeojsonData', { timeout: 20000 })
        .then(response => {
          const vectorSource = this.vectorSource
          vectorSource.clear() // Effacer les données précédentes si nécessaires

          if (response.data && response.data.features) {
            console.log('Voici les données reçues : ', response.data.features)

            const features = response.data.features.map(result => {
              // Vérifiez si le type est correctement défini
              if (result.geometry && result.geometry.type === 'MultiPolygon') {
                // Lire les caractèristiques du résultat
                const feature = new GeoJSON().readFeature(result)

                // Vérifier si 'properties' est défini avant d'accéder à 'NOM'
                const nom = result.properties.NOM ? result.properties.NOM : ''

                // Créer un style de texte
                const textStyle = new Text({
                  text: nom, // Nom de l'EPCI
                  font: '12px Calibri, sans-serif',
                  overflow: true,
                  fill: new Fill({
                    color: 'rgba(0, 0, 0, 1.0)'
                  }),
                  stroke: new Stroke({
                    color: 'rgba(255, 255, 255, 0.8)',
                    width: 2
                  })
                })

                // Appliquer le style de texte à la feature
                feature.setStyle(new Style({
                  stroke: new Stroke({
                    color: 'rgba(0, 0, 255, 1.0)',
                    width: 3
                  }),
                  fill: new Fill({
                    color: 'rgba(0, 0, 255, 0.4)'
                  }),
                  text: textStyle
                }))
                return feature
              } else {
                // Gérer le cas où le type est incorrect
                console.warn('Type GeoJSON non pris en charge :', result.geo_shape.type)
                return null // Ou créer une fonction vide
              }
            })
            // Ajouter les fonctionnalités à la couche vectorielle
            vectorSource.addFeatures(features)
            // Supprimer les fonctionnalités nulles, le cas échéant
            // const validFeatures = features.filter(feature => feature !== null)
            // vectorSource.addFeatures(validFeatures)

            // featureProjection: 'EPSG:4326', // Ajuster la projection
            // geometryName: 'geometry' // Indique où se trouvent les géométries
            console.log('Fonctionnalités ajoutées à la couche', vectorSource.getFeatures())
          } else {
            console.error('Données GeoJSON manquantes dans la réponse de l\'API')
          }
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données GeoJSON', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer une source vectorielle pour charger des données GeoJSON
      this.vectorSource = new VectorSource({
        format: new GeoJSON(),
        url: function (extent) {
          return 'http://localhost:3000/epciGeojsonData'
        }
      })

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const epci = new VectorLayer({
        source: this.vectorSource,
        style: new Style({
          stroke: new Stroke({
            color: 'rgba(255, 120, 255, 1.0)',
            width: 3
          }),
          fill: new Fill({
            color: 'rgba(255, 0, 0, 0.4)'
          })
        })
      })

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          epci
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Charger les données GeoJSON
      this.loadGeoJSONData()
    }
  }
}

</script>

  <style>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
   width: 1200px;
   height: 500px;
   margin: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-width: 1200px;
   height: 100%;
   margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
   width: 100%;
   max-width: 1200px;
   height: 500px;
   margin: 0;
  }
}
</style>
