<template>
  <div id="app">
    <div class="dataContainer">
      <simple-breadcrumb
        :pays-name="paysName"
        :theme-name="themeName"
        :subject-name="subjectName"
      />
      <h1>Cliquez sur la carte</h1>
      <div :is="selectMap()">
        <div
          v-if="selectMap() === 'MapEpciCasud'"
          id="mapCasud"
          class="map"
        >
          <MapEpciCasud
            :epci-id="$props.epciId"
            :epci-name="$props.epciName"
          />
        </div>
        <div
          v-if="selectMap() === 'MapEpciTco'"
          id="mapTco"
          class="map"
        >
          <MapEpciTco
            :epci-id="$props.epciId"
            :epci-name="$props.epciName"
          />
        </div>
        <div
          v-if="selectMap() === 'MapEpciCirest'"
          id="mapCirest"
          class="map"
        >
          <MapEpciCirest
            :epci-id="$props.epciId"
            :epci-name="$props.epciName"
          />
        </div>
        <div
          v-if="selectMap() === 'MapEpciCivis'"
          id="mapCivis"
          class="map"
        >
          <MapEpciCivis
            :epci-id="$props.epciId"
            :epci-name="$props.epciName"
          />
        </div>
        <div
          v-if="selectMap() === 'MapEpciCinor'"
          id="mapCinor"
          class="map"
        >
          <MapEpciCinor
            :epci-id="$props.epciId"
            :epci-name="$props.epciName"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MapEpciCasud from '../maps/MapEpciCasud.vue'
import MapEpciTco from '../maps/MapEpciTco.vue'
import MapEpciCirest from '../maps/MapEpciCirest.vue'
import MapEpciCivis from '../maps/MapEpciCivis.vue'
import MapEpciCinor from '../maps/MapEpciCinor.vue'

export default {
  name: 'CarteEpci',
  components: {
    MapEpciCasud,
    MapEpciTco,
    MapEpciCirest,
    MapEpciCivis,
    MapEpciCinor
  },
  props: {
    epciId: Number,
    epciName: String,
    latitude: Number,
    longitude: Number,
    epciTheme: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 },
        { id: 2, name: 'CINOR', latitude: -20.9429, longitude: 55.4638 },
        { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 },
        { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 },
        { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }
      ]
    }
  },
  methods: {
    selectMap () {
      // Récupérez les coordonnées de l'EPCI depuis les props
    //   const { latitude, longitude } = this
      const { epciId, epciName } = this.$props
      console.log('Carte EPCI selectMap, epciId', this.epciId)
      console.log('Carte EPCI selectMap, epciName', this.epciName)

      // Comparez les coordonnées et sélectionnez la carte appropriée
      //   if (latitude === -21.3365 && longitude === 55.6719) {
      //     return 'MapEpciCasud'
      //   } else if (latitude === -21.9429 && longitude === 55.4638) {
      //     return 'MapEpciCinor'
      //   } else if (latitude === -21.0729 && longitude === 55.6161) {
      //     return 'MapEpciCirest'
      //   } else if (latitude === -21.2523 && longitude === 55.4018) {
      //     return 'MapEpciCivis'
      //   } else if (latitude === -21.0554 && longitude === 55.3074) {
      //     return 'MapEpciTco'
      //   }
      if (epciId === 1 && epciName === 'CASUD') {
        return 'MapEpciCasud'
      } else if (epciId === 2 && epciName === 'CINOR') {
        return 'MapEpciCinor'
      } else if (epciId === 3 && epciName === 'CIREST') {
        return 'MapEpciCirest'
      } else if (epciId === 4 && epciName === 'CIVIS') {
        return 'MapEpciCivis'
      } else if (epciId === 5 && epciName === 'TCO') {
        return 'MapEpciTco'
      }
      // Si les coordonnées ne correspondent à aucune carte connue
      return 'MapEpciDefault'
    }
  }
}
</script>

<style scoped>
    .pageContainer {
        position: absolute;
        top: 12em;
        left: 25em;
        right: 0;
        width: 70%;
        height: 100%;
    }

    .dataContainer {
        width: 100%;
        height: max-content;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin: 1em;
    }

    #map {
        width: 100%;
        height: max-content;
    }

        /**Affichage pour mobile et tablette */
        @media screen and (min-width: 320px) and (max-width: 768px) {

}
</style>
