<!--MapEpciBassinNat.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les bassins de natation</h2>
      <div id="map">
        <!--La carte s'affiche ici-->
      </div>
      <div class="legend">
        <h3>Légende</h3>
        <ul>
          <li>
            <span
              class="legendItem"
              style="background-color: yellow"
            />
            <span>Bassin mixte de natation</span>
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: blue"
            />
            <span>Bassin ludique de natation</span>
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: green"
            />
            <span>Bassin sportif de natation</span>
          </li>
          <li>
            <span
              class="legendItem"
              style="background-color: red"
            />
            <span>Bassin de réception de toboggan</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import 'ol/ol.css'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'
import VectorSource from 'ol/source/Vector.js'
import { Vector as VectorLayer } from 'ol/layer.js'
import { useGeographic } from 'ol/proj'
// import Style from 'ol/style/Style'
import Stroke from 'ol/style/Stroke'
import Fill from 'ol/style/Fill'
import CircleStyle from 'ol/style/Circle'
import Text from 'ol/style/Text'
import GeoJSON from 'ol/format/GeoJSON'
import Style from 'ol/style/Style'

export default {
  name: 'MapEpciBassinNat',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Bassins de natation à La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      // Déclaration de la variable map
      map: null,
      vectorLayer: null,
      epciId: null,
      epciName: null
    }
  },
  mounted () {
    // Méthode pour initialiser la carte
    this.initializeMap()
  },
  methods: {
    loadMapData () {
      axios
        .get('https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/data-bassin-de-natation/records?limit=100', { timeout: 20000 })
        .then(response => {
          console.log('Données de l\'API des bassins de natations: ', response.data)
          // Transformez les données en GeoJSON
          const geojsonFeatures = response.data.results.map(result => {
            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [
                  result.coordonnees.lon,
                  result.coordonnees.lat
                ]
              },
              properties: {
                nom_de_l_installation_sportive: result.nom_de_l_installation_sportive,
                numero_type_et_nom_de_la_voie: result.numero_type_et_nom_de_la_voie,
                commune: result.commune,
                code_insee_de_la_commune: result.code_insee_de_la_commune,
                type_d_equipement_sportif: result.type_d_equipement_sportif,
                famille_d_equipement_sportif: result.famille_d_equipement_sportif
              }
            }
          })

          console.log('Features GeoJSON : ', geojsonFeatures)

          // Ajouter les features GeoJSON à la source vectorielle
          this.vectorSource.clear() // Effacez les anciennes données si nécessaire
          this.vectorSource.addFeatures(new GeoJSON().readFeatures({
            type: 'FeatureCollection',
            features: geojsonFeatures
          }))
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des données : ', error)
        })
    },

    loadLocalData (vectorSource) {
      axios
        .get('http://localhost:3000/epciGeojsonData', { timeout: 30000 })
        .then(response => {
          vectorSource.clear() // Effacer les données précédentes si nécessaires

          if (response.data && response.data.results) {
            console.log('Voici les données reçues : ', response.data.results)

            const features = response.data.results.map(result => {
              // Vérifiez si le type est correctement défini
              if (result.geo_shape && result.geo_shape.type === 'Feature') {
                // Lire les caractèristiques du résultat
                return new GeoJSON().readFeature(result.geo_shape.geometry)
              } else {
                // Gérer le cas où le type est incorrect
                console.warn('Type GeoJSON non pris en charge :', result.geo_shape.type)
                return null // Ou créer une fonction vide
              }
            })

            // Supprimer les fonctionnalités nulles, le cas échéant
            const validFeatures = features.filter(feature => feature !== null)
            vectorSource.addFeatures(validFeatures)

            // featureProjection: 'EPSG:4326', // Ajuster la projection
            // geometryName: 'geometry' // Indique où se trouvent les géométries
            console.log('Fonctionnalités ajoutées à la couche', vectorSource.getFeatures())
          } else {
            console.error('Données GeoJSON locales manquantes dans la réponse de l\'API')
          }
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données GeoJSON', error)
        })
    },
    initializeMap () {
      // Définir la vue
      useGeographic()
      const views = new View({
        center: [55.536384, -21.115141],
        zoom: 10
      })

      // Créer une couche de base avec Open Street Map
      const baseLayer = new TileLayer({
        source: new OSM()
      })

      // Créer la couche avec l'API Région Réunion
      // Créer une source vectorielle vide pour charger des données GeoJSON
      this.vectorSource = new VectorSource()

      // Créer un objet pour mapper les valeurs de type_d_equipement_sportif
      const typeColors = {
        'Bassin mixte de natation': 'yellow',
        'Bassin ludique de natation': 'blue',
        'Bassin sportif de natation': 'green',
        'Bassin de réception de toboggan': 'red'
      }

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const bassins = new VectorLayer({
        source: this.vectorSource
      })

      // Créer une fonction de style conditionnelle pour les points
      const styleFunction = (feature) => {
        const type = feature.get('type_d_equipement_sportif')
        const color = typeColors[type] || 'gray'

        // Créer un style de cercle
        const circleStyle = new CircleStyle({
          radius: 5, // Rayon du cercle
          fill: new Fill({
            color
          }),
          stroke: new Stroke({
            color: 'black',
            width: 1
          })
        })

        // Créer un style de texte pour les éqtiquettes
        const textStyle = new Text({
          text: feature.get('nom_de_l_installation_sportive'),
          fill: new Fill({
            color: 'black'
          }),
          backgroundFill: new Fill({
            color: 'white'
          }),
          offsetY: -10, // Position verticale de l'étiquette
          textAlign: 'center',
          font: '12px Arial',
          minResolution: 10 // Niveau de zoom minimam à partir duquel l'étiquerre sera visible
        })

        // Retournez à la fois le style du cercle et le style du texte
        return new Style({
          image: circleStyle,
          text: textStyle
        })
      }

      // Affecter le style à la couche vectorielle
      bassins.setStyle(styleFunction)

      // Créer la couche avec l'API en backend local

      // Créer une source vectorielle pour charger des données GeoJSON
      const localVectorSource = new VectorSource({
        format: new GeoJSON(),
        url: function (extent) {
          return 'http://localhost:3000/epciGeojsonData'
        }
      })

      // Créer une couche vectorielle pour afficher les données chargées depuis le source
      const epciLocalLayer = new VectorLayer({
        source: localVectorSource,
        style: new Style({
          stroke: new Stroke({
            color: 'rgba(219, 49, 75, 1.0)',
            width: 3
          }),
          fill: new Fill({
            color: 'rgba(219, 49, 75, 0.4)'
          })
        })
      })

      // Créer la carte Open Layers en utilisant les couches, la vue et la cible
      this.map = new Map({
        layers: [
          baseLayer,
          bassins
        ],
        target: 'map', // L'élément DOM avec l'ID map est utilisé comme cible
        view: views

      })

      // Ajouter la nouvelle couche à la liste des couches à la carte
      this.map.addLayer(epciLocalLayer)

      // Charger les données GeoJSON
      this.loadMapData()
      // Charger les données du backend local
      this.loadLocalData(localVectorSource)
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
    width: 1000px;
    height: 800px;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0.5em;
  }

  .legend {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .legendItem {
    width: 50px;
    height: 1em;
    border: 0.25em solid black;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  #map {
    width: 1000px;
    height: 800px;
    margin: 0;
  }
}
</style>
