<!--DataReunionPopLeg.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Populations légales des communes de La Réunion en 2020</h2>

      <h3>Définition</h3>
      <p>D'après l'<a href="https://www.insee.fr/fr/information/2553979">INSEE</a>, la <strong>population légale</strong> comprend les personnes ayant leur résidence habituelle sur le territoire de la commune.</p>
      <p>La <strong>population comptée à part</strong> comprend certaines personnes dont la résidence habituelle est dans une autre commune mais qui gardent un lien de résidence avec la commune.</p>
      <p>La <strong>population totale</strong> est la somme de la population municipale et de la population comptée à part.</p>

      <!--Tableau des données-->
      <div class="table-responsive">
        <table
          v-if="apiData.length"
          class="table"
        >
          <thead>
            <tr>
              <th>Commune</th>
              <th>Population municipale</th>
              <th>Population comptée à part</th>
              <th>Population totale</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(commune, index) in apiData"
              :key="index"
            >
              <td data-label="Commune">
                {{ commune.communeName || '' }}
              </td>
              <td data-label="Population municpale">
                {{ commune.populationMunicipale || '' }}
              </td>
              <td data-label="Population comptée à part">
                {{ commune.populationCompteeAPart || '' }}
              </td>
              <td data-label="Population totale">
                {{ commune.populationTotale || '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Source : API INSEE - Données Locales -Recencement de la population 2020 - Populations légales</p>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'

export default {
  name: 'DataReunionPopLeg',
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      // Tableau pour stocker les données pour plusieurs communes
      apiData: []
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424'
    ]
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-IND_POPLEGALES@POPLEG2020/COM-${communeCode}.1`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communesData = {
            communeName: parsedData.Donnees.Zone.Millesime.Nccenr,
            populationMunicipale: parsedData.Donnees.Cellule[0].Valeur,
            populationCompteeAPart: parsedData.Donnees.Cellule[1].Valeur,
            populationTotale: parsedData.Donnees.Cellule[2].Valeur
          }
          console.log(communesData)
          return communesData
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: transparent; /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 1200px;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    background: var(--light-gray);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 0.5em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    /* background: var(--light-gray); */
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  tr:hover {
    background-color: transparent;
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    color: var(--dark-gray);
  }
}
</style>
