<template>
  <div id="app">
    <div class="dataContainer">
      <h1>L'aspect du bâti à La Réunion</h1>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le graphique ApexChart-->
      <div id="chart">
        <apexchart
          v-if="chartOptions.series.length > 0"
          type="bar"
          height="350"
          :options="chartOptions"
          :series="series"
        />
      </div>
      <p>Source : API INSEE - Données Locales - Recensement de la population 2020 - Aspect du bâti (BATI)</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import config from '../../../../config.json'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import ApexCharts from 'apexcharts'

export default {
  name: 'GraphApexChartBati',
  components: {
    PulseLoader,
    apexchart: ApexCharts
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false, // Ajout de la variable d'état isLoading
      chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '0.75em',
                  fontWeight: 900
                }
              }
            }
          }
        },
        xaxis: {
          type: 'category',
          categories: this.getCommunes() // Afficher le nom des communes sur l'axe des X
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        },
        series: [] // Intialisation avec un tableau vide
      }
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    // Initialiser la série du graphique
    this.chartOptions.series = []
    // Appeler la fonction getCommunes en passant les codes des communes comme paramètre
    this.communes = this.getCommunes(communeCodes)
    // Obtenir les données pour chaque commune
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        // const token = process.env.TOKEN_INSEE || 'token'
        const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-BATI@GEO2023RP2020/COM-${communeCode}.1%2B2%2B3%2B4%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          },
          timeout: 10000
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr

          const habFortune = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const casesTradi = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const enBois = parseInt(parsedData.Donnees.Cellule[3].Valeur)
          const enDur = parseInt(parsedData.Donnees.Cellule[4].Valeur)
          const ensemble = parseInt(parsedData.Donnees.Cellule[0].Valeur)
          const communesData = [
            communeName,
            habFortune,
            casesTradi,
            enBois,
            enDur,
            ensemble
          ]
          // Créer un tableau d'objet
          const communesArray = Array.isArray(communesData) ? communesData : [communesData]
          console.log('Voici le tableau des communes')
          console.log(communesArray)
          const communeObject = {
            commune: communeName,
            habFortune,
            casesTradi,
            enBois,
            enDur,
            ensemble
          }
          this.apiData.push(communeObject)
          return {
            commune: communeName,
            habFortune,
            casesTradi,
            enBois,
            enDur,
            ensemble
          }
        }
      } catch (error) {
        // Gestionnaire d'erreur personnalisé
        if (axios.isCancel(error)) {
          console.error('La demande Axios a été annulée en raison du dépassement du délai')
        } else {
          console.error('Erreur lors de la récupération des données de l\'API', error)
        }
      }
      return null
    },
    // async getCommunes () {
    //   const apiData = []
    //   // Logique pour obtenir le nom des communes
    //   const communeNames = [
    //     'Les Avirons'
    //   ]
    //   return communeNames
    // },
    // A corriger
    //   for (const code of this.communeCodes) {
    //     const data = await this.fetchDataForCommune(code)
    //     if (data) {
    //       apiData.push({
    //         commune: data.commune,
    //         habFortune: data.habFortune,
    //         casesTradi: data.casesTradi,
    //         enBois: data.enBois,
    //         enDur: data.enDur
    //       })
    //     }
    //   }
    //   return apiData.map(item => item.commune)
    // },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
      this.isLoading = false // Indique que le chargement est terminé

      // Maintenant que les données sont chargées, on peut définir la série
      this.chartOptions.series = this.apiData.map((commune) => ({
        name: commune.commune,
        data: [commune.habFortune, commune.casesTradi, commune.enBois, commune.enDur]
      }))

      // Transformez les données JSON en un tableau de données utilisable
      //   const formattedData = this.apiData.map((commune) => ({
      //     commune: commune.commune,
      //     habFortune: commune.habFortune,
      //     casesTradi: commune.casesTradi,
      //     enBois: commune.enBois,
      //     enDur: commune.enDur,
      //     ensemble: commune.ensemble
      //   }))

      //   this.apiData = formattedData

      // Afficher les données récupérées
      console.log('Voici les données de apiData formatées en tableau : ', apiData)
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>
  .pageContainer {
    position: absolute;
    top: 12em;
    left: 25em;
    right: 0;
    width: 70%;
    height: 80vh;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
  }

  .loadingSpinner {
    width: 70%;
    height: 500px;
    padding: 5em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }
</style>
