<template>
  <div id="app">
    <apexchart
      type="bar"
      height="400"
      width="1000"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
export default {
  name: 'GraphApexChart',
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      series: [
        {
          name: 'Habitations de fortune',
          data: [44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43]
        },
        {
          name: 'Cases traditionnelles',
          data: [44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43]
        },
        {
          name: 'Habitations en bois',
          data: [44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43]
        },
        {
          name: 'Habitations en dur',
          data: [44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43, 44, 55, 41, 67, 22, 43]
        }
      ],
      chartOptions: {
        chart: {
          type: 'bar',
          height: 400,
          width: 1000,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          }
        },
        xaxis: {
          categories: [
            'Les Avirons',
            'Bras Panon',
            'Entre-Deux',
            'Etang-Salé',
            'Petite-Ile',
            'La Plaine des Palmistes',
            'Le Port',
            'La Possession',
            'Saint-André',
            'Saint-Benoît',
            'Saint-Denis',
            'Saint-Joseph',
            'Saint-Leu',
            'Saint-Louis',
            'Saint-Paul',
            'Saint-Pierre',
            'Saint-Philippe',
            'Sainte-Marie',
            'Sainte-Rose',
            'Sainte-Suzanne',
            'Salazie',
            'Le Tampon',
            'Trois-Bassins',
            'Cilaos'
          ],
          width: 1000
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
      }
    }
  }
}
</script>

<style>

</style>
