<template>
  <div ref="chartContainer" />
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'GraphD3',
  data () {
    return {
      chart: null
    }
  },
  mounted () {
    this.createChart()
  },
  methods: {
    createChart () {
    //   chart = {
      // Specify the chart’s dimensions.
      const width = 928
      const height = 600
      const marginTop = 10
      const marginRight = 10
      const marginBottom = 20
      const marginLeft = 40

      const data = [
        {
          id: 0,
          state: 'CA',
          age: '<10',
          population: 5038433
        },
        {
          id: 1,
          state: 'TX',
          age: '<10',
          population: 3983091
        },
        {
          id: 2,
          state: 'FL',
          age: '<10',
          population: 2211012
        },
        {
          id: 3,
          state: 'NY',
          age: '<10',
          population: 2319945
        },
        {
          id: 4,
          state: 'IL',
          age: '<10',
          population: 1619682
        },
        {
          id: 5,
          state: 'PA',
          age: '<10',
          population: 1458931
        },
        {
          id: 6,
          state: 'CA',
          age: '10-19',
          population: 5170341
        },
        {
          id: 7,
          state: 'TX',
          age: '10-19',
          population: 3910528
        },
        {
          id: 8,
          state: 'FL',
          age: '10-19',
          population: 2331102
        },
        {
          id: 9,
          state: 'NY',
          age: '10-19',
          population: 2445591
        },
        {
          id: 10,
          state: 'IL',
          age: '10-19',
          population: 1715984
        },
        {
          id: 11,
          state: 'PA',
          age: '10-19',
          population: 1608018
        },
        {
          id: 12,
          state: 'CA',
          age: '20-29',
          population: 5809455
        },
        {
          id: 13,
          state: 'TX',
          age: '20-29',
          population: 3946447
        },
        {
          id: 14,
          state: 'FL',
          age: '20-29',
          population: 2597830
        },
        {
          id: 15,
          state: 'NY',
          age: '20-29',
          population: 2894266
        },
        {
          id: 16,
          state: 'IL',
          age: '20-29',
          population: 1789739
        },
        {
          id: 17,
          state: 'PA',
          age: '20-29',
          population: 1712448
        },
        {
          id: 18,
          state: 'CA',
          age: '30-39',
          population: 5354112
        },
        {
          id: 19,
          state: 'TX',
          age: '30-39',
          population: 3770534
        },
        {
          id: 20,
          state: 'FL',
          age: '30-39',
          population: 2416176
        },
        {
          id: 21,
          state: 'NY',
          age: '30-39',
          population: 2605355
        },
        {
          id: 22,
          state: 'IL',
          age: '30-39',
          population: 1721954
        },
        {
          id: 23,
          state: 'PA',
          age: '30-39',
          population: 1520409
        },
        {
          id: 24,
          state: 'CA',
          age: '40-49',
          population: 5179258
        },
        {
          id: 25,
          state: 'TX',
          age: '40-49',
          population: 3545746
        },
        {
          id: 26,
          state: 'FL',
          age: '40-49',
          population: 2575576
        },
        {
          id: 27,
          state: 'NY',
          age: '40-49',
          population: 2617327
        },
        {
          id: 28,
          state: 'IL',
          age: '40-49',
          population: 1697069
        },
        {
          id: 29,
          state: 'PA',
          age: '40-49',
          population: 1645291
        },
        {
          id: 30,
          state: 'CA',
          age: '50-59',
          population: 5042094
        },
        {
          id: 31,
          state: 'TX',
          age: '50-59',
          population: 3344930
        },
        {
          id: 32,
          state: 'FL',
          age: '50-59',
          population: 2762983
        },
        {
          id: 33,
          state: 'NY',
          age: '50-59',
          population: 2755620
        },
        {
          id: 34,
          state: 'IL',
          age: '50-59',
          population: 1773366
        },
        {
          id: 35,
          state: 'PA',
          age: '50-59',
          population: 1881378
        },
        {
          id: 36,
          state: 'CA',
          age: '60-69',
          population: 3737461
        },
        {
          id: 37,
          state: 'TX',
          age: '60-69',
          population: 2431494
        },
        {
          id: 38,
          state: 'FL',
          age: '60-69',
          population: 2404659
        },
        {
          id: 39,
          state: 'NY',
          age: '60-69',
          population: 2095207
        },
        {
          id: 40,
          state: 'IL',
          age: '60-69',
          population: 1326121
        },
        {
          id: 41,
          state: 'PA',
          age: '60-69',
          population: 1491536
        },
        {
          id: 42,
          state: 'CA',
          age: '70-79',
          population: 2011678
        },
        {
          id: 43,
          state: 'TX',
          age: '70-79',
          population: 1291486
        },
        {
          id: 44,
          state: 'FL',
          age: '70-79',
          population: 1615547
        },
        {
          id: 45,
          state: 'NY',
          age: '70-79',
          population: 1160055
        },
        {
          id: 46,
          state: 'IL',
          age: '70-79',
          population: 728821
        },
        {
          id: 47,
          state: 'PA',
          age: '70-79',
          population: 850897
        },
        {
          id: 48,
          state: 'CA',
          age: '≥80',
          population: 1311374
        },
        {
          id: 49,
          state: 'TX',
          age: '≥80',
          population: 732179
        },
        {
          id: 50,
          state: 'FL',
          age: '≥80',
          population: 1019566
        },
        {
          id: 51,
          state: 'NY',
          age: '≥80',
          population: 804091
        },
        {
          id: 52,
          state: 'IL',
          age: '≥80',
          population: 478948
        },
        {
          id: 53,
          state: 'PA',
          age: '≥80',
          population: 615069
        }
      ]

      // Prepare the scales for positional and color encodings.
      // Fx encodes the state.
      const fx = d3.scaleBand()
        .domain(new Set(data.map(d => d.state)))
        .rangeRound([marginLeft, width - marginRight])
        .paddingInner(0.1)

      // Both x and color encode the age class.
      const ages = new Set(data.map(d => d.age))

      const x = d3.scaleBand()
        .domain(ages)
        .rangeRound([0, fx.bandwidth()])
        .padding(0.05)

      const color = d3.scaleOrdinal()
        .domain(ages)
        .range(d3.schemeSpectral[ages.size])
        .unknown('#ccc')

      // Y encodes the height of the bar.
      const y = d3.scaleLinear()
        .domain([0, d3.max(data, d => d.population)]).nice()
        .rangeRound([height - marginBottom, marginTop])

      // A function to format the value in the tooltip.
      // const formatValue = x => isNaN(x) ? 'N/A' : x.toLocaleString('en')

      // Create the SVG container.
      const svg = d3.create('svg')
        .attr('width', width)
        .attr('height', height)
        .attr('viewBox', [0, 0, width, height])
        .attr('style', 'max-width: 100%; height: auto;')

      // Append a group for each state, and a rect for each age.
      svg.append('g')
        .selectAll()
        .data(d3.group(data, d => d.state))
        .join('g')
        .attr('transform', ([state]) => `translate(${fx(state)},0)`)
        .selectAll()
        .data(([, d]) => d)
        .join('rect')
        .attr('x', d => x(d.age))
        .attr('y', d => y(d.population))
        .attr('width', x.bandwidth())
        .attr('height', d => y(0) - y(d.population))
        .attr('fill', d => color(d.age))

      // Append the horizontal axis.
      svg.append('g')
        .attr('transform', `translate(0,${height - marginBottom})`)
        .call(d3.axisBottom(fx).tickSizeOuter(0))
        .call(g => g.selectAll('.domain').remove())

      // Append the vertical axis.
      svg.append('g')
        .attr('transform', `translate(${marginLeft},0)`)
        .call(d3.axisLeft(y).ticks(null, 's'))
        .call(g => g.selectAll('.domain').remove())

      // Ajouter le SVG au conteneur
      this.$refs.chartContainer.appendChild(svg.node())

      // Retourner le graphique avec l'échelle des couleurs comme une propriété (légende)
      return Object.assign(svg.node(), { scales: { color } })
    }
  }
}
</script>

<style scoped>
</style>
