<!--GraphEpciBati.vue-->

<template>
  <div id="app">
    <apexchart
      type="bar"
      height="800"
      width="1000"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
export default {
  name: 'GraphEpciBati',
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      series: [
        {
          name: 'Habitations de fortune',
          data: [
            25, // Les Avirons
            36, // Bras Panon
            6, // Entre Deux
            42, // Etang Salé
            21, // Petite Ile
            7, // Plaine des Palmistes
            76, // Port
            96, // Possession
            130, // Saint André
            83, // Saint Benoît
            280, // Saint-Denis
            114, // Saint-Joseph
            64, // Saint-Leu
            82, // Saint-Louis
            327, // Saint-Paul
            237, // Saint-Pierre
            10, // Saint-Philippe
            57, // Sainte-Marie
            66, // Sainte-Rose
            36, // Sainte-Suzanne
            55, // Salazie
            86, // Tampon
            23, // Trois Bassins
            10 // Cilaos
          ]
        },
        {
          name: 'Cases traditionnelles',
          data: [
            300, // Les Avirons
            617, // Bras Panon
            140, // Entre Deux
            335, // Etang Salé
            514, // Petite Ile
            159, // Plaine des Palmistes
            401, // Port
            1136, // Possession
            1131, // Saint André
            878, // Saint Benoît
            2295, // Saint-Denis
            821, // Saint-Joseph
            1591, // Saint-Leu
            1318, // Saint-Louis
            3538, // Saint-Paul
            1641, // Saint-Pierre
            201, // Saint-Philippe
            733, // Sainte-Marie
            386, // Sainte-Rose
            547, // Sainte-Suzanne
            472, // Salazie
            1964, // Tampon
            293, // Trois Bassins
            77 // Cilaos
          ]
        },
        {
          name: 'Habitations en bois',
          data: [
            251, // Les Avirons
            279, // Bras Panon
            210, // Entre Deux
            339, // Etang Salé
            188, // Petite Ile
            413, // Plaine des Palmistes
            154, // Port
            569, // Possession
            528, // Saint André
            570, // Saint Benoît
            1500, // Saint-Denis
            681, // Saint-Joseph
            803, // Saint-Leu
            1194, // Saint-Louis
            2011, // Saint-Paul
            1108, // Saint-Pierre
            116, // Saint-Philippe
            419, // Sainte-Marie
            98, // Sainte-Rose
            313, // Sainte-Suzanne
            339, // Salazie
            1545, // Tampon
            96, // Trois Bassins
            91 // Cilaos
          ]
        },
        {
          name: 'Habitations en dur',
          data: [
            4006, // Les Avirons
            4210, // Bras Panon
            2471, // Entre Deux
            4782, // Etang Salé
            4378, // Petite Ile
            1845, // Plaine des Palmistes
            11573, // Port
            11215, // Possession
            19228, // Saint André
            12356, // Saint Benoît
            62743, // Saint-Denis
            13775, // Saint-Joseph
            11328, // Saint-Leu
            17239, // Saint-Louis
            34027, // Saint-Paul
            30779, // Saint-Pierre
            1703, // Saint-Philippe
            11896, // Sainte-Marie
            1841, // Sainte-Rose
            7916, // Sainte-Suzanne
            1779, // Salazie
            29254, // Tampon
            2202, // Trois Bassins
            2094 // Cilaos
          ]
        }
      ],
      chartOptions: {
        chart: {
          type: 'bar',
          height: 400,
          width: 1000,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            width: '80%',
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '12px',
                  fontWeight: 900
                }
              }
            }
          }
        },
        // yaxis: {
        //   // Pour la première série
        //   axisTicks: {
        //     show: true
        //   },
        //   axisBorder: {
        //     show: true,
        //     color: '#008FFB'
        //   },
        //   labels: {
        //     style: {
        //       colors: '008FFB'
        //     }
        //   },
        //   title: {
        //     text: 'Logarithmic Scale',
        //     style: {
        //       color: '#008FFB'
        //     }
        //   },
        //   tooltip: {
        //     enabled: true
        //   },
        //   logarithmic: true // Active l'échelle logarithmique
        // },
        xaxis: {
          categories: [
            'Les Avirons',
            'Bras Panon',
            'Entre-Deux',
            'Etang-Salé',
            'Petite-Ile',
            'La Plaine des Palmistes',
            'Le Port',
            'La Possession',
            'Saint-André',
            'Saint-Benoît',
            'Saint-Denis',
            'Saint-Joseph',
            'Saint-Leu',
            'Saint-Louis',
            'Saint-Paul',
            'Saint-Pierre',
            'Saint-Philippe',
            'Sainte-Marie',
            'Sainte-Rose',
            'Sainte-Suzanne',
            'Salazie',
            'Le Tampon',
            'Trois-Bassins',
            'Cilaos'
          ],
          width: 1000
        },
        legend: {
          position: 'bottom',
          offsetY: 0
        },
        fill: {
          opacity: 1
        }
      },
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ]
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) and (max-width: 2560px) {
}
/**Affichage pour mocile et tablette */
@media screen and (min-width: 320px) and (max-width: 768px) {
}
</style>
