<!--GraphBatiTCO.vue-->

<template>
  <div id="app">
    <apexchart
      type="bar"
      height="800"
      width="1000"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
export default {
  name: 'GraphBatiTCO',
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      series: [
        {
          name: 'Habitations de fortune',
          data: [
            76, // Port
            96, // Possession
            64, // Saint-Leu
            327, // Saint-Paul
            23 // Trois Bassins
          ]
        },
        {
          name: 'Cases traditionnelles',
          data: [
            401, // Port
            1136, // Possession
            1591, // Saint-Leu
            3538, // Saint-Paul
            293 // Trois Bassins
          ]
        },
        {
          name: 'Habitations en bois',
          data: [
            154, // Port
            569, // Possession
            803, // Saint-Leu
            2011, // Saint-Paul
            96 // Trois Bassins
          ]
        },
        {
          name: 'Habitations en dur',
          data: [
            11573, // Port
            11215, // Possession
            11328, // Saint-Leu
            34027, // Saint-Paul
            2202 // Trois Bassins
          ]
        }
      ],
      chartOptions: {
        chart: {
          type: 'bar',
          height: 400,
          width: 1000,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            width: '80%',
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '12px',
                  fontWeight: 900
                }
              }
            }
          }
        },
        // yaxis: {
        //   // Pour la première série
        //   axisTicks: {
        //     show: true
        //   },
        //   axisBorder: {
        //     show: true,
        //     color: '#008FFB'
        //   },
        //   labels: {
        //     style: {
        //       colors: '008FFB'
        //     }
        //   },
        //   title: {
        //     text: 'Logarithmic Scale',
        //     style: {
        //       color: '#008FFB'
        //     }
        //   },
        //   tooltip: {
        //     enabled: true
        //   },
        //   logarithmic: true // Active l'échelle logarithmique
        // },
        xaxis: {
          categories: [
            'Le Port',
            'La Possession',
            'Saint-Leu',
            'Saint-Paul',
            'Trois-Bassins'
          ],
          width: 1000
        },
        legend: {
          position: 'bottom',
          offsetY: 0
        },
        fill: {
          opacity: 1
        }
      },
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ]
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) and (max-width: 2560px) {
}
/**Affichage pour mocile et tablette */
@media screen and (min-width: 320px) and (max-width: 768px) {
}
</style>
