<template>
  <div id="app">
    <div class="breadcrumbsContainer">
      <p>Vous êtes ici : </p>
      <ul class="breadcrumb">
        <li class="breadcrumbItem">
          <router-link :to="'/home'">
            Accueil
          </router-link>
        </li>
        <!--Dropdown pour choisir un pays-->
        <li class="breadcrumbItem breadcrumbItemDropdown">
          <a
            href="#"
            @click="toggleDropdown('country')"
          >
            <span v-if="$route.params.paysName"> {{ $route.params.paysName }}</span>
            <span v-else>Sélectionnez un pays</span>
            <font-awesome-icon
              class="chevron"
              :icon="countryDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'country'"
            class="dropdownContent"
          >
            <li
              v-for="country in countries"
              :key="country.id"
              :valeur="country"
            >
              <router-link :to="getCountryRoute(country)">
                {{ country.name }}
              </router-link>
            </li>
          </ul>
        </li>
        <!--Dropdown pour choisir un epci-->
        <li class="breadcrumbItem breadcrumbItemDropdown">
          <a
            href="#"
            @click="toggleDropdown('epci')"
          >
            <span v-if="$route.params.epciName"> {{ $route.params.epciName }}</span>
            <span v-else>Sélectionnez un EPCI</span>
            <font-awesome-icon
              class="chevron"
              :icon="epciDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'epci'"
            class="dropdownContent"
          >
            x
          </ul>
        </li>
        <!--Dropdown pour choisir une commune-->
        <li class="breadcrumbItem breadcrumbItemDropdown">
          <a
            href="#"
            @click="toggleDropdown('commune')"
          >
            <span v-if="$route.params.communeName"> {{ $route.params.communeName }}</span>
            <span v-else>Sélectionnez une commune</span>
            <font-awesome-icon
              class="chevron"
              :icon="communeDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'commune'"
            class="dropdownContent"
          >
            <li
              v-for="commune in communes"
              :key="commune.id"
              :valeur="commune"
            >
              <router-link :to="getCommuneRoute(commune)">
                {{ commune.name }}
              </router-link>
            </li>
          </ul>
        </li>
        <!--Affichage des thèmes selon la route sur laquelle on se trouve-->
        <!--Thème pour le pays-->
        <li class="breadcrumbItem breadcrumbItemDropdown">
          <a
            href="#"
            @click="toggleThemeDropdown('paysTheme')"
          >
            <span v-if="$route.params.paysTheme"> {{ $route.params.paysTheme }}</span>
            <span v-else>Sélectionnez un thème (pays)</span>
            <font-awesome-icon
              class="chevron"
              :icon="isThemeDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'theme'"
            class="dropdownContent"
          >
            <li
              v-for="theme in getThemes('paysTheme')"
              :key="theme.id"
              :valeur="theme"
            >
              <!--Ligne pour débugger-->
              <!-- {{ theme.name }} -->
              <router-link :to="getThemeRoute(theme)">
                {{ theme.name }}
              </router-link>
            </li>
          </ul>
        </li>
        <!--Thème pour l'EPCI-->
        <!-- <li class="breadcrumbItem breadcrumbItemDropdown">
                    <a @click="toggleThemeDropdown('epciTheme')" href="#">
                      <span v-if="$route.params.epciTheme"> {{ $route.params.epciTheme }}</span>
                      <span v-else>Sélectionnez un thème (epci)</span>
                      <font-awesome-icon class="chevron" :icon="isThemeDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'" />
                    </a>
                    <ul class="dropdownContent" v-if="showDropdown === 'theme'" >
                      <li v-for="theme in getThemes('epciTheme')" :valeur="theme" :key="theme.id"> -->
        <!--Ligne pour débugger-->
        <!-- {{ theme.name }} -->
        <!-- <router-link :to="getEpciThemeRoute(theme)">{{ theme.name }}</router-link>
                      </li>
                    </ul>
                  </li> -->
        <!--Thème pour la commune-->
        <!-- <li class="breadcrumbItem breadcrumbItemDropdown">
                    <a @click="toggleThemeDropdown('communeTheme')" href="#">
                      <span v-if="$route.params.communeTheme"> {{ $route.params.communeTheme }}</span>
                      <span v-else>Sélectionnez un thème (commune)</span>
                      <font-awesome-icon class="chevron" :icon="isThemeDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'" />
                    </a>
                    <ul class="dropdownContent" v-if="showDropdown === 'theme'" >
                      <li v-for="theme in getThemes('communeTheme')" :valeur="theme" :key="theme.id"> -->
        <!--Ligne pour débugger-->
        <!-- {{ theme.name }} -->
        <!-- <router-link :to="getCommuneThemeRoute(theme)">{{ theme.name }}</router-link>
                      </li>
                    </ul>
                  </li> -->
        <!--Sujets d'études pour le pays-->
        <li class="breadcrumbItem breadcrumbItemDropdown">
          <a
            href="#"
            @click="toggleThemeDropdown('paysSubject')"
          >
            <span v-if="$route.params.paysSubject"> {{ $route.params.paysSubject }}</span>
            <span v-else>Sélectionnez un sujet d'études (pays)</span>
            <font-awesome-icon
              class="chevron"
              :icon="isThemeDropdownOpen('paysSubject') ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'subject'"
            class="dropdownContent"
          >
            <li
              v-for="subject in getThemes('paysSubject')"
              :key="subject.id"
              :valeur="subject"
            >
              <!--Ligne pour débugger-->
              {{ subject.title }}
              <router-link :to="getCommuneThemeRoute(theme)">
                {{ subject.title }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: 'BreadCrumbs',
  props: {
    pays: Object
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      countries: [
        { id: 1, name: 'reunion' },
        { id: 2, name: 'madagascar' }
      ],
      epcis: [
        { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161, pays: 'reunion' },
        { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161, pays: 'reunion' },
        { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018, pays: 'reunion' },
        { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074, pays: 'reunion' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' }
      ],
      themes: [
        { id: 1, name: 'carte', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 2, name: 'population', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 3, name: 'economie', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 4, name: 'social', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 5, name: 'tourisme', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 6, name: 'sport', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 7, name: 'environnement', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 8, name: 'sante', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' },
        { id: 9, name: 'amenagement', niveau1: 'paysTheme', niveau2: 'epciTheme', niveau3: 'communeTheme', pays: 'reunion' }
      ],
      subjects: [
        { id: 1, name: 'bati', theme: 'amenagement', title: 'Aspect du bâti', niveau: 'pays', pays: 'reunion' }
      ],
      paysTheme: 'population',
      epciTheme: 'population',
      communeTheme: 'population',
      showDropdown: false,
      countryDropdownOpen: false,
      epciDropdownOpen: false,
      communeDropdownOpen: false,
      themeDropdownOpen: false,
      // Pour savoir quelle catégorie du thème doit être affichée dans le dropdown du breadcrumb
      activeThemeCategory: null
    }
  },
  methods: {
    toggleDropdown (section) {
      if (section === this.showDropdown) {
        this.showDropdown = null // Clique à nouveau pour masquer le dropdown
      } else {
        this.showDropdown = section // Affiche le dropdown correspondant
      }
      if (section === 'country') {
        this.countryDropdownOpen = !this.countryDropdownOpen
      } else if (section === 'epci') {
        this.epciDropdownOpen = !this.epciDropdownOpen
      } else if (section === 'commune') {
        this.communeDropdownOpen = !this.communeDropdownOpen
      }
    },
    getCountryRoute (country) {
      return {
        name: 'pays',
        params: {
          paysName: country.name // Utiliser le nom du pays sélectionné
        }
      }
    },
    getEpciRoute (epci) {
      return {
        name: 'epci',
        params: {
          paysName: epci.pays, // Utiliser le pays associé à l'EPCI
          epciId: epci.id,
          epciName: epci.name,
          epciTheme: this.epciTheme
        }
      }
    },
    getCommuneRoute (commune) {
      return {
        name: 'commune',
        params: {
          paysName: commune.pays, // Utilisez le pays associé à la commune
          epciId: commune.epci.id,
          epciName: commune.epci.name,
          communeId: commune.id,
          communeName: commune.name,
          communeTheme: this.communeTheme
        }
      }
    },
    toggleThemeDropdown (category) {
      // Mets à jour la catégorie de thème active lorsque je clique sur un dropdown de thème
      this.activeThemeCategory = category
      this.showDropdown = 'theme'
    },
    // Vérifie si les dropdown du thème correspondant à la catégorie passée en argument est ouvert
    isThemeDropdownOpen (category) {
      // Mets à jour la catégorie de thème active lorque je clique sur un dropdown
      return this.activeThemeCategory === category
      // console.log('activeThemeCategory est actuellement : ', this.activeThemeCategory)
    },
    // Pour filtrer les thèmes selon la catégorie passée en arguments
    getThemes (category) {
      console.log('category from getThemes()', this.category)
      const themes = [
        {
          id: 1,
          name: 'carte',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 2,
          name: 'population',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 3,
          name: 'economie',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 4,
          name: 'social',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 5,
          name: 'tourisme',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 6,
          name: 'sport',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 7,
          name: 'environnement',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 8,
          name: 'sante',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        },
        {
          id: 9,
          name: 'amenagement',
          niveau1: 'paysTheme',
          niveau2: 'epciTheme',
          niveau3: 'communeTheme',
          pays: 'reunion'
        }
      ]

      // Filtrer les thèmes en fonction de la catégorie et du pays
      return themes.filter(theme => theme.niveau1 === category && theme.pays === 'reunion')
    }
  },
  // Fonction générique pour obtenir une route de thème
  getThemeRoute (theme) {
    console.log('theme from getThemeRoute', this.theme)
    return {
      name: 'paysTheme', // Nom de route général pour les thèmes
      params: {
        paysName: 'reunion',
        paysTheme: theme
      }
    }
  },
  getCountryThemeRoute (theme) {
    console.log('theme in getCountryThemeRoute', theme)
    return this.getThemeRoute(theme.name, 'paysTheme')
  },
  getEpciThemeRoute (theme) {
    console.log('theme in getEpciThemeRoute', theme)
    return this.getThemeRoute(theme.name, 'epciTheme')
  },
  getCommuneThemeRoute (theme) {
    console.log('theme in getCommuneThemeRoute', theme)
    return this.getThemeRoute(theme.name, 'communeTheme')
  }
}
</script>

<style scoped>
  .breadcrumbsContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-top: 7%;
    width: 100%;
    color: white;
    background-color: var(--gray);
    padding: 1em;
    /* overflow-x: scroll; */
  }

  .breadcrumb {
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: row;
   gap: 1em;
  }

  .breadcrumbItem {
    position: relative;
  }

  .breadcrumbItem a {
    text-decoration: none;
    color: white;
    padding: 1em;
    border: none;
    /* border: 0.25em solid #ccc; */
    border-radius: 0.25em;
    background-color: var(--gray);
    cursor: pointer;
  }
  .breadcrumbItem a:hover {
    color: white;
    background-color: var(--primary-color);
  }
  .dropdownContent {
    position: absolute;
    display: none;
    background-color: var(--gray);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    z-index:1;
    /* display: block; */
  }

  .breadcrumbItem:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1em;
  }
  .chevron {
    padding: 0 1em;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

</style>
