<template>
  <div class="componentContainer">
    <h1> {{ title }}</h1>

    <div class="breadcrumbContainer">
      <ul class="breadcrumb">
        <p>Vous êtes ici : </p>
        <!--Retourner à la page d'accueil-->
        <li class="breadcrumbItem">
          <router-link :to="{ name: 'home', params: { paysName: 'reunion', epciId: epciId, epciName: epciName, communeId: communeId, communeName: communeName, themeName: themeName, subjectName: subjectName }}">
            Accueil
          </router-link>
        </li>
        <!--Sélectionner un pays-->
        <li
          v-if="$route.params.paysName"
          class="breadcrumItem"
        >
          <span>{{ $route.params.paysName }}</span>
        </li>
        <li
          v-else
          class="breadcrumItem breadcrumbItemDropdown"
        >
          <a
            href="#"
            @click="toggleDropdown('reunion')"
          >
            <span>Pays</span>
            <font-awesome-icon
              class="chevron"
              :icon="countryDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'reunion'"
            class="dropdownContent"
          >
            <li
              v-for="country in countries"
              :key="country.id"
            >
              <a @click="selectedCountry(country)">{{ country.name }}</a>
            </li>
          </ul>
        </li>
        <!--Sélectionner un EPCI-->
        <li
          v-if="$route.params.epciName"
          class="breadcrumItem"
        >
          <span>{{ $route.params.epciName }}</span>
        </li>
        <li
          v-else
          class="breadcrumItem breadcrumbItemDropdown"
        >
          <a
            href="#"
            @click="toggleDropdown('epci')"
          >
            <span>EPCI</span>
            <font-awesome-icon
              class="chevron"
              :icon="epciDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'epci'"
            class="dropdownContent"
          >
            <li
              v-for="epci in epcis"
              :key="epci.id"
            >
              <a @click="selectedEpci(epci)">{{ epci.name }}</a>
            </li>
          </ul>
        </li>
        <!--Sélectionner une commune-->
        <li
          v-if="$route.params.communeName"
          class="breadcrumItem"
        >
          <span>{{ $route.params.communeName }}</span>
        </li>
        <li
          v-else
          class="breadcrumItem breadcrumbItemDropdown"
        >
          <a
            href="#"
            @click="toggleDropdown('commune')"
          >
            <span>Commune</span>
            <font-awesome-icon
              class="chevron"
              :icon="communeDropdownOpen ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-right'"
            />
          </a>
          <ul
            v-if="showDropdown === 'epci'"
            class="dropdownContent"
          >
            <li
              v-for="commune in communes"
              :key="commune.id"
            >
              <a @click="selectedCommune(commune)">{{ commune.name }}</a>
            </li>
          </ul>
        </li>
        <!--Sélectionner un thème pour le pays-->
        <li class="breadcrumbItem">
          <router-link :to="'/pays/' + $route.params.paysName + '/theme/' + themeName">
            <span v-if="themeName">{{ themeName }}</span>
            <span v-else>Thème</span>
          </router-link>
          <ul
            v-if="showDropdown === 'reunionTheme'"
            class="dropdownContent"
          >
            <li
              v-for="theme in themes"
              :key="theme.id"
            >
              <a @click="selectedCountryTheme(theme)">{{ theme.name }}</a>
            </li>
          </ul>
        </li>
        <!--Sélectionner un thème pour l'EPCI-->
        <li class="breadcrumbItem">
          <router-link :to="'/pays/' + $route.params.paysName + '/epci' + + $route.params.epciId + '/' + $route.params.epciName + '/theme/' + themeName">
            <span v-if="themeName">{{ themeName }}</span>
            <span v-else>Thème</span>
          </router-link>
          <ul
            v-if="showDropdown === 'reunionTheme'"
            class="dropdownContent"
          >
            <li
              v-for="theme in themes"
              :key="theme.id"
            >
              <a @click="selectedEpciTheme(theme)">{{ theme.name }}</a>
            </li>
          </ul>
        </li>
        <!--Sélectionner un thème pour la commune-->
        <li class="breadcrumbItem">
          <router-link :to="'/pays/' + $route.params.paysName + '/epci' + + $route.params.epciId + '/' + $route.params.epciName + '/commune' + + $route.params.communeId + '/' + $route.params.communeName +'/theme/' + themeName">
            <span v-if="themeName">{{ themeName }}</span>
            <span v-else>Thème</span>
          </router-link>
          <ul
            v-if="showDropdown === 'reunionTheme'"
            class="dropdownContent"
          >
            <li
              v-for="theme in themes"
              :key="theme.id"
            >
              <a @click="selectedCommuneTheme(theme)">{{ theme.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- <div class="selectorContainer"> -->
    <!--Intégration des composants PaysSelector, EpciSelector, CommuneSelector, ThemeSelector, SujetSelector -->
    <!-- <pays-selector
                @pays-selected="handlePaysSelected"
                :selected-pays="selectedCountry"
                :countries="countries"
                :pays-name="paysName"
            >
            </pays-selector>
            <epci-selector
                @epci-selected="handleEpciSelected"
                :selected-epci="selectedEpci"
                :epcis="epcis"
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
            >
            </epci-selector>
            <commune-selector
                @commune-selected="handleCommuneSelected"
                :selected-commune="selectedCommune"
                :communes="communes"
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-name="communeName"
                :commune-id="communeId"
            >
            </commune-selector>
            <theme-selector
                @theme-selected="handleThemeSelected"
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-name="communeName"
                :commune-id="communeId"
                :selected-theme="selectedTheme"
                :themes="themes"
            >
            </theme-selector>
            <subject-selector
                @subject-selected="navigateToSubject"
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-name="communeName"
                :commune-id="communeId"
                :selected-theme="selectedTheme"
                :themes="themes"
                :selected-subject="selectedSubject"
                :subjects="subjects"
            >
            </subject-selector> -->
    <!-- </div> -->
  </div>
</template>

<script>

// import PaysSelector from '../../components/elements/PaysSelector.vue'
// import EpciSelector from '../../components/elements/EpciSelector.vue'
// import CommuneSelector from '../../components/elements/CommuneSelector.vue'
// import ThemeSelector from '../../components/elements/ThemeSelector.vue'
// import SubjectSelector from '../../components/elements/SubjectSelector.vue'

export default {
  name: 'BreadCrumb',
  components: {
    // PaysSelector,
    // EpciSelector,
    // CommuneSelector,
    // ThemeSelector,
    // SubjectSelector
  },
  data () {
    return {
      countries: [
        { id: 1, name: 'reunion' },
        { id: 2, name: 'madagascar' }
      ],
      epcis: [
        { id: 1, name: 'CASUD', pays: 'reunion' },
        { id: 2, name: 'CINOR', pays: 'reunion' },
        { id: 3, name: 'CIREST', pays: 'reunion' },
        { id: 4, name: 'CIVIS', pays: 'reunion' },
        { id: 5, name: 'TCO', pays: 'reunion' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719, pays: 'reunion' }
      ],
      themes: [
        { id: 1, name: 'carte', pays: 'reunion' },
        { id: 2, name: 'population', pays: 'reunion' },
        { id: 3, name: 'economie', pays: 'reunion' },
        { id: 4, name: 'social', pays: 'reunion' },
        { id: 5, name: 'tourisme', pays: 'reunion' },
        { id: 6, name: 'sport', pays: 'reunion' },
        { id: 7, name: 'environnement', pays: 'reunion' },
        { id: 8, name: 'sante', pays: 'reunion' },
        { id: 9, name: 'amenagement', pays: 'reunion' }
      ],
      subjects: [
        // PAYS
        { id: 1, name: 'reunionBati', theme: 'amenagement', label: 'Réunion - Aspect du bâti', scale: 'reunion' },
        { id: 2, name: 'reunionStationnement', theme: 'amenagement', label: 'Réunion - Emplacements réservés au stationnement', scale: 'reunion' },
        { id: 3, name: 'reunionFloresNA17', theme: 'economie', label: 'Réunion - Activités économiques en 17 postes', scale: 'reunion' },
        { id: 4, name: 'reunion5G', theme: 'economie', label: 'Réunion - Antennes 5G' },
        { id: 5, name: 'reunionSirene', theme: 'economie', label: 'Réunion - Liste des entreprise (SIRENE)', scale: 'reunion' },
        // { id: 5, name: 'azi', theme: 'environnement', label: 'Atlas de Zones Inondables (AZI)' },
        // { id: 6, name: 'catnat', theme: 'environnement', label: 'Opérations sur les Catastrophes Naturelles (CATNAT)' },
        // { id: 7, name: 'mvt', theme: 'environnement', label: 'Opérations sur les Mouvement de Terrain (MVT)' },
        { id: 6, name: 'reunionRisques', theme: 'environnement', label: 'Réunion - Opérations sur les risques' },
        { id: 7, name: 'reunionPopulation', theme: 'population', label: 'Réunion - Populations Légales' },
        { id: 8, name: 'reunionEtabSante', theme: 'sante', label: 'Réunion - Etablissements de santé' },
        { id: 9, name: 'reunionFamille', theme: 'social', label: 'Réunion - Types de famille' },
        { id: 10, name: 'reunionBassinNat', theme: 'sport', label: 'Réunion - Les bassins de natation' },
        { id: 11, name: 'reunionEtabTourisme', theme: 'tourisme', label: 'Réunion - Etablissements touristiques' },
        // { id: 14, name: 'hebTouristique', theme: 'tourisme', label: 'Hébergement touristiques' }

        // EPCI
        { id: 1, name: 'epciBati', theme: 'amenagement', label: 'Epci - Aspect du bâti', scale: 'epci' },
        { id: 2, name: 'epciStationnement', theme: 'amenagement', label: 'Epci - Emplacements réservés au stationnement', scale: 'epci' },
        { id: 3, name: 'epciFloresNA17', theme: 'economie', label: 'Epci - Activités économiques en 17 postes', scale: 'epci' },
        { id: 4, name: 'epci5G', theme: 'economie', label: 'Epci - Antennes 5G' },
        { id: 5, name: 'epciSirene', theme: 'economie', label: 'Epci - Liste des entreprise (SIRENE)', scale: 'epci' },
        // { id: 5, name: 'azi', theme: 'environnement', label: 'Atlas de Zones Inondables (AZI)' },
        // { id: 6, name: 'catnat', theme: 'environnement', label: 'Opérations sur les Catastrophes Naturelles (CATNAT)' },
        // { id: 7, name: 'mvt', theme: 'environnement', label: 'Opérations sur les Mouvement de Terrain (MVT)' },
        { id: 6, name: 'epciRisques', theme: 'environnement', label: 'Epci - Opérations sur les risques', scale: 'epci' },
        { id: 7, name: 'epciPopulation', theme: 'population', label: 'Epci - Populations Légales', scale: 'epci' },
        { id: 8, name: 'epciEtabSante', theme: 'sante', label: 'Epci - Etablissements de santé', scale: 'epci' },
        { id: 9, name: 'epciFamille', theme: 'social', label: 'Epci - Types de famille', scale: 'epci' },
        { id: 10, name: 'epciBassinNat', theme: 'sport', label: 'Epci - Les bassins de natation', scale: 'epci' },
        { id: 11, name: 'epciEtabTourisme', theme: 'tourisme', label: 'Epci - Etablissements touristiques', scale: 'epci' },
        // { id: 14, name: 'hebTouristique', theme: 'tourisme', label: 'Hébergement touristiques' }

        // COMMUNE
        { id: 11, name: 'communeBati', theme: 'amenagement', label: 'Aspect du bâti', scale: 'commune' },
        { id: 12, name: 'communeStationnement', theme: 'amenagement', label: 'Emplacements réservés au stationnement', scale: 'commune' },
        { id: 13, name: 'communeFloresNA17', theme: 'economie', label: 'Activités économiques en 17 postes', scale: 'commune' },
        { id: 14, name: 'commune5G', theme: 'economie', label: 'Antennes 5G' },
        { id: 15, name: 'communeSirene', theme: 'economie', label: 'Liste des entreprise (SIRENE)', scale: 'commune' },
        // { id: 5, name: 'azi', theme: 'environnement', label: 'Atlas de Zones Inondables (AZI)' },
        // { id: 6, name: 'catnat', theme: 'environnement', label: 'Opérations sur les Catastrophes Naturelles (CATNAT)' },
        // { id: 7, name: 'mvt', theme: 'environnement', label: 'Opérations sur les Mouvement de Terrain (MVT)' },
        { id: 16, name: 'communeRisques', theme: 'environnement', label: 'Opérations sur les risques', scale: 'commune' },
        { id: 17, name: 'communePopulation', theme: 'population', label: 'Populations Légales', scale: 'commune' },
        { id: 18, name: 'communeEtabSante', theme: 'sante', label: 'Etablissements de santé', scale: 'commune' },
        { id: 19, name: 'communeFamille', theme: 'social', label: 'Types de famille', scale: 'commune' },
        { id: 20, name: 'communeBassinNat', theme: 'sport', label: 'Les bassins de natation', scale: 'commune' },
        { id: 21, name: 'communeEtabTourisme', theme: 'tourisme', label: 'Etablissements touristiques', scale: 'commune' }
        // { id: 14, name: 'hebTouristique', theme: 'tourisme', label: 'Hébergement touristiques' }

      ],
      countrySelectOpen: false,
      epciSelectorOpen: false,
      communeSelectorOpen: false,
      themeSelectorOpen: false,
      subjectSelectorOpen: false
    }
  },
  computed: {
    breadcrumbs () {
      // Construire le fil d'Ariane en utilisant this.selectedTheme et this.selectedSubject
      const breadcrumbs = []

      // Utiliser this.$route.params pour accéder aux paramètres de route
      const routeParams = this.$route.params

      if (routeParams.paysName) {
        breadcrumbs.push(routeParams.paysName)
      }
      if (routeParams.epciName) {
        breadcrumbs.push(routeParams.epciName)
      }
      if (routeParams.communeName) {
        breadcrumbs.push(routeParams.communeName)
      }
      if (routeParams.themeName) {
        breadcrumbs.push(routeParams.themeName)
      }
      if (routeParams.subjectName) {
        breadcrumbs.push(routeParams.subjectName)
      }
      return breadcrumbs
    }
  },
  methods: {
    selectedCountry (country) {
      this.selectedCountryId = country.id
      this.selectedCountryName = country.name
      // Emet l'événement pour informer les autres composants
      this.$emit('country-selected', {
        paysId: country.id,
        paysName: country.name
      })
    },
    selectedEpci (epci) {
      this.selectedEpciId = epci.id
      this.selectedEpciName = epci.name
      // Emet l'événement pour informer les autres composants
      this.$emit('epci-selected', {
        epciId: epci.id,
        epciName: epci.name
      })
    },
    selectedCommune (commune) {
      this.selectedCommuneId = commune.id
      this.selectedCommuneName = commune.name
      // Emet l'événement pour informer les autres composants
      this.$emit('commune-selected', {
        communeId: commune.id,
        communeName: commune.name
      })
    },
    selectedCountryTheme (theme) {
      this.selectedCountryTheme = theme.name
      this.$emit('theme-selected', {
        themeName: theme.name
      })
    },
    selectedEpciTheme (theme) {
      this.selectedEpciTheme = theme.name
      this.$emit('theme-selected', {
        themeName: theme.name
      })
    },
    selectedCommuneTheme (theme) {
      this.selectedCommuneTheme = theme.name
      this.$emit('theme-selected', {
        themeName: theme.name
      })
    },
    toggleDropdown (type) {
      if (type === this.showDropdown) {
        this.showDropdown = null // Clique à nouveau pour masquez le dropdown
      } else {
        this.showDropdown = type // Affiche le dropdown correspondant
      }

      // Construire la nouvelle route en fonction des éléments sélectionnés
      const routeParams = {
        paysName: this.ùroute.params.paysName,
        epciId: this.$route.params.epciId,
        epciName: this.$route.params.epciName,
        communeId: this.$route.params.communeId,
        communeName: this.$route.params.communeName
      }

      if (type === 'theme') {
        // Ajouter le thème à la route
        routeParams.themeName = '' // Théme sélectionné
      } else if (type === 'subject') {
        // Ajouter le sujet à la route
        routeParams.subjectName = '' // Sujet sélectionné
      }

      // Utilisez le routeur pour naviguer vers la nouvelle route
      this.$router.push({ name: 'communeTheme', params: routeParams })
      // En fonction de la section, ouvre ou ferme le dropdown approprié
      // if (section === 'country') {
      //   this.countryDropdownOpen = !this.countryDropdownOpen
      // } else if (section === 'epci') {
      //   this.epciDropdownOpen = !this.epciDropdownOpen
      // } else if (section === 'commune') {
      //   this.epciDropdownOpen = !this.epciDropdownOpen
      // }
    },
    handlePaysSelected (selectedPays) {
      // Logique de gestion lorsque le pays est sélectionné
      console.log('selectedPays', this.selectedPays)
      this.selectedPays = selectedPays
      this.selectedScale = 'reunion'
    },
    handleEpciSelected (selectedEpci) {
      // Logique de gestion lorsque l'EPCI est sélectionné
      console.log('selectedEpci', this.selectedEpci)
      this.selectedEpci = selectedEpci
      this.selectedScale = 'epci'
    },
    handleCommuneSelected (selectedCommune) {
      // Logique de gestion lorsque la commune est sélectionnée
      console.log('selectedCommune', this.selectedCommune)
      this.selectedCommune = selectedCommune
      this.selectedScale = 'commune'
    },
    handleThemeSelected (selectedTheme) {
      // Logique de gestion lorsque le thème est sélectionné
      console.log('selectedTheme', this.selectedTheme)
      this.selectedTheme = selectedTheme
    },
    navigateToSubject ({ subject, theme }) {
      // En fonction de l'échelle géographique, effectue la navigation vers le composant approprié
      // Définir un objet pour mapper l'échelle géographique à la route correspondante
      const routeNames = {
        country: [
          'reunionBati',
          'reunionClicMap',
          'reunion5G',
          'reunionFloresNA17',
          'reunionSirene',
          'reunionRisques',
          'reunionPopulation',
          'reunionEtabSante',
          'reunionFamille',
          'reunionBassinNat',
          'reunionEtabTourisme'
        ],
        epci: [
          'epciBati',
          'epciMap',
          'epci5G',
          'epciFloresNA17',
          'epciSirene',
          'epciRisques',
          'epciPopulation',
          'epciEtabSante',
          'epciFamille',
          'epciBassinNat',
          'epciEtabTourisme'
        ],
        commune: [
          'communeBati',
          'communeClicMap',
          'commune5G',
          'communeFloresNA17',
          'communeSirene',
          'communeRisques',
          'communePopulation',
          'communeEtabSante',
          'communeFamille',
          'communeBassinNat',
          'communeEtabTourisme'
        ]
      }

      let selectedScale
      let routeName

      // Déterminer l'échelle géographique sélectionnée
      if (this.selectedCountry) {
        selectedScale = this.selectedCountry
        routeName = routeNames.country
      } else if (this.selectedEpci) {
        selectedScale = this.selectedEpci
        routeName = routeNames.epci
      } else if (this.selectedCommune) {
        selectedScale = this.selectedCommune
        routeName = routeNames.commune
      }

      // Effectuer la navigation vers le composant approprié
      if (selectedScale) {
        // Subject est un index du tableau routeName
        this.$router.push({ name: routeName[subject], params: { theme, subject } })
      }
    },
    handleBreadcrumbClick (index) {
      if (index === 0) {
        this.themeSelectorOpen = !this.themeSelectorOpen // Ouvrez et fermez le sélecteur de thème en cliquant sur le premier élément du fil d'Ariane
        this.subjectSelectorOpen = false // S'assurer que le sélecteur de sujets est fermé
      } else if (index === 1) {
        this.themeSelectorOpen = false //  S'assurer que le sélecteur de sujets est fermé
        this.subjectSelectorOpen = !this.subjectSelectorOpen
      }
    }
  }
}
</script>

<style scoped>
    .componentContainer {
      width: 100%;
      height: -webkit-max-content; /*S'adapte à tous les navigateurs */
      height: -moz-max-content; /*S'adapte à tous les navigateurs */
      height: max-content;
      border: none;
      left: 0;
      top: 15%;
      margin-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    .breadcrumbContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      margin-top: 12%;
      height: 10em;
      background-color: var(--primary-color);
      padding: 0.5em;
    }

    .breadcrumb {
      color: white;
      border: 0.25em solid transparent;
      background-color: var(--light-gray);
      width: 100%;
      height: 10em;
      padding: 1em;
      margin-top: 12%;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    .breadcrumbItem {
      font-weight: bold;
      cursor: pointer;
      margin: 1em;
    }
    .breadcrumbItem::after {
      content: '>';
      color: white;
      margin: 0.5em;
    }

    .selectorContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      gap: 1em;
    }

    /**Affichage pour mobile et tablette */
    @media screen and (min-width: 320px) and (max-width: 768px) {

      .componentContainer {
        left: 0;
        top: 15%;
        margin-top: 15%;
      }
      .breadcrumbContainer {
        width: 100%;
        height: -webkit-max-content; /*S'adapte à tous les navigateurs */
        height: -moz-max-content; /*S'adapte à tous les navigateurs */
        height: max-content;
        margin: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        --webkit-gap: 1em;
        --moz-gap: 1em;
        gap: 1em;
      }

      .breadcrumb {
        color: white;
        background-color: var(--light-gray);
        width: 100%;
        height: -webkit-max-content; /*S'adapte à tous les navigateurs */
        height: -moz-max-content; /*S'adapte à tous les navigateurs */
        height: max-content;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        --webkit-gap: 1em;
        --moz-gap: 1em;
        gap: 1em;
      }

      .selectorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        gap: 1em;
      }

    }
</style>
