<!--CookieBanner.vue-->

<template>
  <div v-if="!accepted && !rejected">
    <div class="cookie-banner">
      <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation des cookies.</p>
      <div class="buttonContainer">
        <button @click="acceptCookies">
          Accepter
        </button>
        <button @click="rejectCookies">
          Refuser
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Cookies from 'vue-cookies'

export default {
  name: 'CookieBanner',
  data () {
    return {
      accepted: Cookies.isKey('accepted_cookies'),
      rejected: Cookies.isKey('rejected_cookies')
    }
  },
  methods: {
    acceptCookies () {
      Cookies.set('accepted_cookies', 'true', '365d') // Les cookies seront valides pendant 365 jours
      this.accepted = true
    },
    rejectCookies () {
      Cookies.set('rejected_cookies', 'true', '365d') // Les cookies seront valides pendant 365 jours
      this.rejected = true
    }
  }
}
</script>

<style scoped>

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
}

button {
    color: white;
    background-color: black;
    padding: 1em;
    border: none;

}

button:hover {
    color: white;
    background-color: var(--primary-color);
}
</style>
