<template>
  <!--Composant dynamique-->
  <component :is="currentSubject">
    <!--Le composant affiché dépendra du sujet sélectionné-->
    <template #ReunionData>
      <!--Quand currentSubject = ReunionData, le composant ReunionData est affiché-->
      <ReunionData
        :pays-name="paysName"
        :pays-theme="paysTheme"
        :pays-subject="paysSubject"
      />
    </template>
  </component>
</template>

<script>

export default {
  name: 'DynamicComponent',
  props: {
    currentSubject: String
  }
}
</script>

<style scoped>

    /**Affichage pour mobile et tablette */
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .navbarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 1em;
        color: white;
        background-color: var(--gray);
        padding: 1em;
      }
    }
</style>
