<!--FooterSection.vue-->
<template>
  <footer class="bg-dark text-light p-4 fixed-bottom">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <p>Open Atlas - 2023</p>
        </div>
        <div class="col">
          <a href="#">Mentions légales</a>
          <router-link :to="{ name: 'sources' }">
            Consultez nos sources
          </router-link>
        </div>
        <div class="col">
          <p>Suivez-nous !</p>
          <div class="socialNetwork">
            <a
              id="youtube"
              href="#"
            ><font-awesome-icon icon="fa-brands fa-youtube" /></a>
            <a
              id="communecter"
              href="#"
            >Communecter</a>
            <a
              id="mastodon"
              href="#"
            ><font-awesome-icon icon="fa-brands fa-mastodon" /></a>
            <a
              id="gitlab"
              href="#"
            ><font-awesome-icon icon="fa-brands fa-gitlab" /></a>
            <a
              id="facebook"
              href="#"
            ><font-awesome-icon icon="fa-brands fa-facebook" /></a>
            <a
              id="xTwitter"
              href="#"
            ><font-awesome-icon icon="fa-brands fa-x-twitter" /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterSection',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  }
}
</script>

<style scoped>
a {
  color: var(--primary-color);
  text-decoration: none;
}
</style>
