<!--FooterSection.vue-->
<template>
  <footer>
    <div class="footerColumn">
      <p>Open Atlas - 2023</p>
    </div>
    <div class="footerColumn">
      <a href="#">Mentions légales</a>
      <router-link :to="{ name: 'sources' }">
        Consultez nos sources
      </router-link>
    </div>
    <div class="footerColumn">
      <p>Suivez-nous !</p>
      <div class="socialNetwork">
        <a
          id="youtube"
          href="#"
        ><font-awesome-icon icon="fa-brands fa-youtube" /></a>
        <a
          id="communecter"
          href="#"
        >Communecter</a>
        <a
          id="mastodon"
          href="#"
        ><font-awesome-icon icon="fa-brands fa-mastodon" /></a>
        <a
          id="gitlab"
          href="#"
        ><font-awesome-icon icon="fa-brands fa-gitlab" /></a>
        <a
          id="facebook"
          href="#"
        ><font-awesome-icon icon="fa-brands fa-facebook" /></a>
        <a
          id="xTwitter"
          href="#"
        ><font-awesome-icon icon="fa-brands fa-x-twitter" /></a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterSection',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  }
}
</script>

<style scoped>
 /**Affichage pour TV et ordinateurs */
 @media screen and (min-width: 769px) {
  footer {
    color: white;
    background-color : black;
    padding: 1em;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    height: 50px;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    /* --webkit-gap: 1em;
    --moz-gap: 1em; */
    gap: 10em;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .footerColumn {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .socialNetwork {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* --webkit-gap: 1em;
    --moz-gap: 1em; */
    gap: 1em;
  }

}

   /**Affichage pour mobile et tablette */
   @media screen and (max-width: 768px) {
    footer {
      color: white;
      background-color : black;
      padding: 1em;
      margin-bottom: 0;
      position: fixed;
      bottom: 0;
      /* left: 0; */
      width: 100%;
      height: 10%;
      /* display: -webkit-flex;
      display: -moz-flex; */
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      /* --webkit-gap: 1em;
      --moz-gap: 1em; */
      gap: 10em;
    }

    a {
      text-decoration: none;
      color: var(--primary-color);
    }

    .footerColumn {
      /* display: -webkit-flex;
      display: -moz-flex; */
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .socialNetwork {
      /* display: -webkit-flex;
      display: -moz-flex; */
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      /* --webkit-gap: 1em;
      --moz-gap: 1em; */
      gap: 1em;
    }

   }

</style>
