<!--HeaderSection-->
<template>
  <header
    class="navbar navbar-dark bg-dark"
  >
    <div class="container">
      <router-link :to="{ name: 'home' }">
        <img
          id="logo"
          src="../../assets/images/logo.webp"
          alt="logo"
          title="Cliquez ici pour retourner à la page d'accueil"
          class="logo-img"
        >
      </router-link>
      <h2 class="navbar-text">
        La Réunion
      </h2>
    </div>
    <!-- <div class="statContainer">
            <p>Actuellement</p>
            <span>1 754</span>
            <router-link :to="{ name: 'sources' }">
                <p>jeux de données en ligne</p>
            </router-link>
        </div> -->
  </header>
</template>

<script>

export default {
  name: 'HeaderSectionCSS'
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
    header {
        color: white;
        background-color: black;
        padding: 1em;
        margin-top: 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.3);
    }

    h2 {
        text-align: left;
        font-weight: 300;
        font-size: 1.25rem;
    }

    img {
        width: 8em;
        height: 3em;
    }

    #logo:hover::after {
        content: "Cliquez ici pour retourner à la page d'accueil";
        position: absolute;
        top: 5em;
        left: 0;
        background-color: white;
        border: 1px solid black;
        padding: 1em;
    }

    .logoContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        gap: 1em;
        margin: 1em;
        width: 100%;
    }

    span {
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 700;
    }

    a {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: var(--primary-color);
    }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
    header {
        width: 100vw;
        height: 50px;
        top: 0;
        left: 0;
        position: fixed;
        /* display: -webkit-flex;
            display: -moz-flex; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        background-color: black;
        box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.3);
        background-color: var(--gray);
    }

    .logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        gap: 0.25em;
        margin: 1em;
        width: 100em;
        background-color: black;
    }

    img {
        width: 7em;
        height: 3em;
        margin: 0.5em;
    }

    #logo:hover::after {
        content: "Cliquez ici pour retourner à la page d'accueil";
        position: absolute;
        top: 5em;
        left: 0;
        background-color: white;
        border: 1px solid black;
        padding: 1em;
        cursor: pointer;
    }
}
</style>
