<!--HeaderSection-->
<template>
  <header
    class="navbar navbar-expand-lg navbar-dark bg-dark"
  >
    <div class="container">
      <router-link class="navbar-brand" :to="{ name: 'home' }">
        <img
          id="logo"
          src="../../assets/images/logo.webp"
          alt="logo"
          title="Cliquez ici pour retourner à la page d'accueil"
          class="logo-img"
        >
      </router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'home' }">Accueil</router-link>
          </li>
        </ul>
      </div>
      <h2 class="navbar-text">
        La Réunion
      </h2>
    </div>
    <!-- <div class="statContainer">
            <p>Actuellement</p>
            <span>1 754</span>
            <router-link :to="{ name: 'sources' }">
                <p>jeux de données en ligne</p>
            </router-link>
        </div> -->
  </header>
</template>

<script>
export default {
  name: 'HeaderSection'
}

</script>

<style scoped>
.logo-img {
    max-height: 3rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-text {
    margin: 0;
    white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
}
</style>
