<!--ScaleSelectoPinia.vue-->
<template>
  <button @click="toggleTerritoryLists">
    Choisir un territoire
  </button>
  <nav v-if="showTerritoryLists">
    <ul>
      <!--Pays = reunion-->
      <li class="reunionLink">
        <!-- La Réunion -->
        <router-link
          :to="generateReunionBatiLink()"
        >
          La Réunion
        </router-link>
      </li>
      <!--Dropdown pour les communes de chaque EPCI-->
      <!--Epci = CASUD-->
      <li class="epciLink">
        <!-- CASUD -->
        <router-link
          :to="{
            name: 'epciView',
            params: {
              paysName: 'reunion',
              epciId: 1,
              epciName: 'CASUD',
              themeName: 'amenagement',
              subjectName:'epciBati'
            }
          }"
        >
          CASUD
        </router-link>
        <font-awesome-icon
          icon="chevron-down"
          style="color: #ffffff"
          class="icon"
          :class="{ 'rotate-icon': isDropdownOpen['CASUD'] && selectedEpci === epci }"
          @click="toggleDropdown('CASUD')"
        />
        <!--Communes de la CASUD-->
        <ul v-if="isDropdownOpen['CASUD']">
          <li>
            Entre-Deux
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 1,
                  epciName: 'CASUD',
                  communeId: 3 ,
                  communeName: 'Entre-Deux',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Entre-Deux
            </router-link> -->
          </li>
          <li>
            Saint-Joseph
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 1,
                  epciName: 'CASUD',
                  communeId: 12 ,
                  communeName: 'Saint-Joseph',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Joseph
            </router-link> -->
          </li>
          <li>
            Saint-Philippe
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 1,
                  epciName: 'CASUD',
                  communeId: 17,
                  communeName: 'Saint-Philippe',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Philippe
            </router-link> -->
          </li>
          <li>
            Le Tampon
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 1,
                  epciName: 'CASUD',
                  communeId: 22,
                  communeName: 'Tampon',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Le Tampon
            </router-link> -->
          </li>
        </ul>
      </li>
      <!--Epci = CINOR-->
      <li class="epciLink">
        <!-- CINOR -->
        <router-link
          :to="{
            name: 'epciView',
            params: {
              paysName: 'reunion',
              epciId: 2,
              epciName: 'CINOR',
              themeName: 'amenagement',
              subjectName:'epciBati'
            }
          }"
        >
          CINOR
        </router-link>
        <font-awesome-icon
          icon="chevron-down"
          style="color: #ffffff"
          class="icon"
          :class="{ 'rotate-icon': isDropdownOpen['CINOR'] && selectedEpci === epci }"
          @click="toggleDropdown('CINOR')"
        />
        <!--Communes de la CINOR -->
        <ul v-if="isDropdownOpen['CINOR']">
          <li>
            Saint-Denis
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 2,
                  epciName: 'CINOR',
                  communeId: 11,
                  communeName: 'Saint-Denis',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Denis
            </router-link> -->
          </li>
          <li>
            Sainte-Marie
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 2,
                  epciName: 'CINOR',
                  communeId: 18,
                  communeName: 'Sainte-Marie',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Sainte-Marie
            </router-link> -->
          </li>
          <li>
            Sainte-Suzanne
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 2,
                  epciName: 'CINOR',
                  communeId: 20,
                  communeName: 'Sainte-Suzanne',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Sainte-Suzanne
            </router-link> -->
          </li>
        </ul>
      </li>
      <!--Epci = CIREST-->
      <li class="epciLink">
        <!-- CIREST -->
        <router-link
          :to="{
            name: 'epciView',
            params: {
              paysName: 'reunion',
              epciId: 3,
              epciName: 'CIREST',
              themeName: 'amenagement',
              selectedScale: 'commune',
              subjectName:'epciBati'
            }
          }"
        >
          CIREST
        </router-link>
        <font-awesome-icon
          icon="chevron-down"
          style="color: #ffffff"
          class="icon"
          :class="{ 'rotate-icon': isDropdownOpen['CIREST'] && selectedEpci === epci }"
          @click="toggleDropdown('CIREST')"
        />
        <!--Communes de la CIREST -->
        <ul v-if="isDropdownOpen['CIREST']">
          <li>
            Bras Panon
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 3,
                  epciName: 'CIREST',
                  communeId: 2,
                  communeName: 'Bras-Panon',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Bras Panon
            </router-link> -->
          </li>
          <li>
            Saint-André
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 3,
                  epciName: 'CIREST',
                  communeId: 9,
                  communeName: 'Saint-André',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-André
            </router-link> -->
          </li>
          <li>
            Saint-Benoît
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 3,
                  epciName: 'CIREST',
                  communeId: 12 ,
                  communeName: 'Saint-Benoît',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Benoît
            </router-link> -->
          </li>
          <li>
            Sainte-Rose
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 3,
                  epciName: 'CIREST',
                  communeId: 19,
                  communeName: 'Sainte-Rose',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Sainte-Rose
            </router-link> -->
          </li>
          <li>
            Salazie
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 3,
                  epciName: 'CIREST',
                  communeId: 21 ,
                  communeName: 'Salazie',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Salazie
            </router-link> -->
          </li>
        </ul>
      </li>
      <!--Epci = CIVIS-->
      <li class="epciLink">
        <!-- CIVIS -->
        <router-link
          :to="{
            name: 'epciView',
            params: {
              paysName: 'reunion',
              epciId: 4,
              epciName: 'CIVIS',
              themeName: 'amenagement',
              selectedScale: 'epci',
              subjectName:'epciBati'
            }
          }"
        >
          CIVIS
        </router-link>
        <font-awesome-icon
          icon="chevron-down"
          style="color: #ffffff"
          class="icon"
          :class="{ 'rotate-icon': isDropdownOpen['CIVIS'] && selectedEpci === epci }"
          @click="toggleDropdown('CIVIS')"
        />
        <!--Communes de la CIVIS -->
        <ul v-if="isDropdownOpen['CIVIS']">
          <li>
            Les Avirons
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 4,
                  epciName: 'CIVIS',
                  communeId: 1,
                  communeName: 'Avirons',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Les Avirons
            </router-link> -->
          </li>
          <li>
            Petite-Ile
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 4,
                  epciName: 'CIVIS',
                  communeId: 5,
                  communeName: 'Petite-Ile',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Petite-Ile
            </router-link> -->
          </li>
          <li>
            Saint-Louis
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 4,
                  epciName: 'CIVIS',
                  communeId: 14,
                  communeName: 'Saint-Louis',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Louis
            </router-link> -->
          </li>
          <li>
            Saint-Pierre
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 4,
                  epciName: 'CIVIS',
                  communeId: 16,
                  communeName: 'Saint-Pierre',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Pierre
            </router-link> -->
          </li>
          <li>
            Cilaos
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 4,
                  epciName: 'CIVIS',
                  communeId: 24,
                  communeName: 'Cilaos',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Cilaos
            </router-link> -->
          </li>
        </ul>
      </li>
      <!--Epci = TCO-->
      <li class="epciLink">
        <!-- TCO -->
        <router-link
          :to="{
            name: 'epciView',
            params: {
              paysName: 'reunion',
              epciId: 5,
              epciName: 'TCO',
              themeName: 'amenagement',
              selectedScale: 'epci',
              subjectName:'epciBati'
            }
          }"
        >
          TCO
        </router-link>
        <font-awesome-icon
          icon="chevron-down"
          style="color: #ffffff"
          class="icon"
          :class="{ 'rotate-icon': isDropdownOpen['TCO'] && selectedEpci === epci }"
          @click="toggleDropdown('TCO')"
        />
        <!--Communes du TCO -->
        <ul
          v-if="isDropdownOpen['TCO']"
          class="communeLinksContainer"
        >
          <li>
            Le Port
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 5,
                  epciName: 'TCO',
                  communeId: 7 ,
                  communeName: 'Port',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Le Port
            </router-link> -->
          </li>
          <li>
            La Possession
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 5,
                  epciName: 'TCO',
                  communeId: 8 ,
                  communeName: 'Possession',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              La Possession
            </router-link> -->
          </li>
          <li>
            Saint-Leu
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 5,
                  epciName: 'TCO',
                  communeId: 13,
                  communeName: 'Saint-Leu',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Leu
            </router-link> -->
          </li>
          <li>
            Saint-Paul
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 5,
                  epciName: 'TCO',
                  communeId: 15,
                  communeName: 'Saint-Paul',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Saint-Paul
            </router-link> -->
          </li>
          <li>
            Trois-Bassins
            <!-- <router-link
              :to="{
                name: 'communeView',
                params: {
                  paysName: 'reunion',
                  epciId: 5,
                  epciName: 'TCO',
                  communeId: 23,
                  communeName: 'Trois-Bassins',
                  themeName: 'amenagement',
                  selectedScale: 'commune',
                  subjectName:'communeBati'
                }
              }"
            >
              Trois-Bassins
            </router-link> -->
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!--end app-->
</template>

<script>
export default {
  name: 'MainScaleSelectorPinia',
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    communeId: { type: Number, default: 22 },
    communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' }// Récupère le sujet depuis la route
  },
  data () {
    return {
      countries: [{ id: 1, name: 'La Réunion' }],
      epcis: [
        { id: 1, name: 'CASUD', communes: { 3: 'Entre-Deux', 12: 'Saint-Joseph', 17: 'Saint-Philippe', 22: 'Le Tampon' } },
        { id: 2, name: 'CINOR', communes: { 11: 'Saint-Denis', 18: 'Sainte-Marie', 20: 'Sainte-Szuanne' } },
        { id: 3, name: 'CIREST', communes: { 2: 'Bras Panon', 12: 'Saint-Joseph', 10: 'Saint-Benoît', 19: 'Sainte-Rose', 21: 'Salazie' } },
        { id: 4, name: 'CIVIS', communes: { 1: 'Les Avirons', 5: 'Petite-Ile', 14: 'Saint-Louis', 16: 'Saint-Pierre', 24: 'Cilaos' } },
        { id: 5, name: 'TCO', communes: { 7: 'Le Port', 8: 'La Possession', 13: 'Saint-Leu', 15: 'Saint-Paul', 23: 'Trois-Bassins' } }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: '',
      selectedCommune: '',
      showEpciLinks: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      },
      showCommunesList: false,
      selectedButtonText: '', // Initialisation
      showTerritoryLists: false,
      showReunionList: false,
      isDropdownOpen: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      }
    }
  },
  mounted () {
    console.log('MainScaleSelector mounted')
    console.log('MainScaleSelector mounted, paysName', this.$route.params.paysName)
    console.log('MainScaleSelector mounted, epciId', this.$route.params.epciId)
    console.log('MainScaleSelector mounted, epciName', this.$route.params.epciName)
    console.log('MainScaleSelector mounted, communeId', this.$route.params.communeId)
    console.log('MainScaleSelector mounted, communeName', this.$route.params.communeName)
    console.log('MainScaleSelector mounted, themeName', this.$route.params.themeName)
  },
  methods: {
    toggleDropdown (epci) {
      // Vérifier si la propriété existe avec de l'accéder
      if (this.isDropdownOpen[epci] != null) {
        // Fermer tous les dropdowns sauf celui spécifié
        Object.keys(this.isDropdownOpen).forEach(key => {
          if (key !== epci) {
            this.isDropdownOpen[key] = false
          }
        })
        // Inverser l'état du dropdown spécifié
        this.isDropdownOpen[epci] = !this.isDropdownOpen[epci]
      }
    },
    toggleTerritoryLists () {
      // Change la visibilité des listes de territoire lorsque le bouton et cliqué
      // this.toggleElement('showTerritoryLists', 'elementName')
      this.showTerritoryLists = !this.showTerritoryLists
    },
    toggleElement (element, value) {
      // Utilisez l'objet local pour gérer l'état
      if (element === 'showCommunesList') {
        this.showCommunesList = value
      } else if (element === 'showEpciLinks') {
        this.showEpciLinks[value] = value
      } else if (element === 'showReunionList') {
        this.showReunionList = value
      }
    },
    generateReunionBatiLink () {
      return {
        name: 'reunionBati',
        params: {
          paysName: 'reunion',
          themeName: 'amenagement',
          subjectName: 'reunionBati'
        }
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    color: white;
    background-color: #333;
    padding: 1em;
    text-align: left;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    margin: 0; */
  }

  h1 {
    text-align: left;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    width: 50%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
  }

  button {
    width: 100%;
    color: white;
    background-color: #555;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1em;
  }

  button:hover {
    background-color: #777;
  }

  .reunionLinkContainer {
    margin: 1em 0;
  }

  .reunionLink {
    text-decoration: none;
    color: #333;
    background-color: white;
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
    margin: 0;
    display: inline-block;
    cursor: pointer;
  }

  .reunionLink:hover {
    background-color: #555;
    color: white;
  }

  .mainEpciLinksContainer {
    color: white;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 1em;
  }

  .epciLink {
    width: 90%;
    height: 20%;
    text-decoration: none;
    color: #333;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #333;
    margin-bottom: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .epciLink:hover {
    color: white;
    background-color: var(--primary-color);
    border-radius: 1em;
  }
  .icon {
    transition: transform 0.3s ease;
  }

  .rotate-icone {
    transform: rotate(180deg);
  }

  /**Style pour la liste des communes */
  .communeLinksContainer {
    /* display: none; */
    padding: 0.5em;
    background-color: white;
  }

  .communeLinksContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .communeLinksContainer ul li {
    margin-bottom: 0.3em;
  }

  .communeLinksContainer ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .communeLinksContainer ul li a:hover {
    background-color: #555;
    color: white;
  }

}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    text-align: center;
    padding: 1em;
  }

  button {
    width: 100%;
    margin-bottom: 1em;
  }

  .reunionLinkContainer {
    margin: 1em 0;
  }

  .reunionLink {
    width: 100%;
  }

  .mainEpciLinksContainer {
    width: 100%;
  }

  .epciLink {
    width: 100%;
  }
}
</style>
