<template>
  <div id="app">
    <div class="sidebar">
      <div class="sortContainer">
        <h1>Filtres</h1>
        <aside>
          <!--Filtres par territoire-->
          <h2>Pays</h2>
          <select
            v-model="selectedTerritory"
            @change="navigateToSelectedPage"
          >
            <option value="">
              Choisir un pays
            </option>
            <option value="reunion">
              La Réunion
            </option>
            <option value="other">
              Autres pays
            </option>
          </select>

          <!--Niveau 2 (Cartographie)-->
          <h3>Cartes</h3>
          <select
            v-if="selectedTerritory === 'reunion'"
            v-model="selectedMapOption"
            @change="navigateToSelectedPage"
          >
            <option value="">
              Choisir une carte
            </option>
            <option value="carteOSM">
              Carte OSM
            </option>
            <option value="carteIGN">
              Carte IGN
            </option>
            <option value="carteIGNSDK">
              Carte IGN avec SDK
            </option>
            <option value="carteAdmin">
              Découpage admnistratif
            </option>
            <option value="carteIris">
              Découpage IRIS 2000
            </option>
          </select>

          <!--Niveau 2 (EPCI)-->
          <h3>EPCI</h3>
          <select
            v-if="selectedTerritory === 'reunion'"
            v-model="selectedEpci"
            @change="navigateToSelectedPage"
          >
            <option value="">
              Choisir une EPCI
            </option>
            <option
              v-for="epci in epcis"
              :key="epci.id"
              :value="epci.id"
            >
              {{ epci.name }}
            </option>
          </select>

          <!--Niveau 3 (Commune)-->
          <h4>Commune</h4>
          <select
            v-if="selectedEpci"
            v-model="selectedCommune"
            @change="navigateToSelectedPage"
          >
            <option value="">
              Choisir une commune
            </option>
            <option
              v-for="commune in getCommunesByEpci(selectedEpci)"
              :key="commune.id"
              :value="commune.id"
            >
              {{ commune.name }}
            </option>
          </select>
        </aside>
      </div>
      <!-- <ul>
          <li>
            <router-link class="linkLevel1" :to="{ name: 'reunion' }" @click="toggleElement('showReunionList')">
              <div class="countryList" >
                <h1>La Réunion</h1>
                <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon"/>
              </div>
            </router-link>
            <ul class="list" id="reunionList" :class="{ 'hidden': !showReunionList }">
              <li @click="toggleElement('showLevel2Links.carteReunion')">
                  <router-link class="linkLevel2" :to="{ name: 'carteReunion' }">Cartographie</router-link>
                  <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon"/>
                <ul class="list" aria-expanded="false" v-show="showLevel2Links.carteReunion">
                  <router-link class="linkLevel3" :to="{ name: 'carteOSM' }">Carte OSM</router-link>
                  <router-link class="linkLevel3" :to="{ name: 'carteIGN' }">Carte IGN</router-link>
                  <router-link class="linkLevel3" :to="{ name: 'carteAdmin' }">Découpage Administratif</router-link>
                  <router-link class="linkLevel3" :to="{ name: 'carteIris' }">Découpage IRIS 2000</router-link> -->
      <!-- <router-link class="linkLevel3" :to="{ name: 'carteClic' }">Carte Clic</router-link> -->
      <!-- </ul>
              </li>
            </ul> -->
      <!-- <li> -->
      <!-- <ul class="list" id="epciList"> -->
      <!-- Liens pour chaque epci-->
      <!--La propriété epciName est définie dans EPCIDetail.vue-->
      <!-- <li v-for="epci in epcis"
                class="linkLevel2"
                :key="epci.id"
                @click="toggleElement('showLevel2Links.' + epci.name)"
              >
                <router-link :to="{ name: 'epci', params : { epciId: epci.id,  epciName: epci.name, latitude: epci.latitude, longitude: epci.longitude }}">
                  {{ epci.name }}
                </router-link>
                <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon"/> -->
      <!-- :class="{ active: $route.name === 'epci' && $route.params.epciId === epci.id } " -->
      <!-- <ul class="list" v-show="showLevel2Links[epci.name]" id="communeList"> -->
      <!-- Liens pour chaque commune-->
      <!--La propriété communeName est définie dans CommuneDetail.vue-->
      <!-- <li  v-for="commune in getCommunesByEpci(epci)"
                      class="linkLevel3"
                      :key="commune.id"
                      @click="toggleElement('showThemeLinks.' + commune.name)">
                      <router-link :to="generateCommuneLink(commune)">
                        {{ commune.name }}
                      </router-link>
                      <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon"/>
                      <ul class="list" id="themeList" v-show="showThemeLinks[commune.name]">
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'population'}}" class="linkLevel4">Population</router-link>
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'economie'}}" class="linkLevel4">Economie</router-link>
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'social'}}" class="linkLevel4">Social</router-link>
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'environnement'}}" class="linkLevel4">Environnement</router-link>
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'tourisme'}}" class="linkLevel4">Tourisme</router-link>
                          <router-link :to="{name: 'communeTheme', params: {epciId: commune.epci.id, epciName: commune.epci.name, communeId: commune.id, communeName: commune.name, latitude: commune.latitude, longitude: commune.longitude, theme: 'sport'}}" class="linkLevel4">Sport & Loisirs</router-link>
                      </ul>
                    </li>
                  </ul> end communeList -->
      <!-- </li> end li communeList -->
      <!-- </ul> end epci list -->
      <!-- </li> -->
      <!-- <li>
            Liens pour chaque quartier
            <router-link v-for="quartier in quartiers" :key="quartier.id" :to="generateQuartierLink(commune, quartier)"> {{ quartier.name }}</router-link>
          </li> -->
      <!-- </li>
      </ul> -->
      <!--Thèmes pour La Réunion-->
      <!-- <h1>Thèmes</h1>
      <ul>
        <li v-for="theme in themes" :key="theme.id" >
          <router-link v-if="theme.name === 'carte'" :to="{name: 'carteReunion', params: { theme: 'carte' }}">carte</router-link>
          <router-link  v-else :to="{ name: 'reunionTheme', params: { theme: theme.name } }">{{ theme.name }}</router-link>
        </li>
      </ul> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data () {
    return {
      epcis: [
        { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 },
        { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 },
        { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 },
        { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 },
        { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD', latitude: -21.3365, longitude: 55.6719 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST', latitude: -21.0729, longitude: 55.6161 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO', latitude: -21.0554, longitude: 55.3074 }, latitude: -21.3365, longitude: 55.6719 },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS', latitude: -21.2523, longitude: 55.4018 }, latitude: -21.3365, longitude: 55.6719 }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      themes: [
        { id: 1, name: 'carte' },
        { id: 2, name: 'population' },
        { id: 3, name: 'economie' },
        { id: 4, name: 'social' },
        { id: 5, name: 'tourisme' },
        { id: 6, name: 'sport' },
        { id: 7, name: 'environnement' },
        { id: 8, name: 'sante' },
        { id: 9, name: 'amenagement' }
      ],
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: null,
      selectedCommune: null,
      selectedReunionTheme: null,
      showReunionList: false,
      showLevel2Links: {
        carteReunion: false,
        epci: false
      },
      showThemeLinks: {
        communeTheme: false
      }
    }
  },
  computed: {
    currentComponent () {
      switch (this.$route.params.theme) {
        case 'carte':
          return 'ReunionOSM'
        case 'population':
          return 'PopulationReunion'
        case 'economie':
          return 'EconomieReunion'
        case 'social':
          return 'SocialReunion'
        case 'tourisme':
          return 'TourismeReunion'
        case 'sport':
          return 'SportReunion'
        case 'environnement':
          return 'EnvironnementReunion'
        case 'sante':
          return 'SanteReunion'
        default:
          return null
      }
    }
  },
  created () {
    // Créer la correspondance entre les EPCI et les communes au chargement
    this.createEpciCommunesMap()
  },
  methods: {
    toggleElement (elementName) {
      console.log('toggleElement called', elementName)
      const path = elementName.split('.')
      if (path.length === 1) {
        this[path[0]] = !this[path[0]]
      } else if (path.length === 2) {
        this[path[0]][path[1]] = !this[path[0]][path[1]]
      }
    },
    // Fonction pour obtenir les communes sous un EPCI donné
    getCommunesByEpci () {
      if (this.selectedEpci) {
        const epciId = this.selectedEpci
        return this.communes.filter((commune) => commune.epci.id === epciId)
      } else {
        return []
      }
    },
    generateCommuneLink (commune) {
      if (commune && commune.epci && commune.epci.id) {
        return {
          name: 'communeTheme',
          params: {
            epciId: commune.epci.id,
            epciName: commune.epci.name,
            communeId: commune.id,
            communeName: commune.name,
            latitude: commune.latitude,
            longitude: commune.longitude,
            communeTheme: 'population'
          }
        }
      } else {
        return { name: 'Commune NotFound' }
      }
    },
    // Pour créer la correspondance entre les EPCIs et les communes au chargement
    createEpciCommunesMap () {
      // Réintilialiser la correspondance EPCI-commune
      this.epciCommunesMap = {}

      // Parcourir les communes et les associer à leurs EPCI correspondante
      this.communes.forEach((commune) => {
        if (commune.epci && commune.epci.id) {
          const epciId = commune.epci.id
          if (!this.epciCommunesMap[epciId]) {
            this.epciCommunesMap[epciId] = []
          }
          this.epciCommunesMap[epciId].push(commune)
        }
      })
    },
    navigateToSelectedPage () {
      // Nom de la route utilisée
      let routeName = ''

      // Paramètres utilisés dans les routes
      const params = { }

      if (this.selectedTerritory === 'reunion') {
        // Vers un thème
        if (this.selectedReunionTheme) {
          // Rediriger vers la route "reunion" avec le thème sélectionné
          this.$router.push({ name: 'reunion', params: { theme: this.selectedReunionTheme } })
        } else {
          // Rediriger vers la route 'reunion' sans thème
          this.$router.push({ name: 'reunion' })
        }
        // Cartographie
        if (this.selectedMapOption === 'carteOSM') {
          routeName = 'carteOSM'
          params.theme = 'carte'
        } else if (this.selectedMapOption === 'carteIGN') {
          routeName = 'carteIGN'
          params.theme = 'carte'
        } else if (this.selectedMapOption === 'carteAdmin') {
          routeName = 'carteAdmin'
          params.theme = 'carte'
        } else if (this.selectedMapOption === 'carteIris') {
          routeName = 'carteIris'
          params.theme = 'carte'
        }

        // EPCI
        if (this.selectedEpci) {
          // Récupérez les détails de l'EPCI sélectionné
          const selectedEpci = this.epcis.find(epci => epci.id === this.selectedEpci)
          if (selectedEpci) {
            // Utiliser les détails de l'EPCI pour construire les paramètres de la route
            params.epciId = selectedEpci.id
            params.epciName = selectedEpci.name
            params.latitude = selectedEpci.latitude
            params.longitude = selectedEpci.longitude
            params.epciTheme = selectedEpci.epciTheme
            routeName = 'epciTheme'
          }
        }
        // Commune
        if (this.selectedCommune) {
          // Récupérer les détails de la commune sélectionnée
          const selectedCommune = this.communes.find(commune => commune.id === this.selectedCommune)
          if (selectedCommune) {
            // Utiliser les détails de la commune pour construire les paramètres de la route
            params.epciId = selectedCommune.epci.id
            params.epciName = selectedCommune.epci.name
            params.communeId = selectedCommune.id
            params.communeName = selectedCommune.name
            params.latitude = selectedCommune.latitude
            params.longitude = selectedCommune.longitude
            params.communeTheme = selectedCommune.communeTheme
            routeName = 'commune'
          }
        }
        // La route utilise le thème sélectionné
        if (this.selectedReunionTheme) {
          params.theme = this.selectedReunionTheme
        }
      } else if (this.selectedTerritory === 'other') {
        routeName = 'other'
      }

      // Pour naviguer vers la route avec les paramètres
      if (routeName) {
        if (routeName === 'reunionTheme') {
          this.$router.push({ name: routeName, params: { theme: this.selectedReunionTheme } })
        } else {
          this.$router.push({ name: routeName, params })
        }
      }
    }
  }
}

// Quand le lien est cliqué, il change de couleur (UX)
const links = document.querySelectorAll('.link')
for (const link of links) {
  link.addEventListener('click', (e) => {
    for (const inlink of links) {
      inlink.classList.remove('active')
    }
    e.target.classList.add('active')
  })
}
</script>

<style scoped>
    .sidebar {
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: static;
    }

    .sortContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      gap: 1em;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5em;
      margin: 1em;
    }

    h1 {
      text-align: left;
    }

    h2, h3, h4 {
      padding: 0.5em 0;
      text-align: left;
    }

  aside {
    top: 0;
    left: 0;
    width: 75%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }

  select {
    border-radius: 1em;
    padding: 1em;
    width: 75%;
    color: white;
    background-color: black;
  }

  option {
    padding: 1em;
    color: black;
    background-color: white;
  }

  option:hover {
    background-color: var(--primary-color);
  }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    .countryList {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: max-content;
    }

    h1 {
      padding: 1em;
    }

    .hidden {
      display: none;
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 1em;
    }

    #epciList {
      color: var(--accent-color);
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0.5em;
    }

    #communeList {
      color: black;
      font-size: 1rem;
    }

    #themeList {
      color: black;
      font-size: 1rem;
    }

    ul {
      list-style-type: none;
    }

    p {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      color: var(--primary-color);
      padding: 1em 0;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: white;
    }

    a:hover{
      color: black;
    }

    .icon {
      margin: 0 1em;
    }

</style>
