<!--SimpleNavbarSelect.vue-->
<template>
  <div id="app">
    <div class="sortContainer">
      <nav class="navbar">
        <!--PAYS-->
        <div class="selectContainer">
          <router-link
            class="linkReunion"
            :to="{ name: 'reunionAmenagement' , params: { paysName: 'reunion', themeName: 'reunionAmenagement' }}"
            @click="toggleElement('showReunionList')"
          >
            <span>La Réunion</span>
            <!-- <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon" /> -->
          </router-link>
        </div>
        <!--Choisir une EPCI-->
        <div class="selectContainer">
          <label
            class="hidden"
            for="epciSelect"
          >EPCI</label>
          <select
            id="epciSelect"
            v-model="selectedEpci"
            @change="updateSelectedButtonText"
          >
            <option
              disabled
              value=""
            >
              EPCI
            </option>
            <option
              v-for="epci in epcis"
              :key="epci.id"
              :value="epci.id"
            >
              {{ epci.name }}
            </option>
          </select>
        </div>
        <!--Choisir une commune-->
        <div class="selectContainer">
          <label
            class="hidden"
            for="communeSelect"
          >Commune</label>
          <select
            id="communeSelect"
            v-model="selectedCommune"
            @change="updateSelectedButtonText"
          >
            <option
              disabled
              value=""
            >
              Commune
            </option>
            <option
              v-for="commune in filteredCommunes(selectedEpci)"
              :key="commune.id"
              :value="commune.id"
            >
              {{ commune.name }}
            </option>
          </select>
        </div>

        <!--Bouton pour la sélection-->
        <!-- <span style="color: red;">Votre sélection : {{ selectedButtonText }}</span> -->
        <button
          v-if="isSelected"
          @click="navigateToSelectedPage"
        >
          Aller à {{ selectedButtonText }}
        </button>
        <!-- <button v-if="!isSelected" @click="navigateToSelectedPage">Aller à la page sélectionnée</button> -->
        <!--Bouton avec le texte sélectionné-->
        <button v-else>
          Aller à votre sélection
        </button>
      </nav>
    </div> <!--end sortContainer-->
  </div> <!--end app-->
</template>

<script>
export default {
  name: 'SimpleNavbarSelectV1',
  data () {
    return {
      countries: [
        { id: 1, name: 'La Réunion' }
      ],
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epci: { id: 4, name: 'CIVIS' } }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: '',
      selectedCommune: '',
      showReunionList: false,
      showEpciLinks: {},
      showCommuneLinks: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      },
      selectedButtonText: '' // Initialisation
    }
  },
  computed: {
    isSelected () {
      return this.selectedEpci !== null || this.selectedCommune !== null
    }
  },
  created () {
    // Créer la correspondance entre les EPCI et les communes au chargement
    this.createEpciCommunesMap()
  },
  mounted () {
    console.log('SimpleNavbar mounted')
  },
  methods: {
    toggleElement (elementGroup, elementName) {
      console.log('toggleElement called', elementGroup, elementName)

      // Vérifier si l'élément existe
      if (this[elementGroup]) {
        // Utiliser this.$set pour mettre à jour une propriété réactive à l'intérieur d'un objet réactif
        this.$set(this[elementGroup], elementName, !this[elementGroup][elementName])
      } else {
        console.error(`${elementGroup} est indéfini ici.`)
      }
    },
    // Fonction pour obtenir les communes sous un EPCI donné
    getCommunesByEpci (epci) {
      console.log('Selected EPCI: ', this.selectedEpci)

      if (this.selectedEpci !== null && this.selectedEpci !== undefined) {
        const epciId = this.selectedEpci
        const communes = this.communes.filter((commune) => commune.epci.id === epciId)
        console.log('Communes for EPCI', communes)
        return communes
      } else {
        return []
      }
    },
    generateCommuneLink (commune) {
      console.log('Commune from generateCommuneLink', commune)
      if (commune && commune.epci && commune.epci.id) {
        return {
          name: 'communeAmenagement',
          params: {
            paysName: 'reunion',
            epciId: commune.epci.id,
            epciName: commune.epci.name,
            communeId: commune.id,
            communeName: commune.name,
            themeName: 'communeAmenagement'
          }
        }
      } else {
        return { name: 'Commune NotFound' }
      }
    },
    // Pour créer la correspondance entre les EPCIs et les communes au chargement
    createEpciCommunesMap () {
      // Réintilialiser la correspondance EPCI-commune
      this.epciCommunesMap = {}

      // Parcourir les communes et les associer à leurs EPCI correspondante
      this.communes.forEach((commune) => {
        if (commune.epci && commune.epci.id) {
          const epciId = commune.epci.id
          if (!this.epciCommunesMap[epciId]) {
            this.epciCommunesMap[epciId] = []
          }
          this.epciCommunesMap[epciId].push(commune)
        }
      })
    },
    updateSelectedButtonText () {
      // Mettre à jour selectedButtonText lorsque les valeurs des sélecteurs changent
      if (this.selectedEpci) {
        const selectedEpci = this.epcis.find((epci) => epci.id === this.selectedButtonText)
        if (selectedEpci) {
          this.selectedButtonText = selectedEpci.name
        }
      } else if (this.selectedCommune) {
        const selectedCommune = this.commune.find((commune) => commune.id === selectedCommune)
        if (selectedCommune) {
          this.selectedButtonText = selectedCommune.name
        }
      }
    },
    navigateToSelectedPage () {
      console.log('Selected EPCI:', this.selectedEpci)
      console.log('Selected Commune:', this.selectedCommune)
      // Paramètres utilisés dans les routes
      const params = {}

      if (this.selectedTerritory === 'reunion') {
        // Rediriger vers la route par défaut
        let routeName = 'reunionAmenagement'

        // EPCI
        if (this.selectedEpci) {
          // Récupérez les détails de l'EPCI sélectionné
          const selectedEpci = this.epcis.find((epci) => epci.id === this.selectedEpci)
          if (selectedEpci) {
            // Utiliser les détails de l'EPCI pour construire les paramètres de la route
            params.paysName = 'reunion'
            params.epciId = selectedEpci.id
            params.epciName = selectedEpci.name
            params.themeName = 'epciAmenagement'
            routeName = 'epciAmenagement'
            // Mettre à jour selectedButtonText
            this.selectedButtonText = selectedEpci.name
            console.log('Selected Button Text:', this.selectedButtonText)
          }
        }

        // Commune
        if (this.selectedCommune) {
          // Récupérer les détails de la commune sélectionnée
          const selectedCommune = this.communes.find((commune) => commune.id === this.selectedCommune)
          if (selectedCommune) {
            // Utiliser les détails de la commune pour construire les paramètres de la route
            params.paysName = 'reunion'
            params.epciId = selectedCommune.epci.id
            params.epciName = selectedCommune.epci.name
            params.communeId = selectedCommune.id
            params.communeName = selectedCommune.name
            params.themeName = 'communeAmenagement'
            routeName = 'communeAmenagement'
            // Mettre à jour selectedButtonText
            this.selectedButtonText = selectedCommune.name
            console.log('Selected Button Text:', this.selectedButtonText)
          }
        }

        // Pour naviguer vers la route avec les paramètres
        this.$router.push({ name: routeName, params })
      }
    },
    filteredCommunes (epciId) {
      return this.communes.filter(commune => commune.epci.id === epciId)
    },
    toggleDropdown (epciId) {
      this.showEpciLinks[epciId] = !this.showEpciLinks[epciId]
    },
    isDropdownOpen (epciId) {
      return this.showEpciLinks[epciId]
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  #app {
    background-color: black;
  }

  .sortContainer {
    /* position: relative;
    margin-top: 25%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    height: 45px;
    padding: 1em;
    margin: 0;
    left: 0;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: static;
    margin: 0;
  }

  h1 {
    text-align: left;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    width: 50%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color)
  }

  .selectContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .linkReunion {
    width: 100%;
    height: 50px;
    border: 0.1em solid white;
    border-radius: 1em;
    font-size: 1rem;
    cursor: pointer;
    vertical-align: center;
  }

  select {
    width: 80%;
    height: 50px;
    color: white;
    background-color: black;
  }

  button {
    width: 20%;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 0.25em solid var(--primary-color);
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
  }

}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .sortContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    padding: 1em;
    margin: 0;
    top: 6%;
    left: 0;
    right: 0;
    position: relative;
    background-color: black;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* position: static; */
    margin: 0;
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color)
  }

  .selectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1em;
    margin: 0;
    left: 0;
    right: 0;
  }

  .linkReunion {
    width: 80%;
    border: 0.1em solid white;
    border-radius: 1em;
    padding: 1em;
    font-size: 1rem;
  }

  select {
    width: 80%;
    color: white;
    background-color: black;
    padding: 1em;
    border-radius: 1em;
  }

  option {
    padding: 1em;
    color: black;
    background-color: white;
  }

  option:hover {
    background-color: var(--primary-color);
  }

  button {
    width: 80%;
    color: white;
    background-color: transparent;
    border: 0.1em solid white;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
  }

  button:hover {
    color: white;
    background-color: var(--primary-color);
    border: 0.1em solid white;
    border-radius: 1em;
    padding: 1em;
  }
}
</style>
