<!--SimpleNavbarSelect.vue-->
<template>
  <div id="app">
    <nav class="navbar">
      <!--PAYS-->
      <div class="reunionLinkContainer">
        <span>
          <router-link
            class="reunionLink"
            :to="{
              name: 'reunionAmenagement',
              params: { paysName: 'reunion', themeName: 'reunionAmenagement' },
            }"
            @click="toggleElement('showReunionList')"
          >
            La Réunion
            <!-- <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon" /> -->
          </router-link>
        </span>
      </div>
      <!--Liens EPCI-->
      <div class="mainEpciLinksContainer">
        <!--Selectionner toutes les communes qui apparatiennent à la CASUD-->
        <!--Lien vers la CASUD-->
        <div class="oneEpciLinkContainer">
          <div class="epciLink">
            <span>
              <router-link
                :to="{
                  name: 'epciAmenagement',
                  params: {
                    paysName: 'reunion',
                    epciId: 3,
                    epciName: 'CASUD',
                    themeName: 'epciAmenagement',
                  },
                }"
                @click="toggleElement('showEpciLinks', 'CASUD')"
              >
                CASUD
              </router-link>
            </span>
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': isDropdownOpen('CASUD') }"
              @click="toggleDropdown('CASUD')"
            />
          </div>
          <!--Lien vers les communes de la CASUD-->
          <div
            v-if="showEpciLinks['CASUD']"
            class="communeLinksContainer"
          >
            <ul>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 1,
                      epciName: 'CASUD',
                      communeId: 1,
                      communeName: 'Entre-Deux',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Entre-Deux
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 1,
                      epciName: 'CASUD',
                      communeId: 12,
                      communeName: 'Saint-Joseph',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Joseph
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 1,
                      epciName: 'CASUD',
                      communeId: 17,
                      communeName: 'Saint-Philippe',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Philippe
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 1,
                      epciName: 'CASUD',
                      communeId: 22,
                      communeName: 'Le Tampon',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Tampon
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <!--Lien vers la CINOR-->
        <div class="oneEpciLinkContainer">
          <div class="epciLink">
            <span>
              <router-link
                :to="{
                  name: 'epciAmenagement',
                  params: {
                    paysName: 'reunion',
                    epciId: 3,
                    epciName: 'CINOR',
                    themeName: 'epciAmenagement',
                  },
                }"
                @click="toggleElement('showEpciLinks', 'CINOR')"
              >
                CINOR
              </router-link>
            </span>
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': isDropdownOpen('CINOR') }"
              @click="toggleDropdown('CINOR')"
            />
          </div>
          <!--Liens vers les communes de la CINOR-->
          <div
            v-if="showEpciLinks['CINOR']"
            class="communeLinksContainer"
          >
            <ul>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 2,
                      epciName: 'CINOR',
                      communeId: 11,
                      communeName: 'Saint-Denis',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Denis
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 2,
                      epciName: 'CINOR',
                      communeId: 18,
                      communeName: 'Sainte-Marie',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Sainte-Marie
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 2,
                      epciName: 'CINOR',
                      communeId: 20,
                      communeName: 'Sainte-Suzanne',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Sainte-Suzanne
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <!--Lien vers la CIREST-->
        <div class="oneEpciLinkContainer">
          <div class="epciLink">
            <span>
              <router-link
                :to="{
                  name: 'epciAmenagement',
                  params: {
                    paysName: 'reunion',
                    epciId: 3,
                    epciName: 'CIREST',
                    themeName: 'epciAmenagement',
                  },
                }"
                @click="toggleElement('showEpciLinks', 'CIREST')"
              >
                CIREST
              </router-link>
            </span>
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': isDropdownOpen('CIREST') }"
              @click="toggleDropdown('CIREST')"
            />
          </div>
          <!--Liens vers les communes de la CIREST-->
          <div
            v-if="showEpciLinks['CIREST']"
            class="communeLinksContainer"
          >
            <ul>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 2,
                      communeName: 'Bras Panon',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Bras Panon
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 6,
                      communeName: 'Plaine des Palmistes',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Plaine des Palmistes
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 9,
                      communeName: 'Saint-André',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-André
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 10,
                      communeName: 'Saint-Benoît',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Benoît
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 19,
                      communeName: 'Sainte-Rose',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Sainte-Rose
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 3,
                      epciName: 'CIREST',
                      communeId: 21,
                      communeName: 'Salazie',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Salazie
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <!--Lien vers la CIVIS-->
        <div class="oneEpciLinkContainer">
          <div class="epciLink">
            <span>
              <router-link
                :to="{
                  name: 'epciAmenagement',
                  params: {
                    paysName: 'reunion',
                    epciId: 4,
                    epciName: 'CIVIS',
                    themeName: 'epciAmenagement',
                  },
                }"
                @click="toggleElement('showEpciLinks', 'CIVIS')"
              >
                CIVIS
              </router-link>
            </span>
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': isDropdownOpen('CIVIS') }"
              @click="toggleDropdown('CIVIS')"
            />
          </div>
          <!--Liens vers les communes de la CIVIS-->
          <div
            v-if="showEpciLinks['CIVIS']"
            class="communeLinksContainer"
          >
            <ul>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 1,
                      communeName: 'Les Avirons',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Les Avirons
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 24,
                      communeName: 'Cilaos',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Cilaos
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 4,
                      communeName: 'Etang-Salé',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Etang Salé
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 5,
                      communeName: 'Petite-Ile',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Petite Ile
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 14,
                      communeName: 'Saint-Louis',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Louis
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 4,
                      epciName: 'CIVIS',
                      communeId: 16,
                      communeName: 'Saint-Pierre',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Pierre
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <!--Lien vers le TCO-->
        <div class="oneEpciLinkContainer">
          <div class="epciLink">
            <span>
              <router-link
                :to="{
                  name: 'epciAmenagement',
                  params: {
                    paysName: 'reunion',
                    epciId: 5,
                    epciName: 'TCO',
                    themeName: 'epciAmenagement',
                  },
                }"
                @click="toggleElement('showEpciLinks', 'TCO')"
              >
                TCO
              </router-link>
            </span>
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': isDropdownOpen('TCO') }"
              @click="toggleDropdown('TCO')"
            />
          </div>
          <!--Liens vers les communes du TCO-->
          <div
            v-if="showEpciLinks['TCO']"
            class="communeLinksContainer"
          >
            <ul>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 5,
                      epciName: 'TCO',
                      communeId: 8,
                      communeName: 'La Possession',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  La Possession
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 5,
                      epciName: 'TCO',
                      communeId: 7,
                      communeName: 'Le Port',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Le Port
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 5,
                      epciName: 'TCO',
                      communeId: 13,
                      communeName: 'Saint-Leu',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Leu
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 5,
                      epciName: 'TCO',
                      communeId: 15,
                      communeName: 'Saint-Paul',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Saint-Paul
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'communeAmenagement',
                    params: {
                      paysName: 'reunion',
                      epciId: 5,
                      epciName: 'TCO',
                      communeId: 23,
                      communeName: 'Trois-Bassins',
                      themeName: 'communeAmenagement',
                    },
                  }"
                >
                  Trois-Bassins
                </router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!--end app-->
</template>

<script>
export default {
  name: 'SimpleNavbarSelect',
  data () {
    return {
      countries: [{ id: 1, name: 'La Réunion' }],
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epci: { id: 4, name: 'CIVIS' } }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: '',
      selectedCommune: '',
      showReunionList: false,
      showEpciLinks: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      },
      showCommunesList: false,
      selectedButtonText: '' // Initialisation
    }
  },
  // created () {
  //   // Créer la correspondance entre les EPCI et les communes au chargement
  //   this.createEpciCommunesMap()
  // },
  computed: {
    isSelected () {
      return this.selectedEpci !== null || this.selectedCommune !== null
    }
  },
  mounted () {
    console.log('SimpleNavbar mounted')
  },
  methods: {
    toggleElement (group, elementName) {
      console.log('toggleElement called', group, elementName)

      // Vérifier si l'élément existe
      if (this[group]) {
        // Mettre à jour une propriété réactive à l'intérieur d'un objet réactif
        this[group][elementName] = !this[group][elementName]
      } else {
        console.error(`${group} est indéfini ici.`)
      }
    },
    toggleDropdown (epciId) {
      // Utiliser epciId pour identifier la liste spécifique à afficher ou à masquer
      this.toggleElement('showEpciLinks', epciId)
      // Masquer la liste des communes lorsqu'un EPCI est ouvert
      this.showCommunesList = !this.showCommunesList
    },
    isDropdownOpen (epciId) {
      return this.showEpciLinks[epciId]
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  #app {
    background-color: black;
  }

  .navbar {
    top: 7em;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    position: absolute;
    margin: 0;
  }

  h1 {
    text-align: left;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    width: 50%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
  }

  .reunionLinkContainer {
    width: 20%;
    height: max-content;
    border: 0.1em solid white;
    border-radius: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .mainEpciLinksContainer {
    color: white;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0.5em;
    gap: 1em;
  }

  .oneEpciLinkContainer {
    width: 100%;
    height: max-content;
    border: 0.1em solid white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
  }

  .reunionLink,
  .epciLink {
    width: 90%;
    height: 20%;
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
  }
  .reunionLink:hover,
  .epciLink:hover {
    color: white;
    background-color: var(--primary-color);
    border-radius: 1em;
  }
  .rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .communeLinksContainer {
    width: 100%;
  }

  .communeLinksContainer ul li a {
    width: 100%;
    padding: 0.5em;
  }

  .communeLinksContainer ul li a:hover {
    background-color: var(--primary-color);
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* position: static; */
    margin: 0;
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    width: 100%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
  }

  .reunionLinkContainer {
    width: 90%;
    height: max-content;
    border: 0.1em solid white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1em;
  }
  .epciLinksContainer {
    color: white;
    border: 0.1em solid white;
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
  }

  .reunionLink,
  .epciLink {
    width: 90%;
    height: 20%;
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .reunionLink:hover,
  .epciLink:hover {
    color: white;
    background-color: var(--primary-color);
  }
  .rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}
</style>
