<!--SimpleBreadcrumb.vue-->

<template>
  <div class="breadcrumbContainer">
    <p class="mb-0">
      Vous êtes ici :
    </p>
    <!--Retour à la page d'accueil-->
    <router-link
      v-if="!isHomePage"
      :to="'home'"
    >
      <span class="breadcrumbItem clickable text-decoration-none">
        Accueil
        <!-- <font-awesome-icon icon="fa-solid fa-house" /> -->
      </span>
    </router-link>

    <!--Breadcrumb-->
    <span
      v-for="(crumb, index) in breadcrumbs"
      :key="index"
      class="breadcrumbItem"
      :class="{ clickable: index < breadcrumbs.length - 1 }"
      @click="handleBreadcrumbClick(index, crumb)"
    >
      {{ crumb.value }}
      <span
        v-if="index < breadcrumbs.length - 1"
        class="breadcrumbItem::after"
      />
    </span>
  </div>
</template>

<script>
export default {
  name: 'SimpleBreadcrumb',
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: String,
    communeName: String,
    themeName: String,
    subjectName: String
    // trail: Object // Object contenant les informations de chaque niveau
  },
  data () {

  },
  computed: {
    breadcrumbs () {
      // Construire le fil d'Ariane en utilisant this.selectedTheme et this.selectedSubject
      // const breadcrumbs = []
      const levels = Object.keys(this.$route.params)
        .map((paramName) => {
          // Exclure epciId et communeId
          if (paramName !== 'epciId' && paramName !== 'communeId') {
            return {
              name: paramName.replace('Name', ''),
              value: this.$route.params[paramName]
            }
          }
          return null
        })
        .filter((level) => level !== null)

      // Filtrer les niveaux non définis
      const filteredLevels = levels.filter((level) => level.value)

      return filteredLevels.map((crumb) => {
        if (crumb.name === 'Subject') {
          // Récupérer le nom complet du sujet à partir de la balise meta
          const subjectLabel = this.getMetaContent('subjectLabel') || 'Nom du sujet'
          return {
            name: crumb.name,
            value: subjectLabel
          }
        } else {
          return crumb
        }
      })
    },
    isHomePage () {
      return this.$route.name === 'home'
    },
    viewType () {
      // Déterminez le type de vue en fonction des propriétés disponibles
      if (this.communeName) {
        return 'CommuneView'
      } else if (this.epciName) {
        return 'EpciView'
      } else if (this.paysName) {
        return 'ReunionView'
      }
      return 'NotFound'
    },
    homeRoute () {
      // Retournez à la page d'accueil en fonction du type de vue
      switch (this.viewType) {
        case 'ReunionView':
          return {
            name: 'home',
            params: {
              paysName: this.paysName,
              themeName: 'amenagenent',
              subjectName: 'reunionBati'
            }
          }
        case 'EpciView':
          return {
            name: 'home',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: this.epciName,
              themeName: 'amenagenent',
              subjectName: 'epciBati'
            }
          }
        case 'CommuneView':
          return {
            name: 'home',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: this.epciName,
              communeId: this.communeId,
              communeName: this.communeName,
              themeName: 'amenagenent',
              subjectName: 'communeBati'
            }
          }
        default:
          return {
            name: 'home',
            params: {
              paysName: this.paysName
            }
          }
      }
    }
  },
  mounted () {
    console.log('SimpleBreadcrumb.vue - mounted')
  },
  methods: {
    // Fonction pour récupérer le contenu de la balise meta
    getMetaContent (name) {
      const metaTag = document.querySelector(`meta[name='${name}']`)
      return metaTag ? metaTag.content : null
    },
    handleBreadcrumbClick (index, crumb) {
      // Fermer tous les sélecteurs par défaut
      this.themeSelectorOpen = false
      this.subjectSelectorOpen = false

      // Identifier le crumb cliqué et ajuster le statut des sélecteurs
      let subjectLabel

      switch (crumb.name) {
        case 'Accueil':
          // Logique pour la page d'accueil
          // Redirection vers la page d'accueil
          this.$router.push(this.homeRoute)
          break
        case 'Reunion':
          // Logique pour la page Reunion
          // Rediriger vers la page ReunionView
          this.$router.push({
            name: 'reunionView',
            params: {
              paysName: crumb.value,
              subjectName: subjectLabel
            }
          })
          break
        case 'Epci':
          // Logique pour la page Epci
          // Rediriger vers la page EpciView
          this.$router.push({
            name: 'epciView',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: crumb.value
            }
          })
          break
        case 'Commune':
          // Logique pour la page Commune
          // Rediriger vers la page CommuneView
          this.$router.push({
            name: 'communeView',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: this.epciName,
              communeId: this.communeId,
              communeName: crumb.value
            }
          })
          break
        case 'Theme':
          // Logique pour la page Theme
          // Rediriger vers le thème en cours
          this.$router.push({
            name: 'amenagement',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: this.epciName,
              communeId: this.communeId,
              communeName: this.communeName,
              themeName: crumb.value
            }
          })
          break
        case 'Subject':
          // Logique pour la page Subject
          // Récupérer le sujet complet à partir de la balise meta
          subjectLabel = this.$route.meta.subjectLabel || 'Nom du sujet'
          // Rediriger vers le sujet en cours
          this.$router.push({
            name: 'communeBati',
            params: {
              paysName: this.paysName,
              epciId: this.epciId,
              epciName: this.epciName,
              communeId: this.communeId,
              communeName: this.communeName,
              themeName: this.themeName,
              subjectName: subjectLabel
            }
          })
          break
        default:
          // Logique par défaut
          this.themeSelectorOpen = false
          this.subjectSelectorOpen = false
          break
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .breadcrumbContainer {
    width: 100vw;
    height: 25px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-top: 0;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5em;
  }

  .breadcrumb {
    color: white;
    background-color: var(--light-gray);
    width: 100%;
    height: 20px;
    padding: 1em;
    margin-top: 0;
    /* display: -webkit-flex;
      display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  .breadcrumbItem {
    font-weight: bold;
    cursor: pointer;
    margin: 1em;
  }
  .breadcrumbItem::after {
    content: ">";
    color: white;
    margin: 0.5em;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  p {
    color: white;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .breadcrumbContainer {
    width: 100%;
    /* height: -webkit-max-content;
      height: -moz-max-content; */
    height: 20px;
    position: fixed;
    top: 5em;
    left: 0;
    margin: 0;
    /* display: -webkit-flex;
      display: -moz-flex; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* --webkit-gap: 1em;
      --moz-gap: 1em; */
    gap: 1em;
    color: white;
    background-color: var(--primary-color);
  }

  .breadcrumb {
    color: white;
    background-color: var(--light-gray);
    width: 100%;
    /* height: -webkit-max-content;
      height: -moz-max-content; */
    height: max-content;
    /* display: -webkit-flex;
      display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* --webkit-gap: 1em;
      --moz-gap: 1em; */
    gap: 1em;
    overflow-x: initial; /**Annule le défilement horizontal pour permettre de s'empiler verticalement*/
  }

  .breadcrumbItem {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 1em;
    width: 100%;
  }

  .breadcrumbItem::after {
    content: ">";
    color: white;
    margin: 0.5em;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
</style>
