<!--SimpleNavbar.vue-->
<template>
  <div id="app">
    <div class="sortContainer">
      <nav class="navbar">
        <ul
          id="countryList"
          class="list"
        >
          <!--PAYS-->
          <!-- <li v-for="country in countries" class="countryLink" :key="country.id"> -->
          <li>
            <router-link
              class="linkLevel1"
              :to="{ name: 'reunionAmenagement' , params: { paysName: 'reunion', themeName: 'reunionAmenagement' }}"
              @click="toggleElement('showReunionList')"
            >
              <span>La Réunion</span>
              <!-- <font-awesome-icon icon="chevron-down" style="color: #ffffff;" class="icon" /> -->
            </router-link>
          </li>
          <div class="epciCommuneContainer">
            <!--EPCI-->
            <ul
              id="epciList"
              class="list"
            >
              <!-- Liens pour chaque epci-->
              <!--La propriété epciName est définie dans EPCIView.vue-->
              <li
                v-for="epci in epcis"
                :key="epci.id"
                class="epciLink"
                @click="toggleElement('showEpciLinks.' + epci.name)"
              >
                <router-link
                  :to="{ name: 'epciAmenagement', params: { paysName: 'reunion', epciId: epci.id, epciName: epci.name, themeName: 'epciAmenagement' } }"
                >
                  {{ epci.name }}
                </router-link>
                <font-awesome-icon
                  icon="chevron-down"
                  style="color: #ffffff;"
                  class="icon"
                  @click="toggleDropdown(epci.id)"
                />
                <!-- Liens pour chaque commune-->
                <ul
                  v-show="isDropdownOpen(epci.id)"
                  id="communeList"
                  class="list"
                >
                  <li
                    v-for="commune in filteredCommunes(epci.id)"
                    :key="commune.id"
                    class="communeLink"
                  >
                    <router-link :to="generateCommuneLink(commune)">
                      {{ commune.name }}
                    </router-link>
                  </li>
                </ul>
              </li>
            </ul> <!--end communeList-->
          </div>
        </ul>
      </nav>
    </div> <!--end sortContainer-->
  </div> <!--end app-->
</template>

<script>
export default {
  name: 'SimpleNavbar',
  data () {
    return {
      countries: [
        { id: 1, name: 'La Réunion' }
      ],
      epcis: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: null,
      selectedCommune: null,
      selectedReunionTheme: null,
      showReunionList: false,
      showEpciLinks: {},
      showCommuneLinks: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      }
    }
  },
  created () {
    // Créer la correspondance entre les EPCI et les communes au chargement
    this.createEpciCommunesMap()
  },
  mounted () {
    console.log('SimpleNavbar mounted')
  },
  methods: {
    toggleElement (elementGroup, elementName) {
      console.log('toggleElement called', elementGroup, elementName)

      // Vérifier si l'élément existe
      if (this[elementGroup]) {
        // Utiliser this.$set pour mettre à jour une propriété réactive à l'intérieur d'un objet réactif
        this.$set(this[elementGroup], elementName, !this[elementGroup][elementName])
      } else {
        console.error(`${elementGroup} est indéfini ici.`)
      }
    },
    // Fonction pour obtenir les communes sous un EPCI donné
    getCommunesByEpci (epci) {
      console.log('Selected EPCI: ', this.selectedEpci)

      if (this.selectedEpci !== null && this.selectedEpci !== undefined) {
        const epciId = this.selectedEpci
        const communes = this.communes.filter((commune) => commune.epci.id === epciId)
        console.log('Communes for EPCI', communes)
        return communes
      } else {
        return []
      }
    },
    generateCommuneLink (commune) {
      console.log('Commune from generateCommuneLink', commune)
      if (commune && commune.epci && commune.epci.id) {
        return {
          name: 'communeAmenagement',
          params: {
            paysName: 'reunion',
            epciId: commune.epci.id,
            epciName: commune.epci.name,
            communeId: commune.id,
            communeName: commune.name,
            themeName: 'communeAmenagement'
          }
        }
      } else {
        return { name: 'Commune NotFound' }
      }
    },
    // Pour créer la correspondance entre les EPCIs et les communes au chargement
    createEpciCommunesMap () {
      // Réintilialiser la correspondance EPCI-commune
      this.epciCommunesMap = {}

      // Parcourir les communes et les associer à leurs EPCI correspondante
      this.communes.forEach((commune) => {
        if (commune.epci && commune.epci.id) {
          const epciId = commune.epci.id
          if (!this.epciCommunesMap[epciId]) {
            this.epciCommunesMap[epciId] = []
          }
          this.epciCommunesMap[epciId].push(commune)
        }
      })
    },
    navigateToSelectedPage () {
      // Paramètres utilisés dans les routes
      const params = {}

      if (this.selectedTerritory === 'reunion') {
        // Rediriger vers la route par défaut
        let routeName = 'reunionAmenagement'

        // EPCI
        if (this.selectedEpci) {
          // Récupérez les détails de l'EPCI sélectionné
          const selectedEpci = this.epcis.find((epci) => epci.id === this.selectedEpci)
          if (selectedEpci) {
            // Utiliser les détails de l'EPCI pour construire les paramètres de la route
            params.paysName = 'reunion'
            params.epciId = selectedEpci.id
            params.epciName = selectedEpci.name
            routeName = 'epciAmenagement'
          }
        }

        // Commune
        if (this.selectedCommune) {
          // Récupérer les détails de la commune sélectionnée
          const selectedCommune = this.communes.find((commune) => commune.id === this.selectedCommune)
          if (selectedCommune) {
            // Utiliser les détails de la commune pour construire les paramètres de la route
            params.paysName = 'reunion'
            params.epciId = selectedCommune.epci.id
            params.epciName = selectedCommune.epci.name
            params.communeId = selectedCommune.id
            params.communeName = selectedCommune.name
            params.communeTheme = 'communeAmenagement'
            routeName = 'communeAmenagement'
          }
        }

        // Pour naviguer vers la route avec les paramètres
        this.$router.push({ name: routeName, params })
      }
    },
    filteredCommunes (epciId) {
      return this.communes.filter(commune => commune.epci.id === epciId)
    },
    toggleDropdown (epciId) {
      this.showEpciLinks[epciId] = !this.showEpciLinks[epciId]
    },
    isDropdownOpen (epciId) {
      return this.showEpciLinks[epciId]
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) and (max-width: 2560px) {

  #app {
    background-color: black;
  }

  .sortContainer {
    /* position: relative;
    margin-top: 25%; */
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    padding: 1em;
    margin: 0;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: static;
    margin: 0;
  }

  h1 {
    text-align: left;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    width: 100%;
    padding: 1em;
    border: 0.05em solid white;
    border-radius: 1em;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  li:hover {
    color: white;
    background-color: var(--primary-color);
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 1em;
  }

  ul {
    list-style-type: none;
  }

  #countryList {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: max-content;
  }

  #countryList li {
    width: 20%;
    height: 10%;
  }

  #epciList {
    color: var(--accent-color);
    /* font-size: 1.5rem; */
    font-weight: 700;
    margin: 0.5em;
  }

  #epciList li {
    width: 100%;
    height: 10%;
    padding: 1em;
  }

  .epciLink {
    width: 100%;
    height: max-content;
    padding: 1em;
  }

  #communeList {
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #communeList li {
    width: 100%;
    padding: 1em;
    border: 0.05em solid white;
    border-radius: 1em;
    margin-top: 1em;
    display: inline-block;
    /* position: relative; */
  }

  .communeLink {
    width: 20em;
    color: var(--primary-color);
    background-color: black;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    width: 80%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color)
  }

}

/**Affichage pour mobile et tablette */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .sortContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    padding: 1em;
    margin: 0;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
    margin: 0;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    width: 100%;
    padding: 1em;
    border: 0.05em solid white;
    border-radius: 1em;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  li:hover {
    color: white;
    background-color: var(--primary-color);
  }

  option {
    padding: 1em;
    color: black;
    background-color: white;
  }

  option:hover {
    background-color: var(--primary-color);
  }

  h1 {
    padding: 1em;
  }

  .hidden {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 1em;
  }

  #countryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: max-content;
  }

  #countryList li {
    font-size: 1.25rem;
    height: max-content;
  }

  #epciList {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5em;
  }

  #communeList {
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
  }

  #communeList li {
    width: 100%;
    padding: 1em;
    border: 0.05em solid white;
    border-radius: 1em;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color)
  }
}
</style>
