<template>
  <div id="app">
    <div class="dataContainer">
      <h1> Commune : {{ communeName }} - Thème : {{ themeName }} - Sujet : {{ subjectName }}</h1>
      <h2>Les établissements touristiques</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>
      <!--Tri-->
      <div class="sortContainer">
        <h2>Filtres</h2>
        <label for="sortByNom">Nom </label>
        <select
          id="sortByNom"
          v-model="sortOptions.nom"
          @change="sortData('nom_commercial', sortOptions.nom)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="nom in getColumnValues('nom_commercial')"
            :key="nom"
            :value="nom"
          >
            {{ nom }}
          </option>
        </select>
        <!--Tri par type-->
        <label for="sortByType">Type </label>
        <select
          id="sortByType"
          v-model="sortOptions.type"
          @change="sortData('type', sortOptions.type)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="typeEtab in getColumnValues('type')"
            :key="typeEtab"
            :value="typeEtab"
          >
            {{ typeEtab }}
          </option>
        </select>
        <!--Tri par zone touristique-->
        <label for="sortByZone">Zone touristique</label>
        <select
          id="sortByZone"
          v-model="sortOptions.zone"
          @change="sortData('zone_touristique', sortOptions.zone)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="zone in getColumnValues('zone_touristique')"
            :key="zone"
            :value="zone"
          >
            {{ zone }}
          </option>
        </select>
        <!--Tri par classement-->
        <label for="sortByClassement">Classement </label>
        <select
          id="sortByClassement"
          v-model="sortOptions.classement"
          @change="sortData('classement', sortOptions.classement)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="classement in getColumnValues('classement')"
            :key="classement"
            :value="classement"
          >
            {{ classement }}
          </option>
        </select>
        <!--Tri par commune-->
        <label for="sortByCommune">Commune </label>
        <select
          id="sortByCommune"
          v-model="sortOptions.commune"
          @change="sortData('commune', sortOptions.commune)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="commune in getColumnValues('commune')"
            :key="commune"
            :value="commune"
          >
            {{ commune }}
          </option>
        </select>
        <!--Tri par office de tourisme-->
        <label for="sortByOffice">Office de tourisme </label>
        <select
          id="sortByOffice"
          v-model="sortOptions.office"
          @change="sortData('offices_de_tourisme', sortOptions.office)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="office in getColumnValues('offices_de_tourisme')"
            :key="office"
            :value="office"
          >
            {{ office }}
          </option>
        </select>
        <!--Tri par mode de paiement-->
        <label for="sortByPaiement">Mode de paiement </label>
        <select
          id="sortByPaiement"
          v-model="sortOptions.paiement"
          @change="sortData('modes_de_paiement', sortOptions.paiement)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="paiement in getColumnValues('modes_de_paiement')"
            :key="paiement"
            :value="paiement"
          >
            {{ paiement }}
          </option>
        </select>
      </div>
      <!--Carte-->
      <MapReunionEtabTourisme />
      <!--Tableau-->
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Zone touristique</th>
            <th>Classement</th>
            <th>Commune</th>
            <th>Office de tourisme</th>
            <th>Modes de paiement</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in filteredAndPaginatedData"
            :key="item.nofinesset"
          >
            <td @click="sortData('nom_commercial')">
              {{ item.nom_commercial === null ? 'Non renseigné' : item.nom_commercial }}
            </td>
            <td @click="sortData('type')">
              {{ item.type[0] === null ? 'Non renseigné' : item.type[0] }}
            </td>
            <td @click="sortData('zone_touristique')">
              {{ item.zone_touristique === null ? 'Non renseigné' : item.zone_touristique }}
            </td>
            <td @click="sortData('classement')">
              {{ item.classement === null ? 'Non renseigné' : item.classement }}
            </td>
            <td @click="sortData('commune')">
              {{ item.commune === null ? 'Non renseigné' : item.commune }}
            </td>
            <td @click="sortData('offices_de_tourisme')">
              {{ item.offices_de_tourisme === null ? 'Non renseigné' : item.nom_commercial }}
            </td>
            <td @click="sortData('modes_de_paiement')">
              {{ item.modes_de_paiement[0] }}
              {{ item.modes_de_paiement[1] }}
              {{ item.modes_de_paiement[2] }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : Système d'Information Touristique (SIT) de l'île de La Réunion - Plateforme SOUBKIK - 2023</p>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import MapReunionEtabTourisme from '../../../../maps/reunion/region/MapReunionEtabTourisme.vue'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataCommuneEtabTourisme',
  components: {
    MapReunionEtabTourisme
    // SimpleBreadcrumb
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Les établissements touristiques à La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0,
      sortOptions: {
        nom: '',
        typeEtab: '',
        zone: '',
        commune: '',
        office: '',
        paiement: ''
      }
    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    },
    // Pour trier les données
    filteredData () {
      return this.data
        .filter(item => {
          return (
            (!this.sortOptions.nom || item.nom_commercial === this.sortOptions.nom_commercial) &&
            (!this.sortOptions.type || item.type[0] === this.sortOptions.type[0]) &&
            (!this.sortOptions.zone_touristique || item.zone_touristique === this.sortOptions.zone_touristique) &&
            (!this.sortOptions.classement || item.classement === this.sortOptions.classement) &&
            (!this.sortOptions.commune || item.commune === this.sortOptions.commune) &&
            (!this.sortOptions.offices_de_tourisme || item.offices_de_tourisme === this.sortOptions.offices_de_tourisme) &&
            (!this.sortOptions.modes_de_paiement || item.modes_de_paiement === this.sortOptions.modes_de_paiement)
          )
        })
        .sort((a, b) => {
          // Tri par colonne
          if (this.sortOptions.nom) {
            return a.nom_commercial.localeCompare(b.nom_commercial)
          } else if (this.sortOptions.typeEtab) {
            return a.type[0].localeCompare(b.type[0])
          } else if (this.sortOptions.zone) {
            return a.zone_touristique.localeCompare(b.zone_touristique)
          } else if (this.sortOptions.classement) {
            return a.classement.localeCompare(b.classement)
          } else if (this.sortOptions.commune) {
            return a.commune.localeCompare(b.commune)
          } else if (this.sortOptions.office) {
            return a.offices_de_tourisme.localeCompare(b.offices_de_tourisme)
          } else if (this.sortOptions.modes_de_paiement) {
            return a.modes_de_paiement.localeCompare(b.modes_de_paiement)
          // Aucun tri
          }
          return 0
        })
    },
    filteredAndPaginatedData () {
      const filteredData = this.filteredData
      const start = (this.currentPage - 1) * this.limit
      return filteredData.slice(start, start + this.limit)
    }
  },
  mounted () {
    console.log('Component mounted')
    this.loadAllData()
  },
  methods: {
    loadAllData () {
    // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-touristiques-lareunion-wssoubik/records?limit=${this.limit}&offset=${this.offset}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          console.log('Data loaded:', response.data)
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count
          // Tri des données
          // const sortedData = response.data.results.slice().sort((a, b) => {
          //   // Trier par nom de commune
          //   return a.com_name.localeCompare(b.com_name)
          // })
          // // Stockage des données triées
          // this.data = this.data.concat(sortedData)
          // console.log('sortedData', sortedData)

          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)

          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès et trièes: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Clic sur Page suivante')
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Clic sur Page précédente')
      }
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.data.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData (column, selectedValue) {
      // Mettre à jour la propriété correspondante de sortOptions
      this.sortOptions[column] = selectedValue

      // Réinitialisez la page actuelle à 1
      this.currentPage = 1

      // sortData (column, selectedValue) {
      //   this.data.sort((a, b) => {
      //     console.log('sortOptions.nom', this.sortOptions.nom)
      //     console.log('sortOptions.type', this.sortOptions.type)
      //     console.log('sortOptions.zone', this.sortOptions.zone)
      //     console.log('sortOptions.classement', this.sortOptions.classement)
      //     console.log('sortOptions.commune', this.sortOptions.commune)
      //     console.log('sortOptions.office', this.sortOptions.office)
      //     console.log('sortOptions.paiement', this.sortOptions.paiement)

      //     // Tri des données en utilisant les propriétés des colonnes

      //     const valueA = a[column] === null ? '' : a[column]
      //     const valueB = b[column] === null ? '' : b[column]

      //     if (valueA < valueB) return -1
      //     if (valueA > valueB) return 1

      //     return 0
      //   })

      // Mettre à jour filteredData avec les données triées
      this.$nextTick(() => {
        this.filteredData = this.data
          .filter(item => {
            return (
              (!this.sortOptions.nom || item.nom_commercial === this.sortOptions.nom_commercial) &&
              (!this.sortOptions.type || item.type[0] === this.sortOptions.type[0]) &&
              (!this.sortOptions.zone_touristique || item.zone_touristique === this.sortOptions.zone_touristique) &&
              (!this.sortOptions.classement || item.classement === this.sortOptions.classement) &&
              (!this.sortOptions.commune || item.commune === this.sortOptions.commune) &&
              (!this.sortOptions.offices_de_tourisme || item.offices_de_tourisme === this.sortOptions.offices_de_tourisme) &&
              (!this.sortOptions.modes_de_paiement || item.modes_de_paiement === this.sortOptions.modes_de_paiement)
            )
          })
        console.log('filteredData nextTick', this.filteredData)
      })

      // Tri par nom
      // if (this.sortOptions.nom) {
      //   if (a.nom < b.nom) return -1
      //   if (a.nom > b.nom) return 1
      // }
      // Tri par type
      // if (this.sortOptions.type) {
      //   if (a.type < b.type) return -1
      //   if (a.type > b.type) return 1
      // }
      // Tri par zone touristique
      // if (this.sortOptions.zone) {
      //   if (a.zone < b.zone) return -1
      //   if (a.zone > b.zone) return 1
      // }

      // Tri par classement
      // if (this.sortOptions.classement) {
      //   if (a.classement < b.classement) return -1
      //   if (a.classement > b.classement) return 1
      // }

      // Tri par commune
      // if (this.sortOptions.commune) {
      //   if (a.commune < b.commune) return -1
      //   if (a.commune > b.commune) return 1
      // }

      // Tri par office de tourisme
      // if (this.sortOptions.office) {
      //   if (a.office < b.office) return -1
      //   if (a.office > b.office) return 1
      // }

      // Tri par moyens de paiement
      // if (this.sortOptions.paiement) {
      //   if (a.paiement < b.paiement) return -1
      //   if (a.paiement > b.paiement) return 1
      // }
      // Aucun tri
      // return 0
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
