<template>
  <div id="app">
    <div class="dataContainer">
      <h2 id="bati">
        L'aspect du bâti à {{ $route.params.communeName }}
      </h2>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Graphiques-->
      <GraphBatiAvirons v-if="$route.params.communeName === 'Les Avirons'" />
      <GraphBatiBrasPanon v-if="$route.params.communeName === 'Bras Panon'" />
      <GraphBatiCilaos v-if="$route.params.communeName === 'Cilaos'" />
      <GraphBatiEntreDeux v-if="$route.params.communeName === 'Entre-Deux'" />
      <GraphBatiEtangSale v-if="$route.params.communeName === 'Etang-Salé'" />
      <GraphBatiPetiteIle v-if="$route.params.communeName === 'Petite Ile'" />
      <GraphBatiPlaineDesPalmistes v-if="$route.params.communeName === 'Plaine des Palmistes'" />
      <GraphBatiPort v-if="$route.params.communeName === 'Le Port'" />
      <GraphBatiPossession v-if="$route.params.communeName === 'La Possession'" />
      <GraphBatiSaintAndre v-if="$route.params.communeName === 'Saint-André'" />
      <GraphBatiSaintBenoit v-if="$route.params.communeName === 'Saint-Benoît'" />
      <GraphBatiSaintDenis v-if="$route.params.communeName === 'Saint-Denis'" />
      <GraphBatiSainteMarie v-if="$route.params.communeName === 'Sainte-Marie'" />
      <GraphBatiSainteRose v-if="$route.params.communeName === 'Sainte-Rose'" />
      <GraphBatiSaintJoseph v-if="$route.params.communeName === 'Saint-Joseph'" />
      <GraphBatiSaintLeu v-if="$route.params.communeName === 'Saint-Leu'" />
      <GraphBatiSaintLouis v-if="$route.params.communeName === 'Saint-Louis'" />
      <GraphBatiSaintPaul v-if="$route.params.communeName === 'Saint-Paul'" />
      <GraphBatiSaintPhilippe v-if="$route.params.communeName === 'Saint-Philippe'" />
      <GraphBatiSaintPierre v-if="$route.params.communeName === 'Saint-Pierre'" />
      <GraphBatiSalazie v-if="$route.params.communeName === 'Salazie'" />
      <GraphBatiTampon v-if="$route.params.communeName === 'Le Tampon'" />
      <GraphBatiTroisBassins v-if="$route.params.communeName === 'Trois-Bassins'" />

      <!--Afficher le tableau-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Habitations de fortune</th>
            <th>Cases traditionnelles</th>
            <th>Maisons ou immeuble en bois</th>
            <th>Maisons ou immeubles en dur</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td data-label="Commune">
              {{ commune ? commune.communeName || '' : '' }}
            </td>
            <td data-label="Cases traditionnelle">
              {{ commune ? commune.habFortune || '' : '' }}
            </td>
            <td data-label="Maison ou immeubles en bois">
              {{ commune ? commune.casesTradi || '' : '' }}
            </td>
            <td data-label="Maisons ou immeuble en bois">
              {{ commune ? commune.enBois || '' : '' }}
            </td>
            <td data-label="Miasons ou immeubles en dur">
              {{ commune ? commune.enDur || '' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Source : API INSEE - Données Locales - Recensement de la population 2020 - Aspect du bâti (BATI)</p>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import GraphBatiAvirons from '@/components/graphs/communes/GraphBatiAvirons.vue'
import GraphBatiBrasPanon from '@/components/graphs/communes/GraphBatiBrasPanon.vue'
import GraphBatiCilaos from '@/components/graphs/communes/GraphBatiCilaos.vue'
import GraphBatiEntreDeux from '@/components/graphs/communes/GraphBatiEntreDeux.vue'
import GraphBatiEtangSale from '@/components/graphs/communes/GraphBatiEtangSale.vue'
import GraphBatiPetiteIle from '@/components/graphs/communes/GraphBatiPetiteIle.vue'
import GraphBatiPlaineDesPalmistes from '@/components/graphs/communes/GraphBatiPlaineDesPalmistes.vue'
import GraphBatiPort from '@/components/graphs/communes/GraphBatiPort.vue'
import GraphBatiPossession from '@/components/graphs/communes/GraphBatiPossession.vue'
import GraphBatiSaintAndre from '@/components/graphs/communes/GraphBatiSaintAndre.vue'
import GraphBatiSaintBenoit from '@/components/graphs/communes/GraphBatiSaintBenoit.vue'
import GraphBatiSaintDenis from '@/components/graphs/communes/GraphBatiSaintDenis.vue'
import GraphBatiSainteMarie from '@/components/graphs/communes/GraphBatiSainteMarie.vue'
import GraphBatiSainteRose from '@/components/graphs/communes/GraphBatiSainteRose.vue'
import GraphBatiSaintJoseph from '@/components/graphs/communes/GraphBatiSaintJoseph.vue'
import GraphBatiSaintLeu from '@/components/graphs/communes/GraphBatiSaintLeu.vue'
import GraphBatiSaintLouis from '@/components/graphs/communes/GraphBatiSaintLouis.vue'
import GraphBatiSaintPaul from '@/components/graphs/communes/GraphBatiSaintPaul.vue'
import GraphBatiSaintPhilippe from '@/components/graphs/communes/GraphBatiSaintPhilippe.vue'
import GraphBatiSaintPierre from '@/components/graphs/communes/GraphBatiSaintPierre.vue'
import GraphBatiSalazie from '@/components/graphs/communes/GraphBatiSalazie.vue'
import GraphBatiTampon from '@/components/graphs/communes/GraphBatiTampon.vue'
import GraphBatiTroisBassins from '@/components/graphs/communes/GraphBatiTroisBassins.vue'

export default {
  name: 'DataCommuneBati',
  components: {
    PulseLoader,
    GraphBatiAvirons,
    GraphBatiBrasPanon,
    GraphBatiCilaos,
    GraphBatiEntreDeux,
    GraphBatiEtangSale,
    GraphBatiPetiteIle,
    GraphBatiPlaineDesPalmistes,
    GraphBatiPort,
    GraphBatiPossession,
    GraphBatiSaintAndre,
    GraphBatiSaintBenoit,
    GraphBatiSaintDenis,
    GraphBatiSainteMarie,
    GraphBatiSainteRose,
    GraphBatiSaintJoseph,
    GraphBatiSaintLeu,
    GraphBatiSaintLouis,
    GraphBatiSaintPaul,
    GraphBatiSaintPhilippe,
    GraphBatiSaintPierre,
    GraphBatiSalazie,
    GraphBatiTampon,
    GraphBatiTroisBassins
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: String,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epciId: 4, codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epciId: 3, codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epciId: 1, codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epciId: 4, codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epciId: 4, codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epciId: 3, codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epciId: 5, codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epciId: 5, codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epciId: 3, codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epciId: 3, codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epciId: 2, codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epciId: 1, codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epciId: 5, codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epciId: 4, codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epciId: 5, codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epciId: 4, codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epciId: 1, codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epciId: 2, codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epciId: 3, codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epciId: 2, codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epciId: 3, codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epciId: 1, codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epciId: 5, codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epciId: 4, codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      apiData: [],
      // Objet pour lier les communeId au codeInsee
      communeIdToCodeInsee: {
        1: '97401',
        2: '97402',
        3: '97403',
        4: '97404',
        5: '97405',
        6: '97406',
        7: '97407',
        8: '97408',
        9: '97409',
        10: '97410',
        11: '97411',
        12: '97412',
        13: '97413',
        14: '97414',
        15: '97415',
        16: '97416',
        17: '97417',
        18: '97418',
        19: '97419',
        20: '97420',
        21: '97421',
        22: '97422',
        23: '97423',
        24: '97424'
      },
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  created () {
    const paysName = this.$route.params.paysName
    const epciId = this.$route.params.epciId
    const epciName = this.$route.params.epciName
    const communeId = this.$route.params.communeId
    const communeName = this.$route.params.communeName
    const themeName = this.$route.params.themeName

    console.log('DataCommuneBati, paysName', paysName)
    console.log('DataCommuneBati, epciId', epciId)
    console.log('DataCommuneBati, epciName', epciName)
    console.log('DataCommuneBati, communeId', communeId)
    console.log('DataCommuneBati, communeName', communeName)
    console.log('DataCommuneBati, themeName', themeName)
  },
  mounted () {
    // Récupérer communeId dans la route
    const communeId = this.$route.params.communeId
    // Obtenir les données pour chaque commune
    this.getPopulationsForCommunes(communeId)
  },
  methods: {
    async fetchDataForCommune (communeId) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-BATI@GEO2023RP2020/COM-${communeId}.1%2B2%2B3%2B4%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communesData = {
            communeName: parsedData.Donnees.Zone.Millesime.Nccenr,
            habFortune: parseInt(parsedData.Donnees.Cellule[1].Valeur),
            casesTradi: parseInt(parsedData.Donnees.Cellule[2].Valeur),
            enBois: parseInt(parsedData.Donnees.Cellule[3].Valeur),
            enDur: parseInt(parsedData.Donnees.Cellule[4].Valeur),
            ensemble: parseInt(parsedData.Donnees.Cellule[0].Valeur)
          }

          console.log('communesData', communesData)

          return communesData
        }
      } catch (error) {
        // Gestionnaire d'erreur personnalisé
        if (axios.isCancel(error)) {
          console.error('La demande Axios a été annulée en raison du dépassement du délai')
        } else {
          console.error('Erreur lors de la récupération des données de l\'API', error)
        }
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeId) {
      this.isLoading = true // Indique que le chargement commence
      const codeInsee = this.communeIdToCodeInsee[communeId]
      const data = await this.fetchDataForCommune(codeInsee)
      if (data) {
        this.apiData.push(data)
      }
      // Vérifier que la data est bien chargée
      console.log('data : ', data)
      console.log('Voici format de données de apiData : ', this.apiData)

      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
