<template>
  <div id="app">
    <apexchart
      type="pie"
      height="350"
      width="700"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
export default {
  name: 'GraphBatiSaintPaul',
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      series: [
        327, // Habitations de fortune
        3538, // Cases traditionnelles
        2011, // En bois
        344027 // En dur
      ],
      chartOptions: {
        chart: {
          width: 380,
          type: 'pie'
        },
        labels: [
          'Habitations de fortune',
          'Cases traditionnelles',
          'En bois',
          'En dur'
        ],
        responsive: [
          {
            breakpoint: 768,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          }
        },
        xaxis: {
          categories: [
            'Habitations de fortune',
            'Cases traditionnelles',
            'En bois',
            'En dur'
          ]
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
}
/**Affichage pour mocile et tablette */
@media screen and (max-width: 768px) {
}
</style>
