<template>
  <div id="app">
    <apexchart
      type="pie"
      height="350"
      width="700"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
export default {
  name: 'GraphBatiEtangSale',
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      series: [
        42, // Habitations de fortune
        335, // Cases traditionnelles
        339, // En bois
        4782 // En dur
      ],
      chartOptions: {
        chart: {
          width: 380,
          type: 'pie'
        },
        labels: [
          'Habitations de fortune',
          'Cases traditionnelles',
          'En bois',
          'En dur'
        ],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          }
        },
        xaxis: {
          categories: [
            '01/01/2011 GMT',
            '01/02/2011 GMT',
            '01/03/2011 GMT',
            '01/04/2011 GMT',
            '01/05/2011 GMT',
            '01/06/2011 GMT'
          ]
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
      }
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
}
/**Affichage pour mocile et tablette */
@media screen and (max-width: 768px) {
}
</style>
