<!--CommuneDynamicSubjectComponent.vue-->
<template>
  <div class="subjectContainer">
    <component
      :is="currentSubjectComponent"
      :selected-subject="selectedSubject"
    />
  </div>
</template>

<script>

import DataCommuneBati from '../datas/reunion/amenagement/communes/DataCommuneBati.vue'
import DataCommuneStationnement from '../datas/reunion/amenagement/communes/DataCommuneStationnement.vue'
import MapCommune from '../maps/reunion/communes/MapCommune.vue'
import DataCommune5G from '../datas/reunion/economie/communes/DataCommune5G.vue'
import DataCommuneVoiture from '../datas/reunion/economie/communes/DataCommuneVoiture.vue'
import DataCommuneFloresNA17 from '../datas/reunion/economie/communes/DataCommuneFloresNA17.vue'
import DataCommuneSirene from '../datas/reunion/economie/communes/DataCommuneSirene.vue'
import DataCommuneRisques from '../datas/reunion/environnement/communes/DataCommuneRisques.vue'
import DataCommuneCATNAT from '../datas/reunion/environnement/communes/DataCommuneCATNAT.vue'
import DataCommunePopLeg from '../datas/reunion/population/communes/DataCommunePopLeg.vue'
import DataCommuneFamille from '../datas/reunion/population/communes/DataCommuneFamille.vue'
import MapCommuneBassinNat from '../maps/reunion/communes/MapCommuneBassinNat.vue'
import DataCommuneEquipementsSport from '../datas/reunion/sport/communes/DataCommuneEquipementsSport.vue'
import DataCommuneEtabTourisme from '../datas/reunion/tourisme/communes/DataCommuneEtabTourisme.vue'
import DataCommuneHebTourisme from '../datas/reunion/tourisme/communes/DataCommuneHebTourisme.vue'

// import { useCommuneSubjectStore } from '../../pinia/CommuneSubjectStore.js'

export default {
  name: 'CommuneDynamicSubjectComponent',
  components: {
    DataCommuneBati,
    DataCommuneStationnement,
    MapCommune,
    DataCommune5G,
    DataCommuneVoiture,
    DataCommuneFloresNA17,
    DataCommuneSirene,
    DataCommuneRisques,
    DataCommuneCATNAT,
    DataCommunePopLeg,
    DataCommuneFamille,
    MapCommuneBassinNat,
    DataCommuneEquipementsSport,
    DataCommuneEtabTourisme,
    DataCommuneHebTourisme
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String,
    selectedSubject: Object
  },
  computed: {
    // Avec Pinia
    // selectedSubject () {
    //   const subjectStore = useCommuneSubjectStore()
    //   return subjectStore.selectedSubject
    // },
    currentSubjectComponent () {
      // Logique pour déterminer le composant à afficher en fonction du sujet
      switch (this.subjectName) {
        case 'reunionAmenagementBati':
          return 'DataReunionBati'
        case 'reunionAmenagementStationnement':
          return 'DataReunionStationnement'
        case 'reunionCarteClicMap':
          return 'MapReunionClicMap'
        case 'reunionCarteIGNandSDK':
          return 'DataReunionIGNandSDK'
        case 'reunionEconomie5G':
          return 'DataReunion5G'
        case 'reunionEconomieVoiture':
          return 'DataReunionVoiture'
        case 'reunionEconomieFloresNA17':
          return 'DataReunionFloresNA17'
        case 'reunionEconomieSirene':
          return 'DataReunionSirene'
        case 'reunionEnvironnementRisques':
          return 'DataReunionRisques'
        case 'reunionEnvironnementCatnat':
          return 'DataReunionCATNAT'
        case 'reunionPopulationPopLeg':
          return 'DataReunionPopLeg'
        case 'reunionPopulationFamille':
          return 'DataReunionFamille'
        case 'reunionSportBassinNat':
          return 'MapReunionBassinNat'
        case 'reunionSportEquipementsSport':
          return 'DataReunionEquipementsSport'
        case 'reunionTourismeHebTourisme':
          return 'DataReunionHebTourisme'
        case 'reunionTourismeEtabTourisme':
          return 'DataReunionEtabTourisme'
        default:
          return 'DataReunionBati'
      }
    }
  }
}

</script>

    <style scoped>
    /**Affichage pour TV et ordinateurs */
    @media screen and (min-width: 769px) {
     .subjectContainer {
        width: 100%;
        height: max-content;
        /* display: -webkit-flex;
        display: -moz-flex; */
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 1em;
        margin: 0;
        position: absolute;
        top: 18em;
      }
    }

    /**Affichage pour mobile et tablette */
    @media screen and (max-width: 768px) {
        .subjectContainer {
            width: 100%;
        }
    }
    </style>
