<!--EpciDynamicSubjectComponent.vue-->
<template>
  <div class="subjectContainer">
    <component
      :is="currentSubjectComponent"
      :selected-subject="selectedSubject"
    />
  </div>
</template>

<script>

import DataEpciBati from '../datas/reunion/amenagement/epcis/DataEpciBati.vue'
import DataEpciStationnement from '../datas/reunion/amenagement/epcis/DataEpciStationnement.vue'
import MapEpci from '../maps/reunion/epcis/MapEpci.vue'
import DataEpci5G from '../datas/reunion/economie/epcis/DataEpci5G.vue'
import DataEpciVoiture from '../datas/reunion/economie/epcis/DataEpciVoiture.vue'
import DataEpciFloresNA17 from '../datas/reunion/economie/epcis/DataEpciFloresNA17.vue'
import DataEpciSirene from '../datas/reunion/economie/epcis/DataEpciSirene.vue'
import DataEpciRisques from '../datas/reunion/environnement/epcis/DataEpciRisques.vue'
import DataEpciCATNAT from '../datas/reunion/environnement/epcis/DataEpciCATNAT.vue'
import DataEpciPopLeg from '../datas/reunion/population/epcis/DataEpciPopLeg.vue'
import DataEpciFamille from '../datas/reunion/population/epcis/DataEpciFamille.vue'
import MapEpciBassinNat from '../maps/reunion/epcis/MapEpciBassinNat.vue'
import DataEpciEquipementsSport from '../datas/reunion/sport/epcis/DataEpciEquipementsSport.vue'
import DataEpciEtabTourisme from '../datas/reunion/tourisme/epcis/DataEpciEtabTourisme.vue'
import DataEpciHebTourisme from '../datas/reunion/tourisme/epcis/DataEpciHebTourisme.vue'

// import { useEpciSubjectStore } from '../../pinia/EpciSubjectStore.js'

export default {
  name: 'EpciDynamicSubjectComponent',
  components: {
    DataEpciBati,
    DataEpciStationnement,
    MapEpci,
    DataEpci5G,
    DataEpciVoiture,
    DataEpciFloresNA17,
    DataEpciSirene,
    DataEpciRisques,
    DataEpciCATNAT,
    DataEpciPopLeg,
    DataEpciFamille,
    MapEpciBassinNat,
    DataEpciEquipementsSport,
    DataEpciEtabTourisme,
    DataEpciHebTourisme
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String,
    selectedSubject: Object
  },
  computed: {
    // Avec PINIA
    // selectedSubject () {
    //   const subjectStore = useEpciSubjectStore()
    //   return subjectStore.selectedSubject
    // },
    currentSubjectComponent () {
      // Logique pour déterminer le composant à afficher en fonction du sujet
      switch (this.subjectName) {
        case 'reunionAmenagementBati':
          return 'DataReunionBati'
        case 'reunionAmenagementStationnement':
          return 'DataReunionStationnement'
        case 'reunionCarteClicMap':
          return 'MapReunionClicMap'
        case 'reunionCarteIGNandSDK':
          return 'DataReunionIGNandSDK'
        case 'reunionEconomie5G':
          return 'DataReunion5G'
        case 'reunionEconomieVoiture':
          return 'DataReunionVoiture'
        case 'reunionEconomieFloresNA17':
          return 'DataReunionFloresNA17'
        case 'reunionEconomieSirene':
          return 'DataReunionSirene'
        case 'reunionEnvironnementRisques':
          return 'DataReunionRisques'
        case 'reunionEnvironnementCatnat':
          return 'DataReunionCATNAT'
        case 'reunionPopulationPopLeg':
          return 'DataReunionPopLeg'
        case 'reunionPopulationFamille':
          return 'DataReunionFamille'
        case 'reunionSportBassinNat':
          return 'MapReunionBassinNat'
        case 'reunionSportEquipementsSport':
          return 'DataReunionEquipementsSport'
        case 'reunionTourismeHebTourisme':
          return 'DataReunionHebTourisme'
        case 'reunionTourismeEtabTourisme':
          return 'DataReunionEtabTourisme'
        default:
          return 'DataReunionBati'
      }
    }
  }
}

</script>

  <style scoped>
  /**Affichage pour TV et ordinateurs */
  @media screen and (min-width: 769px) {
   .subjectContainer {
      width: 100%;
      height: max-content;
      /* display: -webkit-flex;
      display: -moz-flex; */
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      gap: 1em;
      margin: 0;
      position: absolute;
      top: 18em;
    }
  }

  /**Affichage pour mobile et tablette */
  @media screen and (max-width: 768px) {
      .subjectContainer {
          width: 100%;
      }
  }
  </style>
