<!--ReunionDynamicSubjectComponent.vue-->
<template>
  <div class="subjectContainer">
    <component
      :is="currentSubjectComponent"
      :selected-subject="selectedSubject"
    />
  </div>
</template>

<script>

import DataReunionBati from '../datas/reunion/amenagement/region/DataReunionBati.vue'
import DataReunionStationnement from '../datas/reunion/amenagement/region/DataReunionStationnement.vue'
import MapReunionClicMap from '../maps/reunion/region/MapReunionClicMap.vue'
import MapReunionIGNandSDK from '../maps/ign/MapReunionIGNandSDK.vue'
import DataReunion5G from '../datas/reunion/economie/region/DataReunion5G.vue'
import DataReunionVoiture from '../datas/reunion/economie/region/DataReunionVoiture.vue'
import DataReunionFloresNA17 from '../datas/reunion/economie/region/DataReunionFloresNA17.vue'
import DataReunionSirene from '../datas/reunion/economie/region/DataReunionSirene.vue'
import DataReunionRisques from '../datas/reunion/environnement/region/DataReunionRisques.vue'
import DataReunionCATNAT from '../datas/reunion/environnement/region/DataReunionCATNAT.vue'
import DataReunionPopLeg from '../datas/reunion/population/region/DataReunionPopLeg.vue'
import DataReunionFamille from '../datas/reunion/population/region/DataReunionFamille.vue'
import MapReunionBassinNat from '../maps/reunion/region/MapReunionBassinNat.vue'
import DataReunionEquipementsSport from '../datas/reunion/sport/region/DataReunionEquipementsSport.vue'
import DataReunionEtabTourisme from '../datas/reunion/tourisme/region/DataReunionEtabTourisme.vue'
import DataReunionHebTourisme from '../datas/reunion/tourisme/region/DataReunionHebTourisme.vue'

// import { useReunionSubjectStore } from '../../pinia/ReunionSubjectStore.js'

export default {
  name: 'ReunionDynamicSubjectComponent',
  components: {
    DataReunionBati,
    DataReunionStationnement,
    MapReunionClicMap,
    MapReunionIGNandSDK,
    DataReunion5G,
    DataReunionVoiture,
    DataReunionFloresNA17,
    DataReunionSirene,
    DataReunionRisques,
    DataReunionCATNAT,
    DataReunionPopLeg,
    DataReunionFamille,
    MapReunionBassinNat,
    DataReunionEquipementsSport,
    DataReunionEtabTourisme,
    DataReunionHebTourisme
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String,
    selectedSubject: String
  },
  emits: ['subject-changed'],
  // data () {
  //   return {
  //     paysName: String,
  //     themeName: String,
  //     subjectName: String,
  //     selectedSuject: String
  //   }
  // },
  computed: {
    // Avec Pinia
    // selectedSubject () {
    //   const subjectStore = useReunionSubjectStore()
    //   return subjectStore.selectedSubject
    // },
    currentSubjectComponent () {
    // Logique pour déterminer le composant à afficher en fonction du sujet
      switch (this.subjectName) {
        case 'reunionBati':
          return 'DataReunionBati'
        case 'reunionStationnement':
          return 'DataReunionStationnement'
        case 'reunionClicMap':
          return 'MapReunionClicMap'
        case 'reunionIGNandSDK':
          return 'MapReunionIGNandSDK'
        case 'reunion5G':
          return 'DataReunion5G'
        case 'reunionVoiture':
          return 'DataReunionVoiture'
        case 'reunionFloresNA17':
          return 'DataReunionFloresNA17'
        case 'reunionSirene':
          return 'DataReunionSirene'
        case 'reunionRisques':
          return 'DataReunionRisques'
        case 'reunionCatnat':
          return 'DataReunionCATNAT'
        case 'reunionPopLeg':
          return 'DataReunionPopLeg'
        case 'reunionFamille':
          return 'DataReunionFamille'
        case 'reunionBassinNat':
          return 'MapReunionBassinNat'
        case 'reunionEquipementsSport':
          return 'DataReunionEquipementsSport'
        case 'reunionTourismeHeb':
          return 'DataReunionHebTourisme'
        case 'reunionTourismeEtab':
          return 'DataReunionEtabTourisme'
        default:
          return 'DataReunionBati'
      }
    }
  },
  watch: {
    selectedSubject (newSubject) {
      // .value sert à accéder à la valeur réelle de l'objet réactif
      this.$emit('subject-changed', newSubject.value)
    }
  },
  mounted () {
    console.log('Props received by ReunionDynamicSubjectComponent:', {
      paysName: this.paysName,
      themeName: this.themeName,
      subjectName: this.subjectName
    })
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
 .subjectContainer {
    width: 100%;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 25px;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
    .subjectContainer {
      top: 25%;
      width: 100%;
    }
}
</style>
