<template>
  <div class="breadcrumbContainer">
    <h1> {{ title }}</h1>

    <div class="breadcrumb">
      <p>Vous êtes ici : </p>
      <span
        v-for="(crumb, index) in breadcrumbs"
        :key="index"
        class="breadcrumbItem"
        :class="{ clickable: index < breadcrumbs.length - 1 }"
        @click="handleBreadcrumbClick(index)"
      >
        {{ crumb }}
        <span
          v-if="index < breadcrumbs.length - 1"
          class="breadcrumbDivider"
        />
      </span>
    </div>

    <div class="navbarContainer">
      <router-link :to="'/home'">
        <font-awesome-icon icon="fa-solid fa-house" />
      </router-link>
      <!--Pays-->
      <h3>{{ paysName ? paysName : 'Pays' }}</h3>
      <select
        v-model="selectedCountry"
        @change="navigateToCountry(selectedCountry)"
      >
        <option value="">
          Sélectionnez un pays
        </option>
        <option
          v-for="country in countries"
          :key="country.id"
          :value="country.name"
        >
          {{ country.name }}
        </option>
      </select>
      <!--Intercommunalité-->
      <h3>{{ epciName ? epciName : 'Intercommunalité' }}</h3>
      <select
        v-model="selectedEpci"
        @change="navigateToEpci(selectedEpci)"
      >
        <option value="">
          Sélectionnez une intercommunalité
        </option>
        <option
          v-for="epci in epcis"
          :key="epci.id"
          :value="epci.name"
        >
          {{ epci.name }}
        </option>
      </select>
      <!--Commune-->
      <h3>{{ communeName ? communeName : 'Commune' }}</h3>
      <select
        v-model="selectedCommune"
        @change="navigateToCommune(selectedCommune)"
      >
        <option value="">
          Sélectionnez une commune
        </option>
        <option
          v-for="commune in communes"
          :key="commune.id"
          :value="commune.name"
        >
          {{ commune.name }}
        </option>
      </select>
      <!--Thème-->
      <h3>{{ themeName ? themeName : 'Thèmes' }}</h3>
      <select
        v-model="selectedTheme"
        @change="navigateToTheme(selectedTheme)"
      >
        <option value="">
          Sélectionnez un thème
        </option>
        <option
          v-for="theme in themes"
          :key="theme.id"
          :value="theme.name"
        >
          {{ theme.name }}
        </option>
      </select>
      <h3>{{ subjectName ? subjectName : 'Sujets' }}</h3>
      <select
        v-model="selectedSubject"
        @change="navigateToSubject(selectedSubject)"
      >
        <option value="">
          Sélectionnez un sujet d'étude
        </option>
        <option
          v-for="subject in subjects"
          :key="subject.id"
          :value="subject.label"
        >
          {{ subject.label }}
        </option>
      </select>
    </div>

    <!--Composant dynamique-->
    <component :is="currentSubject">
      <!--Le composant affiché dépendra du sujet sélectionné-->
      <slot name="ReunionData">
        <!--Quand currentSubject = ReunionData, le composant ReunionData est affiché-->
        <ReunionData
          :pays-name="paysName"
          :theme="paysTheme"
          :subject="paysSubject"
        />
      </slot>
      <slot name="EpciData">
        <!--Quand currentSubject = ReunionData, le composant ReunionData est affiché-->
        <EpciData
          :pays-name="paysName"
          :theme="paysTheme"
          :subject="paysSubject"
        />
      </slot>
      <slot name="CommuneData">
        <!--Quand currentSubject = ReunionData, le composant ReunionData est affiché-->
        <CommuneData
          :pays-name="paysName"
          :theme="paysTheme"
          :subject="paysSubject"
        />
      </slot>
    </component>
  </div>
</template>

<script>
// Pays

// Epci

// Commune

/* *********************************Thèmes********************************************/
// Reunion
// import ReunionAmenagement from '../../components/themes/reunion/ReunionAmenagement.vue'
// import ReunionCarte from '../../components/themes/reunion/ReunionCarte.vue'
// import ReunionEconomie from '../../components/themes/reunion/ReunionEconomie.vue'
// import ReunionEnvironnement from '../../components/themes/reunion/ReunionEnvironnement.vue'
// import ReunionPopulation from '../../components/themes/reunion/ReunionPopulation.vue'
// import ReunionSante from '../../components/themes/reunion/ReunionSante.vue'
// import ReunionSocial from '../../components/themes/reunion/ReunionSocial.vue'
// import ReunionSport from '../../components/themes/reunion/ReunionSport.vue'
// import ReunionTourisme from '../../components/themes/reunion/ReunionTourisme.vue'

// Epci

// import EpciAmenagement from '../../components/themes/epcis/EpciAmenagement.vue'
// import EpciCarte from '../../components/themes/epcis/EpciCarte.vue'
// import EpciEconomie from '../../components/themes/epcis/EpciEconomie.vue'
// import EpciEnvironnement from '../../components/themes/epcis/EpciEnvironnement.vue'
// import EpciPopulation from '../../components/themes/epcis/EpciPopulation.vue'
// import EpciSante from '../../components/themes/epcis/EpciSante.vue'
// import EpciSocial from '../../components/themes/epcis/EpciSocial.vue'
// import EpciSport from '../../components/themes/epcis/EpciSport.vue'
// import EpciTourisme from '../../components/themes/epcis/EpciTourisme.vue'

// Commune

// import CommuneAmenagement from '../../components/themes/communes/CommuneAmenagement.vue'
// import CommuneCarte from '../../components/themes/communes/CommuneCarte.vue'
// import CommuneEconomie from '../../components/themes/communes/CommuneEconomie.vue'
// import CommuneEnvironnement from '../../components/themes/communes/CommuneEnvironnement.vue'
// import CommunePopulation from '../../components/themes/communes/CommunePopulation.vue'
// import CommuneSante from '../../components/themes/communes/CommuneSante.vue'
// import CommuneSocial from '../../components/themes/communes/CommuneSocial.vue'
// import CommuneSport from '../../components/themes/communes/CommuneSport.vue'
// import CommuneTourisme from '../../components/themes/communes/CommuneTourisme.vue'

import ReunionTheme from '../../components/themes/ReunionTheme.vue'
import EpciTheme from '../../components/themes/EpciTheme.vue'
import CommuneTheme from '../../components/themes/CommuneTheme.vue'

/** **************************************************Subject ************************************************/

// Datas
import ReunionData from '../../components/datas/ReunionData.vue'
import EpciData from '../../components/datas/EpciData.vue'
import CommuneData from '../../components/datas/CommuneData.vue'

export default {
  name: 'DataAnalyse',
  components: {
    ReunionData,
    EpciData,
    CommuneData,
    ReunionTheme,
    EpciTheme,
    CommuneTheme
  },
  props: {
    title: String,
    scale: String, // Ajoutez un paramètre pour l'échelle
    theme: String, // Propriété pour le thème sélectionné
    subject: String, // Sujet sélectionné
    paysName: String,
    paysTheme: String,
    paysSubject: String,
    epciId: Number,
    epciName: String,
    epciTheme: String,
    communeId: Number,
    communeName: String,
    communeTheme: String
  },
  data () {
    console.log('DataAnalyse data: ', {
      selectedCountry: this.selectedCountry,
      selectedEpci: this.selectedEpci,
      selectedCommune: this.selectedCommune,
      selectedTheme: this.selectedTheme,
      selectedSubject: this.selectedSubject
      // themeName: this.themeName,
      // subjectName: this.subjectName
    })
    return {
      countries: [
        { id: 1, name: 'reunion' },
        { id: 2, name: 'madagascar' }
      ],
      epcis: [
        { id: 1, name: 'CASUD', pays: 'reunion' },
        { id: 2, name: 'CINOR', pays: 'reunion' },
        { id: 3, name: 'CIREST', pays: 'reunion' },
        { id: 4, name: 'CIVIS', pays: 'reunion' },
        { id: 5, name: 'TCO', pays: 'reunion' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' }, pays: 'reunion' },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' }, pays: 'reunion' },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' }, pays: 'reunion' },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' }, pays: 'reunion' },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' }, pays: 'reunion' },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' }, pays: 'reunion' },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' }, pays: 'reunion' },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' }, pays: 'reunion' },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' }, pays: 'reunion' },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' }, pays: 'reunion' },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' }, pays: 'reunion' },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' }, pays: 'reunion' },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' }, pays: 'reunion' },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' }, pays: 'reunion' }
      ],
      themes: [
        { id: 1, name: 'carte', pays: 'reunion' },
        { id: 2, name: 'population', pays: 'reunion' },
        { id: 3, name: 'economie', pays: 'reunion' },
        { id: 4, name: 'social', pays: 'reunion' },
        { id: 5, name: 'tourisme', pays: 'reunion' },
        { id: 6, name: 'sport', pays: 'reunion' },
        { id: 7, name: 'environnement', pays: 'reunion' },
        { id: 8, name: 'sante', pays: 'reunion' },
        { id: 9, name: 'amenagement', pays: 'reunion' }
      ],
      subjects: [
        { id: 1, name: 'reunionBati', theme: 'amenagement', label: 'Aspect du bâti' },
        { id: 2, name: 'reunionClicMap', theme: 'carte', label: 'Emplacements réservés au stationnement' },
        { id: 3, name: 'reunionSirene', theme: 'economie', label: 'Activités économiques en 17 postes' },
        { id: 4, name: 'reunion5G', theme: 'economie', label: 'Antennes 5G' },
        // { id: 5, name: 'azi', theme: 'environnement', label: 'Atlas de Zones Inondables (AZI)' },
        // { id: 6, name: 'catnat', theme: 'environnement', label: 'Opérations sur les Catastrophes Naturelles (CATNAT)' },
        // { id: 7, name: 'mvt', theme: 'environnement', label: 'Opérations sur les Mouvement de Terrain (MVT)' },
        { id: 5, name: 'reunionRisques', theme: 'environnement', label: 'Opérations sur les risques' },
        { id: 6, name: 'reunionPopLegales', theme: 'population', label: 'Populations Légales' },
        { id: 7, name: 'reunionEtabSante', theme: 'sante', label: 'Etablissements de santé' },
        { id: 8, name: 'reunionFamilles', theme: 'social', label: 'Types de famille' },
        { id: 9, name: 'reunionBassinsNat', theme: 'sport', label: 'Les bassins de natation' },
        { id: 10, name: 'reunionEtabTourisme', theme: 'tourisme', label: 'Etablissements touristiques' }
        // { id: 14, name: 'reunionHebTouristique', theme: 'tourisme', label: 'Hébergement touristiques' }
      ],
      // country: '', // Initialiser country depuis la route
      // epci: '', // Initialiser epci depuis la route
      // commune: '', // Initialiser commune depuis la route
      themeName: '', // Propriété thème
      // subjectName: '', // Propriété sujet
      selectedCountry: this.country, // Initialiser le pays depuis la route
      selectedEpci: this.epci, // Initialiser le sujet sélectionné depuis la route
      selectedCommune: this.commune, // Initialiser le thème depuis la route
      selectedTheme: this.theme, // Initialiser le thème depuis la route
      selectedSubject: this.subject, // Initialiser le sujet sélectionné depuis la route
      countrySelectOpen: false,
      epciSelectorOpen: false,
      communeSelectorOpen: false,
      themeSelectorOpen: false,
      subjectSelectorOpen: false
    }
  },
  computed: {
    breadcrumbs () {
      // Construire le fil d'Ariane en utilisant this.selectedTheme et this.selectedSubject
      const breadcrumbs = []
      if (this.selectedCountry) {
        breadcrumbs.push(this.selectedCountry)
      }
      if (this.selectedEpci) {
        breadcrumbs.push(this.selectedEpci)
      }
      if (this.selectedCommune) {
        breadcrumbs.push(this.selectedCommune)
      }
      if (this.selectedTheme) {
        breadcrumbs.push(this.selectedTheme)
      }
      if (this.selectedSubject) {
        breadcrumbs.push(this.selectedSubject)
      }
      return breadcrumbs
    },
    currentTheme () {
      // Logique pour déterminer le thème courant basé sur selectedTheme
      if (this.selectedTheme) {
        console.log('selectedTheme', this.selectedTheme)
        return this.selectedTheme
      } else if (this.$route.params.scale) {
        // Utiliser la valeur de l'échelle dans la route pour définir le thème
        const scale = this.$route.params.scale
        if (scale === 'reunion') {
          return 'reunionTheme'
        } else if (scale === 'epci') {
          return 'epciTheme'
        } else if (scale === 'commune') {
          return 'communeTheme'
        }
      }
      return 'amenagement' // Thème par défaut
    },
    subjectName () {
      if (this.selectedSubject) {
        console.log('subjectName:', this.selectedSubject)
        return this.selectedSubject
      }
      return ''
    },
    selectedThemeSubjects () {
      // Récupérerz les sujets associés au thème sélectionné
      return this.themes[this.selectedTheme] || []
    },
    currentSubject () {
      // Logique de sélection de composant
      return this.scale + this.selectedSubject // Combiner le sujet et l'échelle pour obtenir le composant approprié
    }
  },
  created () {
    console.log('DataAnalyse created')
  },
  methods: {
    changeCountry () {
      // Logique pour le changement de pays (selectedCountry)
      console.log('Changing country:', this.selectedCountry)
      this.selectedCountry = ''
      this.countrySelectorOpen = false
    },
    changeEpci () {
      // Logique pour le changement d'intercommunalité (selectedEpci)
      console.log('Changing epci:', this.selectedEpci)
      this.selectedEpci = '' // Mise à jour de la propriété epci
      this.epciSelectorOpen = false
    },
    changeCommune () {
      console.log('Changing commune:', this.selectedCommune)
      this.selectedCommune = ''
      this.communeSelectorOpen = false
    },
    changeTheme () {
      // Mettre à jour les sujets lorque le thème est modifié
      console.log('Changing theme: ', this.selectedTheme)
      this.selectedTheme = ''
      this.themeSelectorOpen = false // Fermez le sélecteur de thème lorsque le thème est modifié
    },
    navigateToCountry (countryName, scale) {
      this.$router.push({
        name: 'paysTheme',
        params: {
          paysName: countryName,
          theme: this.selectedTheme,
          subject: this.selectedSubject,
          scale
        }
      })
      // Mettre à jour la sélection de l'EPCI
      this.selectedPays = countryName
      // Appeler changeCountry pour mettre à jour les éléments du breadcrumb
      this.changeCountry()
    },
    navigateToEpci (countryName, epciId, epciName, scale) {
      this.$router.push({
        name: 'epciTheme',
        params: {
          paysName: countryName,
          epciId,
          epciName,
          theme: this.selectedTheme,
          subject: this.selectedSubject,
          scale
        }
      })
      // Mettre à jour la sélection de l'EPCI
      this.selectedEpci = epciName
      // Appeler changeEpci pour mettre à jour les éléments du breadcrumb
      this.changeEpci()
    },
    navigateToCommune (countryName, epciId, epciName, communeId, communeName, scale) {
      this.$router.push({
        name: 'communeTheme',
        params: {
          paysName: countryName,
          epciId,
          epciName,
          communeId,
          communeName,
          theme: this.selectedTheme,
          subject: this.selectedSubject,
          scale
        }
      })
      // Mettre à jour la sélection de la commune
      this.selectedCommune = communeName
      // Appeler changeCommune pour mettre à jour les éléments du breadcrumb
      this.changeCommune()
    },
    navigateToTheme (themeName) {
      this.$router.push({
        name: 'currentTheme',
        params: {
          paysName: this.country.name,
          epciId: this.commune.epci.id,
          epciName: this.commune.epci.name,
          communeId: this.commune.id,
          communeName: this.commune.name,
          theme: themeName,
          subject: this.selectedSubject

        }
      })
      // Mettre à jour la sélection de thème
      this.selectedTheme = themeName
      // Appeler changeTheme pour mettre à jour les éléments du breadcrumb
      this.changeTheme()
    },
    navigateToSubject (subjectName) {
      this.$router.push({
        name: 'currentSubject',
        params: {
          paysName: this.country.name,
          epciId: this.commune.epci.id,
          epciName: this.commune.epci.name,
          communeId: this.commune.id,
          communeName: this.commune.name,
          theme: this.selectedTheme,
          subject: subjectName

        }
      })
      // Mettre à jour la sélection de thème
      this.selectedSubject = subjectName
      // Appeler changeTheme pour mettre à jour les éléments du breadcrumb
      this.changeSubject()
    // navigateToSubject () {
    //   // Logique de navigation en utilisant this.scale, this.selectedTheme, this.selectedSubject
    //   // URL dynamique
    //   console.log('Navigating to subject: ', this.selectedSubject)
    //   if (this.selectedSubject) {
    //     const routeParams = {
    //       name: this.scale + 'Subject', // Utilisez this.scale pour construire le nom de la route
    //       params: {
    //         paysName: this.paysName,
    //         paysTheme: this.selectedTheme,
    //         paysSubject: this.selectedSubject,
    //         epciId: this.epciId,
    //         epciName: this.epciName,
    //         epciTheme: this.selectedTheme,
    //         epciSubject: this.selectedSubject,
    //         communeId: this.communeId,
    //         communeName: this.communeName,
    //         communeTheme: this.selectedTheme,
    //         communeSubject: this.selectedSubject
    //       }
    //     }
    //     // Utilisez this.$router.push pour effectuer la navigation
    //     this.$router.push(routeParams)
    //     this.subjectSelectorOpen = false // Fermez le sélecteur de sujet après la navigation
    //   }
    },
    handleBreadcrumbClick (index) {
      console.log('Breadcrumb clicked: ', index)
      if (index === 0) {
        this.themeSelectorOpen = !this.themeSelectorOpen // Ouvrez et fermez le sélecteur de thème en cliquant sur le premier élément du fil d'Ariane
        this.subjectSelectorOpen = false // S'assurer que le sélecteur de sujets est fermé
      } else if (index === 1) {
        this.themeSelectorOpen = false //  S'assurer que le sélecteur de sujets est fermé
        this.subjectSelectorOpen = !this.subjectSelectorOpen
      }
    }
  }
}
</script>

<style scoped>
    .breadcrumbContainer {
      width: 100%;
      height: max-content;
      border: none;
      left: 0;
      top: 0;
      margin-bottom: 1em;
    }

    .navbarContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      gap: 1em;
      color: white;
      background-color: var(--gray);
      padding: 1em;
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      color: white;
      border: none;
      background-color: var(--primary-color);
      width: 100%;
      height: 5em;
    }

    .breadcrumbItem {
      font-weight: bold;
      cursor: pointer;
    }

    .breadcrumbDivider {
      margin: 0 0.5em;
      content: '>';
      color: black;
    }

    select {
      color: white;
      background-color: var(--gray);
    }

    /**Affichage pour mobile et tablette */
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .navbarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 1em;
        color: white;
        background-color: var(--gray);
        padding: 1em;
      }
      select {
        width: 100%;
      }
    }
</style>
