<!--App.vue-->
<template>
  <div id="app">
    <!--Conteneur principal pour le contenu de la page-->
    <div class="content-container">
      <HeaderSection />
      <Breadcrumb />
      <div class="container-fluid mt-4">
        <!--Breadcrumb-->
        <!-- <Breadcrumb
          :pays-name="paysName"
          :theme-name="themeName"
          :subject-name="subjectName"
        /> -->

        <!--Bouton du menu burger-->
        <button
          class="btn btn-dark toggleMenuButton"
          @click="toggleMenu"
        >
          <font-awesome-icon icon="fa-solid fa-bars" />
        </button>

        <!--Menu pour les petits écrans-->
        <div
          v-if="isMenuOpen"
          class="mobileMenu"
          @click="logMenuStatus"
        >
          <div class="navigationTools d-flex justify-content-between">
            <!--Barre de navigation dans l'application-->
            <div class="navigationBar">
              <!--Sélection de l'échelle-->
              <ScaleSelector
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-id="communeId"
                :commune-name="communeName"
                :theme-name="themeName"
                :subject-name="subjectName"
              />
              <!--Sélection du sujet-->
              <SubjectSelectorCommune
                :pays-name="paysName"
                :theme-name="themeName"
                :subject-name="subjectName"
                @subject-selected="handleSubjectChange"
              />
            </div>
          </div>
        </div>
        <div v-else>
          <!--Pour écran TV et desktop-->

          <div class="navigationTools d-flex justify-content-between">
            <div class="navigationBar">
              <!--Sélection de l'échelle-->
              <ScaleSelector
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-id="communeId"
                :commune-name="communeName"
                :theme-name="themeName"
                :subject-name="subjectName"
              />

              <!--Sélection du sujet-->
              <SubjectSelectorCommune
                :pays-name="paysName"
                :epci-id="epciId"
                :epci-name="epciName"
                :commune-id="communeId"
                :commune-name="communeName"
                :theme-name="themeName"
                :subject-name="subjectName"
                @subject-selected="handleSubjectChange"
              />
            </div>
          </div>
        </div>
      </div>
      <router-view /> <!--Affiche le contenu de chaque page-->
      <cookie-banner /> <!--Affiche la bannière des cookies RGPD-->
      <FooterSection />
    </div>
  </div>
</template>

<script>
import CookieBanner from '../src/components/elements/CookieBanner.vue'
import HeaderSection from '../src/components/elements/HeaderSection.vue'
import Breadcrumb from '../src/components/navigation/Breadcrumb.vue'
import ScaleSelector from '../src/components/navigation/ScaleSelector.vue'
import SubjectSelectorCommune from '../src/components/navigation/SubjectSelectorCommune.vue'
import FooterSection from '../src/components/elements/FooterSection.vue'

export default {
  name: 'App',
  components: {
    CookieBanner,
    HeaderSection,
    Breadcrumb,
    ScaleSelector,
    SubjectSelectorCommune,
    FooterSection
    // FooterBottom
    // BreadCrumbs
    // BreadCrumbsDropdown3
  },
  data () {
    return {
      isMenuOpen: false
    }
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    }
  },
  logMenuStatus () {
    console.log('Menu status:', this.isMenuOpen)
  }
}
</script>

<style>
 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
  @import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
  /**Fira Sans */
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
  /**Manrope */
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
  /**Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  /**Ubuntu */
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
  /**Noto Sans */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

  :root {
    --primary-color: rgb(219, 49, 75);
    --secondary-color: rgb(167, 37, 57);
    --tertiary-color: rgb(243, 53, 83);
    --dark-gray: rgb(47, 47, 47);
    --medium-gray: rgb(117, 117, 117);
    --light-gray: rgb(176, 176, 176);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: box-content;
  }

  #app {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--gray);
    margin: 0;
  }

  body {
    width: 100%;
  }

  template {
    width: 100%;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 0.5em;
  }

  .content-container {
   width: 100%;
   height: 100%;
  }

  .mobileMenu {
    background-color: #f8f9fa;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toggleMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
  }

  /* .routerView {
    width: 100%;
    height: max-content;
  } */

</style>
