<!--DataEcpiEtabTourisme.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les établissements touristiques</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>
      <!--Tri-->
      <div class="sortContainer">
        <h2>Filtres</h2>
        <!--Tri par nom-->
        <label for="sortByNom">Nom </label>
        <select
          id="sortByNom"
          v-model="sortOptions.nom"
          @change="sortData('nom_commercial', sortOptions.nom)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="nom in getColumnValues('nom_commercial')"
            :key="nom"
            :value="nom"
          >
            {{ nom }}
          </option>
        </select>
        <!--Tri par type-->
        <label for="sortByType">Type </label>
        <select
          id="sortByType"
          v-model="sortOptions.type"
          @change="sortData('type', sortOptions.type)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="typeEtab in getColumnValues('type')"
            :key="typeEtab"
            :value="typeEtab"
          >
            {{ typeEtab }}
          </option>
        </select>
        <!--Tri par zone touristique-->
        <label for="sortByZone">Zone touristique</label>
        <select
          id="sortByZone"
          v-model="sortOptions.zone"
          @change="sortData('zone_touristique', sortOptions.zone)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="zone in getColumnValues('zone_touristique')"
            :key="zone"
            :value="zone"
          >
            {{ zone }}
          </option>
        </select>
        <!--Tri par classement-->
        <label for="sortByClassement">Classement </label>
        <select
          id="sortByClassement"
          v-model="sortOptions.classement"
          @change="sortData('classement', sortOptions.classement)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="classement in getColumnValues('classement')"
            :key="classement"
            :value="classement"
          >
            {{ classement }}
          </option>
        </select>
        <!--Tri par commune-->
        <label for="sortByCommune">Commune </label>
        <select
          id="sortByCommune"
          v-model="sortOptions.commune"
          @change="sortData('commune', sortOptions.commune)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="commune in getColumnValues('commune')"
            :key="commune"
            :value="commune"
          >
            {{ commune }}
          </option>
        </select>
        <!--Tri par office de tourisme-->
        <label for="sortByOffice">Office de tourisme </label>
        <select
          id="sortByOffice"
          v-model="sortOptions.office"
          @change="sortData('offices_de_tourisme', sortOptions.office)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="office in getColumnValues('offices_de_tourisme')"
            :key="office"
            :value="office"
          >
            {{ office }}
          </option>
        </select>
        <!--Tri par mode de paiement-->
        <label for="sortByPaiement">Mode de paiement </label>
        <select
          id="sortByPaiement"
          v-model="sortOptions.paiement"
          @change="sortData('modes_de_paiement', sortOptions.paiement)"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="paiement in getColumnValues('modes_de_paiement')"
            :key="paiement"
            :value="paiement"
          >
            {{ paiement }}
          </option>
        </select>
      </div>
      <!--Tableau-->
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Zone touristique</th>
            <th>Classement</th>
            <th>Commune</th>
            <th>Office de tourisme</th>
            <th>Modes de paiement</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in filteredAndPaginatedData"
            :key="item.nofinesset"
          >
            <td
              data-label="Nom"
              @click="sortData('nom_commercial')"
            >
              {{ item.nom_commercial === null ? 'Non renseigné' : item.nom_commercial }}
            </td>
            <td
              data-label="Type"
              @click="sortData('type')"
            >
              {{ item.type[0] === null ? 'Non renseigné' : item.type[0] }}
            </td>
            <td
              data-label="Zone touristique"
              @click="sortData('zone_touristique')"
            >
              {{ item.zone_touristique === null ? 'Non renseigné' : item.zone_touristique }}
            </td>
            <td
              data-label="Classement"
              @click="sortData('classement')"
            >
              {{ item.classement === null ? 'Non renseigné' : item.classement }}
            </td>
            <td
              data-label="Commune"
              @click="sortData('commune')"
            >
              {{ item.commune === null ? 'Non renseigné' : item.commune }}
            </td>
            <td
              data-label="Office de tourisme"
              @click="sortData('offices_de_tourisme')"
            >
              {{ item.offices_de_tourisme === null ? 'Non renseigné' : item.nom_commercial }}
            </td>
            <td
              data-label="Modes de paiement"
              @click="sortData('modes_de_paiement')"
            >
              {{ item.modes_de_paiement[0] }}
              {{ item.modes_de_paiement[1] }}
              {{ item.modes_de_paiement[2] }}
              {{ item.modes_de_paiement[3] }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : Système d'Information Touristique (SIT) de l'île de La Réunion - Plateforme SOUBKIK - 2023</p>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DataEpciEtabTourisme',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Les établissements touristiques à La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0,
      sortOptions: {
        nom: '',
        typeEtab: '',
        zone: '',
        commune: '',
        office: '',
        paiement: ''
      },
      localPaysName: '',
      localEpciId: 0
    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    },
    // Pour trier les données
    filteredData () {
      return this.data
        .filter(item => {
          return (
            (!this.sortOptions.nom || item.nom_commercial === this.sortOptions.nom_commercial) &&
            (!this.sortOptions.type || item.type[0] === this.sortOptions.type[0]) &&
            (!this.sortOptions.zone_touristique || item.zone_touristique === this.sortOptions.zone_touristique) &&
            (!this.sortOptions.classement || item.classement === this.sortOptions.classement) &&
            (!this.sortOptions.commune || item.commune === this.sortOptions.commune) &&
            (!this.sortOptions.offices_de_tourisme || item.offices_de_tourisme === this.sortOptions.offices_de_tourisme) &&
            (!this.sortOptions.modes_de_paiement || item.modes_de_paiement === this.sortOptions.modes_de_paiement)
          )
        })
        .sort((a, b) => {
          // Tri par colonne
          if (this.sortOptions.nom) {
            return a.nom_commercial.localeCompare(b.nom_commercial)
          } else if (this.sortOptions.typeEtab) {
            return a.type[0].localeCompare(b.type[0])
          } else if (this.sortOptions.zone) {
            return a.zone_touristique.localeCompare(b.zone_touristique)
          } else if (this.sortOptions.classement) {
            return a.classement.localeCompare(b.classement)
          } else if (this.sortOptions.commune) {
            return a.commune.localeCompare(b.commune)
          } else if (this.sortOptions.office) {
            return a.offices_de_tourisme.localeCompare(b.offices_de_tourisme)
          } else if (this.sortOptions.modes_de_paiement) {
            return a.modes_de_paiement.localeCompare(b.modes_de_paiement)
          // Aucun tri
          }
          return 0
        })
    },
    filteredAndPaginatedData () {
      const filteredData = this.filteredData
      const start = (this.currentPage - 1) * this.limit
      return filteredData.slice(start, start + this.limit)
    }
  },
  watch: {
    // Surveille les changements des paramètres de la route et recharge les données en conséquence
    $route (to, from) {
      this.localPaysName = to.params.paysName
      this.localEpciId = parseInt(to.params.epciId)
      this.epeciName = to.params.epciName
      this.epciTheme = to.params.epciTheme
      this.epciSubject = to.params.epciSubject
      this.loadEpciData()
    }
  },
  mounted () {
    console.log('Component mounted')
    // Dans le montage intitial, utiliser les valeurs locales au lieu des props
    this.localPaysName = this.paysName
    this.localEpciId = this.epciId
    this.loadEpciData()
  },
  methods: {
    loadEpciData () {
    // Charger les données en fonction des paramètres de route
    // Ajuster l'URL de requête en fonction des paramètres de route
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-touristiques-lareunion-wssoubik/records?limit=${this.limit}&offset=${this.offset}&pays=${this.localPaysName}&epciId=${this.localEpciId}&epciName=${this.epciName}&epciSubject=${this.epciSubject}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          console.log('Data loaded:', response.data)
          // Mise à jour des données
          this.data = response.data.results
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count

          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)

          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès et trièes: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Clic sur Page suivante')
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Clic sur Page précédente')
      }
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.data.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData (column, selectedValue) {
      // Mettre à jour la propriété correspondante de sortOptions
      this.sortOptions[column] = selectedValue

      // Réinitialisez la page actuelle à 1
      this.currentPage = 1

      // Mettre à jour filteredData avec les données triées
      this.$nextTick(() => {
        this.filteredData = this.data
          .filter(item => {
            return (
              (!this.sortOptions.nom || item.nom_commercial === this.sortOptions.nom_commercial) &&
              (!this.sortOptions.type || item.type[0] === this.sortOptions.type[0]) &&
              (!this.sortOptions.zone_touristique || item.zone_touristique === this.sortOptions.zone_touristique) &&
              (!this.sortOptions.classement || item.classement === this.sortOptions.classement) &&
              (!this.sortOptions.commune || item.commune === this.sortOptions.commune) &&
              (!this.sortOptions.offices_de_tourisme || item.offices_de_tourisme === this.sortOptions.offices_de_tourisme) &&
              (!this.sortOptions.modes_de_paiement || item.modes_de_paiement === this.sortOptions.modes_de_paiement)
            )
          })
        console.log('filteredData nextTick', this.filteredData)
      })
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
