<!--DataEpciHebTourisme-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h1 id="tourisme">
        Hébergement touristique de {{ epciName }} en 2023
      </h1>

      <h3>Vos sujets d'études</h3>
      <select
        v-model="selectedReunionTheme"
        @change="navigateToTheme"
      >
        <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
        <option value="">
          Sélectionnez un sujet d'étude
        </option>
        <option value="bati">
          Aspect du bâti
        </option>
        <option value="stationnement">
          Emplacements de stationnement
        </option>
      </select>

      <!--Sujets-->
      <table v-if="apiData.length">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Nombre d'hôtels</th>
            <th>Nombre de chambres des hôtels</th>
            <th>Nombre d'emplacements de campings</th>
            <th>Nombre de campings</th>
            <th>Nombre d'emplacements loués à l'année</th>
            <th>Nombre d'emplacements offerts à la clientèle de passage</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td data-label="Commune">
              {{ commune ? commune.communeName || '' : '' }}
            </td>
            <td data-label="Nombre d'hôtels">
              {{ commune ? commune.nbHotel || '' : '' }}
            </td>
            <td data-label="Nombre de chambres des hôtels">
              {{ commune ? commune.nbChambreHotel || '' : '' }}
            </td>
            <td data-label="Nombre d'emplacements de campings">
              {{ commune ? commune.nbEmplCamping || '' : '' }}
            </td>
            <td data-label="Nombre de campings">
              {{ commune ? commune.nbCamping || '' : '' }}
            </td>
            <td data-label="Nombre d'emplacements loués à l'année">
              {{ commune ? commune.nbLocEmpl || '' : '' }}
            </td>
            <td data-label="Nombre d'emplacements offerts à la clientèle de passagee">
              {{ commune ? commune.nbOfEmpl || '' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : INSEE - Données Locales - Tourisme</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'

export default {
  name: 'DataEpciHebTourisme',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Quartiers' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      themes: [
        { id: 1, name: 'population' },
        { id: 2, name: 'economie' },
        { id: 3, name: 'social' },
        { id: 4, name: 'tourisme' },
        { id: 5, name: 'sport' },
        { id: 5, name: 'cartographie' }
      ],
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epciId: 4, codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epciId: 3, codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epciId: 1, codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epciId: 4, codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epciId: 4, codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epciId: 3, codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epciId: 5, codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epciId: 5, codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epciId: 3, codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epciId: 3, codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epciId: 2, codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epciId: 1, codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epciId: 5, codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epciId: 4, codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epciId: 5, codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epciId: 4, codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epciId: 1, codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epciId: 2, codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epciId: 3, codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epciId: 2, codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epciId: 3, codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epciId: 1, codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epciId: 5, codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epciId: 4, codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      apiData: [],
      filteredCommunes: [],
      localEpciId: null // Initialisation
    }
  },
  created () {
  // Accéder aux valeurs des paramètres de la route
    console.log('Route de epciId : ', this.$route.params.epciId)
    console.log('Route de epciName : ', this.$route.params.epciName)

    // Assigner la valeur de epciId à partir des paramètres de route
    this.localEpciId = parseInt(this.$route.params.epciId)

    // Filtrer les communes pour obtenir celles de cet EPCI
    this.filteredCommunes = this.communes.filter(
      (commune) => commune.epciId === this.localEpciId
    )

    // Vérification
    console.log('Voici les communes filtrées : ', this.filteredCommunes)

    // Récupérer les données de l'EPCI en utilisant epciId
    this.epciData = this.communes.find((commune) => commune.epciId === this.localEpciId)

    this.getPopulationsForCommunes(this.localEpciId)
  },
  mounted () {
  // this.getPopulationsForCommunes(this.epciId)
  //   .then(() => {
  //     // this.filteredCommunes = this.apiData
  //     console.log(this.filteredCommunes)
  //   })
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424'
    ]
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-ETOILE@GEO2022TOUR2023/COM-${communeCode}.ENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log('Voici les données au format XML')
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log('Voici le parsedData', parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communesData = {
            communeName: parsedData.Donnees.Zone.Millesime.Nccenr,
            nbHotel: parsedData.Donnees.Cellule[0].Valeur,
            nbChambreHotel: parsedData.Donnees.Cellule[1].Valeur,
            nbEmplCamping: parsedData.Donnees.Cellule[2].Valeur,
            nbCamping: parsedData.Donnees.Cellule[3].Valeur,
            nbLocEmpl: parsedData.Donnees.Cellule[4].Valeur,
            nbOfEmpl: parsedData.Donnees.Cellule[5].Valeur
          }

          console.log('Voici le tableau des communes')
          console.log(communesData)
          return communesData
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (epciId) {
      const communeCodes = this.communes
        .filter(commune => commune.epciId === epciId)
        .map(commune => commune.codeInsee)

      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = commune.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
