<template>
  <div id="app">
    <div class="container mt-4">
      <div class="dataContainer">
        <h1 class="mb-4">Emplacements réservés de stationnement à La Réunion</h1>

        <!--Afficher le spinner si les données sont en cours de chargement-->
        <div
          v-if="isLoading"
          class="loadingSpinner text-center"
        >
          <!--Code HTML du spinner-->
          <pulse-loader
            :loading="isLoading"
            :color="color"
            :size="size"
          />
          <p class="mt-3 text-center">Données en cours de chargement. Patientez ...</p>
        </div>

        <!--Afficher le tableau une fois les données chargées-->
        <table
          v-if="apiData.length && !isLoading"
          class="table table-bordered table-striped"
        >
          <thead class="thead-dark">
            <tr>
              <th>Commune</th>
              <th>Avec emplacement(s) de stationnement</th>
              <th>Sans emplacement de stationnement</th>
              <th>Ensemble</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(commune, index) in apiData"
              :key="index"
            >
              <td data-label="Commune">
                {{ commune ? commune.commune || '' : '' }}
              </td>
              <td data-label="Avec emplacement(s) de stationnement">
                {{ commune ? commune.avecStationnement || '' : '' }}
              </td>
              <td data-label="Sans emplacement de stationnement">
                {{ commune ? commune.sansStationnement || '' : '' }}
              </td>
              <td data-label="Ensemble">
                {{ commune ? commune.ensemble || '' : '' }}
              </td>
            </tr>
          </tbody>
        </table>
        <p class="mt-3">Source : API INSEE - Données Locales - Recensement de la population 2020 - Emplacement réservé de stationnement (GARL)</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataReunionStationnement',
  components: {
    PulseLoader
    // SimpleBreadcrumb
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: String,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-GARL@GEO2023RP2020/COM-${communeCode}.1%2B2%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const avecStationnement = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const sansStationnement = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const ensemble = parseInt(parsedData.Donnees.Cellule[0].Valeur)
          const communesData = [communeName, avecStationnement, sansStationnement, ensemble]
          // Créer un tableau d'objet
          const communesArray = Array.isArray(communesData) ? communesData : [communesData]
          console.log('Voici le tableau des communes', communesArray)

          return {
            commune: communeName,
            avecStationnement,
            sansStationnement,
            ensemble
          }
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }

  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
