<!--DataReunionBati.vue-->

<template>
  <div id="app">
    <div class="dataContainer">
      <h2 id="bati">
        L'aspect du bâti
      </h2>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <graph-reunion-bati />

      <!--Afficher le tableau-->
      <div class="table-responsive">
        <table
          v-if="apiData.length && !isLoading"
          class="table"
        >
          <thead>
            <tr>
              <th>Commune</th>
              <th>Habitations de fortune</th>
              <th>Cases traditionnelles</th>
              <th>Maisons ou immeuble en bois</th>
              <th>Maisons ou immeubles en dur</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(commune, index) in apiData"
              :key="index"
            >
              <td data-label="Commune">
                {{ commune ? commune.communeName || '' : '' }}
              </td>
              <td data-label="Habitations de fortune">
                {{ commune ? commune.habFortune || '' : '' }}
              </td>
              <td data-label="Cases traditionnelles">
                {{ commune ? commune.casesTradi || '' : '' }}
              </td>
              <td data-label="Maisons ou immeuble en bois">
                {{ commune ? commune.enBois || '' : '' }}
              </td>
              <td data-label="Maisons ou immeubles en dur">
                {{ commune ? commune.enDur || '' : '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Source : API INSEE - Données Locales - Recensement de la population 2020 - Aspect du bâti (BATI)</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import GraphReunionBati from '../../../../graphs/GraphReunionBati.vue'

export default {
  name: 'DataReunionBati',
  components: {
    PulseLoader,
    GraphReunionBati
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'subjectLabel', content: 'L\'aspect du bâti à La Réunion' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424'
    ]
    // Obtenir les données pour chaque commune
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-BATI@GEO2023RP2020/COM-${communeCode}.1%2B2%2B3%2B4%2BENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log('parsedData', parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const habFortune = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const casesTradi = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const enBois = parseInt(parsedData.Donnees.Cellule[3].Valeur)
          const enDur = parseInt(parsedData.Donnees.Cellule[4].Valeur)
          const ensemble = parseInt(parsedData.Donnees.Cellule[0].Valeur)
          const communesData = [
            communeName,
            habFortune,
            casesTradi,
            enBois,
            enDur,
            ensemble
          ]
          console.log('communesData', communesData)
          // Créer un tableau d'objets
          const communesArray = Array.isArray(communesData) ? communesData : [communesData]

          console.log('communesArray', communesArray)

          return {
            communeName,
            habFortune,
            casesTradi,
            enBois,
            enDur,
            ensemble
          }
        }
      } catch (error) {
        // Gestionnaire d'erreur personnalisé
        // if (axios.isCancel(error)) {
        //   console.error('La demande Axios a été annulée en raison du dépassement du délai')
        // } else {
        //   console.error('Erreur lors de la récupération des données de l\'API', error)
        // }
        console.error('Erreur lors de la récupération des données de l\'API', error)
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence

      this.apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          this.apiData.push(data)
        }
        console.log('data', data)

        // Définir un délai d'une seconde entre les requêtes
        await new Promise(resolve => setTimeout(resolve, 1000))
      }

      // Vérifier que la data est bien chargée
      console.log('apiData : ', this.apiData)

      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {

  nav {
    color: white;
    background-color: black;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
