<template>
  <div id="app">
    <div class="themeContainer">
      <!--Sélection du sujet-->
      <!-- <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedEpciEconomieSubject"
          @change="navigateToSubject"
        > -->
      <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
      <!-- <option value="">Sélectionnez un sujet d'étude</option>
          <option value="mapCasud">Carte CASUD</option>
          <option value="mapCinor">Carte CINOR</option>
          <option value="mapCirest">Carte CIREST</option>
          <option value="mapCivis">Carte CIVIS</option>
          <option value="mapTCO">Carte TCO</option>
        </select>
      </div> -->

      <!--Titre de la page-->
      <h1>
        {{ $route.params.epciName }} - Thème : {{ $route.params.themeName }}
      </h1>

      <!--L'affichage de la carte dépend du paramètre de la route-->
      <div class="subjectContainer">
        <MapEpciCasud v-if="$route.params.epciName === 'CASUD'" />
        <MapEpciCinor v-if="$route.params.epciName === 'CINOR'" />
        <MapEpciCirest v-if="$route.params.epciName === 'CIREST'" />
        <MapEpciCivis v-if="$route.params.epciName === 'CIVIS'" />
        <MapEpciTco v-if="$route.params.epciName === 'TCO'" />
        <MapEpci v-else />
      </div>
    </div>
  </div>
</template>

<script>
import MapEpciCinor from '../../maps/reunion/epcis/MapEpciCinor.vue'
import MapEpciCirest from '../../maps/reunion/epcis/MapEpciCirest.vue'
import MapEpciTco from '../../maps/reunion/epcis/MapEpciTco.vue'
import MapEpciCasud from '../../maps/reunion/epcis/MapEpciCasud.vue'
import MapEpciCivis from '../../maps/reunion/epcis/MapEpciCivis.vue'
import MapEpci from '../../maps/reunion/epcis/MapEpci.vue'
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import OSM from 'ol/source/OSM.js'
import TileLayer from 'ol/layer/Tile.js'

export default {
  name: 'EpciCarte',
  components: {
    MapEpciCinor,
    MapEpciCirest,
    MapEpciTco,
    MapEpciCasud,
    MapEpciCivis,
    MapEpci
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      epciComponents: {
        CASUD: MapEpciCasud,
        CINOR: MapEpciCinor,
        CIREST: MapEpciCirest,
        CIVIS: MapEpciCivis,
        TCO: MapEpciTco
      },
      // Déclaration de la variable map
      map: null
    }
  },
  computed: {
    getMapComponent () {
      return this.epciComponents[this.epciName] || MapEpci
      // console.log('epciName in getMapComponent', this.epciName)
      // switch (this.epciName) {
      //   case 'CASUD':
      //     return 'MapEpciCasud'
      //   case 'CINOR':
      //     return 'MapEpciCinor'
      //   case 'CIREST':
      //     return 'MapEpciCirest'
      //   case 'CIVIS':
      //     return 'MapEpciCivis'
      //   case 'TCO':
      //     return 'MapEpciTco'
      //   default:
      //     return 'MapEpciCasud' // Carte par défaut ou traitement d'erreur
      // }
    }
  },
  watch: {
    // Hook pour surveiller les changements de paramètres de route
    $route (to, from) {
      if (to.params.epciName) {
        // Utiliser les paramètres de route pour mettre à jour le centre de la carte
        if (this.map) {
          this.map
            .getView()
            .setCenter([
              parseFloat(to.params.longitude),
              parseFloat(to.params.latitude)
            ])
          this.map.getView().setZoom(20)
        }
      }
    }
  },
  created () {
    // Accéder aux valeurs des paramètres de la route
    console.log('created epciId', this.$route.params.epciId)
    console.log('created epciName', this.$route.params.epciName)
    console.log('created themeName', this.$route.params.themeName)
  },
  mounted () {
    // Initialiser la carte en utilisant Open Layers
    const map = new Map({
      target: 'map',
      layers: [new TileLayer({ source: new OSM() })],
      view: new View({
        // Recentrer la carte sur les coordonnées de La Réunion en EPSG:3857
        center: [0, 0],
        // Niveau de zoom
        zoom: 10
      })
    })

    this.map = map
  }
}
</script>

<style scoped>
/**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {

  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .themeContainer, .subjectContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

}
</style>
