<!--EpciAmenagement.vue-->
<template>
  <div id="app">
    <div class="themeContainer">
      <div class="navbarContainer">
        <h3>Vos sujets d'études</h3>
        <select
          v-model="selectedEpciAmenagementSubject"
          class="boxSelect"
          @change="navigateToSubject"
        >
          <!-- <option v-for="theme in sortedThemes" :key="theme.id" :value="theme.name">{{ theme.name }}</option> -->
          <option value="">
            Sélectionnez un sujet d'étude
          </option>
          <option value="epciBati">
            Tableau - Aspect du bâti
          </option>
          <option value="epciStationnement">
            Tableau - Emplacements réservés au stationnement
          </option>
        </select>
      </div>

      <!--Titre de la page-->
      <h1> {{ $route.params.epciName }} - Thème : {{ themeName }}</h1>

      <!--Composant dynamique-->
      <div class="subjectContainer">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubject" />
      </div>

      <!--Sujets-->
      <!-- <GraphBatiCASUD v-if="$route.params.epciName === 'CASUD'"></GraphBatiCASUD>
          <GraphBatiCINOR v-if="$route.params.epciName === 'CINOR'"></GraphBatiCINOR>
          <GraphBatiCIREST v-if="$route.params.epciName === 'CIREST'"></GraphBatiCIREST>
          <GraphBatiCIVIS v-if="$route.params.epciName === 'CIVIS'"></GraphBatiCIVIS>
          <GraphBatiTCO v-if="$route.params.epciName === 'TCO'"></GraphBatiTCO> -->
      <!-- <DataEpciBati :paysName="paysName" :epciId="epciId" :epciName="epciName"></DataEpciBati> -->
      <!-- <GraphEpciBati></GraphEpciBati> -->
      <!-- <DataEpciStationnement></DataEpciStationnement> -->
    </div>
  </div>
</template>

<script>
import DataEpciBati from '../../datas/reunion/amenagement/epcis/DataEpciBati.vue'
import DataEpciStationnement from '../../datas/reunion/amenagement/epcis/DataEpciStationnement.vue'

export default {
  name: 'EpciAmenagement',
  components: {
    DataEpciBati,
    DataEpciStationnement
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Amenagement' } // Titre de la page
    ]
  },
  data () {
    return {
      selectedEpciAmenagementSubject: 'epciBati' // Valeur par défaut
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'epciBati':
          return 'DataEpciBati'
        case 'epciStationnement':
          return 'DataEpciStationnement'
        default:
          return 'epciBati'
      }
    }
  },
  created () {
    const paysName = this.$route.params.paysName
    const epciId = this.$route.params.epciId
    const epciName = this.$route.params.epciName
    const communeId = this.$route.params.communeId
    const communeName = this.$route.params.communeName
    const themeName = this.$route.params.themeName
    const subjectName = this.$route.params.subjectName

    console.log('EpciAmenagement, paysName', paysName)
    console.log('EpciAmenagement, epciId', epciId)
    console.log('EpciAmenagement, epciName', epciName)
    console.log('EpciAmenagement, communeId', communeId)
    console.log('EpciAmenagement, communeName', communeName)
    console.log('EpciAmenagement, themeName', themeName)
    console.log('EpciAmenagement, subjectName', subjectName)
  },
  mounted () {
    console.log('EpciAmenagement mounted')
  },
  methods: {
    navigateToSubject () {
      console.log('Navigate to subject called')
      console.log('Selected Subject:', this.selectedEpciAmenagementSubject)
      if (this.$data.selectedEpciAmenagementSubject) {
        let subjectName

        switch (this.selectedEpciAmenagementSubject) {
          case 'epciBati':
            subjectName = 'epciBati'
            break
          case 'epciStationnement':
            subjectName = 'epciStationnement'
            break
          default:
            subjectName = 'epciBati' // Thème par défaut
        }

        this.$router.push({
          name: this.selectedEpciAmenagementSubject,
          params: {
            paysName: this.paysName,
            epciId: this.epciId,
            epciName: this.epciName,
            themeName: 'amenagement',
            subjectName
          }
        })
      }
    }
  }
}
</script>

<style scoped>

 /**Affichage pour TV et desktop */
@media screen and (min-width: 769px) {
  .themeContainer {
    width: 100vw;
    height: max-content;
    margin: 0;
  }

  .subjectContainer {
    width: 100%;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 1em;
    color: white;
    background: rgb(47, 47, 47);
    /* background: linear-gradient(
      0deg,
      rgba(47, 47, 47, 1) 0%,
      rgba(102, 102, 102, 1) 47%,
      rgba(47, 47, 47, 1) 100%
    ); */
  }

  .boxSelect {
    width: 50em;
    height: 2em;
    border: 1px solid var(--light-gray);
    font-size: 1.25rem;
    color: white;
    background-color: var(--gray);
    box-shadow: 4px 4px #ccc;
  }

      /* select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
      }

    select:hover {
      background-color: var(--light-gray);
      border: 0.15em solid var(--dark-gray);
    }

    select::-ms-expand {
      display: none;
    }

    select::-webkit-appearance {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black'><polygon points='0,4 8,12 16,4'/></svg>");
      background-repeat: no-repeat;
      background-position: right 0.5em center;
      background-size: 1em 1em;
    }

    option {
      padding: 1em;
      background-color: var(--light-gray);
    } */

    }
  /**Affichage pour mobile et tablette */
  @media screen and (max-width: 768px) {
    .themeContainer, .subjectContainer {
        width: 100%;
        height: max-content;
        margin: 0;
      }

      .navbarContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 1em;
        color: white;
        background: rgb(47,47,47);
        background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(102,102,102,1) 47%, rgba(47,47,47,1) 100%);
      }

      select {
        width: 80%;
        color: white;
        background-color: var(--light-gray);
        border: 0.10px solid white;
        transition: all 0.3s ease;
      }

      option {
        color: white;
      }

  }
</style>
