<!--DataReunion5G.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Le réseau 5G à La Réunion</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>
      <!--Tri-->
      <div class="sortContainer">
        <h2>Filtrer</h2>
        <!--Tri par commune-->
        <label for="sortByCommune">Commune </label>
        <select
          id="sortByCommune"
          v-model="sortOptions.commune"
          @change="sortData('com_name')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="commune in getColumnValues('com_name')"
            :key="commune"
            :value="commune"
          >
            {{ commune }}
          </option>
        </select>
        <!--Tri par epci-->
        <label for="sortByEpci">Epci</label>
        <select
          id="sortByEpci"
          v-model="sortOptions.epci"
          @change="sortData('epci_name')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="epci in getColumnValues('epci_name')"
            :key="epci"
            :value="epci"
          >
            {{ epci }}
          </option>
        </select>
        <!--Tri par opérateur-->
        <label for="sortByOperateur">Opérateur : </label>
        <select
          id="sortByOperateur"
          v-model="sortOptions.operateur"
          @change="sortData('op_name')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="operateur in getColumnValues('op_name')"
            :key="operateur"
            :value="operateur"
          >
            {{ operateur }}
          </option>
        </select>
        <!--Tri par site-->
        <label for="sortBySite">Site : </label>
        <select
          id="sortBySite"
          v-model="sortOptions.site"
          @change="sortData('op_site_id')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="site in getColumnValues('op_site_id')"
            :key="site"
            :value="site"
          >
            {{ site }}
          </option>
        </select>
        <!--Tri par fréquence-->
        <label for="sortByFrequency">Fréquence : </label>
        <select
          id="sortByFrequency"
          v-model="sortOptions.frequency"
          @change="sortData('frequency')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="frequency in getColumnValues('frequency')"
            :key="frequency"
            :value="frequency"
          >
            {{ frequency }}
          </option>
        </select>
      </div>

      <!--Tableau contenant les données-->
      <table>
        <thead>
          <tr>
            <th @click="sortData('com_name')">
              Communes
            </th>
            <th @click="sortData('epci_name')">
              Intercommunalité
            </th>
            <th @click="sortData('op_name')">
              Opérateur
            </th>
            <th @click="sortData('op_site_id')">
              Id du site
            </th>
            <th @click="sortData('frequency')">
              Fréquence
            </th>
            <th @click="sortData('anfr_station_id')">
              Station ANFR
            </th>
            <th @click="sortData('release_date_5g')">
              Date 5G
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in filteredAndPaginatedData"
            :key="item.nofinesset"
          >
            <td data-label="Commune">
              {{ item.com_name[0] }}
            </td>
            <td data-label="Intercommunalité">
              {{ item.epci_name }}
            </td>
            <td data-label="Nom de l'opérateur">
              {{ item.op_name }}
            </td>
            <td data-label="Id du site">
              {{ item.op_site_id }}
            </td>
            <td data-label="Fréquence">
              {{ item.frequency }}
            </td>
            <td data-label="Station ANFR">
              {{ item.anfr_station_id }}
            </td>
            <td data-label="Date mise en service de la 5G">
              {{ item.release_date_5g }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataReunion5G',
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      epciId: null,
      epciName: null,
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0,
      sortOptions: {
        commune: '',
        nom: '',
        categorie: '',
        epci: ''
      }
    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    },
    // Pour trier les données
    filteredData () {
      return this.data
        .filter(item => {
          return (
            (!this.sortOptions.commune || item.com_name === this.sortOptions.commune) &&
            (!this.sortOptions.epci || item.epci_name === this.sortOptions.epci) &&
            (!this.sortOptions.operateur || item.op_name === this.sortOptions.operateur) &&
            (!this.sortOptions.site || item.op_site_id === this.sortOptions.site) &&
            (!this.sortOptions.frequency || item.frequency === this.sortOptions.frequency) &&
            (!this.sortOptions.anfr || item.anfr_station_id === this.sortOptions.anfr) &&
            (!this.sortOptions.date || item.release_date_5g === this.sortOptions.date)
          )
        })
        .sort((a, b) => {
          // Tri par colonne
          if (this.sortOptions.commune) {
            return a.com_name.localeCompare(b.com_name)
          } else if (this.sortOptions.epci) {
            return a.op_name.localeCompare(b.op_name)
          } else if (this.sortOptions.operateur) {
            return a.op_site_id.localeCompare(b.op_site_id)
          } else if (this.sortOptions.frequency) {
            return a.frequency.localeCompare(b.frequency)
          } else if (this.sortOptions.anfr) {
            return a.anfr_station_id.localeCompare(b.anfr_station_id)
          } else if (this.sortOptions.date) {
            return a.release_date_5g.localeCompare(b.release_date_5g)
          }
          // Aucun tri
          return 0
        })
    },
    filteredAndPaginatedData () {
      const filteredData = this.filteredData
      const start = (this.currentPage - 1) * this.limit
      return filteredData.slice(start, start + this.limit)
    }
  },
  mounted () {
    console.log('Component mounted')
    this.loadAllData()
  },
  methods: {
    loadAllData () {
    // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=${this.limit}&offset=${this.offset}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          console.log('Data loaded:', response.data)
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count
          // Tri des données
          // const sortedData = response.data.results.slice().sort((a, b) => {
          //   // Trier par nom de commune
          //   return a.com_name.localeCompare(b.com_name)
          // })
          // // Stockage des données triées
          // this.data = this.data.concat(sortedData)
          // console.log('sortedData', sortedData)

          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)

          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès et trièes: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Next page clicked')
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Previous page clicked')
      }
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.data.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData () {
      this.data.sort((a, b) => {
        console.log('sortOptions.commune', this.sortOptions.commune)
        console.log('sortOptions.epci', this.sortOptions.epci)
        console.log('sortOptions.operateur', this.sortOptions.operateur)
        console.log('sortOptions.site', this.sortOptions.site)
        console.log('sortOptions.frequency', this.sortOptions.frequency)
        console.log('sortOptions.anfr', this.sortOptions.anfr)
        console.log('sortOptions.date', this.sortOptions.date)

        // Tri par commune
        if (this.sortOptions.commune) {
          if (a.commune < b.commune) return -1
          if (a.commune > b.commune) return 1
        }
        // Tri par epci
        if (this.sortOptions.epci) {
          if (a.epci < b.epci) return -1
          if (a.epci > b.epci) return 1
        }
        // Tri par opérateur
        if (this.sortOptions.operateur) {
          if (a.operateur < b.operateur) return -1
          if (a.operateur > b.operateur) return 1
        }
        // Tri par site
        if (this.sortOptions.categorie) {
          if (a.site < b.site) return -1
          if (a.site > b.site) return 1
        }
        // Tri par fréquence
        if (this.sortOptions.frequency) {
          if (a.frequency < b.frequency) return -1
          if (a.frequency > b.frequency) return 1
        }
        // Tri par ANFR
        if (this.sortOptions.anfr) {
          if (a.anfr < b.anfr) return -1
          if (a.anfr > b.anfr) return 1
        }
        // Tri par date de mise en service
        if (this.sortOptions.date) {
          if (a.date < b.date) return -1
          if (a.date > b.date) return 1
        }
        // Aucun tri
        return 0
      })
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
