<template>
  <div id="app">
    <div class="dataContainer">
      <h2 id="remunerations">
        Fichier localisé des rémunérations et de l'emploi salarié 2020
      </h2>
      <h3>Activité économique en 17 postes</h3>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <div class="tableContainer">
        <table v-if="apiData.length && !isLoading">
          <thead>
            <tr>
              <th>Commune</th>
              <th>Agriculture, sylviculture et pêche AZ</th>
              <th>Fabrication de denrées alimentaires, de boissons et  de produits à base de tabac C1</th>
              <th>Cokéfaction et raffinage C2</th>
              <th>Fabrication d'équipements électriques, électroniques, informatiques ; fabrication de machines C3</th>
              <th>Fabrication de matériels de transport C4</th>
              <th>Fabrication d'autres produits industriels C5</th>
              <th>Industries extractives, énergie, eau, gestion des déchets et dépollution DE</th>
              <th>Construction FZ</th>
              <th>Commerce ; réparation d'automobiles et de motocycles GZ</th>
              <th>Transports et entreposage HZ</th>
              <th>Hébergement et restauration IZ</th>
              <th>Information et communication JZ</th>
              <th>Activités financières et d'assurance KZ</th>
              <th>Activités immobilières LZ</th>
              <th>Activités scientifiques et techniques ; services administratifs et de soutien MN</th>
              <th>Administration publique, enseignement, santé humaine et action sociale OQ</th>
              <th>Autres activités de services RU</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(commune, index) in apiData"
              :key="index"
            >
              <td data-label="Commune">
                {{ commune.communeName || '' }}
              </td>
              <td data-label="Agriculture, sylviculture et pêche AZ">
                {{ commune.agriculture || '' }}
              </td>
              <td data-label="Fabrication de denrées alimentaires, de boissons et  de produits à base de tabac C1">
                {{ commune.fabricationBoissons || '' }}
              </td>
              <td data-label="Cokéfaction et raffinage C2">
                {{ commune.cokefaction || '' }}
              </td>
              <td data-label="Fabrication d'équipements électriques, électroniques, informatiques ; fabrication de machines C3">
                {{ commune.fabricationEqElectroniques || '' }}
              </td>
              <td data-label="Fabrication de matériels de transport C4">
                {{ commune.fabricationMatTransport || '' }}
              </td>
              <td data-label="Fabrication d'autres produits industriels C5">
                {{ commune.fabricationPdtIndustriels || '' }}
              </td>
              <td data-label="Industries extractives, énergie, eau, gestion des déchets et dépollution DE">
                {{ commune.industriesExtractives || '' }}
              </td>
              <td data-label="Construction FZ">
                {{ commune.construction || '' }}
              </td>
              <td data-label="Commerce ; réparation d'automobiles et de motocycles GZ">
                {{ commune.commerceAuto || '' }}
              </td>
              <td data-label="Transports et entreposage HZ">
                {{ commune.transport || '' }}
              </td>
              <td data-label="Hébergement et restauration IZ">
                {{ commune.hebergementResto || '' }}
              </td>
              <td data-label="Information et communication JZ">
                {{ commune.infoCom || '' }}
              </td>
              <td data-label="Activités financières et d'assurance KZ">
                {{ commune.financeAssurance || '' }}
              </td>
              <td data-label="Activités immobilières LZ">
                {{ commune.immobilier || '' }}
              </td>
              <td data-label="Activités scientifiques et techniques ; services administratifs et de soutien MN">
                {{ commune.sciencesEtTechno || '' }}
              </td>
              <td data-label="Administration publique, enseignement, santé humaine et action sociale OQ">
                {{ commune.administration || '' }}
              </td>
              <td data-label="Autres activités de services RU">
                {{ communeautresServices || '' }}
              </td>
            </tr>
          </tbody>
        </table>
        <p>Source : API INSEE - Données Locales - FLORES (Fichier LOcalisé des REmunérations et de l'Emploi Salarié) 2020</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
import axios from 'axios'
import xml2js from 'xml2js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: 'DataReunionFloresNA17',
  components: {
    PulseLoader
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      // Tableau pour stocker les données pour plusieurs communes
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const token = process.env.TOKEN_INSEE
        // const token = config.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/donnees-locales/V0.1/donnees/geo-NA17@GEO2022FLORES2020/COM-${communeCode}.AZ%2BC1%2BC2%2BC3%2BC4%2BC5%2BDE%2BFZ%2BGZ%2BHZ%2BIZ%2BJZ%2BKZ%2BLZ%2BMN%2BOQ%2BRU%2BENSENS`, {
          headers: {
            Authorization: token,
            Accept: 'application/xml'
          }
        })
        if (response.status === 200) {
          const xmlData = response.data
          console.log(xmlData)
          const parser = new xml2js.Parser({ explicitArray: false })
          const parsedData = await parser.parseStringPromise(xmlData)
          // Est-ce que parsedData contient les données que je recherche ?
          console.log(parsedData)
          // Sélectionne que la partie qui nous intéresse dans XML
          const communeName = parsedData.Donnees.Zone.Millesime.Nccenr
          const agriculture = parseInt(parsedData.Donnees.Cellule[0].Valeur)
          const fabricationBoissons = parseInt(parsedData.Donnees.Cellule[1].Valeur)
          const cokefaction = parseInt(parsedData.Donnees.Cellule[2].Valeur)
          const fabricationEqElectroniques = parseInt(parsedData.Donnees.Cellule[3].Valeur)
          const fabricationMatTransport = parseInt(parsedData.Donnees.Cellule[4].Valeur)
          const fabricationPdtIndustriels = parseInt(parsedData.Donnees.Cellule[5].Valeur)
          const industriesExtractives = parseInt(parsedData.Donnees.Cellule[6].Valeur)
          const construction = parseInt(parsedData.Donnees.Cellule[7].Valeur)
          const commerceAuto = parseInt(parsedData.Donnees.Cellule[8].Valeur)
          const transport = parseInt(parsedData.Donnees.Cellule[9].Valeur)
          const hebergementResto = parseInt(parsedData.Donnees.Cellule[10].Valeur)
          const infoCom = parseInt(parsedData.Donnees.Cellule[11].Valeur)
          const financeAssurance = parseInt(parsedData.Donnees.Cellule[12].Valeur)
          const immobilier = parseInt(parsedData.Donnees.Cellule[13].Valeur)
          const sciencesEtTechno = parseInt(parsedData.Donnees.Cellule[14].Valeur)
          const administration = parseInt(parsedData.Donnees.Cellule[15].Valeur)
          const autresServices = parseInt(parsedData.Donnees.Cellule[16].Valeur)

          const communesData = {
            communeName,
            agriculture,
            fabricationBoissons,
            cokefaction,
            fabricationEqElectroniques,
            fabricationMatTransport,
            fabricationPdtIndustriels,
            industriesExtractives,
            construction,
            commerceAuto,
            transport,
            hebergementResto,
            infoCom,
            financeAssurance,
            immobilier,
            sciencesEtTechno,
            administration,
            autresServices
          }
          console.log(communesData)
          return communesData
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(data)
        }
        console.log(data)
      }
      this.apiData = apiData
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs Cellule.Valeur d'après le code de population Cellule.Mesure.code
    getPopulationValue (commune, measureCode) {
      if (commune && commune.Cellule) {
        const cellule = this.apiData.Cellule.find(cell => cell.Mesure.code === measureCode)
        return cellule ? cellule.Valeur : ''
      }
      return ''
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
