<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les établissements de santé à La Réunion</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>
      <!--Tri-->
      <div class="sortContainer">
        <h2>Filtrer</h2>
        <!--Tri par commune-->
        <label for="sortByCommune">Commune </label>
        <select
          id="sortByCommune"
          v-model="sortOptions.commune"
          @change="sortData('com_name')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="commune in getColumnValues('com_name')"
            :key="commune"
            :value="commune"
          >
            {{ commune }}
          </option>
        </select>
        <!--Tri par nom-->
        <label for="sortByNom">Nom </label>
        <select
          id="sortByNom"
          v-model="sortOptions.nom"
          @change="sortData('rslongue')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="nom in getColumnValues('rslongue')"
            :key="nom"
            :value="nom"
          >
            {{ nom }}
          </option>
        </select>
        <!--Tri par catégorie-->
        <label for="sortByCategorie">Catégorie : </label>
        <select
          id="sortByCategorie"
          v-model="sortOptions.categorie"
          @change="sortData('libcategagretab')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="categorie in getColumnValues('libcategagretab')"
            :key="categorie"
            :value="categorie"
          >
            {{ categorie }}
          </option>
        </select>
        <!--Format-->
        <label for="sortByEpci">EPCI : </label>
        <select
          id="sortByEpci"
          v-model="sortOptions.epci"
          @change="sortData('epci_name')"
        >
          <option value="">
            Tous
          </option>
          <option
            v-for="epci in getColumnValues('epci_name')"
            :key="epci"
            :value="epci"
          >
            {{ epci }}
          </option>
        </select>
      </div>

      <!--Tableau contenant les données-->
      <table>
        <thead>
          <tr>
            <th @click="sortData('com_name')">
              Communes
            </th>
            <th @click="sortData('rslongue')">
              Etablissement
            </th>
            <th @click="sortData('libcategagretab')">
              Catégorie
            </th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Télécopie</th>
            <th @click="sortData('epci_name')">
              EPCI
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in filteredAndPaginatedData"
            :key="item.nofinesset"
          >
            <td data-label="Communes">
              {{ item.com_name }}
            </td>
            <td data-label="Etablissement">
              {{ item.rslongue }}
            </td>
            <td data-label="Catégorie">
              {{ item.libcategagretab }}
            </td>
            <td data-label="Adresse">
              {{ item.lieuditbp }} {{ item.ligneacheminement }}
            </td>
            <td data-label="Téléphone">
              {{ item.telephone }}
            </td>
            <td data-label="Télécopie">
              {{ item.telecopie }}
            </td>
            <td data-label="EPCI">
              {{ item.epci_name }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataReunionEtabSante',
  components: {
    // SimpleBreadcrumb
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  data () {
    return {
      epciId: null,
      epciName: null,
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0,
      sortOptions: {
        commune: '',
        nom: '',
        categorie: '',
        epci: ''
      }
    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    },
    // Pour trier les données
    filteredData () {
      return this.data
        .filter(item => {
          return (
            (!this.sortOptions.commune || item.com_name === this.sortOptions.commune) &&
            (!this.sortOptions.nom || item.rslongue === this.sortOptions.nom) &&
            (!this.sortOptions.categorie || item.libcategagretab === this.sortOptions.categorie) &&
            (!this.sortOptions.epci || item.epci_name === this.sortOptions.epci)
          )
        })
        .sort((a, b) => {
          // Tri par colonne
          if (this.sortOptions.commune) {
            return a.com_name.localeCompare(b.com_name)
          } else if (this.sortOptions.nom) {
            return a.rslongue.localeCompare(b.rslongue)
          } else if (this.sortOptions.categorie) {
            return a.libcategagretab.localeCompare(b.libcategagretab)
          } else if (this.sortOptions.epci) {
            return a.epci_name.localeCompare(b.epci_name)
          }
          // Aucun tri
          return 0
        })
    },
    filteredAndPaginatedData () {
      const filteredData = this.filteredData
      const start = (this.currentPage - 1) * this.limit
      return filteredData.slice(start, start + this.limit)
    }
  },
  mounted () {
    console.log('Component mounted')
    this.loadAllData()
  },
  methods: {
    loadAllData () {
    // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/etablissements-du-domaine-sanitaire-et-social-a-la-reunion/records?limit=${this.limit}&offset=${this.offset}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          console.log('Data loaded:', response.data)
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count
          // Tri des données
          // const sortedData = response.data.results.slice().sort((a, b) => {
          //   // Trier par nom de commune
          //   return a.com_name.localeCompare(b.com_name)
          // })
          // // Stockage des données triées
          // this.data = this.data.concat(sortedData)
          // console.log('sortedData', sortedData)

          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)

          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès et trièes: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Next page clicked')
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
        console.log('Previous page clicked')
      }
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.data.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData () {
      this.data.sort((a, b) => {
        console.log('sortOptions.commune', this.sortOptions.commune)
        console.log('sortOptions.nom', this.sortOptions.nom)
        console.log('sortOptions.categorie', this.sortOptions.categorie)
        console.log('sortOptions.epci', this.sortOptions.epci)

        // Tri par commune
        if (this.sortOptions.commune) {
          if (a.commune < b.commune) return -1
          if (a.commune > b.commune) return 1
        }
        // Tri par nom
        if (this.sortOptions.nom) {
          if (a.nom < b.nom) return -1
          if (a.nom > b.nom) return 1
        }
        // Tri par catégorie
        if (this.sortOptions.categorie) {
          if (a.categorie < b.categorie) return -1
          if (a.categorie > b.categorie) return 1
        }
        // Tri par epci
        if (this.sortOptions.epci) {
          if (a.epci < b.epci) return -1
          if (a.epci > b.epci) return 1
        }
        // Aucun tri
        return 0
      })
    }
  }
}

</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
.pageContainer {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  width: 70%;
  height: 100%;
  margin: 0;
}

.dataContainer {
  width: 100%;
  height: 1000px;
}

h1 {
  color: var(--primary-color);
}

.sortContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    margin: 1em;
  }

  select {
    border-radius: 1em;
    padding: 1em;
    width: 10%;
  }

  option {
    padding: 1em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: #FAF0F6;
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }

  button {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: black;
  }

  button:hover {
    color: black;
    background-color: red;
  }
}

 /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: right;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

}
 </style>
