<!--DataReunionRisques.vue-->
<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Les risques à La Réunion</h2>

      <nav>
        <div>
          <h2>Rechercher</h2>
          <div class="selectContainer">
            <!--Tri par commune-->
            <label for="sortByCommune">Commune</label>
            <select
              id="sortByCommune"
              v-model="selectedSortCommune"
              @change="sortData"
            >
              <option value="">
                Tous
              </option>
              <option
                v-for="commune in getColumnValues('libelle_commune')"
                :key="commune"
                :value="commune"
              >
                {{ commune }}
              </option>
            </select>
            <!--Tri par numéro de risque-->
            <label for="sortByNumber">Numéro </label>
            <select
              id="sortByNumber"
              v-model="selectedSortNumber"
              @change="sortData"
            >
              <option value="">
                Tous
              </option>
              <option
                v-for="number in getColumnValues('num_risque')"
                :key="number"
                :value="number"
              >
                {{ number }}
              </option>
            </select>
            <!--Tri par risque-->
            <label for="sortByRisk">Risque </label>
            <select
              id="sortByRisk"
              v-model="selectedSortRisk"
              @change="sortData"
            >
              <option value="">
                Tous
              </option>
              <option
                v-for="risk in getColumnValues('libelle_risque_long')"
                :key="risk"
                :value="risk"
              >
                {{ risk }}
              </option>
            </select>
          </div>
        </div>
      </nav>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Numéro de risque</th>
            <th>Risque</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in filteredApiData"
            :key="index"
          >
            <td data-label="Commune">
              {{ commune ? commune.libelleCommune || '' : '' }}
            </td>
            <td data-label="Numéro de risque">
              {{ commune ? commune.numRisque || '' : '' }}
            </td>
            <td data-label="Risque">
              {{ commune ? commune.libelleRisque || '' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : API Géorisques - Opérations sur le détail des Risques</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataReunionRisques',
  components: {
    PulseLoader
    // SimpleBreadcrumb
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  computed: {
    filteredApiData () {
      return this.apiData.filter(apiData => this.filterData(apiData))
    }
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      // Créer un tableau pour stocker les données de risque pour cette commune
      const communeData = []
      try {
        const response = await axios.get(`https://www.georisques.gouv.fr/api/v1/gaspar/risques?code_insee=${communeCode}&page=1&page_size=100&rayon=1000`, {
          headers: {
            Accept: 'application/json'
          }
        })
        if (response.status === 200) {
          const data = response.data.data

          console.log('data in fetchDataForCommune', data)

          if (data && data.length > 0) {
            // Extraire les données pertinentes et les ajouter à apiData
            data.forEach((commune) => {
              // Boucle sur les risques_details et ajout
              commune.risques_detail.forEach((risk) => {
                communeData.push({
                  libelleCommune: commune.libelle_commune,
                  numRisque: risk.num_risque,
                  libelleRisque: risk.libelle_risque_long
                })
              })
            })
          }
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return communeData
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      // Variable de données du composant
      this.apiData = []

      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          this.apiData.push(...data)
        }
        console.log('data in getPopulationsForCommunes', data)
      }
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs des cellules
    getPopulationValue (commune, measureCode) {
      if (commune && commune.code_insee) {
        return commune.code_insee
      }
      return ''
    },
    getColumnValues (columnName) {
      const uniqueValues = [...new Set(this.apiData.map(item => item[columnName]))]
      return uniqueValues
    },
    sortData () {
      this.sources.sort((a, b) => {
        // Tri par commune
        if (this.selectedSortCommune) {
          if (a.commune < b.commune) return -1
          if (a.commune > b.commune) return 1
        }
        // Tri par numéro de risque
        if (this.selectedSortNumber) {
          if (a.number < b.number) return -1
          if (a.number > b.number) return 1
        }
        // Tri par risque
        if (this.selectedSortRisk) {
          if (a.risk < b.risk) return -1
          if (a.risk > b.risk) return 1
        }
        // Aucun tri
        return 0
      })
    },
    filterData (source) {
      return (
        (!this.selectedSortCommune || source.commune === this.selectedSortCommune) &&
        (!this.selectedSortNumber || source.number === this.selectedSortNumber) &&
        (!this.selectedSortRisk || source.risk === this.selectedSortRisk)
      )
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  .sortContainer {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    margin: 0;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    border-radius: 1em;
    padding: 1em;
    width: 15%;
  }

  option {
    padding: 1em;
  }

  table {
    width: 100%;
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    height: max-content;
    margin-top: 20px;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  th {
    padding: 10px;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:hover {
    background-color: var(--medium-gray);
  }

  td, th {
    padding: 1em;
    text-align: left;
  }

  [data-label]::before {
    content: attr(data-label) ":";
    font-weight: bold;
    color: var(--dark-gray);
    display: inline-block;
    width: 120px;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  table {
    width: 100%;
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    height: max-content;
    margin-top: 20px;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  th {
    padding: 10px;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:hover {
    background-color: var(--medium-gray);
  }

  td, th {
    padding: 1em;
    text-align: left;
  }

  [data-label]::before {
    content: attr(data-label) ":";
    font-weight: bold;
    color: var(--dark-gray);
    display: inline-block;
    width: 120px;
  }
}
</style>
