<template>
  <div id="app">
    <div class="dataContainer">
      <h1>Opérations sur les mouvements de terrain à La Réunion</h1>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>Identifiant</th>
            <th>Type</th>
            <th>Fiablité</th>
            <th>Date de début</th>
            <th>Longitude</th>
            <th>Latitude</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <td data-label="Nom">
              {{ commune ? commune.codeInseeCommune || '' : '' }}
            </td>
            <td data-label="Identifiant">
              {{ commune ? commune.identifiant || '' : '' }}
            </td>
            <td data-label="Type">
              {{ commune ? commune.type || '' : '' }}
            </td>
            <td data-label="Fiablité">
              {{ commune ? commune.fiabilite || '' : '' }}
            </td>
            <td data-label="Date de début">
              {{ commune ? commune.dateDebut || '' : '' }}
            </td>
            <td data-label="Longitude">
              {{ commune ? commune.longitude || '' : '' }}
            </td>
            <td data-label="Latitude">
              {{ commune ? commune.latitude || '' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : API Géorisques - Opérations sur les Mouvements de Terrain (MVT)</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: 'DataReunionMVT',
  components: {
    PulseLoader
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false // Ajout de la variable d'état isLoading
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      try {
        const response = await axios.get(`https://www.georisques.gouv.fr/api/v1/mvt?code_insee=${communeCode}&page=1&page_size=100`, {
          headers: {
            Accept: 'application/json'
          }
        })
        if (response.status === 200) {
          const data = response.data.data

          if (data && data.length > 0) {
            // Extraire les données pertinentes et les ajouter à apiData
            const communeData = data.map(item => {
              return {
                codeInseeCommune: item.code_insee,
                identifiant: item.identifiant,
                type: item.type,
                fiabilite: item.fiabilite,
                dateDebut: item.date_debut,
                longitude: item.longitude,
                latitude: item.latitude
              }
            })
            return communeData
          }
          console.log('communeData MVT', this.communeData)
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return null
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      // Définir apiData comme un tableau unidimensionnel
      const apiData = []
      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          apiData.push(...data)
        }
        console.log(data)
      }
      this.apiData = apiData
      console.log('apiData', this.apiData)
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs des cellules
    getPopulationValue (commune, measureCode) {
      if (commune && commune.code_insee) {
        return commune.code_insee
      }
      return ''
    }

  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 12em;
    left: 0em;
    right: 0;
    width: 100%;
    height: 100em;
  }
  .dataContainer {
    width: 100%;
    height: max-content;
  }

  .loadingSpinner {
    width: 70%;
    height: 500px;
    padding: 5em;
  }

  table {
    border: 0.25em solid rgb(127, 52, 64);
    width: 90%;
    height: max-content;
    margin: 0 auto;
  }

  thead {
    background: var(--accent-color);
  }

  th {
    color: white;
    padding: 0.5em;

  }

  tbody {
    color: black;
  }

    /**Couleur pour les lignes paires */
    tbody tr:nth-child(even) {
    background-color: #FAF0F6;
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  td {
    color: black;
    border: 0.10em solid rgb(127, 52, 64);
    padding: 1em;
    font-size: 1rem;
  }

  a {
    color: rgb(127, 52, 64);
  }
}

  /**Affichage pour mobile et tablette */
  @media screen and (max-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    background-color: black;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }

  .selectContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: right;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

}
</style>
