<!--  CommuneView.vue-->
<template>
  <div id="app">
    <!-- <HeaderSection /> -->
    <div class="container-fluid mt-4">
      <!--Breadcrumb-->
      <!-- <Breadcrumb
        :pays-name="paysName"
        :theme-name="themeName"
        :subject-name="subjectName"
      /> -->

      <!--Bouton du menu burger-->
      <!-- <button
        class="btn btn-dark toggleMenuButton"
        @click="toggleMenu"
      >
        <font-awesome-icon icon="fa-solid fa-bars" />
      </button> -->

      <!--Menu pour les petits écrans-->
      <!-- <div
        v-if="isMenuOpen"
        class="mobileMenu"
        @click="logMenuStatus"
      >-->
        <!--<div class="navigationTools d-flex justify-content-between"> -->
          <!--Barre de navigation dans l'application-->
          <!-- <div class="navigationBar">-->
            <!--Sélection de l'échelle-->
            <!-- <ScaleSelector
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            /> -->
            <!--Sélection du sujet-->
            <!-- <SubjectSelectorCommune
              :pays-name="paysName"
              :theme-name="themeName"
              :subject-name="subjectName"
              @subject-selected="handleSubjectChange"
            />
          </div>
        </div>
      </div>
      <div v-else> -->
        <!--Pour écran TV et desktop-->

        <!-- <div class="navigationTools d-flex justify-content-between">
          <div class="navigationBar"> -->
            <!--Sélection de l'échelle-->
            <!-- <ScaleSelector
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            /> -->

            <!--Sélection du sujet-->
            <!-- <SubjectSelectorCommune
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
              @subject-selected="handleSubjectChange"
            />
          </div>
        </div>
      </div>
    </div> -->

    <!--Vue sur les sujets-->
    <!-- <div class="subjectViewContainer">
          <router-view />
        </div> -->

    <!--Afficher le nom du thème ici-->
    <h2 class="mt-2 mb-3" v-if="selectedSubject">
      Thème {{ selectedSubject.theme }}
    </h2>

    <!--Composant dynamique classique-->
    <div class="container mt-2 mb-3">
      <div class="subjectContainer mt-2 mb-3 mx-auto">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubjectComponent" />
      </div>
    </div>

    <!-- <div class="mt-4">
      isMenuOpen: {{ isMenuOpen }}
    </div> -->

    <!--Pied de page-->
    <!-- <FooterSection /> -->
    </div>
  </div>
</template>

<script>

import Breadcrumb from '@/components/navigation/Breadcrumb.vue'
// import FooterSection from '../components/elements/FooterSection.vue'
// import HeaderSection from '../components/elements/HeaderSection.vue'
import ScaleSelector from '@/components/navigation/ScaleSelector.vue'
import SubjectSelectorCommune from '@/components/navigation/SubjectSelectorCommune.vue'
// import CommuneThemeSubjectSelector from '@/components/elements/CommuneThemeSubjectSelector.vue'

// Composants dynamiques
import DataCommuneBati from '../components/datas/reunion/amenagement/communes/DataCommuneBati.vue'
import DataCommune5G from '@/components/datas/reunion/economie/communes/DataCommune5G.vue'
import MapCommuneBassinNat from '@/components/maps/reunion/communes/MapCommuneBassinNat.vue'
import DataCommuneEtabTourisme from '@/components/datas/reunion/tourisme/communes/DataCommuneEtabTourisme.vue'
import DataCommuneSirene from '@/components/datas/reunion/economie/communes/DataCommuneSirene.vue'
import DataCommuneFamille from '@/components/datas/reunion/population/communes/DataCommuneFamille.vue'
import DataCommuneFloresNA17 from '@/components/datas/reunion/economie/communes/DataCommuneFloresNA17.vue'
import DataCommuneHebTourisme from '@/components/datas/reunion/tourisme/communes/DataCommuneHebTourisme.vue'
import DataCommunePopLeg from '@/components/datas/reunion/population/communes/DataCommunePopLeg.vue'
import DataCommuneRisques from '@/components/datas/reunion/environnement/communes/DataCommuneRisques.vue'
import DataCommuneStationnement from '@/components/datas/reunion/amenagement/communes/DataCommuneStationnement.vue'
import MapCommune from '@/components/maps/reunion/communes/MapCommune.vue'
import DataCommuneVoiture from '../components/datas/reunion/economie/communes/DataCommuneVoiture.vue'

export default {
  name: 'CommuneView',
  components: {
    // HeaderSection,
    // FooterSection,
    Breadcrumb,
    ScaleSelector,
    SubjectSelectorCommune,
    // CommuneThemeSubjectSelector,
    DataCommuneBati,
    DataCommune5G,
    MapCommuneBassinNat,
    DataCommuneEtabTourisme,
    DataCommuneSirene,
    DataCommuneFamille,
    DataCommuneFloresNA17,
    DataCommuneHebTourisme,
    DataCommunePopLeg,
    DataCommuneRisques,
    DataCommuneStationnement,
    MapCommune
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    communeId: { type: Number, default: 22 },
    communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' } // Récupère le sujet depuis la route
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true,
      selectedSubject: '' // Etat local de selectedSubject
    }
  },
  computed: {
    currentSubjectComponent () {
      const componentMap = {
        communeBati: DataCommuneBati,
        communeStationnement: DataCommuneStationnement,
        communeMap: MapCommune,
        commune5G: DataCommune5G,
        communeVoiture: DataCommuneVoiture,
        communeFloresNA17: DataCommuneFloresNA17,
        communeSirene: DataCommuneSirene,
        communeRisques: DataCommuneRisques,
        communePopLeg: DataCommunePopLeg,
        communeFamille: DataCommuneFamille,
        communeBassinNat: MapCommuneBassinNat,
        communeTourismeHeb: DataCommuneHebTourisme,
        communeTourismeEtab: DataCommuneEtabTourisme
      }

      return componentMap[this.$route.params.subjectName] || 'DataCommuneBati'
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('Route changed', to.params)
      if (to.params.paysName) {
        this.localPaysName = to.params.paysName
      }
    }
  },
  mounted () {
    console.log('CommuneView.vue mounted')
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    handleSubjectSelected (subject) {
      // Utiliser l'action Vuex pour mettre à jour le sujet sélectionné
      // this.$store.dispatch('updateSelectedSubject', subject)
      this.selectedSubject = subject
      // Mettre à jour les thèmes ici si nécessaire
      this.updateUniqueThemes()
      this.updateCurrentSubject()
    },
    handleThemeChange () {
      // Logique en cas de changement de thème
      this.updateCurrentSubject()
    },
    handleSubjectChange (newSubject) {
      // Mettre à jour le sujet sélectionné
      this.selectedSubject = newSubject
    },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .toggleMenuButton {
    display: none;
  }

  .navigationTools {
    width: 100%;
    top: 2em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  label {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .boxSelect {
    width: 100%;
    height: max-content;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: white;
    cursor: pointer;
  }

  .boxSelect:hover {
    background-color: #555;
    color: white;
  }

  .boxSelect:focus {
    outline: none;
    box-shadow: 0 0 0 2px #333;
  }

  option {
    font-size: 1rem;
    background-color: white;
    color: #333;
  }

  option:hover {
    background-color: #555;
    color: white;
  }

  .subjectContainer {
    width: 1200px;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 16em;
    z-index: -1;
  }

  .footerContainer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }
}
</style>
