<!--  CommuneView.vue-->
<template>
  <div><HeaderTop /></div>
  <div class="pageContainer">
    <!--Breadcrumb-->
    <SimpleBreadcrumb :pays-name="paysName" />

    <!--Bouton du menu burger-->
    <button
      class="toggleMenuButton"
      @click="toggleMenu"
    >
      <font-awesome-icon icon="fa-solid fa-bars" />
    </button>

    <!--Menu pour les petits écrans-->
    <div
      v-if="isMenuOpen"
      class="mobileMenu"
      @click="logMenuStatus"
    >
      <div class="navigationTools">
        <!--Barre de navigation dans l'application-->
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelector
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />
        </div>
      </div>
    </div>
    <div v-else>
      <!--Pour écran TV et desktop-->

      <div class="navigationTools">
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelectorPinia
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />
        </div>
      </div>
    </div>
  </div>

  <!--Vue sur les sujets-->
  <!-- <div class="subjectViewContainer">
        <router-view />
      </div> -->

  <!--Afficher le nom du thème ici-->
  <h2 v-if="selectedSubject">
    Thème {{ selectedSubject.theme }}
  </h2>

  <!--Composant dynamique-->
  <div class="subjectContainer">
    <!--Le composant affiché dépendra du sujet sélectionné-->
    <component :is="currentSubject" />
  </div>

  <div>
    isMenuOpen: {{ isMenuOpen }}
  </div>

  <div class="footerContainer">
    <!--Pied de page-->
    <!-- <FooterBottom /> -->
  </div>
</template>

<script>

import SimpleBreadcrumb from '@/components/elements/SimpleBreadcrumb.vue'
import FooterBottom from '../components/elements/FooterBottom.vue'
import HeaderTop from '../components/elements/HeaderTop.vue'
import ScaleSelectorPinia from '@/components/navigation/ScaleSelectorPinia.vue'
// import CommuneThemeSubjectSelector from '@/components/elements/CommuneThemeSubjectSelector.vue'

// Composants dynamiques
import DataCommuneBati from '../components/datas/reunion/amenagement/communes/DataCommuneBati.vue'
import DataCommune5G from '@/components/datas/reunion/economie/communes/DataCommune5G.vue'
import MapCommuneBassinNat from '@/components/maps/reunion/communes/MapCommuneBassinNat.vue'
import DataCommuneEtabTourisme from '@/components/datas/reunion/tourisme/communes/DataCommuneEtabTourisme.vue'
import DataCommuneSirene from '@/components/datas/reunion/economie/communes/DataCommuneSirene.vue'
import DataCommuneFamille from '@/components/datas/reunion/population/communes/DataCommuneFamille.vue'
import DataCommuneFloresNA17 from '@/components/datas/reunion/economie/communes/DataCommuneFloresNA17.vue'
import DataCommuneHebTourisme from '@/components/datas/reunion/tourisme/communes/DataCommuneHebTourisme.vue'
import DataCommunePopLeg from '@/components/datas/reunion/population/communes/DataCommunePopLeg.vue'
import DataCommuneRisques from '@/components/datas/reunion/environnement/communes/DataCommuneRisques.vue'
import DataCommuneStationnement from '@/components/datas/reunion/amenagement/communes/DataCommuneStationnement.vue'
import MapCommune from '@/components/maps/reunion/communes/MapCommune.vue'

export default {
  name: 'CommuneViewPinia',
  components: {
    HeaderTop,
    FooterBottom,
    SimpleBreadcrumb,
    ScaleSelectorPinia,
    // CommuneThemeSubjectSelector,
    DataCommuneBati,
    DataCommune5G,
    MapCommuneBassinNat,
    DataCommuneEtabTourisme,
    DataCommuneSirene,
    DataCommuneFamille,
    DataCommuneFloresNA17,
    DataCommuneHebTourisme,
    DataCommunePopLeg,
    DataCommuneRisques,
    DataCommuneStationnement,
    MapCommune
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    communeId: { type: Number, default: 22 },
    communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' } // Récupère le sujet depuis la route
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true
    }
  },
  computed: {
    // themes () {
    //   return this.$store.state.themes
    // },
    // subjects () {
    //   return this.$store.state.subjects
    // },
    // selectedTheme () {
    //   return this.$store.state.selectedTheme
    // },
    // selectedSubject () {
    //   return this.$store.getters.selectedSubject
    // },
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'communeBati':
          return 'DataCommuneBati'
        case 'communeStationnement':
          return 'DataCommuneStationnement'
        case 'communeMap':
          return 'MapCommune'
        case 'commune5G':
          return 'DataCommune5G'
        case 'communeVoiture':
          return 'DataCommuneVoiture'
        case 'communeFloresNA17':
          return 'DataCommuneFloresNA17'
        case 'communeSirene':
          return 'DataCommuneSirene'
        case 'communeRisques':
          return 'DataCommuneRisques'
        case 'communePopLeg':
          return 'DataCommunePopLeg'
        case 'communeFamille':
          return 'DataCommuneFamille'
        case 'communeBassinNat':
          return 'MapCommuneBassinNat'
        case 'communeHebTourisme':
          return 'DataCommuneHebTourisme'
        case 'communeEtabTourisme':
          return 'DataCommuneEtabTourisme'
        default:
          return 'DataCommuneBati'
      }
    }
  },
  mounted () {
    console.log('CommuneView.vue mounted')
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    handleSubjectSelected (subject) {
      // Utiliser l'action Vuex pour mettre à jour le sujet sélectionné
      // this.$store.dispatch('updateSelectedSubject', subject)
      this.selectedSubject = subject
      // Mettre à jour les thèmes ici si nécessaire
      this.updateUniqueThemes()
      this.updateCurrentSubject()
    },
    handleThemeChange () {
      // Logique en cas de changement de thème
      this.updateCurrentSubject()
    },
    handleSubjectChange () {
      const communeSubjects = this.$store.getters['reunion/subjects']

      // Afficher les sujets de La Réunion
      console.log('Sujets des communes: ', communeSubjects)
    },
    updateUniqueThemes () {
      // Logique pour mettre à jour la liste distincte des thèmes
      this.uniqueThemes = this.getUniqueThemeFromSubjects()
    },
    getUniqueThemesFromSubjects () {
      // Logique pour extraire les thèmes uniques des sujets disponibles
      // La fonction Set permet d'obtenir les valeurs
      return Array.from(new Set(this.subjects.map(subject => subject.theme)))
    },
    updateSelectedTheme (theme) {
      this.selectedTheme = theme
    },
    updateSelectedSubject (subject) {
      this.selectedSubject = subject
    },
    updateCurrentSubject () {
      // Logique pour mettre à jour le composant actuel en fonction du sujet sélectionné
      switch (this.selectedSubject.name) {
        case 'communeBati':
          this.currentSubject = 'communeBati'
          break
        case 'communeStationnement':
          this.currentSubject = 'communeStationnement'
          break
        case 'communeMap':
          this.currentSubject = 'communeMap'
          break
        case 'commune5G':
          this.currentSubject = 'commune5G'
          break
        case 'communeVoiture':
          this.currentSubject = 'communeVoiture'
          break
        case 'communeFloresNA17':
          this.currentSubject = 'communeFloresNA17'
          break
        case 'communeSirene':
          this.currentSubject = 'communeSirene'
          break
        case 'communeRisques':
          this.currentSubject = 'communeRisques'
          break
        case 'communePopLeg':
          this.currentSubject = 'communePopLeg'
          break
        case 'communeFamille':
          this.currentSubject = 'communeFamille'
          break
        case 'communeBassinNat':
          this.currentSubject = 'communeBassinNat'
          break
        case 'communeHebTourisme':
          this.currentSubject = 'communeHebTourisme'
          break
        case 'communeEtabTourisme':
          this.currentSubject = 'communeEtabTourisme'
          break
        default:
          this.currentSubject = 'communeBati'
      }
    },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    /* overflow: scroll; */
    margin: 0;
  }

  .toggleMenuButton {
    display: none;
  }

  .headerContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigationTools {
    position: absolute;
    width: 100%;
    top: 4em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: #333;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* align-content: center; */
    justify-content: space-between;
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  label {
      color: white;
      font-size: 1rem;
      margin-bottom: 0.5em;
    }
    .boxSelect {
      width: 100%;
      height: max-content;
      padding: 0.5em;
      font-size: 1rem;
      border: 1px solid #333;
      border-radius: 5px;
      color: #333;
      background-color: white;
      cursor: pointer;
    }

    .boxSelect:hover {
      background-color: #555;
      color: white;
    }

    .boxSelect:focus {
      outline: none;
      box-shadow: 0 0 0 2px #333;
    }

    option {
      font-size: 1rem;
      background-color: white;
      color: #333;
    }

    option:hover {
      background-color: #555;
      color: white;
    }

  .subjectViewContainer {
    width: 100%;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 14em;
  }

  .footerContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 24%;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }
}
</style>
