<!--EpciView.vue-->
<template>
  <div id="app">
    <!-- <HeaderSection /> -->
    <div class="container-fluid mt-4">
      <!--Breadcrumb-->
      <!-- <Breadcrumb
        :pays-name="paysName"
        :epci-name="epciName"
        :epci-id="epciId"
        :theme-name="themeName"
        :subject-name="subjectName"
      /> -->

      <!--Bouton du menu burger-->
      <!-- <button
        class="btn btn-dark toggleMenuButton"
        @click="toggleMenu"
      >
        <font-awesome-icon icon="fa-solid fa-bars" />
      </button> -->

      <!--Menu pour les petits écrans-->
      <!-- <div
        v-if="isMenuOpen"
        class="mobileMenu"
        @click="logMenuStatus"
      >
        <div class="navigationTools"> -->
          <!--Barre de navigation dans l'application-->
          <!-- <div class="navigationBar"> -->
            <!--Sélection de l'échelle-->
            <!-- <ScaleSelector
              v-if="showMainScaleSelector"
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            />

            <SubjectSelectorEpci
              ref="themeListContainer"
              :themes="themes"
              :subjects="subjects"
              :selected-theme="selectedTheme"
              :selected-subject="selectedSubject"
            />
          </div>
        </div>
      </div>
      <div v-else> -->
        <!--Pour écran TV et desktop-->

        <!-- <div class="navigationTools  d-flex justify-content-betweens">
          <div class="navigationBar"> -->
            <!--Sélection de l'échelle-->
            <!-- <ScaleSelector
              v-if="showMainScaleSelector"
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            />

            <SubjectSelectorEpci
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :theme-name="themeName"
              :subject-name="subjectName"
              @subject-selected="handleSubjectChange"
            />
          </div>
        </div>
      </div> -->

      <!--Afficher le nom du thème ici-->
      <h2 class="mt-2 mb-3" v-if="selectedSubject">
        Thème {{ selectedSubject.theme }}
      </h2>

      <!--Composant dynamique classique-->
      <div class="container mt-2 mb-3">
        <div class="subjectContainer mt-2 mb-3 mx-auto">
          <!--Le composant affiché dépendra du sujet sélectionné-->
          <component :is="currentSubjectComponent" />
        </div>
      </div>

      <!-- <div class="mt-4">
        isMenuOpen: {{ isMenuOpen }}
      </div> -->
    </div>
    <!--Pied de page-->
    <!-- <FooterSection /> -->
    <!-- <div class="footerContainer"> -->
  </div>
</template>

<script>

import Breadcrumb from '@/components/navigation/Breadcrumb.vue'
// import FooterSection from '../components/elements/FooterSection.vue'
// import HeaderSection from '../components/elements/HeaderSection.vue'
import ScaleSelector from '@/components/navigation/ScaleSelector.vue'
import SubjectSelectorEpci from '@/components/navigation/SubjectSelectorEpci.vue'

// Composants dynamiques
import DataEpciBati from '../components/datas/reunion/amenagement/epcis/DataEpciBati.vue'
import DataEpci5G from '@/components/datas/reunion/economie/epcis/DataEpci5G.vue'
import MapEpciBassinNat from '@/components/maps/reunion/epcis/MapEpciBassinNat.vue'
import DataEpciEtabTourisme from '@/components/datas/reunion/tourisme/epcis/DataEpciEtabTourisme.vue'
import DataEpciSirene from '@/components/datas/reunion/economie/epcis/DataEpciSirene.vue'
import DataEpciFamille from '@/components/datas/reunion/population/epcis/DataEpciFamille.vue'
import DataEpciFloresNA17 from '@/components/datas/reunion/economie/epcis/DataEpciFloresNA17.vue'
import DataEpciHebTourisme from '@/components/datas/reunion/tourisme/epcis/DataEpciHebTourisme.vue'
import DataEpciPopLeg from '@/components/datas/reunion/population/epcis/DataEpciPopLeg.vue'
import DataEpciRisques from '@/components/datas/reunion/environnement/epcis/DataEpciRisques.vue'
import DataEpciStationnement from '@/components/datas/reunion/amenagement/epcis/DataEpciStationnement.vue'
import MapEpci from '@/components/maps/reunion/epcis/MapEpci.vue'
import DataEpciVoiture from '../components/datas/reunion/economie/epcis/DataEpciVoiture.vue'

export default {
  name: 'EpciView',
  components: {
    // HeaderSection,
    // FooterSection,
    Breadcrumb,
    SubjectSelectorEpci,
    ScaleSelector,
    DataEpciBati,
    DataEpci5G,
    MapEpciBassinNat,
    DataEpciEtabTourisme,
    DataEpciSirene,
    DataEpciFamille,
    DataEpciFloresNA17,
    DataEpciHebTourisme,
    DataEpciPopLeg,
    DataEpciRisques,
    DataEpciStationnement,
    MapEpci
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'epciBati' }// Récupère le sujet depuis la route
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true,
      selectedSubject: ''
    }
  },
  computed: {
    currentSubjectComponent () {
      const componentMap = {
        epciBati: DataEpciBati,
        epciStationnement: DataEpciStationnement,
        epciMap: MapEpci,
        epci5G: DataEpci5G,
        epciVoiture: DataEpciVoiture,
        epciFloresNA17: DataEpciFloresNA17,
        epciSirene: DataEpciSirene,
        epciRisques: DataEpciRisques,
        epciPopLeg: DataEpciPopLeg,
        epciFamille: DataEpciFamille,
        epciBassinNat: MapEpciBassinNat,
        // epciEquipementsSport: DataEpciEquipementsSport,
        epciTourismeHeb: DataEpciHebTourisme,
        epciTourismeEtab: DataEpciEtabTourisme
      }

      return componentMap[this.$route.params.subjectName] || 'DataReunionBati'
    }
  },
  mounted () {
    console.log('EpciView.vue mounted')
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    handleSubjectChange (newSubject) {
      // Mettre à jour le sujet sélectionné
      this.selectedSubject = newSubject
    },
    // handleSubjectSelected (subject) {
    //   // Utiliser l'action Vuex pour mettre à jour le sujet sélectionné
    //   // this.$store.dispatch('updateSelectedSubject', subject)
    //   this.selectedSubject = subject
    //   // Mettre à jour les thèmes ici si nécessaire
    //   this.updateUniqueThemes()
    //   this.updateCurrentSubject()
    // },
    // handleThemeChange () {
    //   // Logique en cas de changement de thème
    //   this.updateCurrentSubject()
    // },
    // handleSubjectChange () {
    //   const epciSubjects = this.$store.getters['epci/subjects']

    //   // Afficher les sujets de La Réunion
    //   console.log('Sujets de l\'EPCI:', epciSubjects)
    // },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: max-content;
    /* overflow: scroll; */
    margin: 0;
    padding-bottom: 50px;
  }

  .toggleMenuButton {
    display: none;
  }

  .headerContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigationTools {
    position: absolute;
    width: 100%;
    top: 2em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  label {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .boxSelect {
    width: 100%;
    height: max-content;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: white;
    cursor: pointer;
  }

  .boxSelect:hover {
    background-color: #555;
    color: white;
  }

  .boxSelect:focus {
    outline: none;
    box-shadow: 0 0 0 2px #333;
  }

  option {
    font-size: 1rem;
    background-color: white;
    color: #333;
  }

  option:hover {
    background-color: #555;
    color: white;
  }

  .subjectContainer {
    width: 1200px;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 16em;
    z-index: -1;
  }

  .footerContainer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 200px;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }
}
</style>
