<!--EpciView.vue-->
<template>
  <div><HeaderTop /></div>
  <div class="pageContainer">
    <!--Breadcrumb-->
    <SimpleBreadcrumb :pays-name="paysName" />

    <!--Bouton du menu burger-->
    <button
      class="toggleMenuButton"
      @click="toggleMenu"
    >
      <font-awesome-icon icon="fa-solid fa-bars" />
    </button>

    <!--Menu pour les petits écrans-->
    <div
      v-if="isMenuOpen"
      class="mobileMenu"
      @click="logMenuStatus"
    >
      <div class="navigationTools">
        <!--Barre de navigation dans l'application-->
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelectorPinia
            v-if="showMainScaleSelector"
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <!-- <EpciThemeSubjectSelector
            ref="themeListContainer"
            :themes="themes"
            :subjects="subjects"
            :selected-theme="selectedTheme"
            :selected-subject="selectedSubject"
          /> -->
        </div>
      </div>
    </div>
    <div v-else>
      <!--Pour écran TV et desktop-->

      <div class="navigationTools">
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelectorPinia
            v-if="showMainScaleSelector"
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <!-- <EpciThemeSubjectSelector
            ref="themeListContainer"
            :themes="themes"
            :subjects="subjects"
            :selected-theme="selectedTheme"
            :selected-subject="selectedSubject"
          /> -->
        </div>
      </div>
    </div>
  </div>

  <!--Vue sur les sujets-->
  <!-- <div class="subjectViewContainer">
        <router-view />
      </div> -->

  <!--Afficher le nom du thème ici-->
  <h2 v-if="selectedSubject">
    Thème {{ selectedSubject.theme }}
  </h2>

  <!--Composant dynamique-->
  <div class="subjectContainer">
    <!--Le composant affiché dépendra du sujet sélectionné-->
    <component :is="currentSubject" />
  </div>

  <div>
    isMenuOpen: {{ isMenuOpen }}
  </div>

  <div class="footerContainer">
    <!--Pied de page-->
    <!-- <FooterBottom /> -->
  </div>
</template>

<script>

import SimpleBreadcrumb from '@/components/elements/SimpleBreadcrumb.vue'
import FooterBottom from '../components/elements/FooterBottom.vue'
import HeaderTop from '../components/elements/HeaderTop.vue'
import ScaleSelectorPinia from '@/components/navigation/ScaleSelectorPinia.vue'
// import EpciThemeSubjectSelector from '@/components/elements/EpciThemeSubjectSelector.vue'

// Composants dynamiques
import DataEpciBati from '../components/datas/reunion/amenagement/epcis/DataEpciBati.vue'
import DataEpci5G from '@/components/datas/reunion/economie/epcis/DataEpci5G.vue'
import MapEpciBassinNat from '@/components/maps/reunion/epcis/MapEpciBassinNat.vue'
import DataEpciEtabTourisme from '@/components/datas/reunion/tourisme/epcis/DataEpciEtabTourisme.vue'
import DataEpciSirene from '@/components/datas/reunion/economie/epcis/DataEpciSirene.vue'
import DataEpciFamille from '@/components/datas/reunion/population/epcis/DataEpciFamille.vue'
import DataEpciFloresNA17 from '@/components/datas/reunion/economie/epcis/DataEpciFloresNA17.vue'
import DataEpciHebTourisme from '@/components/datas/reunion/tourisme/epcis/DataEpciHebTourisme.vue'
import DataEpciPopLeg from '@/components/datas/reunion/population/epcis/DataEpciPopLeg.vue'
import DataEpciRisques from '@/components/datas/reunion/environnement/epcis/DataEpciRisques.vue'
import DataEpciStationnement from '@/components/datas/reunion/amenagement/epcis/DataEpciStationnement.vue'
import MapEpci from '@/components/maps/reunion/epcis/MapEpci.vue'

export default {
  name: 'EpciViewPinia',
  components: {
    HeaderTop,
    FooterBottom,
    SimpleBreadcrumb,
    // EpciThemeSubjectSelector,
    ScaleSelectorPinia,
    DataEpciBati,
    DataEpci5G,
    MapEpciBassinNat,
    DataEpciEtabTourisme,
    DataEpciSirene,
    DataEpciFamille,
    DataEpciFloresNA17,
    DataEpciHebTourisme,
    DataEpciPopLeg,
    DataEpciRisques,
    DataEpciStationnement,
    MapEpci
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'epciBati' }// Récupère le sujet depuis la route
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true
    }
  },
  computed: {
    // themes () {
    //   return this.$store.state.themes
    // },
    // subjects () {
    //   return this.$store.state.subjects
    // },
    // selectedTheme () {
    //   return this.$store.state.selectedTheme
    // },
    // selectedSubject () {
    //   return this.$store.getters.selectedSubject
    // },
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'epciBati':
          return 'DataEpciBati'
        case 'epciStationnement':
          return 'DataEpciStationnement'
        case 'epciClicMap':
          return 'MapEpci'
        case 'epci5G':
          return 'DataEpci5G'
        case 'epciVoiture':
          return 'DataEpciVoiture'
        case 'epciFloresNA17':
          return 'DataEpciFloresNA17'
        case 'epciSirene':
          return 'DataEpciSirene'
        case 'epciRisques':
          return 'DataEpciRisques'
        case 'epciPopLeg':
          return 'DataEpciPopLeg'
        case 'epciFamille':
          return 'DataEpciFamille'
        case 'epciBassinNat':
          return 'MapEpciBassinNat'
        case 'epciHebTourisme':
          return 'DataEpciHebTourisme'
        case 'epciEtabTourisme':
          return 'DataEpciEtabTourisme'
        default:
          return 'DataEpciBati'
      }
    }
  },
  mounted () {
    console.log('EpciView.vue mounted')
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    // handleSubjectSelected (subject) {
    //   // Utiliser l'action Vuex pour mettre à jour le sujet sélectionné
    //   // this.$store.dispatch('updateSelectedSubject', subject)
    //   this.selectedSubject = subject
    //   // Mettre à jour les thèmes ici si nécessaire
    //   this.updateUniqueThemes()
    //   this.updateCurrentSubject()
    // },
    // handleThemeChange () {
    //   // Logique en cas de changement de thème
    //   this.updateCurrentSubject()
    // },
    // handleSubjectChange () {
    //   const epciSubjects = this.$store.getters['epci/subjects']

    //   // Afficher les sujets de La Réunion
    //   console.log('Sujets de l\'EPCI:', epciSubjects)
    // },
    updateUniqueThemes () {
      // Logique pour mettre à jour la liste distincte des thèmes
      this.uniqueThemes = this.getUniqueThemeFromSubjects()
    },
    getUniqueThemesFromSubjects () {
      // Logique pour extraire les thèmes uniques des sujets disponibles
      // La fonction Set permet d'obtenir les valeurs
      return Array.from(new Set(this.subjects.map(subject => subject.theme)))
    },
    updateSelectedTheme (theme) {
      this.selectedTheme = theme
    },
    updateSelectedSubject (subject) {
      this.selectedSubject = subject
    },
    updateCurrentSubject () {
      // Logique pour mettre à jour le composant actuel en fonction du sujet sélectionné
      switch (this.selectedSubject.name) {
        case 'epciBati':
          this.currentSubject = 'epciBati'
          break
        case 'epciStationnement':
          this.currentSubject = 'epciStationnement'
          break
        case 'epciMap':
          this.currentSubject = 'epciMap'
          break
        case 'epci5G':
          this.currentSubject = 'epci5G'
          break
        case 'epciVoiture':
          this.currentSubject = 'epciVoiture'
          break
        case 'epciFloresNA17':
          this.currentSubject = 'epciFloresNA17'
          break
        case 'epciSirene':
          this.currentSubject = 'epciSirene'
          break
        case 'epciRisques':
          this.currentSubject = 'epciRisques'
          break
        case 'epciPopLeg':
          this.currentSubject = 'epciPopLeg'
          break
        case 'epciFamille':
          this.currentSubject = 'epciFamille'
          break
        case 'epciBassinNat':
          this.currentSubject = 'epciBassinNat'
          break
        case 'epciHebTourisme':
          this.currentSubject = 'epciHebTourisme'
          break
        case 'epciEtabTourisme':
          this.currentSubject = 'epciEtabTourisme'
          break
        default:
          this.currentSubject = 'epciBati'
      }
    },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    height: max-content;
    /* overflow: scroll; */
    margin: 0;
  }

  .toggleMenuButton {
    display: none;
  }

  .headerContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigationTools {
    position: absolute;
    width: 100%;
    top: 2em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: #333;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* align-content: center; */
    justify-content: space-between;
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  label {
      color: white;
      font-size: 1rem;
      margin-bottom: 0.5em;
    }
    .boxSelect {
      width: 100%;
      height: max-content;
      padding: 0.5em;
      font-size: 1rem;
      border: 1px solid #333;
      border-radius: 5px;
      color: #333;
      background-color: white;
      cursor: pointer;
    }

    .boxSelect:hover {
      background-color: #555;
      color: white;
    }

    .boxSelect:focus {
      outline: none;
      box-shadow: 0 0 0 2px #333;
    }

    option {
      font-size: 1rem;
      background-color: white;
      color: #333;
    }

    option:hover {
      background-color: #555;
      color: white;
    }

  .subjectContainer {
    width: 100%;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 16em;
  }

  .footerContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 24%;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }
}
</style>
