<!--ReunionView.vue-->
<template>
  <div id="app">
    <!-- <HeaderSection /> -->
    <div class="container-fluid mt-4">
      <!--Breadcrumb-->
      <!-- <Breadcrumb
        :pays-name="paysName"
        :theme-name="themeName"
        :subject-name="subjectName"
      /> -->

      <!--Bouton du menu burger-->
      <button
        class="btn btn-dark toggleMenuButton"
        @click="toggleMenu"
      >
        <font-awesome-icon icon="fa-solid fa-bars" />
      </button>

      <!--Menu pour les petits écrans-->
      <div
        v-if="isMenuOpen"
        class="mobileMenu"
        @click="logMenuStatus"
      >
        <div class="navigationTools d-flex justify-content-between">
          <!--Barre de navigation dans l'application-->
          <div class="navigationBar">
            <!--Sélection de l'échelle-->
            <ScaleSelector
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            />
            <!--Sélection du sujet-->
            <SubjectSelectorReunion
              :pays-name="paysName"
              :theme-name="themeName"
              :subject-name="subjectName"
            />
          </div>
        </div>
      </div>
      <div v-else>
        <!--Pour écran TV et desktop-->

        <div class="navigationTools d-flex justify-content-between">
          <div class="navigationBar">
            <!--Sélection de l'échelle-->
            <ScaleSelector
              :pays-name="paysName"
              :epci-id="epciId"
              :epci-name="epciName"
              :commune-id="communeId"
              :commune-name="communeName"
              :theme-name="themeName"
              :subject-name="subjectName"
            />

            <SubjectSelectorReunion
              :pays-name="paysName"
              :theme-name="themeName"
              :subject-name="subjectName"
              @subject-selected="handleSubjectChange"
            />
          </div>
        </div>
      </div>
    </div>

    <!--Afficher le nom du thème ici-->
    <h2
      class="bg-dark mt-2 mb-3"
      v-if="selectedSubject"
    >
      Thème : {{ selectedSubject.themeName }}
    </h2>

    <!--Composant dynamique classique-->
    <div class="container mt-2 mb-3">
      <div class="subjectContainer mt-2 mb-3 mx-auto">
        <!--Le composant affiché dépendra du sujet sélectionné-->
        <component :is="currentSubjectComponent" />
      </div>
    </div>

    <!-- <div class="mt-4">
      isMenuOpen: {{ isMenuOpen }}
    </div> -->

    <!-- <FooterSection /> -->
  </div>
</template>

<script>

// import Breadcrumb from '@/components/navigation/Breadcrumb.vue'
// import FooterSection from '../components/elements/FooterSection.vue'
// import HeaderSection from '../components/elements/HeaderSection.vue'
import ScaleSelector from '@/components/navigation/ScaleSelector.vue'
import SubjectSelectorReunion from '@/components/navigation/SubjectSelectorReunion.vue'
import ReunionDynamicSubjectComponent from '../components/subjects/ReunionDynamicSubjectComponent.vue'

// Datas
// Aménagement
import DataReunionBati from '../components/datas/reunion/amenagement/region/DataReunionBati'
import DataReunionStationnement from '../components/datas/reunion/amenagement/region/DataReunionStationnement'
// Carte
import MapReunionClicMap from '../components/maps/reunion/region/MapReunionClicMap.vue'
import MapReunionIGNandSDK from '../components/maps/ign/MapReunionIGNandSDK.vue'
// Economie
import DataReunion5G from '../components/datas/reunion/economie/region/DataReunion5G'
import DataReunionVoiture from '../components/datas/reunion/economie/region/DataReunionVoiture'
import DataReunionFloresNA17 from '../components/datas/reunion/economie/region/DataReunionFloresNA17'
import DataReunionSirene from '../components/datas/reunion/economie/region/DataReunionSirene'
// Environnement
import DataReunionRisques from '../components/datas/reunion/environnement/region/DataReunionRisques'
import DataReunionCATNAT from '../components/datas/reunion/environnement/region/DataReunionCATNAT'
// Population
import DataReunionPopLeg from '../components/datas/reunion/population/region/DataReunionPopLeg'
import DataReunionFamille from '../components/datas/reunion/population/region/DataReunionFamille'
// Sport
import MapReunionBassinNat from '../components/datas/reunion/sport/region/MapReunionBassinNat'
import DataReunionEquipementsSport from '../components/datas/reunion/sport/region/DataReunionEquipementsSport'
// Tourisme
import DataReunionEtabTourisme from '../components/datas/reunion/tourisme/region/DataReunionEtabTourisme'
import DataReunionHebTourisme from '../components/datas/reunion/tourisme/region/DataReunionHebTourisme'

export default {
  name: 'ReunionView',
  components: {
    // HeaderSection,
    // FooterSection,
    // Breadcrumb,
    ScaleSelector,
    SubjectSelectorReunion,
    ReunionDynamicSubjectComponent
  },
  props: {
    paysName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true,
      selectedSubject: null // Etat local de selectedSubject
    }
  },
  computed: {
    currentSubjectComponent () {
      const componentMap = {
        reunionBati: DataReunionBati,
        reunionStationnement: DataReunionStationnement,
        reunionClicMap: MapReunionClicMap,
        reunionIGNandSDK: MapReunionIGNandSDK,
        reunion5G: DataReunion5G,
        reunionVoiture: DataReunionVoiture,
        reunionFloresNA17: DataReunionFloresNA17,
        reunionSirene: DataReunionSirene,
        reunionRisques: DataReunionRisques,
        reunionCatnat: DataReunionCATNAT,
        reunionPopLeg: DataReunionPopLeg,
        reunionFamille: DataReunionFamille,
        reunionBassinNat: MapReunionBassinNat,
        reunionEquipementsSport: DataReunionEquipementsSport,
        reunionTourismeHeb: DataReunionHebTourisme,
        reunionTourismeEtab: DataReunionEtabTourisme
      }

      return componentMap[this.$route.params.subjectName] || 'DataReunionBati'
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('Route changed', to.params)
      if (to.params.paysName) {
        this.localPaysName = to.params.paysName
      }
    }
  },
  mounted () {
    console.log('ReunionView.vue mounted')

    console.log('Props received by ReunionView:', {
      paysName: this.paysName,
      themeName: this.themeName,
      subjectName: this.subjectName
    })
  },
  methods: {
    handleSubjectChange (newSubject) {
      // Mettre à jour le sujet sélectionné
      this.selectedSubject = newSubject
    },
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 768px) {
  .toggleMenuButton {
    display: none;
  }

  .navigationTools {
    width: 100%;
    top: 2em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .subjectContainer {
    width: 1200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    top: 16em;
    bottom: 50px;
    z-index: -1;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }
}
</style>
