<!--ReunionViewPinia.vue-->
<template>
  <div><HeaderSection /></div>
  <div class="pageContainer">
    <!--Breadcrumb-->
    <SimpleBreadcrumb :pays-name="paysName" />

    <!--Bouton du menu burger-->
    <button
      class="toggleMenuButton"
      @click="toggleMenu"
    >
      <font-awesome-icon icon="fa-solid fa-bars" />
    </button>

    <!--Menu pour les petits écrans-->
    <div
      v-if="isMenuOpen"
      class="mobileMenu"
      @click="logMenuStatus"
    >
      <div class="navigationTools">
        <!--Barre de navigation dans l'application-->
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelectorPinia
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <SubjectSelectorPiniaReunion
            :pays-name="paysName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <!-- <ReunionThemeSubjectSelector
            ref="themeListContainer"
            :themes="themes"
            :subjects="subjects"
            :selected-theme="selectedTheme"
            :selected-subject="selectedSubject"
          /> -->
        </div>
      </div>
    </div>
    <div v-else>
      <!--Pour écran TV et desktop-->

      <div class="navigationTools">
        <div class="navigationBar">
          <!--Sélection de l'échelle-->
          <ScaleSelectorPinia
            :pays-name="paysName"
            :epci-id="epciId"
            :epci-name="epciName"
            :commune-id="communeId"
            :commune-name="communeName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <SubjectSelectorPiniaReunion
            :pays-name="paysName"
            :theme-name="themeName"
            :subject-name="subjectName"
          />

          <!-- <ReunionThemeSubjectSelector
            ref="themeListContainer"
            :themes="themes"
            :subjects="subjects"
            :selected-theme="selectedTheme"
            :selected-subject="selectedSubject"
          /> -->
        </div>
      </div>
    </div>
  </div>

  <!--Afficher le nom du thème ici-->
  <h2 v-if="selectedSubject">
    Thème {{ selectedSubject.theme }}
  </h2>

  <!--Composant dynamique classique-->
  <!-- <div class="subjectContainer"> -->
  <!--Le composant affiché dépendra du sujet sélectionné-->
  <!-- <component :is="currentSubject" />
  </div> -->

  <!--Composant dynamique avec Pinia-->
  <ReunionDynamicSubjectComponent
    :pays-name="paysName"
    :theme-name="themeName"
    :subject-name="subjectName"
  />

  <div>
    isMenuOpen: {{ isMenuOpen }}
  </div>

  <div class="footerContainer">
    <!--Pied de page-->
    <FooterBottom />
  </div>
</template>

<script>

import SimpleBreadcrumb from '@/components/elements/SimpleBreadcrumb.vue'
import FooterBottom from '../components/elements/FooterBottom.vue'
import HeaderSection from '../components/elements/HeaderSection.vue'
import ScaleSelectorPinia from '@/components/navigation/ScaleSelectorPinia.vue'
import SubjectSelectorPiniaReunion from '@/components/navigation/SubjectSelectorPiniaReunion.vue'
import ReunionDynamicSubjectComponent from '../components/subjects/ReunionDynamicSubjectComponent.vue'

// import ReunionThemeSubjectSelector from '@/components/elements/ReunionThemeSubjectSelector.vue'

// Composants dynamiques
// import DataReunionBati from '../components/datas/reunion/amenagement/region/DataReunionBati.vue'
// import DataReunion5G from '@/components/datas/reunion/economie/region/DataReunion5G.vue'
// import MapReunionBassinNat from '@/components/datas/reunion/sport/region/MapReunionBassinNat.vue'
// import DataReunionEtabTourisme from '@/components/datas/reunion/tourisme/region/DataReunionEtabTourisme.vue'
// import DataReunionSirene from '@/components/datas/reunion/economie/region/DataReunionSirene.vue'
// import DataReunionFamille from '@/components/datas/reunion/population/region/DataReunionFamille.vue'
// import DataReunionFloresNA17 from '@/components/datas/reunion/economie/region/DataReunionFloresNA17.vue'
// import DataReunionHebTourisme from '@/components/datas/reunion/tourisme/region/DataReunionHebTourisme.vue'
// import DataReunionPopLeg from '@/components/datas/reunion/population/region/DataReunionPopLeg.vue'
// import DataReunionRisques from '@/components/datas/reunion/environnement/region/DataReunionRisques.vue'
// import DataReunionStationnement from '@/components/datas/reunion/amenagement/region/DataReunionStationnement.vue'
// import MapReunionClicMap from '@/components/maps/reunion/region/MapReunionClicMap.vue'
// import DataReunionEquipementsSport from '../components/datas/reunion/sport/region/DataReunionEquipementsSport.vue'
// import DataReunionCATNAT from '@/components/datas/reunion/environnement/region/DataReunionCATNAT.vue'

export default {
  name: 'ReunionViewPinia',
  components: {
    HeaderSection,
    FooterBottom,
    SimpleBreadcrumb,
    ScaleSelectorPinia,
    SubjectSelectorPiniaReunion,
    // ReunionThemeSubjectSelector,
    // DataReunionBati,
    // DataReunion5G,
    // MapReunionBassinNat,
    // DataReunionStationnement,
    // DataReunionRisques,
    // DataReunionPopLeg,
    // DataReunionHebTourisme,
    // DataReunionFloresNA17,
    // DataReunionFamille,
    // DataReunionSirene,
    // DataReunionEtabTourisme,
    // MapReunionClicMap,
    // DataReunionEquipementsSport,
    // DataReunionCATNAT,
    ReunionDynamicSubjectComponent
  },
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: null },
    epciName: { type: String, default: null },
    communeId: { type: Number, default: null },
    communeName: { type: String, default: null },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' }// Récupère le sujet depuis la route
  },
  data () {
    return {
      isMenuOpen: false,
      uniqueThemes: [], // Liste distincte des thèmes basée sur les sujets
      showMainScaleSelector: true
    }
  },
  computed: {
    currentSubject () {
      switch (this.$route.params.subjectName) {
        case 'reunionAmenagementBati':
          return 'DataReunionBati'
        case 'reunionAmenagementStationnement':
          return 'DataReunionStationnement'
        case 'reunionCarteClicMap':
          return 'MapReunionClicMap'
        case 'reunionCarteIGNandSDK':
          return 'DataReunionIGNandSDK'
        case 'reunionEconomie5G':
          return 'DataReunion5G'
        case 'reunionEconomieVoiture':
          return 'DataReunionVoiture'
        case 'reunionEconomieFloresNA17':
          return 'DataReunionFloresNA17'
        case 'reunionEconomieSirene':
          return 'DataReunionSirene'
        case 'reunionEnvironnementRisques':
          return 'DataReunionRisques'
        case 'reunionEnvironnementCatnat':
          return 'DataReunionCATNAT'
        case 'reunionPopulationPopLeg':
          return 'DataReunionPopLeg'
        case 'reunionPopulationFamille':
          return 'DataReunionFamille'
        case 'reunionSportBassinNat':
          return 'MapReunionBassinNat'
        case 'reunionSportEquipementsSport':
          return 'DataReunionEquipementsSport'
        case 'reunionTourismeHebTourisme':
          return 'DataReunionHebTourisme'
        case 'reunionTourismeEtabTourisme':
          return 'DataReunionEtabTourisme'
        default:
          return 'DataReunionBati'
      }
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('Route changed', to.params)
      if (to.params.paysName) {
        this.localPaysName = to.params.paysName
      }
    }
  },
  mounted () {
    console.log('ReunionView.vue mounted')
  },
  methods: {
    toggleMenu () {
      console.log('toggleMenu called')
      this.isMenuOpen = !this.isMenuOpen
    },
    toggleSubjectLists () {
      console.log('toggleSubjectsLists called')
      this.$refs.themeListContainer.toggleSubjectLists()
      console.log('showSubjectLists:', this.showSubjectLists)
    },
    updateUniqueThemes () {
      // Logique pour mettre à jour la liste distincte des thèmes
      this.uniqueThemes = this.getUniqueThemeFromSubjects()
    },
    getUniqueThemesFromSubjects () {
      // Logique pour extraire les thèmes uniques des sujets disponibles
      // La fonction Set permet d'obtenir les valeurs
      return Array.from(new Set(this.subjects.map(subject => subject.theme)))
    },
    updateSelectedTheme (theme) {
      this.selectedTheme = theme
    },
    updateSelectedSubject (subject) {
      this.selectedSubject = subject
    },
    updateCurrentSubject () {
      // Logique pour mettre à jour le composant actuel en fonction du sujet sélectionné
      switch (this.selectedSubject.name) {
        case 'reunionBati':
          this.currentSubject = 'reunionBati'
          break
        case 'reunionStationnement':
          this.currentSubject = 'reunionStationnement'
          break
        case 'reunionClicMap':
          this.currentSubject = 'reunionClicMap'
          break
        case 'reunionIGNandSDK':
          this.currentSubject = 'reunionIGNandSDK'
          break
        case 'reunion5G':
          this.currentSubject = 'reunion5G'
          break
        case 'reunionVoiture':
          this.currentSubject = 'reunionVoiture'
          break
        case 'reunionFloresNA17':
          this.currentSubject = 'reunionFloresNA17'
          break
        case 'reunionSirene':
          this.currentSubject = 'reunionSirene'
          break
        case 'reunionRisques':
          this.currentSubject = 'reunionRisques'
          break
        case 'reunionPopLeg':
          this.currentSubject = 'reunionPopLeg'
          break
        case 'reunionFamille':
          this.currentSubject = 'reunionFamille'
          break
        case 'reunionBassinNat':
          this.currentSubject = 'reunionBassinNat'
          break
        case 'reunionEquipementsSport':
          this.currentSubject = 'reunionEquipementsSport'
          break
        case 'reunionHebTourisme':
          this.currentSubject = 'reunionHebTourisme'
          break
        case 'reunionEtabTourisme':
          this.currentSubject = 'reunionEtabTourisme'
          break
        default:
          this.currentSubject = 'reunionBati'
      }
    },
    logMenuStatus () {
      console.log('Menu status:', this.isMenuOpen)
    }
  }
}
</script>

<style scoped>
/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  .pageContainer {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: max-content;
    /* overflow: scroll; */
    margin: 0;
  }

  .toggleMenuButton {
    display: none;
  }

  .headerContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigationTools {
    position: absolute;
    width: 100%;
    top: 4em;
    margin: 0;
  }

  .breacrumbContainer {
    position: relative;
  }

  .navbarContainer {
    position: relative;
  }

  .navigationBar {
    width: 100%;
    height: max-content;
    background-color: #333;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* align-content: center; */
    justify-content: space-between;
    padding: 0.5em;
  }

  .toggleMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .subjectContainer {
    width: 100%;
    height: max-content;
    /* display: -webkit-flex;
    display: -moz-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    position: absolute;
    top: 18em;
  }

  .footerContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .pageContainer {
    position: absolute;
    top: 24%;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .toggleMenuButton {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
  .mobileMenu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  /**Bouton du menu burger */
  button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    width: 6em;
    height: 3em;
  }
}
</style>
