<template>
  <div id="app">
    <div class="dataContainer">
      <h2>Le réseau 5G</h2>
      <p>Nombre total d'enregistrements : {{ totalRecords }}</p>
      <table>
        <thead>
          <tr>
            <th @click="sortData('com_name')">
              Communes
            </th>
            <th @click="sortData('epci_name')">
              Intercommunalité
            </th>
            <th @click="sortData('op_name')">
              Opérateur
            </th>
            <th @click="sortData('op_site_id')">
              Id du site
            </th>
            <th @click="sortData('frequency')">
              Fréquence
            </th>
            <th @click="sortData('anfr_station_id')">
              Station ANFR
            </th>
            <th @click="sortData('release_date_5g')">
              Date 5G
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in paginatedData"
            :key="item.nofinesset"
          >
            <td data-label="Commune">
              {{ item.com_name[0] }}
            </td>
            <td data-label="Intercommunalité">
              {{ item.epci_name }}
            </td>
            <td data-label="Opérateur">
              {{ item.op_name }}
            </td>
            <td data-label="Id du site">
              {{ item.op_site_id }}
            </td>
            <td data-label="Fréquence">
              {{ item.frequency[0] }}
            </td>
            <td data-label="Station ANFR">
              {{ item.anfr_station_id }}
            </td>
            <td data-label="Date de mise en service">
              {{ item.release_date_5g }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button
          :disabled="currentPage === 1"
          @click="prevPage"
        >
          Précédent
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          :disabled="currentPage === totalPages"
          @click="nextPage"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataEpci5G',
  compponents: {
    SimpleBreadcrumb
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { property: 'og:title', content: 'Carte La Réunion' } // Titre de la page
    ]
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String,
    subjectName: String
  },
  data () {
    return {
      data: [],
      limit: 20,
      offset: 0,
      currentPage: 1,
      totalRecords: 0,
      totalPages: 0

    }
  },
  computed: {
    paginatedData () {
      const start = (this.currentPage - 1) * this.limit
      return this.data.slice(start, start + this.limit)
    }
  },
  mounted () {
    this.loadAllData()
  },
  methods: {
    loadAllData () {
    // 100 résultats par page sur 850 enregistrements
      const url = `https://data.regionreunion.com/api/explore/v2.1/catalog/datasets/sites-mobiles-5g-a-la-reunion/records?limit=${this.limit}&offset=${this.offset}`
      return axios
        .get(url, { timeout: 20000 })
        .then(response => {
          // Mise à jour du nombre total des enregistrements
          this.totalRecords = response.data.total_count
          // Calcul du nombre total de page
          this.totalPages = Math.ceil(this.totalRecords / this.limit)
          // Données
          this.data = this.data.concat(response.data.results)
          if (this.offset + this.limit < this.totalRecords) {
            this.offset = this.offset + this.limit
          } else {
            this.offset = 0
            this.currentPage = 1
          }
          console.log('Données chargées avec succès: ', this.data)
        })
        .catch(error => {
          console.error('Erreur lors du chargement des données', error)
        })
    },
    nextPage () {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
      }
    },
    prevPage () {
      if (this.currentPage > 1) {
        this.currentPage--
        // Pour recharger les données
        this.loadAllData()
        console.log('currentPage:', this.currentPage)
        console.log('totalPages:', this.totalPages)
      }
    }
  }
}

</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
