<template>
  <div id="app">
    <div class="dataContainer">
      <h1>{{ subjectName }}</h1>

      <!--Afficher le spinner si les données sont en cours de chargement-->
      <div
        v-if="isLoading"
        class="loadingSpinner"
      >
        <!--Code HTML du spinner-->
        <pulse-loader
          :loading="isLoading"
          :color="color"
          :size="size"
        />
        <p>Données en cours de chargement. Patientez ...</p>
      </div>

      <!--Afficher le tableau une fois les données chargées-->
      <table v-if="apiData.length && !isLoading">
        <thead>
          <tr>
            <th>Commune</th>
            <th>SIREN</th>
            <th>NIC</th>
            <th>SIRET</th>
            <th>Date Création Etablissement</th>
            <th>Tranche effectif</th>
            <th>Activité principale</th>
            <th>Nom Unité Légale</th>
            <th>Prenom Unité Légale (1,2,3,4)</th>
            <th>Dénomination Unité Légale</th>
            <th>Activité Principale</th>
            <th>Nomenclature</th>
            <th>Catégorie Entreprise</th>
            <th>Adresse Etablissement</th>
            <th>Code INSEE</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(commune, index) in apiData"
            :key="index"
          >
            <!--Vérifier si les données existent avant de les afficher-->
            <td data-label="Nom">
              {{ commune && commune.name ? commune.commune.name || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.siren ? commune.siren || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.nic ? commune.nic || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.siret ? commune.siret || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.dateCreation ? commune.dateCreation || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.trancheEffectif ? commune.trancheEffectif || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.denominationUniteLegale ? commune.denominationUniteLegale || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.activitePrincipale ? commune.activitePrincipale || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.nomenclature ? commune.nomenclature || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.categorieEntreprise ? commune.categorieEntreprise || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.adresse ? commune.adresse.numeroVoie || '' : 'Non renseigné' }}
              {{ commune && commune.adresse ? commune.adresse.typeVoie || '' : 'Non renseigné' }}
              {{ commune && commune.adresse ? commune.adresse.libelleVoie || '' : 'Non renseigné' }}
              {{ commune && commune.adresse ? commune.adresse.codePostal || '' : 'Non renseigné' }}
              {{ commune && commune.adresse ? commune.adresse.libelleCommune || '' : 'Non renseigné' }}
            </td>
            <td data-label="Nom">
              {{ commune && commune.codeInsee ? commune.codeInsee || '' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>Source : API INSEE SIRENE - Tous les établissements d'une commune</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
// import SimpleBreadcrumb from '../../../../elements/SimpleBreadcrumb.vue'

export default {
  name: 'DataEpciSirene',
  components: {
    PulseLoader
    // SimpleBreadcrumb
  },
  props: {
    paysName: String,
    epciId: Number,
    epciName: String,
    communeId: Number,
    communeName: String,
    themeName: String
    // subjectName: String
  },
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  data () {
    return {
      epciData: [
        { id: 1, name: 'CASUD' },
        { id: 2, name: 'CINOR' },
        { id: 3, name: 'CIREST' },
        { id: 4, name: 'CIVIS' },
        { id: 5, name: 'TCO' }
      ],
      communes: [
        { id: 1, name: 'Les Avirons', epciId: 4, codeInsee: 97401, epci: { id: 4, name: 'CIVIS' } },
        { id: 2, name: 'Bras Panon', epciId: 3, codeInsee: 97402, epci: { id: 3, name: 'CIREST' } },
        { id: 3, name: 'Entre-Deux', epciId: 1, codeInsee: 97403, epci: { id: 1, name: 'CASUD' } },
        { id: 4, name: 'Etang-Salé', epciId: 4, codeInsee: 97404, epci: { id: 4, name: 'CIVIS' } },
        { id: 5, name: 'Petite-Ile', epciId: 4, codeInsee: 97405, epci: { id: 4, name: 'CIVIS' } },
        { id: 6, name: 'Plaine des Palmistes', epciId: 3, codeInsee: 97406, epci: { id: 3, name: 'CIREST' } },
        { id: 7, name: 'Le Port', epciId: 5, codeInsee: 97407, epci: { id: 5, name: 'TCO' } },
        { id: 8, name: 'La Possession', epciId: 5, codeInsee: 97408, epci: { id: 5, name: 'TCO' } },
        { id: 9, name: 'Saint-André', epciId: 3, codeInsee: 97409, epci: { id: 3, name: 'CIREST' } },
        { id: 10, name: 'Saint-Benoît', epciId: 3, codeInsee: 97410, epci: { id: 3, name: 'CIREST' } },
        { id: 11, name: 'Saint-Denis', epciId: 2, codeInsee: 97411, epci: { id: 2, name: 'CINOR' } },
        { id: 12, name: 'Saint-Joseph', epciId: 1, codeInsee: 97412, epci: { id: 1, name: 'CASUD' } },
        { id: 13, name: 'Saint-Leu', epciId: 5, codeInsee: 97413, epci: { id: 5, name: 'TCO' } },
        { id: 14, name: 'Saint-Louis', epciId: 4, codeInsee: 97414, epci: { id: 4, name: 'CIVIS' } },
        { id: 15, name: 'Saint-Paul', epciId: 5, codeInsee: 97415, epci: { id: 5, name: 'TCO' } },
        { id: 16, name: 'Saint-Pierre', epciId: 4, codeInsee: 97416, epci: { id: 4, name: 'CIVIS' } },
        { id: 17, name: 'Saint-Philippe', epciId: 1, codeInsee: 97417, epci: { id: 1, name: 'CASUD' } },
        { id: 18, name: 'Sainte-Marie', epciId: 2, codeInsee: 97418, epci: { id: 2, name: 'CINOR' } },
        { id: 19, name: 'Sainte-Rose', epciId: 3, codeInsee: 97419, epci: { id: 3, name: 'CIREST' } },
        { id: 20, name: 'Sainte-Suzanne', epciId: 2, codeInsee: 97420, epci: { id: 2, name: 'CINOR' } },
        { id: 21, name: 'Salazie', epciId: 3, codeInsee: 97421, epci: { id: 3, name: 'CIREST' } },
        { id: 22, name: 'Le Tampon', epciId: 1, codeInsee: 97422, epci: { id: 1, name: 'CASUD' } },
        { id: 23, name: 'Trois-Bassins', epciId: 5, codeInsee: 97423, epci: { id: 5, name: 'TCO' } },
        { id: 24, name: 'Cilaos', epciId: 4, codeInsee: 97424, epci: { id: 4, name: 'CIVIS' } }
      ],
      apiData: [],
      color: '#c72c48',
      size: '1em',
      isLoading: false, // Ajout de la variable d'état isLoading
      subjectName: 'Liste des entreprises (SIRENE)'
    }
  },
  mounted () {
    const communeCodes = [
      '97401',
      '97402',
      '97403',
      '97404',
      '97405',
      '97406',
      '97407',
      '97408',
      '97409',
      '97410',
      '97411',
      '97412',
      '97413',
      '97414',
      '97415',
      '97416',
      '97417',
      '97418',
      '97419',
      '97420',
      '97421',
      '97422',
      '97423',
      '97424']
    this.getPopulationsForCommunes(communeCodes)
  },
  methods: {
    async fetchDataForCommune (communeCode) {
      // Créer un tableau pour stocker les données de risque pour cette commune
      const communeData = []
      try {
        const token = process.env.TOKEN_INSEE
        const response = await axios.get(`https://api.insee.fr/entreprises/sirene/V3/siret?q=codeCommuneEtablissement:${communeCode}`, {
          headers: {
            Authorization: token,
            Accept: 'application/json'
          }
        })
        if (response.status === 200) {
          const data = response.data.data

          console.log('data in fetchDataForCommune', data)

          if (data && data.etablissements && data.etablissements.length > 0) {
            // Extraire les données pertinentes et les ajouter à apiData
            data.etablissements.forEach((etablissement) => {
              const adresseEtablissement = etablissement.adresseEtablissement
              if (adresseEtablissement) {
                communeData.push({
                  name: adresseEtablissement.adresseEtablissement.libelleCommuneEtablissement,
                  siren: etablissement.num_risque,
                  nic: etablissement.libelle_risque_long,
                  siret: etablissement.siret,
                  dateCreation: etablissement.dateCreation,
                  activitePrincipale: etablissement.activitePrincipale,
                  trancheEffectif: etablissement.trancheEffectifEtablissement,
                  nomenclature: etablissement.nomenclature,
                  denominationUniteLegale: etablissement.denominationUniteLegale,
                  categorieEntreprise: etablissement.categorieEntreprise,
                  adresse: {
                    numeroVoie: adresseEtablissement.numeroVoieEtablissement,
                    typeVoie: adresseEtablissement.typeVoieEtablissement,
                    libelleVoie: adresseEtablissement.libelleVoieEtablissement,
                    codePostal: adresseEtablissement.codePostalEtablissement,
                    libelleCommune: adresseEtablissement.libelleCommuneEtablissement,
                    codeCedexEtablissement: adresseEtablissement.codeCedexEtablissement,
                    libelleCedexEtablissement: adresseEtablissement.libelleCedexEtablissement
                  },
                  codeInsee: adresseEtablissement.codeCommuneEtablissement
                })
              }
            })
          }
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des données de l\'API')
      }
      return communeData
    },
    // Obtenir les données pour chaque commune
    async getPopulationsForCommunes (communeCodes) {
      this.isLoading = true // Indique que le chargement commence
      // Variable de données du composant
      this.apiData = []

      for (const code of communeCodes) {
        const data = await this.fetchDataForCommune(code)
        if (data) {
          this.apiData.push(...data)
        }
        console.log('data in getPopulationsForCommunes', data)
      }
      this.isLoading = false // Indique que le chargement est terminé
    },
    // Pour obtenir les valeurs des cellules
    getPopulationValue (commune, measureCode) {
      if (commune && commune.code_insee) {
        return commune.code_insee
      }
      return ''
    }

  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {
  a {
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s ease; /**Transition de couleur */
  }

  a:hover {
    color: var(--primary-color); /**Changement de couleur au survol */
  }
  .dataContainer {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: 0 auto; /*Centrer le contenu */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /**Ombre */
  }

  h1 {
    color: var(--primary-color);
  }

  h2, h3 {
    color: var (--primary-color);
  }

  p {
    text-align: justify;
  }

  .loadingSpinner {
    width: 100%;
    height: 500px;
    padding: 5em;
  }

  table {
    border-collapse: collapse; /**Fusion des bordures de cellules */
    /* border: 0.25em solid rgb(127, 52, 64); */
    width: 100%;
    height: max-content;
    margin: 1em auto;
    overflow-x : auto; /**Barre de défilement horizontale */
  }

  thead {
    color: white;
    background: var(--accent-color);
  }

  tbody {
    color: black;
  }

  /**Couleur pour les lignes paires */
  tbody tr:nth-child(even) {
    background-color: var(--light-gray);
  }

  /**Couleur pour les lignes impaires */
  tbody tr:nth-child(odd) {
    background-color: white;
  }

  td, th {
    color: black;
    border: 1px solid var(--tertiary-color);
    padding: 1em;
    text-align: left;
  }
}

   /**Affichage pour mobile et tablette */
 @media screen and (max-width: 768px) {
  nav {
    color: white;
    background-color: black;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  select {
    width: 100%;
    padding: 0.5em;
  }

  /**Cacher l'en-tête du tableau */
  thead {
    display: none;
  }

  /**Afficher chaque ligne du tableau comme un block */
  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid var(--tertiary-color);
  }

  /**Afficher chaque cellule du tableau comme un bloc */
  td {
    display: block;
    text-align: left;
    padding: 1em;
  }

  /**Ajouter le titre de la colonne avant chaque cellule grâce à data-label */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
</style>
