<!--ScaleSelectoPinia.vue-->
<template>
  <div class="selectorContainer">
    <button @click="showTerritoryLists = !showTerritoryLists">
      Choisir un territoire
    </button>
    <nav v-if="showTerritoryLists">
      <ul>
        <!--Pays = reunion-->
        <li class="reunionLink">
          <!-- La Réunion -->
          <router-link :to="generateReunionBatiLink()">
            La Réunion
          </router-link>
        </li>
        <!--Dropdown pour les communes de chaque EPCI-->
        <li
          v-for="epci in epcis"
          :key="epci.epciId"
          class="epciLink"
        >
          <div class="epciLinkContainer">
            <!--Nom de l'EPCI-->
            <router-link :to="generateEpciBatiLink(epci)">
              {{ epci.name }}
            </router-link>
            <!-- {{ epci.name }} -->
            <!--Dropodown pour les communes des EPCI-->
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': epci.isDropdownOpen && selectedEpci === epci }"
              @click="toggleDropdown(epci); selectEpci(epci)"
            />
          </div>
          <ul
            v-if="epci.isDropdownOpen"
            class="communeLink"
          >
            <li
              v-for="commune in epci.communes"
              :key="commune.id"
            >
              <router-link :to="generateCommuneBatiLink(epci, commune)">
                {{ commune.name }}
              </router-link>
              <!-- {{ communeName }} -->
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { useReunionSubjectStore } from '../../pinia/ReunionSubjectStore.js'
import { useEpciSubjectStore } from '../../pinia/EpciSubjectStore.js'
import { useCommuneSubjectStore } from '../../pinia/CommuneSubjectStore.js'

export default {
  name: 'ScaleSelectorPinia',
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    communeId: { type: Number, default: 22 },
    communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'communeBati' }// Récupère le sujet depuis la route
  },
  data () {
    return {
      countries: [{ id: 1, name: 'La Réunion' }],
      epcis: [
        {
          id: 1,
          name: 'CASUD',
          communes: [
            { id: 3, name: 'Entre-Deux' },
            { id: 12, name: 'Saint-Joseph' },
            { id: 17, name: 'Saint-Philippe' },
            { id: 22, name: 'Le Tampon' }
          ]
        },
        {
          id: 2,
          name: 'CINOR',
          communes: [
            { id: 11, name: 'Saint-Denis' },
            { id: 18, name: 'Sainte-Marie' },
            { id: 20, name: 'Sainte-Szuanne' }
          ]
        },
        {
          id: 3,
          name: 'CIREST',
          communes: [
            { id: 2, name: 'Bras Panon' },
            { id: 12, name: 'Saint-Joseph' },
            { id: 10, name: 'Saint-Benoît' },
            { id: 19, name: 'Sainte-Rose' },
            { id: 21, name: 'Salazie' }
          ]
        },
        {
          id: 4,
          name: 'CIVIS',
          communes: [
            { id: 1, name: 'Les Avirons' },
            { id: 5, name: 'Petite-Ile' },
            { id: 14, name: 'Saint-Louis' },
            { id: 16, name: 'Saint-Pierre' },
            { id: 24, name: 'Cilaos' }
          ]
        },
        {
          id: 5,
          name: 'TCO',
          communes: [
            { id: 7, name: 'Le Port' },
            { id: 8, name: 'La Possession' },
            { id: 13, name: 'Saint-Leu' },
            { id: 15, name: 'Saint-Paul' },
            { id: 23, name: 'Trois-Bassins' }
          ]
        }
      ],
      epciCommunesMap: {}, // Objet pour la correspondance EPCI-communes
      selectedTerritory: 'reunion',
      selectedMapOption: null,
      selectedEpci: '',
      selectedCommune: '',
      showEpciLinks: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      },
      showCommunesList: false,
      selectedButtonText: '', // Initialisation
      showTerritoryLists: false,
      showReunionList: false,
      isDropdownOpen: {
        CASUD: false, // Initialisation
        CINOR: false,
        CIREST: false,
        CIVIS: false,
        TCO: false
      },
      selectedTheme: null,
      selectedSubject: null
    }
  },
  mounted () {
    console.log('ScaleSelectorPinia mounted')
    console.log('ScaleSelectorPinia mounted, paysName', this.$route.params.paysName)
    console.log('ScaleSelectorPinia mounted, epciId', this.$route.params.epciId)
    console.log('ScaleSelectorPinia mounted, epciName', this.$route.params.epciName)
    console.log('ScaleSelectorPinia mounted, communeId', this.$route.params.communeId)
    console.log('ScaleSelectorPinia mounted, communeName', this.$route.params.communeName)
    console.log('ScaleSelectorPinia mounted, themeName', this.$route.params.themeName)
    // Utilisation du store Pinia
    // Pour La Réunion
    const reunionSubjectStore = useReunionSubjectStore()
    this.selectedTheme = reunionSubjectStore.getDefaultTheme()
    this.selectedSubject = reunionSubjectStore.getDefaultSubject()
    // Pour les EPCIS
    const epciSubjectStore = useEpciSubjectStore()
    this.selectedTheme = epciSubjectStore.getDefaultTheme()
    this.selectedSubject = epciSubjectStore.getDefaultSubject()
    // Pour les communes
    const communeSubjectStore = useCommuneSubjectStore()
    this.selectedTheme = communeSubjectStore.getDefaultTheme()
    this.selectedSubject = communeSubjectStore.getDefaultSubject()
  },
  methods: {
    findCommuneName (epci, communeId) {
      // Trouver le nom de la commune à partir de l'ID
      const commune = Object.entries(epci.communes).find(([id, name]) => id === communeId)
      return commune ? commune[1] : '' // Renvoie le nom de la commune ou une chaîne vide si non trouvé
    },
    selectEpci (epci) {
      this.selectedEpci = epci
    },
    toggleDropdown (epci) {
      // Vérifier si la propriété existe avec de l'accéder
      // if (this.isDropdownOpen[epci] != null) {
      // Inverser l'état du dropdown spécifié
      epci.isDropdownOpen = !epci.isDropdownOpen

      // Fermer tous les dropdowns sauf celui spécifié
      this.epcis.forEach(otherEpci => {
        if (otherEpci !== epci) {
          otherEpci.isDropdownOpen = false
        }
      })
    },
    toggleTerritoryLists () {
      // Change la visibilité des listes de territoire lorsque le bouton et cliqué
      // this.toggleElement('showTerritoryLists', 'elementName')
      this.showTerritoryLists = !this.showTerritoryLists
    },
    toggleElement (element, value) {
      // Utilisez l'objet local pour gérer l'état
      if (element === 'showCommunesList') {
        this.showCommunesList = value
      } else if (element === 'showEpciLinks') {
        this.showEpciLinks[value] = value
      } else if (element === 'showReunionList') {
        this.showReunionList = value
      }
    },
    generateSubjectLink (selectedTheme, selectedSubject) {
      return {
        name: 'reunionViewPinia',
        params: {
          paysName: 'reunion',
          themeName: this.selectedTheme.name,
          subjectName: this.selectedSubject.name
        }
      }
    },
    generateReunionBatiLink () {
      const theme = this.themes.find(theme => theme.name === this.themeName)
      const subject = theme.subjects.find(subject => subject.name === this.subjectName)
      return this.generateSubjectLink(theme, subject)
    },
    generateEpciBatiLink (epci) {
      return {
        name: 'epciViewPinia',
        params: {
          paysName: 'reunion',
          epciId: epci.id,
          epciName: epci.name,
          themeName: this.selectedTheme.name,
          subjectName: this.selectedSubject.name
          // themeName: 'amenagement',
          // subjectName: 'epciBati'
        }
      }
    },
    generateCommuneBatiLink (epci, commune) {
      return {
        name: 'communeViewPinia',
        params: {
          paysName: 'reunion',
          epciId: epci.id,
          epciName: epci.name,
          communeId: commune.id,
          communeName: commune.name,
          themeName: this.selectedTheme.name,
          subjectName: this.selectedSubject.name
          // themeName: 'amenagement',
          // subjectName: 'communeBati'
        }
      }
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .selectorContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    color: white;
    background-color: var(--gray);
    padding: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  nav {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    color: white;
    background-color: var(--gray);
    padding: 1em;
    text-align: left;
    z-index: 1;
  }

  h1 {
    text-align: left;
    padding: 1em;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1.25rem;
    width: 50%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
  }

  button {
    width: 100%;
    color: white;
    background-color: var(--gray);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1em;
  }

  button:hover {
    color: var(--gray);
    background-color: var(--light-gray)
  }

  .reunionLinkContainer {
    margin: 1em 0;
  }

  .reunionLink {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: 1em;
    margin: 0;
    display: inline-block;
    cursor: pointer;
  }

  .reunionLink:hover {
    color: white;
    background-color: var(--secondary-color);
  }

  .epciLink {
    width: 90%;
    height: 20%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: color-mod(var(--primary-color) shade(10%));
    font-weight: bold;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    margin-bottom: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .epciLink:hover {
    color: white;
    background-color: color-mod(var(--primary-color) shade(20%));
  }

  .epciLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: black;
    background-color: white;
    width: 100%;
    border: 1px solid white;
    padding: 1em;
  }

  .epciLink ul {
    color: White;
    background-color: var(--gray);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
    /* display: none; */
  }

  .epciLink ul li {
    color: white;
    padding: 0.5rem 1rem;
  }

  .epciLink ul li:hover {
    background-color: color-mod(var(--gray) shade(10%))
  }

  .epciLink[aria-expanded='true'] ul {
    display: block;
  }

  .icon {
    color: white;
    background-color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
  }

  .icon:hover {
    color: black;
    background-color: var(--light-gray);
  }

  .rotate-icon {
    transform: rotate(180deg);
  }

  /**Style pour la liste des communes */
  .communeLink {
    padding: 0.5em;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .communeLink li {
    color: white;
    margin-bottom: 0.3em;
  }

  .communeLink li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .communeLink li a:hover {
    background-color: var(--secondary-color);
    color: white;
  }

}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    text-align: center;
    padding: 1em;
  }

  button {
    width: 100%;
    margin-bottom: 1em;
  }

  .reunionLinkContainer {
    margin: 1em 0;
  }

  .reunionLink {
    width: 100%;
  }

  .mainEpciLinksContainer {
    width: 100%;
  }

  .epciLink {
    width: 100%;
  }
}
</style>
