<!--SubjectSelectorPiniaReunion.vue-->
<template>
  <div class="selectorContainer">
    <button
      :aria-expanded="showSubjectsLists.toString()"
      @click="showSubjectsLists = !showSubjectsLists"
    >
      Choisir un sujet
    </button>
    <nav v-show="showSubjectsLists">
      <ul>
        <!--Dropdown pour les thèmes de chaque sujet-->
        <li
          v-for="theme in themes"
          :key="theme.themeId"
          class="themeLink"
        >
          <div class="themeLinkContainer">
            <!--Nom du theme-->
            <span>
              {{ theme.label }}
            </span>
            <!-- {{ epci.name }} -->
            <!--Dropodown pour les sujets des thèmes-->
            <font-awesome-icon
              icon="chevron-down"
              style="color: #ffffff"
              class="icon"
              :class="{ 'rotate-icon': theme.isDropdownOpen && selectedTheme === theme }"
              @click="toggleDropdown(theme); selectTheme(theme)"
            />
          </div>
          <ul
            v-if="theme.isDropdownOpen"
            class="subjectLink"
          >
            <li
              v-for="subject in theme.subjects"
              :key="subject.id"
            >
              <router-link :to="generateSubjectLink(theme, subject)">
                {{ subject.label }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
// import { useEpciSubjectStore } from '../../pinia/EpciSubjectStore.js'

export default {
  name: 'SubjectSelectorEpci',
  props: {
    paysName: { type: String, default: 'reunion' },
    epciId: { type: Number, default: 1 },
    epciName: { type: String, default: 'CASUD' },
    // communeId: { type: Number, default: 22 },
    // communeName: { type: String, default: 'Le Tampon' },
    themeName: { type: String, default: 'amenagement' },
    subjectName: { type: String, default: 'epciBati' }// Récupère le sujet depuis la route
  },
  // emits: ['subject-changed'],
  data () {
    return {
      themes: [
        {
          id: 1,
          name: 'amenagement',
          label: 'Aménagement',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciBati', label: 'L\'aspect du bâti' },
            { id: 2, name: 'epciStationnement', label: 'Les emplacements de stationnement' }
          ]
        },
        {
          id: 2,
          name: 'carte',
          label: 'Carte',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciMap', label: 'Découpage territorial en EPCI' }
          ]
        },
        {
          id: 3,
          name: 'economie',
          label: 'Economie',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epci5G', label: 'Sites mobiles 5G' },
            { id: 2, name: 'epciVoiture', label: 'Equipements des ménages en voitures' },
            { id: 3, name: 'epciFloresNA17', label: 'Activités économiques en 17 postes' },
            { id: 4, name: 'epciSirene', label: 'Liste des entreprises (SIRENE)' }
          ]
        },
        {
          id: 4,
          name: 'environnement',
          label: 'Environnement',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciRisques', label: 'Les risques' }
          ]
        },
        {
          id: 5,
          name: 'population',
          label: 'Population',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciPopLeg', label: 'Les populations légales' },
            { id: 2, name: 'epciFamille', label: 'Les types de familles' }
          ]
        },
        {
          id: 6,
          name: 'sport',
          label: 'Sport',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciBassinNat', label: 'Les bassins de natation' }
            // { id: 2, name: 'epciEquipementSport', label: 'Les équipements sportifs à La Réunion' }
          ]
        },
        {
          id: 7,
          name: 'tourisme',
          label: 'Tourisme',
          isDropdownOpen: false,
          subjects: [
            { id: 1, name: 'epciEtabTourisme', label: 'Les établissements touristiques' },
            { id: 2, name: 'epciHebTourisme', label: 'Les hebergements touristiques' }
          ]
        }
      ],
      selectedButtonText: '', // Initialisation
      showSubjectsLists: false,
      isDropdownOpen: {
        amenagement: false, // Initialisation
        carte: false,
        economie: false,
        environnement: false,
        population: false,
        sport: false,
        tourisme: false
      },
      selectedTheme: null
    }
  },
  mounted () {
    console.log('SubjectSelectorEpci mounted')
    console.log('SubjectSelectorEpci mounted, paysName', this.$route.params.paysName)
    console.log('SubjectSelectorEpci mounted, epciId', this.$route.params.epciId)
    console.log('SubjectSelectorEpci mounted, epciName', this.$route.params.epciName)
    console.log('SubjectSelectorEpci mounted, communeId', this.$route.params.communeId)
    console.log('SubjectSelectorEpci mounted, communeName', this.$route.params.communeName)
    console.log('SubjectSelectorEpci mounted, themeName', this.$route.params.themeName)
    // Utilisation du store Pinia
    // Pour l'epci
    // const epciSubjectStore = useEpciSubjectStore()
    // this.selectedTheme = epciSubjectStore.getDefaultTheme()
    // this.selectedSubject = epciSubjectStore.getDefaultSubject()
  },
  methods: {
    selectTheme (theme) {
      this.selectedTheme = theme
    },
    // selectSubject (subject) {
    //   console.log('Subject selected:', subject)
    //   this.$emit('subject-changed', subject.name)
    // },
    toggleDropdown (theme) {
      // Vérifier si la propriété existe avec de l'accéder
      // if (this.isDropdownOpen[epci] != null) {
      // Inverser l'état du dropdown spécifié
      theme.isDropdownOpen = !theme.isDropdownOpen

      // Fermer tous les dropdowns sauf celui spécifié
      this.themes.forEach(otherTheme => {
        if (otherTheme !== theme) {
          otherTheme.isDropdownOpen = false
        }
      })
    },
    toggleElement (element, value) {
      // Utilisez l'objet local pour gérer l'état
      if (element === 'showCommunesList') {
        this.showCommunesList = value
      } else if (element === 'showEpciLinks') {
        this.showEpciLinks[value] = value
      } else if (element === 'showReunionList') {
        this.showReunionList = value
      }
    },
    generateSubjectLink (theme, subject) {
      return {
        name: `${subject.name.charAt(0).toLowerCase()}${subject.name.slice(1)}`,
        params: {
          paysName: 'reunion',
          epciId: this.epciId,
          epciName: this.epciName,
          themeName: theme.name,
          subjectName: subject.name
        }
      }
    }
  }
}
</script>

<style scoped>

/**Affichage pour TV et ordinateurs */
@media screen and (min-width: 769px) {

  .selectorContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    color: white;
    background-color: var(--dark-gray);
    padding: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  nav {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    color: white;
    background-color: var(--dark-gray);
    padding: 1em;
    text-align: left;
    z-index: 1;
  }

  h1 {
    text-align: left;
    padding: 1em;
  }

  h2,
  h3,
  h4 {
    padding: 0.5em 0;
    text-align: left;
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-color);
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1.25rem;
    width: 50%;
  }

  a:hover {
    color: white;
    background-color: var(--primary-color);
  }

  button {
    width: 100%;
    color: white;
    background-color: var(--dark-gray);
    border: 1px solid white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1em;
  }

  button:hover {
    color: var(--gray);
    background-color: var(--light-gray)
  }

  .listMainContainer {
    width: 100%;
  }

  .themeLink {
    width: 100%;
    height: 20%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: color-mod(var(--primary-color) shade(10%));
    font-weight: bold;
    border: 1px solid var(--dark-gray);
    border-radius: 0.5rem;
    margin-bottom: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .themeLink:hover {
    color: white;
    background-color: color-mod(var(--primary-color) shade(20%));
  }

  .themeLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: var(--dark-gray);
    background-color: white;
    padding: 1em;
  }

  .themeLinkContainer span {
    color: var(--dark-gray);
    background-color: white;
  }

  .themeLink:hover {
    background-color: color-mod(var(--dark-gray) shade(10%))
  }

  .themeLink[aria-expanded='true'] ul {
    display: block;
  }

  .icon {
    color: white;
    background-color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
  }

  .icon:hover {
    color: black;
    background-color: var(--light-gray);
  }

  .rotate-icon {
    transform: rotate(180deg);
  }

  /**Style pour la liste des sujets */
  .subjectLink {
    padding: 0.5em;
    background-color: var(--dark-gray);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .subjectLink li {
    color: white;
    margin-bottom: 0.3em;
  }

  .subjectLink li a {
    width: 90%;
    text-decoration: none;
    color: white;
    background-color: var(--dark-gray);
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 1.25rem;
  }

  .subjectLink li a:hover {
    background-color: var(--secondary-color);
    color: white;
  }

}

/**Affichage pour mobile et tablette */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    text-align: center;
    padding: 1em;
  }

  button {
    width: 100%;
    margin-bottom: 1em;
    color: white;
    background-color: var(--dark-gray);
    border: 1px solid white;
    padding: 1em;
  }

  .selectorContainer {
    width: 100%;
  }

  .themeLink {
    width: 90%;
  }

  .themeLinkContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: var(--dark-gray);
    background-color: white;
    padding: 1em;
  }

  .themeLinkContainer span {
    color: var(--dark-gray);
    background-color: white;
  }
  .icon {
    color: white;
    background-color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
  }

  .icon:hover {
    color: black;
    background-color: var(--light-gray);
  }

  .rotate-icon {
    transform: rotate(180deg);
  }

  .subjectLink {
    padding: 0.5em;
    background-color: var(--dark-gray);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .subjectLink li {
    color: white;
    margin-bottom: 0.3em;
  }

  .subjectLink li a {
    width: 90%;
    text-decoration: none;
    color: white;
    background-color: var(--dark-gray);
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 1.25rem;
  }

  .subjectLink li a:hover {
    background-color: var(--secondary-color);
    color: white;
  }
}
</style>
