/*404.css*/
/*Reset des styles par défaut*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(219, 49, 75);
    --secondary-color: rgb(167, 37, 57);
    --tertiary-color: rgb(243, 53, 83);
    --dark-gray: rgb(47, 47, 47);
    --medium-gray: rgb(117, 117, 117);
    --light-gray: rgb(176, 176, 176);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-gray);
    color: white;
    line-height: 1.6;
}

/*Navbar*/
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
}

.dropdown-content a:hover {
    color: var(-gray);
    background-color: #ddd;
}

/* #dropdown {
    display: none;
} */

.show {
    display: block;
}

.btn {
    background-color: black;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em;
    width: 10em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

#arrow {
    color: white;
    font-size: 1.25em;
}

.btn:hover {
    color: var(--primary-color);
    background-color: white;
    border-bottom: 1px solid var(--primary-color);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.imageContainer {
    background-color: black;
    width: 150px;
    margin: 1em;
}

img {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: va(--primary-color);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-family: 'Roboto', sans-serif;
}

main .number404 {
    display: flex;
    align-items: center;
    font-size: 10rem;
}

main .number404 span {
    font-weight: bold;
    margin: 0.10em;
}

main .number404 i {
    font-size: 10rem;
    color: var(--primary-color);
}

main .text404 {
    margin-top: 20px;
    font-size: 2.5rem;
}

main .text404 p {
    font-size: 1.5rem;
    color: white;
}

main .text404 button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

main .text404 button:hover {
    color: var(--primary-color);
    background-color: white;
}

main .text404 button a {
    color: white;
    text-decoration: none;
}

main .text404 button a:hover {
    color: var(--primary-color);
}

footer {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 90px;
}

/*Adaptation pour les petits écrans*/

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li.dropdown .dropdown-content {
        width: 100%;
    }

    main .number404 {
        font-size: 5rem;
    }

    main .number404 i {
        font-size: 4rem;
    }

    main .number404 p {
        font-size: 1rem;
    }
}