/*Reset des styles par défaut*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(219, 49, 75);
    --secondary-color: rgb(167, 37, 57);
    --tertiary-color: rgb(243, 53, 83);
    --dark-gray: rgb(47, 47, 47);
    --medium-gray: rgb(117, 117, 117);
    --light-gray: rgb(176, 176, 176);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-gray);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 400px;
    max-width: 90%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imageContainer {
    background-color: black;
    width: 150px;
    margin: 1em;
}

img {
    width: 150px;
    height: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;

}

input:focus {
    border-color: var(--tertiary-color);
}

button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color)
}

footer {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 90px;
}

/*Adaptation pour les petits écrans*/

@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li.dropdown .dropdown-content {
        width: 100%;
    }

}