/*Reset des styles par défaut*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(219, 49, 75);
    --secondary-color: rgb(167, 37, 57);
    --tertiary-color: rgb(243, 53, 83);
    --dark-gray: rgb(47, 47, 47);
    --medium-gray: rgb(117, 117, 117);
    --light-gray: rgb(176, 176, 176);
}

/*Style général de la page*/
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: var(--gray);
    line-height: 1.6;
}

/*Navbar*/
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
}

.dropdown-content a:hover {
    color: var(-gray);
    background-color: #ddd;
}

/* #dropdown {
    display: none;
} */

.show {
    display: block;
}

.btn {
    background-color: black;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em;
    width: 10em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

#arrow {
    color: white;
    font-size: 1.25em;
}

.btn:hover {
    color: var(--primary-color);
    background-color: white;
    border-bottom: 1px solid var(--primary-color);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.imageContainer {
    background-color: black;
    width: 150px;
    margin: 1em;
}

img {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: va(--primary-color);
}

.login-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.login-section form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.login-section label {
    color: #fff;
    font-size: 14px;
}

.login-section input {
    padding: 8px;
    font-size: 14px;
}

.login-section button {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    height: 50px;
    border:none;
    border-radius: 1em;
    cursor: pointer;
}

.login-section button:hover {
    background-color: white;
}

.login-section button a {
    color: #fff;
    text-decoration: none;
    border: none;
}

.login-section a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
}

.login-section a:hover {
    color: var(--primary-color);
    background-color: white;
}

.login-section span {
    color: white;
}

main {
    margin-left: 20px;
}

#mainHome {
    width: 100vw;
    height: 70vh;
}

/*Header*/
h1 {
    color: var(--secondary-color);
    margin-top: 20px;
}

/*Formulaire d'ajout / édition */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--gray);
}

form input,
form select,
form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
}

form button {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/*Liste des sujets*/
ul {
    list-style: none;
    margin-top: 20px;
}

ul li {
    border-bottom: 1px solid var(--light-gray);
    padding: 10px 0;
}

ul li:hover {
    border-bottom: 1px solid var(--primary-color);
}

ul li:last-child {
    border-bottom: none;
}

ul li strong {
    color: var(--secondary-color);
}

ul li form button {
    background-color: transparent;
    color: var(--tertiary-color);
    border: none;
    padding: 0;
    cursor: pointer;
}

/*Style spécifique pour les boutons dans le formulaire (Ajouter / Editer)*/
form button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
}

#liste {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1em;
}

#editLink {
    background-color: var(--dark-gray);
    color: white;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 1em;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#deleteButton {
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 90px;
    position: relative;
    bottom: 0;
    left: 0;
}

/*Adaptation pour les petits écrans*/

@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li.dropdown .dropdown-content {
        width: 100%;
    }

    .login-section {
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 1em;
    }

    .login-section a, .login-section button, .login-section button a {
        text-align: center;
        width: 200px;
    }

    footer {
        display: flex;
        align-items: center;
        color: white;
        background-color: black;
        width: 100%;
        height: 90px;
        position: relative;
        /* bottom: 0;
        left: 0; */
    }

}